<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wudi_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1690},{144,64}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,120},{144,64}}</string>
                <key>sourceSize</key>
                <string>{450,300}</string>
            </dict>
            <key>wudi_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1690},{182,68}}</string>
                <key>offset</key>
                <string>{-4,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,104},{182,68}}</string>
                <key>sourceSize</key>
                <string>{450,300}</string>
            </dict>
            <key>wudi_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,304},{234,96}}</string>
                <key>offset</key>
                <string>{-4,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,86},{234,96}}</string>
                <key>sourceSize</key>
                <string>{450,300}</string>
            </dict>
            <key>wudi_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1150},{352,174}}</string>
                <key>offset</key>
                <string>{-5,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,45},{352,174}}</string>
                <key>sourceSize</key>
                <string>{450,300}</string>
            </dict>
            <key>wudi_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,966},{372,184}}</string>
                <key>offset</key>
                <string>{-5,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,38},{372,184}}</string>
                <key>sourceSize</key>
                <string>{450,300}</string>
            </dict>
            <key>wudi_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,778},{380,188}}</string>
                <key>offset</key>
                <string>{-5,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,37},{380,188}}</string>
                <key>sourceSize</key>
                <string>{450,300}</string>
            </dict>
            <key>wudi_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,584},{386,194}}</string>
                <key>offset</key>
                <string>{-5,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,34},{386,194}}</string>
                <key>sourceSize</key>
                <string>{450,300}</string>
            </dict>
            <key>wudi_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,196},{390,196}}</string>
                <key>offset</key>
                <string>{-5,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,34},{390,196}}</string>
                <key>sourceSize</key>
                <string>{450,300}</string>
            </dict>
            <key>wudi_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,0},{392,194}}</string>
                <key>offset</key>
                <string>{-6,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,33},{392,194}}</string>
                <key>sourceSize</key>
                <string>{450,300}</string>
            </dict>
            <key>wudi_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{394,196}}</string>
                <key>offset</key>
                <string>{-6,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,34},{394,196}}</string>
                <key>sourceSize</key>
                <string>{450,300}</string>
            </dict>
            <key>wudi_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,392},{390,192}}</string>
                <key>offset</key>
                <string>{-5,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,33},{390,192}}</string>
                <key>sourceSize</key>
                <string>{450,300}</string>
            </dict>
            <key>wudi_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,194},{322,170}}</string>
                <key>offset</key>
                <string>{4,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,49},{322,170}}</string>
                <key>sourceSize</key>
                <string>{450,300}</string>
            </dict>
            <key>wudi_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,194},{324,174}}</string>
                <key>offset</key>
                <string>{5,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,40},{324,174}}</string>
                <key>sourceSize</key>
                <string>{450,300}</string>
            </dict>
            <key>wudi_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,196},{326,170}}</string>
                <key>offset</key>
                <string>{5,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,43},{326,170}}</string>
                <key>sourceSize</key>
                <string>{450,300}</string>
            </dict>
            <key>wudi_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1514},{328,176}}</string>
                <key>offset</key>
                <string>{5,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,37},{328,176}}</string>
                <key>sourceSize</key>
                <string>{450,300}</string>
            </dict>
            <key>wudi_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1324},{330,190}}</string>
                <key>offset</key>
                <string>{5,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,23},{330,190}}</string>
                <key>sourceSize</key>
                <string>{450,300}</string>
            </dict>
            <key>wudi_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,522},{278,190}}</string>
                <key>offset</key>
                <string>{-22,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,23},{278,190}}</string>
                <key>sourceSize</key>
                <string>{450,300}</string>
            </dict>
            <key>wudi_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,0},{220,186}}</string>
                <key>offset</key>
                <string>{-32,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,27},{220,186}}</string>
                <key>sourceSize</key>
                <string>{450,300}</string>
            </dict>
            <key>wudi_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,712},{170,186}}</string>
                <key>offset</key>
                <string>{-7,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,27},{170,186}}</string>
                <key>sourceSize</key>
                <string>{450,300}</string>
            </dict>
            <key>wudi_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,712},{170,180}}</string>
                <key>offset</key>
                <string>{-7,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,32},{170,180}}</string>
                <key>sourceSize</key>
                <string>{450,300}</string>
            </dict>
            <key>wudi_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,882},{154,176}}</string>
                <key>offset</key>
                <string>{1,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,36},{154,176}}</string>
                <key>sourceSize</key>
                <string>{450,300}</string>
            </dict>
            <key>wudi_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,892},{156,172}}</string>
                <key>offset</key>
                <string>{1,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,40},{156,172}}</string>
                <key>sourceSize</key>
                <string>{450,300}</string>
            </dict>
            <key>wudi_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,1036},{156,166}}</string>
                <key>offset</key>
                <string>{1,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,46},{156,166}}</string>
                <key>sourceSize</key>
                <string>{450,300}</string>
            </dict>
            <key>wudi_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,1206},{156,162}}</string>
                <key>offset</key>
                <string>{1,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,51},{156,162}}</string>
                <key>sourceSize</key>
                <string>{450,300}</string>
            </dict>
            <key>wudi_00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,1362},{158,162}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,51},{158,162}}</string>
                <key>sourceSize</key>
                <string>{450,300}</string>
            </dict>
            <key>wudi_00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,1514},{158,162}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,52},{158,162}}</string>
                <key>sourceSize</key>
                <string>{450,300}</string>
            </dict>
            <key>wudi_00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,1192},{158,166}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,48},{158,166}}</string>
                <key>sourceSize</key>
                <string>{450,300}</string>
            </dict>
            <key>wudi_00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,1048},{158,166}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,49},{158,166}}</string>
                <key>sourceSize</key>
                <string>{450,300}</string>
            </dict>
            <key>wudi_00029.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,1350},{158,164}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,52},{158,164}}</string>
                <key>sourceSize</key>
                <string>{450,300}</string>
            </dict>
            <key>wudi_00030.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,1520},{158,158}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,57},{158,158}}</string>
                <key>sourceSize</key>
                <string>{450,300}</string>
            </dict>
            <key>wudi_00031.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,538},{156,152}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,63},{156,152}}</string>
                <key>sourceSize</key>
                <string>{450,300}</string>
            </dict>
            <key>wudi_00032.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,1134},{154,154}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,64},{154,154}}</string>
                <key>sourceSize</key>
                <string>{450,300}</string>
            </dict>
            <key>wudi_00033.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,518},{152,156}}</string>
                <key>offset</key>
                <string>{-3,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,61},{152,156}}</string>
                <key>sourceSize</key>
                <string>{450,300}</string>
            </dict>
            <key>wudi_00034.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,1288},{152,150}}</string>
                <key>offset</key>
                <string>{-3,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,64},{152,150}}</string>
                <key>sourceSize</key>
                <string>{450,300}</string>
            </dict>
            <key>wudi_00035.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,1412},{152,148}}</string>
                <key>offset</key>
                <string>{-3,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,66},{152,148}}</string>
                <key>sourceSize</key>
                <string>{450,300}</string>
            </dict>
            <key>wudi_00036.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,1560},{152,144}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,71},{152,144}}</string>
                <key>sourceSize</key>
                <string>{450,300}</string>
            </dict>
            <key>wudi_00037.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,984},{154,140}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,75},{154,140}}</string>
                <key>sourceSize</key>
                <string>{450,300}</string>
            </dict>
            <key>wudi_00038.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,844},{154,140}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,75},{154,140}}</string>
                <key>sourceSize</key>
                <string>{450,300}</string>
            </dict>
            <key>wudi_00039.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,1124},{154,142}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,75},{154,142}}</string>
                <key>sourceSize</key>
                <string>{450,300}</string>
            </dict>
            <key>wudi_00040.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,690},{154,154}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,65},{154,154}}</string>
                <key>sourceSize</key>
                <string>{450,300}</string>
            </dict>
            <key>wudi_00041.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,1266},{154,146}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,74},{154,146}}</string>
                <key>sourceSize</key>
                <string>{450,300}</string>
            </dict>
            <key>wudi_00042.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,984},{150,132}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,83},{150,132}}</string>
                <key>sourceSize</key>
                <string>{450,300}</string>
            </dict>
            <key>wudi_00043.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,1438},{144,126}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,89},{144,126}}</string>
                <key>sourceSize</key>
                <string>{450,300}</string>
            </dict>
            <key>wudi_00044.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,1564},{138,128}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,87},{138,128}}</string>
                <key>sourceSize</key>
                <string>{450,300}</string>
            </dict>
            <key>wudi_00045.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,186},{118,110}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,103},{118,110}}</string>
                <key>sourceSize</key>
                <string>{450,300}</string>
            </dict>
            <key>wudi_00046.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,690},{102,98}}</string>
                <key>offset</key>
                <string>{4,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,116},{102,98}}</string>
                <key>sourceSize</key>
                <string>{450,300}</string>
            </dict>
            <key>wudi_00047.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,792},{100,96}}</string>
                <key>offset</key>
                <string>{4,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,122},{100,96}}</string>
                <key>sourceSize</key>
                <string>{450,300}</string>
            </dict>
            <key>wudi_00048.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,892},{78,78}}</string>
                <key>offset</key>
                <string>{-13,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,129},{78,78}}</string>
                <key>sourceSize</key>
                <string>{450,300}</string>
            </dict>
            <key>wudi_00049.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,1438},{76,64}}</string>
                <key>offset</key>
                <string>{-12,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,137},{76,64}}</string>
                <key>sourceSize</key>
                <string>{450,300}</string>
            </dict>
            <key>wudi_00050.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,1362},{30,48}}</string>
                <key>offset</key>
                <string>{2,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,146},{30,48}}</string>
                <key>sourceSize</key>
                <string>{450,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wudi.png</string>
            <key>size</key>
            <string>{1014,1758}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c95a017ecf8c4f501865c58791a0d2d4:c5cdde70bd3fffaf959e50413ee9e21b:2374b89478c5ac66e5474dde03a33825$</string>
            <key>textureFileName</key>
            <string>wudi.png</string>
        </dict>
    </dict>
</plist>
