<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>kuanggong0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1524,78},{78,106}}</string>
                <key>offset</key>
                <string>{-2,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{439,331},{78,106}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>kuanggong0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1418,86},{78,106}}</string>
                <key>offset</key>
                <string>{-2,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{439,331},{78,106}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>kuanggong0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1278,100},{76,104}}</string>
                <key>offset</key>
                <string>{-1,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{441,333},{76,104}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>kuanggong0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1174,100},{76,104}}</string>
                <key>offset</key>
                <string>{-1,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{441,333},{76,104}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>kuanggong0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1070,100},{76,104}}</string>
                <key>offset</key>
                <string>{-1,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{441,333},{76,104}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>kuanggong0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1844,0},{78,106}}</string>
                <key>offset</key>
                <string>{-3,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{438,331},{78,106}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>kuanggong0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1738,0},{78,106}}</string>
                <key>offset</key>
                <string>{-2,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{439,332},{78,106}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>kuanggong0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1630,78},{78,102}}</string>
                <key>offset</key>
                <string>{-2,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{439,335},{78,102}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>kuanggong0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,92},{84,98}}</string>
                <key>offset</key>
                <string>{-4,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{434,339},{84,98}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>kuanggong0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,82},{88,94}}</string>
                <key>offset</key>
                <string>{-6,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{430,342},{88,94}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>kuanggong0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,82},{92,94}}</string>
                <key>offset</key>
                <string>{-8,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{426,342},{92,94}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>kuanggong0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,82},{94,102}}</string>
                <key>offset</key>
                <string>{-10,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{423,334},{94,102}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>kuanggong0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,0},{92,120}}</string>
                <key>offset</key>
                <string>{-13,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{421,317},{92,120}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>kuanggong0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,0},{104,140}}</string>
                <key>offset</key>
                <string>{-6,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{422,299},{104,140}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>kuanggong0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,0},{94,150}}</string>
                <key>offset</key>
                <string>{-11,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{422,290},{94,150}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>kuanggong0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{118,166}}</string>
                <key>offset</key>
                <string>{3,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{424,274},{118,166}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>kuanggong0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,0},{150,82}}</string>
                <key>offset</key>
                <string>{30,-90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{435,369},{150,82}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>kuanggong0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,94},{150,82}}</string>
                <key>offset</key>
                <string>{30,-90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{435,369},{150,82}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>kuanggong0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,0},{140,88}}</string>
                <key>offset</key>
                <string>{29,-87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{439,363},{140,88}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>kuanggong0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,0},{126,90}}</string>
                <key>offset</key>
                <string>{21,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{438,355},{126,90}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>kuanggong0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1322,0},{96,100}}</string>
                <key>offset</key>
                <string>{6,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{438,340},{96,100}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>kuanggong0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1630,0},{78,108}}</string>
                <key>offset</key>
                <string>{-2,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{439,330},{78,108}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>kuanggong0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1522,0},{78,108}}</string>
                <key>offset</key>
                <string>{-2,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{439,330},{78,108}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>kuanggong0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1732,78},{82,100}}</string>
                <key>offset</key>
                <string>{0,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{439,333},{82,100}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>kuanggong0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,90},{86,106}}</string>
                <key>offset</key>
                <string>{-1,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{436,330},{86,106}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>kuanggong0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{1220,0},{100,102}}</string>
                <key>offset</key>
                <string>{-1,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{429,326},{100,102}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>kuanggong0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{1418,0},{86,104}}</string>
                <key>offset</key>
                <string>{1,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{438,330},{86,104}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>kuanggong0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,0},{82,102}}</string>
                <key>offset</key>
                <string>{0,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{439,332},{82,102}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>kuanggong0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,92},{84,110}}</string>
                <key>offset</key>
                <string>{0,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{438,329},{84,110}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>kuanggong0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{1110,0},{110,100}}</string>
                <key>offset</key>
                <string>{-3,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{422,326},{110,100}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>kuanggong0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,88},{88,102}}</string>
                <key>offset</key>
                <string>{-2,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{434,330},{88,102}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>kuanggong0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,0},{82,100}}</string>
                <key>offset</key>
                <string>{0,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{439,333},{82,100}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>kuanggong.png</string>
            <key>size</key>
            <string>{1922,176}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d17a7273c97cdebcf4788ed53200ea1e:28adf92df154a5087b6f874ea4324153:509fbd2a959d2d80b113b986fe5a5b6a$</string>
            <key>textureFileName</key>
            <string>kuanggong.png</string>
        </dict>
    </dict>
</plist>
