<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>leiguan0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1429,97},{68,72}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{68,72}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>leiguan0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1429,0},{97,83}}</string>
                <key>offset</key>
                <string>{8,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,81},{97,83}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>leiguan0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,0},{169,145}}</string>
                <key>offset</key>
                <string>{7,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,46},{169,145}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>leiguan0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1113,0},{181,171}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,30},{181,171}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>leiguan0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,0},{223,215}}</string>
                <key>offset</key>
                <string>{6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,14},{223,215}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>leiguan0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,0},{223,215}}</string>
                <key>offset</key>
                <string>{6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,14},{223,215}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>leiguan0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,0},{223,215}}</string>
                <key>offset</key>
                <string>{6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,14},{223,215}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>leiguan0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{223,215}}</string>
                <key>offset</key>
                <string>{6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,14},{223,215}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>leiguan0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,0},{221,215}}</string>
                <key>offset</key>
                <string>{6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,14},{221,215}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>leiguan.png</string>
            <key>size</key>
            <string>{1512,215}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:be06311a4f9e770ea3762bf6d6ea0e9c:e5815b6f5e29416fba06bdf32e64f8e3:70fca26866b81a173268a8d9a69c0b65$</string>
            <key>textureFileName</key>
            <string>leiguan.png</string>
        </dict>
    </dict>
</plist>
