<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lei0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1782,123},{55,63}}</string>
                <key>offset</key>
                <string>{5,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,109},{55,63}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>lei0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1782,0},{123,117}}</string>
                <key>offset</key>
                <string>{7,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,75},{123,117}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>lei0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1782,0},{123,117}}</string>
                <key>offset</key>
                <string>{7,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,75},{123,117}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>lei0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1603,0},{179,207}}</string>
                <key>offset</key>
                <string>{8,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,6},{179,207}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>lei0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1603,0},{179,207}}</string>
                <key>offset</key>
                <string>{8,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,6},{179,207}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>lei0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,0},{209,237}}</string>
                <key>offset</key>
                <string>{13,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,1},{209,237}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>lei0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,0},{209,237}}</string>
                <key>offset</key>
                <string>{13,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,1},{209,237}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>lei0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{241,237}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,6},{241,237}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>lei0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{241,237}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,6},{241,237}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>lei0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1109,0},{255,225}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{255,225}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>lei0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1109,0},{255,225}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{255,225}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>lei0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,0},{235,225}}</string>
                <key>offset</key>
                <string>{10,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,23},{235,225}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>lei0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,0},{235,225}}</string>
                <key>offset</key>
                <string>{10,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,23},{235,225}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>lei0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,0},{229,217}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,21},{229,217}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>lei0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,0},{229,217}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,21},{229,217}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>lei0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,0},{233,217}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,21},{233,217}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>lei0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,0},{233,217}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,21},{233,217}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>lei0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1364,0},{239,225}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,16},{239,225}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>lei0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1364,0},{239,225}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,16},{239,225}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zadan.png</string>
            <key>size</key>
            <string>{1899,237}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:302d9e9d354af7a973e494c8c6704e18:30fa171163ca776de7ed07c07e473d04:293b7c08a16b04c5ddf82d2cb33a13cf$</string>
            <key>textureFileName</key>
            <string>zadan.png</string>
        </dict>
    </dict>
</plist>
