<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shinbai_texaio0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,544},{433,189}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,52},{433,189}}</string>
                <key>sourceSize</key>
                <string>{653,305}</string>
            </dict>
            <key>shinbai_texaio0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,544},{433,189}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,52},{433,189}}</string>
                <key>sourceSize</key>
                <string>{653,305}</string>
            </dict>
            <key>shinbai_texaio0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,265},{593,253}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,21},{593,253}}</string>
                <key>sourceSize</key>
                <string>{653,305}</string>
            </dict>
            <key>shinbai_texaio0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1268,0},{607,259}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,17},{607,259}}</string>
                <key>sourceSize</key>
                <string>{653,305}</string>
            </dict>
            <key>shinbai_texaio0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,0},{623,265}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,14},{623,265}}</string>
                <key>sourceSize</key>
                <string>{653,305}</string>
            </dict>
            <key>shinbai_texaio0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,275},{637,269}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{637,269}}</string>
                <key>sourceSize</key>
                <string>{653,305}</string>
            </dict>
            <key>shinbai_texaio0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{645,275}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{645,275}}</string>
                <key>sourceSize</key>
                <string>{653,305}</string>
            </dict>
            <key>shinbai_texaio0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1663,411},{321,261}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,25},{321,261}}</string>
                <key>sourceSize</key>
                <string>{653,305}</string>
            </dict>
            <key>shinbai_zi0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,544},{203,25}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,132},{203,25}}</string>
                <key>sourceSize</key>
                <string>{653,305}</string>
            </dict>
            <key>shinbai_zi0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,727},{195,27}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,131},{195,27}}</string>
                <key>sourceSize</key>
                <string>{653,305}</string>
            </dict>
            <key>shinbai_zi0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,663},{209,29}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,130},{209,29}}</string>
                <key>sourceSize</key>
                <string>{653,305}</string>
            </dict>
            <key>shinbai_zi0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,632},{233,31}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,130},{233,31}}</string>
                <key>sourceSize</key>
                <string>{653,305}</string>
            </dict>
            <key>shinbai_zi0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,733},{267,37}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,127},{267,37}}</string>
                <key>sourceSize</key>
                <string>{653,305}</string>
            </dict>
            <key>shinbai_zi0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,589},{309,43}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,125},{309,43}}</string>
                <key>sourceSize</key>
                <string>{653,305}</string>
            </dict>
            <key>shinbai_zi0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1249,716},{363,51}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,122},{363,51}}</string>
                <key>sourceSize</key>
                <string>{653,305}</string>
            </dict>
            <key>shinbai_zi0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1238,389},{425,61}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,118},{425,61}}</string>
                <key>sourceSize</key>
                <string>{653,305}</string>
            </dict>
            <key>shinbai_zi0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1238,326},{461,63}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,118},{461,63}}</string>
                <key>sourceSize</key>
                <string>{653,305}</string>
            </dict>
            <key>shinbai_zi0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1268,259},{501,67}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,116},{501,67}}</string>
                <key>sourceSize</key>
                <string>{653,305}</string>
            </dict>
            <key>shinbai_zi0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,518},{535,71}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,114},{535,71}}</string>
                <key>sourceSize</key>
                <string>{653,305}</string>
            </dict>
            <key>shinbai_zi0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,716},{407,59}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,125},{407,59}}</string>
                <key>sourceSize</key>
                <string>{653,305}</string>
            </dict>
            <key>shinbai_zi0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1612,672},{409,63}}</string>
                <key>offset</key>
                <string>{-3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,129},{409,63}}</string>
                <key>sourceSize</key>
                <string>{653,305}</string>
            </dict>
            <key>shinbai_zi0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,589},{411,71}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,128},{411,71}}</string>
                <key>sourceSize</key>
                <string>{653,305}</string>
            </dict>
            <key>shinbai_zi0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,589},{411,71}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,128},{411,71}}</string>
                <key>sourceSize</key>
                <string>{653,305}</string>
            </dict>
            <key>shinbai_zi0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1077,655},{409,61}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,129},{409,61}}</string>
                <key>sourceSize</key>
                <string>{653,305}</string>
            </dict>
            <key>shinbai_zi0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1153,592},{409,63}}</string>
                <key>offset</key>
                <string>{-3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,129},{409,63}}</string>
                <key>sourceSize</key>
                <string>{653,305}</string>
            </dict>
            <key>shinbai_zi0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,660},{409,67}}</string>
                <key>offset</key>
                <string>{-3,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,128},{409,67}}</string>
                <key>sourceSize</key>
                <string>{653,305}</string>
            </dict>
            <key>shinbai_zi0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1946,0},{411,71}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,128},{411,71}}</string>
                <key>sourceSize</key>
                <string>{653,305}</string>
            </dict>
            <key>shinbai_zi0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1875,0},{411,71}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,128},{411,71}}</string>
                <key>sourceSize</key>
                <string>{653,305}</string>
            </dict>
            <key>shinbai_zi0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1172,521},{411,71}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,128},{411,71}}</string>
                <key>sourceSize</key>
                <string>{653,305}</string>
            </dict>
            <key>shinbai_zi0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1238,450},{411,71}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,128},{411,71}}</string>
                <key>sourceSize</key>
                <string>{653,305}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jingjichangshibai.png</string>
            <key>size</key>
            <string>{2021,775}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9e2be5081d4ec02b7360fb8a714d73b8:a40679c6224e4af9522e7ff20434268c:ee554e6a038e5e8662695e423a5a9e4e$</string>
            <key>textureFileName</key>
            <string>jingjichangshibai.png</string>
        </dict>
    </dict>
</plist>
