<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chenggong_texiao0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,166},{433,188}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,77},{433,188}}</string>
                <key>sourceSize</key>
                <string>{721,340}</string>
            </dict>
            <key>chenggong_texiao0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,166},{433,188}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,77},{433,188}}</string>
                <key>sourceSize</key>
                <string>{721,340}</string>
            </dict>
            <key>chenggong_texiao0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,172},{593,256}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,45},{593,256}}</string>
                <key>sourceSize</key>
                <string>{721,340}</string>
            </dict>
            <key>chenggong_texiao0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,428},{607,262}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,42},{607,262}}</string>
                <key>sourceSize</key>
                <string>{721,340}</string>
            </dict>
            <key>chenggong_texiao0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,431},{623,268}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,38},{623,268}}</string>
                <key>sourceSize</key>
                <string>{721,340}</string>
            </dict>
            <key>chenggong_texiao0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,699},{639,272}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,37},{639,272}}</string>
                <key>sourceSize</key>
                <string>{721,340}</string>
            </dict>
            <key>chenggong_texiao0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,699},{645,278}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,33},{645,278}}</string>
                <key>sourceSize</key>
                <string>{721,340}</string>
            </dict>
            <key>chenggong_texiao0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,110},{321,260}}</string>
                <key>offset</key>
                <string>{-11,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,53},{321,260}}</string>
                <key>sourceSize</key>
                <string>{721,340}</string>
            </dict>
            <key>chenggong_zi0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{687,52}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,147},{687,52}}</string>
                <key>sourceSize</key>
                <string>{721,340}</string>
            </dict>
            <key>chenggong_zi0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{687,52}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,147},{687,52}}</string>
                <key>sourceSize</key>
                <string>{721,340}</string>
            </dict>
            <key>chenggong_zi0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,52},{613,54}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,145},{613,54}}</string>
                <key>sourceSize</key>
                <string>{721,340}</string>
            </dict>
            <key>chenggong_zi0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,52},{613,54}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,145},{613,54}}</string>
                <key>sourceSize</key>
                <string>{721,340}</string>
            </dict>
            <key>chenggong_zi0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,0},{485,54}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,145},{485,54}}</string>
                <key>sourceSize</key>
                <string>{721,340}</string>
            </dict>
            <key>chenggong_zi0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,0},{485,54}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,145},{485,54}}</string>
                <key>sourceSize</key>
                <string>{721,340}</string>
            </dict>
            <key>chenggong_zi0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,106},{325,58}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,143},{325,58}}</string>
                <key>sourceSize</key>
                <string>{721,340}</string>
            </dict>
            <key>chenggong_zi0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,110},{347,62}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,141},{347,62}}</string>
                <key>sourceSize</key>
                <string>{721,340}</string>
            </dict>
            <key>chenggong_zi0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,108},{343,58}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,143},{343,58}}</string>
                <key>sourceSize</key>
                <string>{721,340}</string>
            </dict>
            <key>chenggong_zi0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,54},{341,56}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,144},{341,56}}</string>
                <key>sourceSize</key>
                <string>{721,340}</string>
            </dict>
            <key>chenggong_zi0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,54},{337,54}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,145},{337,54}}</string>
                <key>sourceSize</key>
                <string>{721,340}</string>
            </dict>
            <key>chenggong_zi0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,54},{337,54}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,145},{337,54}}</string>
                <key>sourceSize</key>
                <string>{721,340}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jingjichangchenggong.png</string>
            <key>size</key>
            <string>{1291,977}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a22d9ede24ba45a51c8c664cf22875a7:7a11eb489c2be0ca16f03c749860ce46:adf5144fcccfc38966eec42a91aa211c$</string>
            <key>textureFileName</key>
            <string>jingjichangchenggong.png</string>
        </dict>
    </dict>
</plist>
