<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jinjichang0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1948},{132,92}}</string>
                <key>offset</key>
                <string>{3,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,51},{132,92}}</string>
                <key>sourceSize</key>
                <string>{188,154}</string>
            </dict>
            <key>jinjichang0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,640},{152,92}}</string>
                <key>offset</key>
                <string>{3,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,51},{152,92}}</string>
                <key>sourceSize</key>
                <string>{188,154}</string>
            </dict>
            <key>jinjichang0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,182},{166,92}}</string>
                <key>offset</key>
                <string>{2,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,51},{166,92}}</string>
                <key>sourceSize</key>
                <string>{188,154}</string>
            </dict>
            <key>jinjichang0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,92},{174,90}}</string>
                <key>offset</key>
                <string>{2,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,53},{174,90}}</string>
                <key>sourceSize</key>
                <string>{188,154}</string>
            </dict>
            <key>jinjichang0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{176,92}}</string>
                <key>offset</key>
                <string>{2,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,52},{176,92}}</string>
                <key>sourceSize</key>
                <string>{188,154}</string>
            </dict>
            <key>jinjichang0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1856},{132,92}}</string>
                <key>offset</key>
                <string>{2,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,52},{132,92}}</string>
                <key>sourceSize</key>
                <string>{188,154}</string>
            </dict>
            <key>jinjichang0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,1608},{104,124}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,20},{104,124}}</string>
                <key>sourceSize</key>
                <string>{188,154}</string>
            </dict>
            <key>jinjichang0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,1484},{104,124}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,20},{104,124}}</string>
                <key>sourceSize</key>
                <string>{188,154}</string>
            </dict>
            <key>jinjichang0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,1866},{118,130}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,15},{118,130}}</string>
                <key>sourceSize</key>
                <string>{188,154}</string>
            </dict>
            <key>jinjichang0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,1866},{118,130}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,15},{118,130}}</string>
                <key>sourceSize</key>
                <string>{188,154}</string>
            </dict>
            <key>jinjichang0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1738},{118,132}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,14},{118,132}}</string>
                <key>sourceSize</key>
                <string>{188,154}</string>
            </dict>
            <key>jinjichang0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1738},{118,132}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,14},{118,132}}</string>
                <key>sourceSize</key>
                <string>{188,154}</string>
            </dict>
            <key>jinjichang0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,1732},{118,134}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,12},{118,134}}</string>
                <key>sourceSize</key>
                <string>{188,154}</string>
            </dict>
            <key>jinjichang0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1500},{118,136}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,10},{118,136}}</string>
                <key>sourceSize</key>
                <string>{188,154}</string>
            </dict>
            <key>jinjichang0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1618},{120,134}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,13},{120,134}}</string>
                <key>sourceSize</key>
                <string>{188,154}</string>
            </dict>
            <key>jinjichang0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,546},{158,134}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,13},{158,134}}</string>
                <key>sourceSize</key>
                <string>{188,154}</string>
            </dict>
            <key>jinjichang0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,410},{158,136}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,12},{158,136}}</string>
                <key>sourceSize</key>
                <string>{188,154}</string>
            </dict>
            <key>jinjichang0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,410},{158,136}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,12},{158,136}}</string>
                <key>sourceSize</key>
                <string>{188,154}</string>
            </dict>
            <key>jinjichang0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,274},{158,136}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,12},{158,136}}</string>
                <key>sourceSize</key>
                <string>{188,154}</string>
            </dict>
            <key>jinjichang0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,938},{106,138}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,10},{106,138}}</string>
                <key>sourceSize</key>
                <string>{188,154}</string>
            </dict>
            <key>jinjichang0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,274},{94,138}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,10},{94,138}}</string>
                <key>sourceSize</key>
                <string>{188,154}</string>
            </dict>
            <key>jinjichang0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1400},{100,146}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,2},{100,146}}</string>
                <key>sourceSize</key>
                <string>{188,154}</string>
            </dict>
            <key>jinjichang0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1300},{100,146}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,2},{100,146}}</string>
                <key>sourceSize</key>
                <string>{188,154}</string>
            </dict>
            <key>jinjichang0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,784},{102,148}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,0},{102,148}}</string>
                <key>sourceSize</key>
                <string>{188,154}</string>
            </dict>
            <key>jinjichang0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1198},{102,146}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,1},{102,146}}</string>
                <key>sourceSize</key>
                <string>{188,154}</string>
            </dict>
            <key>jinjichang0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,680},{104,148}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,0},{104,148}}</string>
                <key>sourceSize</key>
                <string>{188,154}</string>
            </dict>
            <key>jinjichang0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1094},{104,146}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,0},{104,146}}</string>
                <key>sourceSize</key>
                <string>{188,154}</string>
            </dict>
            <key>jinjichang0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,1076},{104,146}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,0},{104,146}}</string>
                <key>sourceSize</key>
                <string>{188,154}</string>
            </dict>
            <key>jinjichang0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,990},{104,146}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,0},{104,146}}</string>
                <key>sourceSize</key>
                <string>{188,154}</string>
            </dict>
            <key>jinjichang0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,886},{104,146}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,0},{104,146}}</string>
                <key>sourceSize</key>
                <string>{188,154}</string>
            </dict>
            <key>jinjichang0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,792},{104,146}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,0},{104,146}}</string>
                <key>sourceSize</key>
                <string>{188,154}</string>
            </dict>
            <key>jinjichang0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,1222},{104,132}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,13},{104,132}}</string>
                <key>sourceSize</key>
                <string>{188,154}</string>
            </dict>
            <key>jinjichang0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,1354},{104,130}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,14},{104,130}}</string>
                <key>sourceSize</key>
                <string>{188,154}</string>
            </dict>
            <key>jinjichang0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,526},{94,114}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,30},{94,114}}</string>
                <key>sourceSize</key>
                <string>{188,154}</string>
            </dict>
            <key>jinjichang0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,412},{94,114}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,30},{94,114}}</string>
                <key>sourceSize</key>
                <string>{188,154}</string>
            </dict>
            <key>jinjichang0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,412},{94,114}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,30},{94,114}}</string>
                <key>sourceSize</key>
                <string>{188,154}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>arena_entrance.png</string>
            <key>size</key>
            <string>{252,2040}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5124a22780ab905649c512f0b231a7cf:6d127fee5f67e00cd7956a1c5135309b:6675828463dacce4371f7043a5b2f9fe$</string>
            <key>textureFileName</key>
            <string>arena_entrance.png</string>
        </dict>
    </dict>
</plist>
