<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1003A_R_effup/0000</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-187,1}</string>
                <key>spriteSize</key>
                <string>{252,86}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{353,79},{252,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1003A_R_effup/0001</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-193,1}</string>
                <key>spriteSize</key>
                <string>{264,86}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{607,79},{264,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1003A_R_effup/0002</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-80,-8}</string>
                <key>spriteSize</key>
                <string>{428,120}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{1,953},{428,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1003A_R_effup/0003</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-73,-8}</string>
                <key>spriteSize</key>
                <string>{414,120}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{431,953},{414,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1003A_R_effup/0004</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{55,-11}</string>
                <key>spriteSize</key>
                <string>{472,114}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{1,369},{472,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1003A_R_effup/0005</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{55,-11}</string>
                <key>spriteSize</key>
                <string>{472,114}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{475,369},{472,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1003A_R_effup/0006</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{75,-7}</string>
                <key>spriteSize</key>
                <string>{462,98}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{1,167},{462,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1003A_R_effup/0007</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{66,-8}</string>
                <key>spriteSize</key>
                <string>{480,100}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{465,267},{480,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1003A_R_effup/0008</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{81,3}</string>
                <key>spriteSize</key>
                <string>{448,116}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{1,717},{448,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1003A_R_effup/0009</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{81,3}</string>
                <key>spriteSize</key>
                <string>{448,116}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{451,717},{448,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1003A_R_effup/0010</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{59,-9}</string>
                <key>spriteSize</key>
                <string>{482,114}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{1,485},{482,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1003A_R_effup/0011</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{59,-9}</string>
                <key>spriteSize</key>
                <string>{482,114}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{485,485},{482,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1003A_R_effup/0012</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{75,-7}</string>
                <key>spriteSize</key>
                <string>{462,98}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{465,167},{462,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1003A_R_effup/0013</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{75,-7}</string>
                <key>spriteSize</key>
                <string>{462,98}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{1,267},{462,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1003A_R_effup/0014</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{81,3}</string>
                <key>spriteSize</key>
                <string>{448,116}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{1,835},{448,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1003A_R_effup/0015</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{81,3}</string>
                <key>spriteSize</key>
                <string>{448,116}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{451,835},{448,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1003A_R_effup/0016</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{59,-9}</string>
                <key>spriteSize</key>
                <string>{482,114}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{1,601},{482,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1003A_R_effup/0017</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{59,-9}</string>
                <key>spriteSize</key>
                <string>{482,114}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{485,601},{482,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1003A_R_effup/0018</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{122,-9}</string>
                <key>spriteSize</key>
                <string>{346,76}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{6,1},{346,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1003A_R_effup/0019</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{122,-9}</string>
                <key>spriteSize</key>
                <string>{346,76}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{354,1},{346,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1003A_R_effup/0020</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{121,-7}</string>
                <key>spriteSize</key>
                <string>{350,78}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{1,79},{350,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1003A_R_effup/0021</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{121,-7}</string>
                <key>spriteSize</key>
                <string>{350,78}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{1,79},{350,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1003A_R_effup/0022</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{187,-8}</string>
                <key>spriteSize</key>
                <string>{216,76}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{702,1},{216,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1003A_R_effup/0023</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{187,-8}</string>
                <key>spriteSize</key>
                <string>{216,76}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{702,1},{216,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1003A_R_effup/0024</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-323.5,158.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{1,1},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>1003A_R_effup.png</string>
            <key>size</key>
            <string>{968,1074}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:174e560570fc9eb5b518d038cd8cac77:99ff296e102335157c3fef2ca148a7ce:5288c597094ec656eaefb8a701f46753$</string>
            <key>textureFileName</key>
            <string>1003A_R_effup.png</string>
        </dict>
    </dict>
</plist>
