<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1008A_A5_role/0000</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,34}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{383,1387},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1008A_A5_role/0001</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,37}</string>
                <key>spriteSize</key>
                <string>{102,88}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{383,1297},{102,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1008A_A5_role/0002</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,54}</string>
                <key>spriteSize</key>
                <string>{164,122}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{259,1297},{164,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1008A_A5_role/0003</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,49}</string>
                <key>spriteSize</key>
                <string>{180,152}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{259,1143},{180,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1008A_A5_role/0004</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,58}</string>
                <key>spriteSize</key>
                <string>{256,160}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1,1249},{256,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1008A_A5_role/0005</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,67}</string>
                <key>spriteSize</key>
                <string>{256,178}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1,1069},{256,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1008A_A5_role/0006</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,82}</string>
                <key>spriteSize</key>
                <string>{256,182}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{305,611},{256,182}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1008A_A5_role/0007</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,83}</string>
                <key>spriteSize</key>
                <string>{272,180}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{283,869},{272,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1008A_A5_role/0008</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,83}</string>
                <key>spriteSize</key>
                <string>{280,180}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1,723},{280,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1008A_A5_role/0009</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,83}</string>
                <key>spriteSize</key>
                <string>{306,180}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1,377},{306,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1008A_A5_role/0010</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,82}</string>
                <key>spriteSize</key>
                <string>{314,178}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{325,1},{314,178}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1008A_A5_role/0011</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,75}</string>
                <key>spriteSize</key>
                <string>{278,162}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1,905},{278,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1008A_A5_role/0012</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,85}</string>
                <key>spriteSize</key>
                <string>{292,182}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{321,317},{292,182}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1008A_A5_role/0013</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,96}</string>
                <key>spriteSize</key>
                <string>{318,200}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1,175},{318,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1008A_A5_role/0014</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,77}</string>
                <key>spriteSize</key>
                <string>{302,162}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1,559},{302,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1008A_A5_role/0015</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,82}</string>
                <key>spriteSize</key>
                <string>{322,172}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1,1},{322,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1008A_A5_role/0016</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-478.5,318.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{309,377},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1008A_A5_role/0017</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-478.5,318.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{309,377},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1008A_A5_role/0018</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-478.5,318.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{309,377},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>1008A_A5_role.png</string>
            <key>size</key>
            <string>{504,1484}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fa699df26ec810be61c3b8f0a31d9973:82b53bcb2b372e01e652973001b0643d:d878a65833dada699824611e783e5a7f$</string>
            <key>textureFileName</key>
            <string>1008A_A5_role.png</string>
        </dict>
    </dict>
</plist>
