<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1008A_R_role/0000</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{139,50}</string>
                <key>spriteSize</key>
                <string>{84,174}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1823,639},{84,174}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1008A_R_role/0001</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{139,50}</string>
                <key>spriteSize</key>
                <string>{84,174}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1823,639},{84,174}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1008A_R_role/0002</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{183,-57}</string>
                <key>spriteSize</key>
                <string>{140,300}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1889,725},{140,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1008A_R_role/0003</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{183,-57}</string>
                <key>spriteSize</key>
                <string>{140,300}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1889,725},{140,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1008A_R_role/0004</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{112,-83}</string>
                <key>spriteSize</key>
                <string>{312,320}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1655,1},{312,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1008A_R_role/0005</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{112,-83}</string>
                <key>spriteSize</key>
                <string>{312,320}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1655,1},{312,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1008A_R_role/0006</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{157,-102}</string>
                <key>spriteSize</key>
                <string>{308,322}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1297,681},{308,322}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1008A_R_role/0007</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{157,-102}</string>
                <key>spriteSize</key>
                <string>{308,322}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1297,681},{308,322}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1008A_R_role/0008</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{214,-114}</string>
                <key>spriteSize</key>
                <string>{392,258}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1,1},{392,258}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1008A_R_role/0009</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{214,-114}</string>
                <key>spriteSize</key>
                <string>{392,258}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1,1},{392,258}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1008A_R_role/0010</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{202,-63}</string>
                <key>spriteSize</key>
                <string>{332,170}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1483,1},{332,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1008A_R_role/0011</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{202,-63}</string>
                <key>spriteSize</key>
                <string>{332,170}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1483,1},{332,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1008A_R_role/0012</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{179,15}</string>
                <key>spriteSize</key>
                <string>{336,302}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1211,343},{336,302}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1008A_R_role/0013</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{179,15}</string>
                <key>spriteSize</key>
                <string>{336,302}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1211,343},{336,302}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1008A_R_role/0014</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{158,-43}</string>
                <key>spriteSize</key>
                <string>{338,320}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{975,693},{338,320}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1008A_R_role/0015</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{158,-43}</string>
                <key>spriteSize</key>
                <string>{338,320}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{975,693},{338,320}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1008A_R_role/0016</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{178,-71}</string>
                <key>spriteSize</key>
                <string>{338,342}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{871,349},{338,342}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1008A_R_role/0017</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{178,-71}</string>
                <key>spriteSize</key>
                <string>{338,342}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{871,349},{338,342}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1008A_R_role/0018</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{163,-92}</string>
                <key>spriteSize</key>
                <string>{286,344}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{687,697},{286,344}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1008A_R_role/0019</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{163,-92}</string>
                <key>spriteSize</key>
                <string>{286,344}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{687,697},{286,344}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1008A_R_role/0020</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{138,-118}</string>
                <key>spriteSize</key>
                <string>{304,280}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1607,725},{304,280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1008A_R_role/0021</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{138,-118}</string>
                <key>spriteSize</key>
                <string>{304,280}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1607,725},{304,280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1008A_R_role/0022</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{120,-47}</string>
                <key>spriteSize</key>
                <string>{306,322}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1515,335},{306,322}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1008A_R_role/0023</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{120,-47}</string>
                <key>spriteSize</key>
                <string>{306,322}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1515,335},{306,322}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1008A_R_role/0024</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{91,-19}</string>
                <key>spriteSize</key>
                <string>{276,346}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{595,1},{276,346}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1008A_R_role/0025</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{91,-19}</string>
                <key>spriteSize</key>
                <string>{276,346}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{595,1},{276,346}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1008A_R_role/0026</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{130,2}</string>
                <key>spriteSize</key>
                <string>{272,350}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{335,767},{272,350}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1008A_R_role/0027</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{130,2}</string>
                <key>spriteSize</key>
                <string>{272,350}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{335,767},{272,350}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1008A_R_role/0028</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{128,-4}</string>
                <key>spriteSize</key>
                <string>{342,316}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{873,1},{342,316}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1008A_R_role/0029</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{128,-4}</string>
                <key>spriteSize</key>
                <string>{342,316}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{873,1},{342,316}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1008A_R_role/0030</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{160,-74}</string>
                <key>spriteSize</key>
                <string>{314,198}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1823,323},{314,198}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1008A_R_role/0031</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{160,-74}</string>
                <key>spriteSize</key>
                <string>{314,198}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1823,323},{314,198}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1008A_R_role/0032</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{214,-73}</string>
                <key>spriteSize</key>
                <string>{392,176}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1,395},{392,176}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1008A_R_role/0033</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{214,-73}</string>
                <key>spriteSize</key>
                <string>{392,176}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1,395},{392,176}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1008A_R_role/0034</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{202,-63}</string>
                <key>spriteSize</key>
                <string>{332,170}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1483,1},{332,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1008A_R_role/0035</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{202,-63}</string>
                <key>spriteSize</key>
                <string>{332,170}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1483,1},{332,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1008A_R_role/0036</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{179,15}</string>
                <key>spriteSize</key>
                <string>{336,302}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1211,343},{336,302}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1008A_R_role/0037</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{179,15}</string>
                <key>spriteSize</key>
                <string>{336,302}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1211,343},{336,302}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1008A_R_role/0038</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{158,-43}</string>
                <key>spriteSize</key>
                <string>{338,320}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{975,693},{338,320}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1008A_R_role/0039</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{158,-43}</string>
                <key>spriteSize</key>
                <string>{338,320}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{975,693},{338,320}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1008A_R_role/0040</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{178,-71}</string>
                <key>spriteSize</key>
                <string>{338,342}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{871,349},{338,342}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1008A_R_role/0041</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{178,-71}</string>
                <key>spriteSize</key>
                <string>{338,342}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{871,349},{338,342}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1008A_R_role/0042</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{163,-92}</string>
                <key>spriteSize</key>
                <string>{286,344}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{687,697},{286,344}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1008A_R_role/0043</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{163,-92}</string>
                <key>spriteSize</key>
                <string>{286,344}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{687,697},{286,344}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1008A_R_role/0044</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{138,-118}</string>
                <key>spriteSize</key>
                <string>{304,280}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1607,725},{304,280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1008A_R_role/0045</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{138,-118}</string>
                <key>spriteSize</key>
                <string>{304,280}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1607,725},{304,280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1008A_R_role/0046</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{120,-47}</string>
                <key>spriteSize</key>
                <string>{306,322}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1515,335},{306,322}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1008A_R_role/0047</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{120,-47}</string>
                <key>spriteSize</key>
                <string>{306,322}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1515,335},{306,322}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1008A_R_role/0048</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{108,-19}</string>
                <key>spriteSize</key>
                <string>{242,346}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{627,349},{242,346}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1008A_R_role/0049</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{108,-19}</string>
                <key>spriteSize</key>
                <string>{242,346}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{627,349},{242,346}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1008A_R_role/0050</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{190,2}</string>
                <key>spriteSize</key>
                <string>{88,350}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{537,357},{88,350}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1008A_R_role/0051</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{190,2}</string>
                <key>spriteSize</key>
                <string>{88,350}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{537,357},{88,350}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1008A_R_role/0052</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-478.5,318.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{179,767},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1008A_R_role/0053</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-478.5,318.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{179,767},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1008A_R_role/0054</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-478.5,318.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{179,767},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1008A_R_role/0055</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-478.5,318.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{179,767},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1008A_R_role/0056</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{193,10}</string>
                <key>spriteSize</key>
                <string>{250,332}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1,789},{250,332}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1008A_R_role/0057</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{193,10}</string>
                <key>spriteSize</key>
                <string>{250,332}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1,789},{250,332}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1008A_R_role/0058</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{187,-17}</string>
                <key>spriteSize</key>
                <string>{290,340}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1191,1},{290,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1008A_R_role/0059</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{187,-17}</string>
                <key>spriteSize</key>
                <string>{290,340}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1191,1},{290,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1008A_R_role/0060</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{186,-40}</string>
                <key>spriteSize</key>
                <string>{332,354}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{261,1},{332,354}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1008A_R_role/0061</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{186,-40}</string>
                <key>spriteSize</key>
                <string>{332,354}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{261,1},{332,354}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1008A_R_role/0062</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{185,-49}</string>
                <key>spriteSize</key>
                <string>{356,370}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{179,395},{356,370}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1008A_R_role/0063</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{185,-49}</string>
                <key>spriteSize</key>
                <string>{356,370}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{179,395},{356,370}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1008A_R_role/0064</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-478.5,318.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{179,767},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1008A_R_role/0065</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-478.5,318.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{179,767},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1008A_R_role/0066</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-478.5,318.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{179,767},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1008A_R_role/0067</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-478.5,318.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{179,767},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1008A_R_role/0068</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-478.5,318.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{179,767},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1008A_R_role/0069</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-478.5,318.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{179,767},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1008A_R_role/0070</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-478.5,318.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{179,767},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1008A_R_role/0071</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-478.5,318.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{179,767},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>1008A_R_role.png</string>
            <key>size</key>
            <string>{2030,1042}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9eee67de7fb79936913db20d837ea19e:f608d7d6d279f5a69a7c11acce066dbf:11ef0d1dd2ad339b9f82b65608e17555$</string>
            <key>textureFileName</key>
            <string>1008A_R_role.png</string>
        </dict>
    </dict>
</plist>
