<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1008A_Q_role/0000</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{47,-52}</string>
                <key>spriteSize</key>
                <string>{136,56}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{117,235},{136,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1008A_Q_role/0001</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{72,-52}</string>
                <key>spriteSize</key>
                <string>{138,56}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1,91},{138,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1008A_Q_role/0002</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{96,-52}</string>
                <key>spriteSize</key>
                <string>{136,56}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{117,293},{136,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1008A_Q_role/0003</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{118,-52}</string>
                <key>spriteSize</key>
                <string>{138,56}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{59,91},{138,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1008A_Q_role/0004</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{137,-52}</string>
                <key>spriteSize</key>
                <string>{136,56}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{117,351},{136,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1008A_Q_role/0005</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{156,-52}</string>
                <key>spriteSize</key>
                <string>{138,56}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{59,91},{138,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1008A_Q_role/0006</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{172,-52}</string>
                <key>spriteSize</key>
                <string>{136,56}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1,371},{136,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1008A_Q_role/0007</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{186,-52}</string>
                <key>spriteSize</key>
                <string>{138,56}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{117,95},{138,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1008A_Q_role/0008</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{199,-52}</string>
                <key>spriteSize</key>
                <string>{136,56}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{59,371},{136,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1008A_Q_role/0009</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{210,-52}</string>
                <key>spriteSize</key>
                <string>{138,56}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{175,95},{138,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1008A_Q_role/0010</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{219,-52}</string>
                <key>spriteSize</key>
                <string>{136,56}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1,509},{136,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1008A_Q_role/0011</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{227,-52}</string>
                <key>spriteSize</key>
                <string>{138,56}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1,231},{138,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1008A_Q_role/0012</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{233,-52}</string>
                <key>spriteSize</key>
                <string>{138,56}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{59,231},{138,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1008A_Q_role/0013</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{275,-47}</string>
                <key>spriteSize</key>
                <string>{70,106}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{117,409},{70,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1008A_Q_role/0014</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{271,-46}</string>
                <key>spriteSize</key>
                <string>{88,126}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1,1},{88,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1008A_Q_role/0015</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{269,-30}</string>
                <key>spriteSize</key>
                <string>{92,102}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{129,1},{92,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1008A_Q_role/0016</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{269,-30}</string>
                <key>spriteSize</key>
                <string>{92,102}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{129,1},{92,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1008A_Q_role/0017</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{268,-42}</string>
                <key>spriteSize</key>
                <string>{88,70}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{139,481},{88,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>1008A_Q_role.png</string>
            <key>size</key>
            <string>{254,566}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1c8f3497b7f0f6f496577e66547bbfc5:6776578151baef621a042adab92dd27a:2e9030557149de90bbafb254d81d45f4$</string>
            <key>textureFileName</key>
            <string>1008A_Q_role.png</string>
        </dict>
    </dict>
</plist>
