<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1008A_E_role/0000</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-39}</string>
                <key>spriteSize</key>
                <string>{192,148}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{153,1},{192,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1008A_E_role/0001</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-42}</string>
                <key>spriteSize</key>
                <string>{160,164}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{699,1},{160,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1008A_E_role/0002</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-42}</string>
                <key>spriteSize</key>
                <string>{170,164}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{667,325},{170,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1008A_E_role/0003</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-43}</string>
                <key>spriteSize</key>
                <string>{178,166}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{363,485},{178,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1008A_E_role/0004</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-43}</string>
                <key>spriteSize</key>
                <string>{180,166}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{543,491},{180,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1008A_E_role/0005</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-42}</string>
                <key>spriteSize</key>
                <string>{190,164}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1,475},{190,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1008A_E_role/0006</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-38}</string>
                <key>spriteSize</key>
                <string>{198,172}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{361,995},{198,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1008A_E_role/0007</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,-43}</string>
                <key>spriteSize</key>
                <string>{160,166}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1,151},{160,166}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1008A_E_role/0008</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,-43}</string>
                <key>spriteSize</key>
                <string>{160,166}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{169,151},{160,166}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1008A_E_role/0009</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{32,-42}</string>
                <key>spriteSize</key>
                <string>{160,164}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{337,157},{160,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1008A_E_role/0010</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{34,-42}</string>
                <key>spriteSize</key>
                <string>{160,164}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{503,161},{160,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1008A_E_role/0011</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,-43}</string>
                <key>spriteSize</key>
                <string>{170,166}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{725,491},{170,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1008A_E_role/0012</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,-42}</string>
                <key>spriteSize</key>
                <string>{180,168}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1,809},{180,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1008A_E_role/0013</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,-41}</string>
                <key>spriteSize</key>
                <string>{186,166}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1,641},{186,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1008A_E_role/0014</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{34,-41}</string>
                <key>spriteSize</key>
                <string>{172,166}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{189,647},{172,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1008A_E_role/0015</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,-42}</string>
                <key>spriteSize</key>
                <string>{176,168}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{183,815},{176,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1008A_E_role/0016</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{40,-43}</string>
                <key>spriteSize</key>
                <string>{160,166}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{669,163},{160,166}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1008A_E_role/0017</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{44,-42}</string>
                <key>spriteSize</key>
                <string>{160,164}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1,313},{160,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1008A_E_role/0018</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{45,-42}</string>
                <key>spriteSize</key>
                <string>{160,164}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{167,313},{160,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1008A_E_role/0019</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{42,-43}</string>
                <key>spriteSize</key>
                <string>{160,166}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{333,319},{160,166}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1008A_E_role/0020</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{41,-44}</string>
                <key>spriteSize</key>
                <string>{164,168}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{193,481},{164,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1008A_E_role/0021</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{39,-46}</string>
                <key>spriteSize</key>
                <string>{178,172}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1,979},{178,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1008A_E_role/0022</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{40,-46}</string>
                <key>spriteSize</key>
                <string>{178,172}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{181,985},{178,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1008A_E_role/0023</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{42,-46}</string>
                <key>spriteSize</key>
                <string>{168,170}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{361,821},{168,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1008A_E_role/0024</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{39,-46}</string>
                <key>spriteSize</key>
                <string>{174,172}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{561,997},{174,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1008A_E_role/0025</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{51,-42}</string>
                <key>spriteSize</key>
                <string>{160,164}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{501,323},{160,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1008A_E_role/0026</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{53,-42}</string>
                <key>spriteSize</key>
                <string>{158,164}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{533,1},{158,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1008A_E_role/0027</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{48,-40}</string>
                <key>spriteSize</key>
                <string>{168,166}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{363,653},{168,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1008A_E_role/0028</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{39,-40}</string>
                <key>spriteSize</key>
                <string>{186,166}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{533,659},{186,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1008A_E_role/0029</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33,-38}</string>
                <key>spriteSize</key>
                <string>{182,166}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{721,659},{182,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1008A_E_role/0030</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,-38}</string>
                <key>spriteSize</key>
                <string>{196,166}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{533,827},{196,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1008A_E_role/0031</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,-29}</string>
                <key>spriteSize</key>
                <string>{204,182}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{737,997},{204,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1008A_E_role/0032</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{38,-36}</string>
                <key>spriteSize</key>
                <string>{178,168}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{731,827},{178,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1008A_E_role/0033</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{36,-46}</string>
                <key>spriteSize</key>
                <string>{184,154}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{347,1},{184,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1008A_E_role/0034</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{56,-44}</string>
                <key>spriteSize</key>
                <string>{144,150}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1,1},{144,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>1008A_E_role.png</string>
            <key>size</key>
            <string>{942,1180}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7f530bb8e1d42865d90cb73d18eec539:1d0e17648e2a611fbbdd74ade43a77d5:87bf5f6c78f46be6c8523db810fda891$</string>
            <key>textureFileName</key>
            <string>1008A_E_role.png</string>
        </dict>
    </dict>
</plist>
