<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1011A_Q3_effup/0000</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-20}</string>
                <key>spriteSize</key>
                <string>{120,100}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,1},{120,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1011A_Q3_effup/0001</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{31,-20}</string>
                <key>spriteSize</key>
                <string>{120,100}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{123,1},{120,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1011A_Q3_effup/0002</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{42,-20}</string>
                <key>spriteSize</key>
                <string>{118,100}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{977,1},{118,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1011A_Q3_effup/0003</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{51,-20}</string>
                <key>spriteSize</key>
                <string>{116,100}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1337,1},{116,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1011A_Q3_effup/0004</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{65,-20}</string>
                <key>spriteSize</key>
                <string>{120,100}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{245,1},{120,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1011A_Q3_effup/0005</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{69,-20}</string>
                <key>spriteSize</key>
                <string>{120,100}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{367,1},{120,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1011A_Q3_effup/0006</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{79,-20}</string>
                <key>spriteSize</key>
                <string>{120,100}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{489,1},{120,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1011A_Q3_effup/0007</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{90,-20}</string>
                <key>spriteSize</key>
                <string>{118,100}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1097,1},{118,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1011A_Q3_effup/0008</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{99,-20}</string>
                <key>spriteSize</key>
                <string>{116,100}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1455,1},{116,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1011A_Q3_effup/0009</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{113,-20}</string>
                <key>spriteSize</key>
                <string>{120,100}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{611,1},{120,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1011A_Q3_effup/0010</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{117,-20}</string>
                <key>spriteSize</key>
                <string>{120,100}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{733,1},{120,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1011A_Q3_effup/0011</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{126,-20}</string>
                <key>spriteSize</key>
                <string>{120,100}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{855,1},{120,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1011A_Q3_effup/0012</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{142,-20}</string>
                <key>spriteSize</key>
                <string>{118,100}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1217,1},{118,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1011A_Q3_effup/0013</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{146,-21}</string>
                <key>spriteSize</key>
                <string>{70,88}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1573,1},{70,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1011A_Q3_effup/0014</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{146,-21}</string>
                <key>spriteSize</key>
                <string>{70,88}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1573,1},{70,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1011A_Q3_effup/0015</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{150,-21}</string>
                <key>spriteSize</key>
                <string>{64,88}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1645,1},{64,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1011A_Q3_effup/0016</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{154,-21}</string>
                <key>spriteSize</key>
                <string>{64,88}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1711,1},{64,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1011A_Q3_effup/0017</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{155,-21}</string>
                <key>spriteSize</key>
                <string>{54,80}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1777,1},{54,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>1011A_Q3_effup.png</string>
            <key>size</key>
            <string>{1832,102}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3c6d63722aab646b5341139e78ef409e:e224d5f90d5339d34b809c3dae6bec50:1b2ea3ee647962ec1a989a42778d82ba$</string>
            <key>textureFileName</key>
            <string>1011A_Q3_effup.png</string>
        </dict>
    </dict>
</plist>
