<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1012A_A_S_effup/0000</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,11}</string>
                <key>spriteSize</key>
                <string>{70,8}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{365,1},{70,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1012A_A_S_effup/0001</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,11}</string>
                <key>spriteSize</key>
                <string>{70,8}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{437,1},{70,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1012A_A_S_effup/0002</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,11}</string>
                <key>spriteSize</key>
                <string>{70,10}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{231,1},{70,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1012A_A_S_effup/0003</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,11}</string>
                <key>spriteSize</key>
                <string>{70,10}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{231,1},{70,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1012A_A_S_effup/0004</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,12}</string>
                <key>spriteSize</key>
                <string>{78,10}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,1},{78,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1012A_A_S_effup/0005</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,12}</string>
                <key>spriteSize</key>
                <string>{74,10}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{81,1},{74,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1012A_A_S_effup/0006</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,11}</string>
                <key>spriteSize</key>
                <string>{72,10}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{157,1},{72,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1012A_A_S_effup/0007</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,11}</string>
                <key>spriteSize</key>
                <string>{60,10}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{303,1},{60,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>1012A_A_S_effup.png</string>
            <key>size</key>
            <string>{508,12}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:48bca61f4421858d0e9c010c9e3c35bd:e92445d124fb829a8fd710d386a944d2:b6f4c2606856396ad49038b28111a323$</string>
            <key>textureFileName</key>
            <string>1012A_A_S_effup.png</string>
        </dict>
    </dict>
</plist>
