<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1012A_A_X_effup/0000</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,11}</string>
                <key>spriteSize</key>
                <string>{74,14}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,1},{74,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1012A_A_X_effup/0001</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,11}</string>
                <key>spriteSize</key>
                <string>{74,14}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,1},{74,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>1012A_A_X_effup.png</string>
            <key>size</key>
            <string>{76,16}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bd8475fa1983d9da2f0fed5f6990fd49:ef726f3e6770b1bdb309b833828957f2:ade3ffcf9bb5ce87b3e7d499cd2710c4$</string>
            <key>textureFileName</key>
            <string>1012A_A_X_effup.png</string>
        </dict>
    </dict>
</plist>
