<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1015A_W1_effup/0000</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{35,-36}</string>
                <key>spriteSize</key>
                <string>{112,64}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{361,1},{112,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1015A_W1_effup/0001</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{35,-36}</string>
                <key>spriteSize</key>
                <string>{112,64}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{361,1},{112,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1015A_W1_effup/0002</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{77,-25}</string>
                <key>spriteSize</key>
                <string>{120,66}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,1},{120,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1015A_W1_effup/0003</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{77,-25}</string>
                <key>spriteSize</key>
                <string>{120,66}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,1},{120,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1015A_W1_effup/0004</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{120,-18}</string>
                <key>spriteSize</key>
                <string>{116,66}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{243,1},{116,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1015A_W1_effup/0005</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{120,-18}</string>
                <key>spriteSize</key>
                <string>{116,66}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{243,1},{116,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1015A_W1_effup/0006</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{158,-11}</string>
                <key>spriteSize</key>
                <string>{118,66}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{123,1},{118,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1015A_W1_effup/0007</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{158,-11}</string>
                <key>spriteSize</key>
                <string>{118,66}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{123,1},{118,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1015A_W1_effup/0008</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{184,-5}</string>
                <key>spriteSize</key>
                <string>{110,62}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,69},{110,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1015A_W1_effup/0009</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{184,-5}</string>
                <key>spriteSize</key>
                <string>{110,62}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,69},{110,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1015A_W1_effup/0010</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{186,0}</string>
                <key>spriteSize</key>
                <string>{108,62}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{113,69},{108,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1015A_W1_effup/0011</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{186,0}</string>
                <key>spriteSize</key>
                <string>{108,62}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{113,69},{108,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1015A_W1_effup/0012</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{189,2}</string>
                <key>spriteSize</key>
                <string>{102,60}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{223,131},{102,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1015A_W1_effup/0013</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{189,2}</string>
                <key>spriteSize</key>
                <string>{102,60}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{223,131},{102,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1015A_W1_effup/0014</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{187,3}</string>
                <key>spriteSize</key>
                <string>{106,60}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{223,69},{106,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1015A_W1_effup/0015</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{187,3}</string>
                <key>spriteSize</key>
                <string>{106,60}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{223,69},{106,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1015A_W1_effup/0016</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{183,4}</string>
                <key>spriteSize</key>
                <string>{100,58}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,133},{100,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1015A_W1_effup/0017</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{183,4}</string>
                <key>spriteSize</key>
                <string>{100,58}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,133},{100,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1015A_W1_effup/0018</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{169,6}</string>
                <key>spriteSize</key>
                <string>{96,54}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{427,1},{96,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1015A_W1_effup/0019</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{169,6}</string>
                <key>spriteSize</key>
                <string>{96,54}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{427,1},{96,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1015A_W1_effup/0020</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{154,8}</string>
                <key>spriteSize</key>
                <string>{90,52}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{427,99},{90,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1015A_W1_effup/0021</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{154,8}</string>
                <key>spriteSize</key>
                <string>{90,52}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{427,99},{90,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1015A_W1_effup/0022</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{119,11}</string>
                <key>spriteSize</key>
                <string>{96,56}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{103,133},{96,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1015A_W1_effup/0023</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{119,11}</string>
                <key>spriteSize</key>
                <string>{96,56}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{103,133},{96,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1015A_W1_effup/0024</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,4}</string>
                <key>spriteSize</key>
                <string>{96,60}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{327,131},{96,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1015A_W1_effup/0025</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,4}</string>
                <key>spriteSize</key>
                <string>{96,60}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{327,131},{96,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>1015A_W1_effup.png</string>
            <key>size</key>
            <string>{482,192}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5b4f780abcb4289baeb9dc0761d250a8:b7e35fd5ecc70022245d604d362da20f:ab6a7caf80bd58e3f9263eb98469add8$</string>
            <key>textureFileName</key>
            <string>1015A_W1_effup.png</string>
        </dict>
    </dict>
</plist>
