<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1015B_W1_effup/0000</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{35,-36}</string>
                <key>spriteSize</key>
                <string>{106,56}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{343,1},{106,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1015B_W1_effup/0001</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{35,-36}</string>
                <key>spriteSize</key>
                <string>{106,56}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{343,1},{106,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1015B_W1_effup/0002</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{77,-25}</string>
                <key>spriteSize</key>
                <string>{114,58}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,1},{114,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1015B_W1_effup/0003</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{77,-25}</string>
                <key>spriteSize</key>
                <string>{114,58}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,1},{114,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1015B_W1_effup/0004</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{120,-18}</string>
                <key>spriteSize</key>
                <string>{110,58}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{231,1},{110,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1015B_W1_effup/0005</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{120,-18}</string>
                <key>spriteSize</key>
                <string>{110,58}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{231,1},{110,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1015B_W1_effup/0006</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{158,-11}</string>
                <key>spriteSize</key>
                <string>{112,58}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{117,1},{112,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1015B_W1_effup/0007</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{158,-11}</string>
                <key>spriteSize</key>
                <string>{112,58}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{117,1},{112,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1015B_W1_effup/0008</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{184,-5}</string>
                <key>spriteSize</key>
                <string>{104,54}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{451,1},{104,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1015B_W1_effup/0009</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{184,-5}</string>
                <key>spriteSize</key>
                <string>{104,54}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{451,1},{104,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1015B_W1_effup/0010</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{186,0}</string>
                <key>spriteSize</key>
                <string>{102,54}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{557,1},{102,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1015B_W1_effup/0011</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{186,0}</string>
                <key>spriteSize</key>
                <string>{102,54}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{557,1},{102,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1015B_W1_effup/0012</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{190,2}</string>
                <key>spriteSize</key>
                <string>{98,52}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{763,1},{98,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1015B_W1_effup/0013</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{190,2}</string>
                <key>spriteSize</key>
                <string>{98,52}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{763,1},{98,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1015B_W1_effup/0014</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{187,3}</string>
                <key>spriteSize</key>
                <string>{100,52}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{661,1},{100,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1015B_W1_effup/0015</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{187,3}</string>
                <key>spriteSize</key>
                <string>{100,52}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{661,1},{100,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1015B_W1_effup/0016</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{183,4}</string>
                <key>spriteSize</key>
                <string>{94,50}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{955,1},{94,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1015B_W1_effup/0017</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{183,4}</string>
                <key>spriteSize</key>
                <string>{94,50}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{955,1},{94,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1015B_W1_effup/0018</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{169,6}</string>
                <key>spriteSize</key>
                <string>{90,46}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1143,1},{90,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1015B_W1_effup/0019</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{169,6}</string>
                <key>spriteSize</key>
                <string>{90,46}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1143,1},{90,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1015B_W1_effup/0020</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{154,8}</string>
                <key>spriteSize</key>
                <string>{84,44}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1235,1},{84,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1015B_W1_effup/0021</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{154,8}</string>
                <key>spriteSize</key>
                <string>{84,44}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1235,1},{84,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1015B_W1_effup/0022</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{118,11}</string>
                <key>spriteSize</key>
                <string>{90,48}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1051,1},{90,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1015B_W1_effup/0023</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{118,11}</string>
                <key>spriteSize</key>
                <string>{90,48}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1051,1},{90,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1015B_W1_effup/0024</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,4}</string>
                <key>spriteSize</key>
                <string>{90,52}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{863,1},{90,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1015B_W1_effup/0025</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,4}</string>
                <key>spriteSize</key>
                <string>{90,52}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{863,1},{90,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>1015B_W1_effup.png</string>
            <key>size</key>
            <string>{1320,60}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c74c8db02f3851b21d021227befd0862:d907cf98fd3bb249a25c4326161b8163:4f6329f198a2d1706fd05132a7baa1b1$</string>
            <key>textureFileName</key>
            <string>1015B_W1_effup.png</string>
        </dict>
    </dict>
</plist>
