<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1015B_W1_role/0000</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{67,-75}</string>
                <key>spriteSize</key>
                <string>{186,90}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{199,93},{186,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1015B_W1_role/0001</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{67,-75}</string>
                <key>spriteSize</key>
                <string>{186,90}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{199,93},{186,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1015B_W1_role/0002</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{155,-49}</string>
                <key>spriteSize</key>
                <string>{196,92}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1,99},{196,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1015B_W1_role/0003</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{155,-49}</string>
                <key>spriteSize</key>
                <string>{196,92}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1,99},{196,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1015B_W1_role/0004</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{237,-38}</string>
                <key>spriteSize</key>
                <string>{196,96}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1,1},{196,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1015B_W1_role/0005</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{237,-38}</string>
                <key>spriteSize</key>
                <string>{196,96}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1,1},{196,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1015B_W1_role/0006</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{317,-22}</string>
                <key>spriteSize</key>
                <string>{192,90}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{199,1},{192,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1015B_W1_role/0007</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{317,-22}</string>
                <key>spriteSize</key>
                <string>{192,90}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{199,1},{192,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1015B_W1_role/0008</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{364,-11}</string>
                <key>spriteSize</key>
                <string>{186,92}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1,193},{186,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1015B_W1_role/0009</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{364,-11}</string>
                <key>spriteSize</key>
                <string>{186,92}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1,193},{186,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1015B_W1_role/0010</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{372,1}</string>
                <key>spriteSize</key>
                <string>{176,84}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1,287},{176,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1015B_W1_role/0011</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{372,1}</string>
                <key>spriteSize</key>
                <string>{176,84}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1,287},{176,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1015B_W1_role/0012</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{377,2}</string>
                <key>spriteSize</key>
                <string>{172,84}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{179,287},{172,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1015B_W1_role/0013</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{377,2}</string>
                <key>spriteSize</key>
                <string>{172,84}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{179,287},{172,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1015B_W1_role/0014</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{375,6}</string>
                <key>spriteSize</key>
                <string>{170,80}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{199,185},{170,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1015B_W1_role/0015</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{375,6}</string>
                <key>spriteSize</key>
                <string>{170,80}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{199,185},{170,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1015B_W1_role/0016</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{364,5}</string>
                <key>spriteSize</key>
                <string>{166,80}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{371,185},{166,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1015B_W1_role/0017</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{364,5}</string>
                <key>spriteSize</key>
                <string>{166,80}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{371,185},{166,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1015B_W1_role/0018</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{338,13}</string>
                <key>spriteSize</key>
                <string>{152,72}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1,373},{152,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1015B_W1_role/0019</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{338,13}</string>
                <key>spriteSize</key>
                <string>{152,72}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1,373},{152,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1015B_W1_role/0020</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{305,15}</string>
                <key>spriteSize</key>
                <string>{148,72}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{309,373},{148,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1015B_W1_role/0021</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{305,15}</string>
                <key>spriteSize</key>
                <string>{148,72}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{309,373},{148,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1015B_W1_role/0022</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{238,22}</string>
                <key>spriteSize</key>
                <string>{152,72}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{155,373},{152,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1015B_W1_role/0023</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{238,22}</string>
                <key>spriteSize</key>
                <string>{152,72}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{155,373},{152,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1015B_W1_role/0024</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-478.5,318.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{189,193},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1015B_W1_role/0025</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-478.5,318.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{189,193},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>1015B_W1_role.png</string>
            <key>size</key>
            <string>{458,446}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b89c7592bdd3532855b9dfcb0808e086:ac5137b4724820cd20a8adc7a9daf0d7:4ec018cc8b6df80194320cefa8337165$</string>
            <key>textureFileName</key>
            <string>1015B_W1_role.png</string>
        </dict>
    </dict>
</plist>
