<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1020A_A4_effup/0000</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,1}</string>
                <key>spriteSize</key>
                <string>{46,66}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{81,165},{46,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1020A_A4_effup/0001</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,1}</string>
                <key>spriteSize</key>
                <string>{46,66}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{81,165},{46,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1020A_A4_effup/0002</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{30,36}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{377,87},{30,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1020A_A4_effup/0003</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{30,36}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{377,87},{30,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1020A_A4_effup/0004</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{46,54}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{411,175},{46,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1020A_A4_effup/0005</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{46,54}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{411,175},{46,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1020A_A4_effup/0006</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-1}</string>
                <key>spriteSize</key>
                <string>{70,78}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{1,165},{70,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1020A_A4_effup/0007</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{84,86}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{411,87},{84,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1020A_A4_effup/0008</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{84,86}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{411,87},{84,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1020A_A4_effup/0009</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,1}</string>
                <key>spriteSize</key>
                <string>{116,84}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{377,1},{116,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1020A_A4_effup/0010</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,1}</string>
                <key>spriteSize</key>
                <string>{116,84}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{377,1},{116,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1020A_A4_effup/0011</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{51,-10}</string>
                <key>spriteSize</key>
                <string>{124,86}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{285,143},{124,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1020A_A4_effup/0012</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{51,-10}</string>
                <key>spriteSize</key>
                <string>{124,86}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{285,143},{124,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1020A_A4_effup/0013</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{79,-4}</string>
                <key>spriteSize</key>
                <string>{162,84}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{1,1},{162,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1020A_A4_effup/0014</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{79,-4}</string>
                <key>spriteSize</key>
                <string>{162,84}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{1,1},{162,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1020A_A4_effup/0015</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{100,-4}</string>
                <key>spriteSize</key>
                <string>{154,74}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{129,159},{154,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1020A_A4_effup/0016</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{100,-4}</string>
                <key>spriteSize</key>
                <string>{154,74}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{129,159},{154,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1020A_A4_effup/0017</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{111,2}</string>
                <key>spriteSize</key>
                <string>{156,90}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{87,1},{156,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1020A_A4_effup/0018</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{111,2}</string>
                <key>spriteSize</key>
                <string>{156,90}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{87,1},{156,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1020A_A4_effup/0019</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{132,2}</string>
                <key>spriteSize</key>
                <string>{144,100}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{179,1},{144,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1020A_A4_effup/0020</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{132,2}</string>
                <key>spriteSize</key>
                <string>{144,100}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{179,1},{144,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1020A_A4_effup/0021</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{133,2}</string>
                <key>spriteSize</key>
                <string>{140,94}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{281,1},{140,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1020A_A4_effup/0022</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{133,2}</string>
                <key>spriteSize</key>
                <string>{140,94}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{281,1},{140,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>1020A_A4_effup.png</string>
            <key>size</key>
            <string>{496,236}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ebc1698e01a2066a5b9fec758523d844:7fec5044aa2b5b9ffdc5d5c71f2f362e:e624fd6881a1da2afdd9029e9fd32bfc$</string>
            <key>textureFileName</key>
            <string>1020A_A4_effup.png</string>
        </dict>
    </dict>
</plist>
