<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1020A_Q1_effup/0000</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,2}</string>
                <key>spriteSize</key>
                <string>{72,40}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{169,379},{72,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1020A_Q1_effup/0001</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{47,4}</string>
                <key>spriteSize</key>
                <string>{152,48}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{1,429},{152,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1020A_Q1_effup/0002</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{47,4}</string>
                <key>spriteSize</key>
                <string>{152,48}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{1,429},{152,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1020A_Q1_effup/0003</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{89,0}</string>
                <key>spriteSize</key>
                <string>{224,58}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{1,63},{224,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1020A_Q1_effup/0004</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{89,0}</string>
                <key>spriteSize</key>
                <string>{224,58}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{1,63},{224,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1020A_Q1_effup/0005</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{97,-2}</string>
                <key>spriteSize</key>
                <string>{224,58}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{1,123},{224,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1020A_Q1_effup/0006</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{97,-2}</string>
                <key>spriteSize</key>
                <string>{224,58}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{1,123},{224,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1020A_Q1_effup/0007</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{97,-2}</string>
                <key>spriteSize</key>
                <string>{224,58}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{1,123},{224,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1020A_Q1_effup/0008</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{106,-2}</string>
                <key>spriteSize</key>
                <string>{194,58}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{197,183},{194,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1020A_Q1_effup/0009</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{106,-2}</string>
                <key>spriteSize</key>
                <string>{194,58}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{197,183},{194,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1020A_Q1_effup/0010</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{106,-2}</string>
                <key>spriteSize</key>
                <string>{194,58}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{197,183},{194,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1020A_Q1_effup/0011</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{110,0}</string>
                <key>spriteSize</key>
                <string>{172,52}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{1,315},{172,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1020A_Q1_effup/0012</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{110,0}</string>
                <key>spriteSize</key>
                <string>{172,52}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{1,315},{172,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1020A_Q1_effup/0013</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{138,4}</string>
                <key>spriteSize</key>
                <string>{98,50}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{155,429},{98,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1020A_Q1_effup/0014</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{138,4}</string>
                <key>spriteSize</key>
                <string>{98,50}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{155,429},{98,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1020A_Q1_effup/0015</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{108,9}</string>
                <key>spriteSize</key>
                <string>{166,58}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{1,369},{166,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1020A_Q1_effup/0016</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{108,9}</string>
                <key>spriteSize</key>
                <string>{166,58}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{1,369},{166,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1020A_Q1_effup/0017</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{68,9}</string>
                <key>spriteSize</key>
                <string>{240,60}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{1,1},{240,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1020A_Q1_effup/0018</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{68,9}</string>
                <key>spriteSize</key>
                <string>{240,60}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{1,1},{240,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1020A_Q1_effup/0019</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{87,10}</string>
                <key>spriteSize</key>
                <string>{194,64}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{1,183},{194,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1020A_Q1_effup/0020</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{87,10}</string>
                <key>spriteSize</key>
                <string>{194,64}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{1,183},{194,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1020A_Q1_effup/0021</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{87,10}</string>
                <key>spriteSize</key>
                <string>{194,64}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{1,183},{194,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1020A_Q1_effup/0022</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{81,11}</string>
                <key>spriteSize</key>
                <string>{178,64}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{1,249},{178,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1020A_Q1_effup/0023</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{81,11}</string>
                <key>spriteSize</key>
                <string>{178,64}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{1,249},{178,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1020A_Q1_effup/0024</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{81,11}</string>
                <key>spriteSize</key>
                <string>{178,64}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{1,249},{178,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>1020A_Q1_effup.png</string>
            <key>size</key>
            <string>{256,480}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:566003ce7235cfdab6d84e3e1aa2486f:fa7898923633a3297dc2acb9247aa4f0:66483678e63eff60496b1813a5d35a01$</string>
            <key>textureFileName</key>
            <string>1020A_Q1_effup.png</string>
        </dict>
    </dict>
</plist>
