<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1020A_A3_effup/0000</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{36,48}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{405,351},{36,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1020A_A3_effup/0001</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{36,48}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{405,351},{36,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1020A_A3_effup/0002</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{70,92}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{347,279},{70,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1020A_A3_effup/0003</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{70,92}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{347,279},{70,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1020A_A3_effup/0004</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{80,96}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{353,109},{80,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1020A_A3_effup/0005</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,-8}</string>
                <key>spriteSize</key>
                <string>{130,120}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{283,351},{130,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1020A_A3_effup/0006</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,-8}</string>
                <key>spriteSize</key>
                <string>{130,120}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{283,351},{130,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1020A_A3_effup/0007</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{51,-66}</string>
                <key>spriteSize</key>
                <string>{180,158}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{1,1},{180,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1020A_A3_effup/0008</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{51,-66}</string>
                <key>spriteSize</key>
                <string>{180,158}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{1,1},{180,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1020A_A3_effup/0009</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{77,-64}</string>
                <key>spriteSize</key>
                <string>{134,156}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{147,323},{134,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1020A_A3_effup/0010</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{77,-64}</string>
                <key>spriteSize</key>
                <string>{134,156}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{147,323},{134,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1020A_A3_effup/0011</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{103,-63}</string>
                <key>spriteSize</key>
                <string>{168,164}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{183,1},{168,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1020A_A3_effup/0012</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{103,-63}</string>
                <key>spriteSize</key>
                <string>{168,164}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{183,1},{168,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1020A_A3_effup/0013</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{113,-63}</string>
                <key>spriteSize</key>
                <string>{168,154}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{177,167},{168,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1020A_A3_effup/0014</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{113,-63}</string>
                <key>spriteSize</key>
                <string>{168,154}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{177,167},{168,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1020A_A3_effup/0015</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{162,-68}</string>
                <key>spriteSize</key>
                <string>{174,152}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{1,161},{174,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1020A_A3_effup/0016</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{162,-68}</string>
                <key>spriteSize</key>
                <string>{174,152}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{1,161},{174,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1020A_A3_effup/0017</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{178,-70}</string>
                <key>spriteSize</key>
                <string>{146,144}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{1,315},{146,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1020A_A3_effup/0018</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{178,-70}</string>
                <key>spriteSize</key>
                <string>{146,144}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{1,315},{146,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1020A_A3_effup/0019</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{205,-88}</string>
                <key>spriteSize</key>
                <string>{92,106}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{353,1},{92,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1020A_A3_effup/0020</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{205,-88}</string>
                <key>spriteSize</key>
                <string>{92,106}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{353,1},{92,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1020A_A3_effup/0021</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{204,-104}</string>
                <key>spriteSize</key>
                <string>{92,70}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{347,207},{92,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1020A_A3_effup/0022</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{204,-104}</string>
                <key>spriteSize</key>
                <string>{92,70}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{347,207},{92,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>1020A_A3_effup.png</string>
            <key>size</key>
            <string>{446,482}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6bc160f23798eae76d7df39e8636dda1:05419067c69d3dd4628b30680052dbfc:f5e85736ad8e00831cc3f1e05e721d30$</string>
            <key>textureFileName</key>
            <string>1020A_A3_effup.png</string>
        </dict>
    </dict>
</plist>
