<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1020A_A1_effup/0000</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,1}</string>
                <key>spriteSize</key>
                <string>{62,38}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{223,1},{62,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1020A_A1_effup/0001</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{61,1}</string>
                <key>spriteSize</key>
                <string>{78,44}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{1,1},{78,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1020A_A1_effup/0002</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{61,1}</string>
                <key>spriteSize</key>
                <string>{78,44}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{1,1},{78,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1020A_A1_effup/0003</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{91,2}</string>
                <key>spriteSize</key>
                <string>{64,42}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{157,1},{64,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1020A_A1_effup/0004</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{91,2}</string>
                <key>spriteSize</key>
                <string>{64,42}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{157,1},{64,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1020A_A1_effup/0005</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{100,2}</string>
                <key>spriteSize</key>
                <string>{46,44}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{403,1},{46,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1020A_A1_effup/0006</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{100,2}</string>
                <key>spriteSize</key>
                <string>{46,44}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{403,1},{46,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1020A_A1_effup/0007</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{100,2}</string>
                <key>spriteSize</key>
                <string>{46,44}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{403,1},{46,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1020A_A1_effup/0008</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{95,1}</string>
                <key>spriteSize</key>
                <string>{54,42}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{347,1},{54,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1020A_A1_effup/0009</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{95,1}</string>
                <key>spriteSize</key>
                <string>{54,42}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{347,1},{54,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1020A_A1_effup/0010</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{95,1}</string>
                <key>spriteSize</key>
                <string>{54,42}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{347,1},{54,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1020A_A1_effup/0011</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{52,2}</string>
                <key>spriteSize</key>
                <string>{58,40}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{287,1},{58,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1020A_A1_effup/0012</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{52,2}</string>
                <key>spriteSize</key>
                <string>{58,40}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{287,1},{58,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1020A_A1_effup/0013</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,0}</string>
                <key>spriteSize</key>
                <string>{74,40}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{81,1},{74,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>1020A_A1_effup.png</string>
            <key>size</key>
            <string>{450,46}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:97113df04fa249f6b1f1d345d85292bf:fa6394e194c9d128f6e9f99a1365f406:a2ff2d8bbb7e72b8e32b7d28021cef7a$</string>
            <key>textureFileName</key>
            <string>1020A_A1_effup.png</string>
        </dict>
    </dict>
</plist>
