<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1020_A2_effup/0000</key>
            <dict>
                <key>frame</key>
                <string>{{112,138},{68,46}}</string>
                <key>offset</key>
                <string>{24,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{315,147},{68,46}}</string>
                <key>sourceSize</key>
                <string>{650,320}</string>
            </dict>
            <key>1020_A2_effup/0001</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{90,56}}</string>
                <key>offset</key>
                <string>{75,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{355,130},{90,56}}</string>
                <key>sourceSize</key>
                <string>{650,320}</string>
            </dict>
            <key>1020_A2_effup/0002</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{112,68}}</string>
                <key>offset</key>
                <string>{118,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{387,109},{112,68}}</string>
                <key>sourceSize</key>
                <string>{650,320}</string>
            </dict>
            <key>1020_A2_effup/0003</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{112,68}}</string>
                <key>offset</key>
                <string>{118,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{387,109},{112,68}}</string>
                <key>sourceSize</key>
                <string>{650,320}</string>
            </dict>
            <key>1020_A2_effup/0004</key>
            <dict>
                <key>frame</key>
                <string>{{126,64},{92,56}}</string>
                <key>offset</key>
                <string>{138,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{417,113},{92,56}}</string>
                <key>sourceSize</key>
                <string>{650,320}</string>
            </dict>
            <key>1020_A2_effup/0005</key>
            <dict>
                <key>frame</key>
                <string>{{126,64},{92,56}}</string>
                <key>offset</key>
                <string>{138,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{417,113},{92,56}}</string>
                <key>sourceSize</key>
                <string>{650,320}</string>
            </dict>
            <key>1020_A2_effup/0006</key>
            <dict>
                <key>frame</key>
                <string>{{126,64},{92,56}}</string>
                <key>offset</key>
                <string>{138,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{417,113},{92,56}}</string>
                <key>sourceSize</key>
                <string>{650,320}</string>
            </dict>
            <key>1020_A2_effup/0007</key>
            <dict>
                <key>frame</key>
                <string>{{160,122},{62,64}}</string>
                <key>offset</key>
                <string>{152,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{446,114},{62,64}}</string>
                <key>sourceSize</key>
                <string>{650,320}</string>
            </dict>
            <key>1020_A2_effup/0008</key>
            <dict>
                <key>frame</key>
                <string>{{160,122},{62,64}}</string>
                <key>offset</key>
                <string>{152,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{446,114},{62,64}}</string>
                <key>sourceSize</key>
                <string>{650,320}</string>
            </dict>
            <key>1020_A2_effup/0009</key>
            <dict>
                <key>frame</key>
                <string>{{160,122},{62,64}}</string>
                <key>offset</key>
                <string>{152,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{446,114},{62,64}}</string>
                <key>sourceSize</key>
                <string>{650,320}</string>
            </dict>
            <key>1020_A2_effup/0010</key>
            <dict>
                <key>frame</key>
                <string>{{126,2},{98,60}}</string>
                <key>offset</key>
                <string>{117,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{393,118},{98,60}}</string>
                <key>sourceSize</key>
                <string>{650,320}</string>
            </dict>
            <key>1020_A2_effup/0011</key>
            <dict>
                <key>frame</key>
                <string>{{126,2},{98,60}}</string>
                <key>offset</key>
                <string>{117,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{393,118},{98,60}}</string>
                <key>sourceSize</key>
                <string>{650,320}</string>
            </dict>
            <key>1020_A2_effup/0012</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{122,64}}</string>
                <key>offset</key>
                <string>{90,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{354,105},{122,64}}</string>
                <key>sourceSize</key>
                <string>{650,320}</string>
            </dict>
            <key>1020_A2_effup/0013</key>
            <dict>
                <key>frame</key>
                <string>{{60,138},{82,50}}</string>
                <key>offset</key>
                <string>{36,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{320,107},{82,50}}</string>
                <key>sourceSize</key>
                <string>{650,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1020_A2_effup.png</string>
            <key>size</key>
            <string>{230,230}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b88826abf592e0245be4dff13e0cff36:1/1$</string>
            <key>textureFileName</key>
            <string>1020_A2_effup.png</string>
        </dict>
    </dict>
</plist>
