<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1020A_A2_effup/0000</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,-10}</string>
                <key>spriteSize</key>
                <string>{66,42}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{1,1},{66,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1020A_A2_effup/0001</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{74,2}</string>
                <key>spriteSize</key>
                <string>{90,52}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{153,1},{90,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1020A_A2_effup/0002</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{117,17}</string>
                <key>spriteSize</key>
                <string>{112,64}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{127,113},{112,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1020A_A2_effup/0003</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{117,17}</string>
                <key>spriteSize</key>
                <string>{112,64}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{127,113},{112,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1020A_A2_effup/0004</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{136,19}</string>
                <key>spriteSize</key>
                <string>{90,52}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{1,47},{90,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1020A_A2_effup/0005</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{136,19}</string>
                <key>spriteSize</key>
                <string>{90,52}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{1,47},{90,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1020A_A2_effup/0006</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{136,19}</string>
                <key>spriteSize</key>
                <string>{90,52}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{1,47},{90,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1020A_A2_effup/0007</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{152,14}</string>
                <key>spriteSize</key>
                <string>{58,58}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{93,47},{58,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1020A_A2_effup/0008</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{152,14}</string>
                <key>spriteSize</key>
                <string>{58,58}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{93,47},{58,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1020A_A2_effup/0009</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{152,14}</string>
                <key>spriteSize</key>
                <string>{58,58}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{93,47},{58,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1020A_A2_effup/0010</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{116,10}</string>
                <key>spriteSize</key>
                <string>{96,56}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{153,55},{96,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1020A_A2_effup/0011</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{116,10}</string>
                <key>spriteSize</key>
                <string>{96,56}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{153,55},{96,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1020A_A2_effup/0012</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{90,23}</string>
                <key>spriteSize</key>
                <string>{124,62}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{1,107},{124,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1020A_A2_effup/0013</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{36,28}</string>
                <key>spriteSize</key>
                <string>{82,44}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{69,1},{82,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>1020A_A2_effup.png</string>
            <key>size</key>
            <string>{250,178}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9acfa59af7bfc5d053469aa2051c055e:ffdd0f75fd44af3ee89176246cee633c:8c0d9fe5f92cee4c63c0b47fd2909020$</string>
            <key>textureFileName</key>
            <string>1020A_A2_effup.png</string>
        </dict>
    </dict>
</plist>
