<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1032_R_effdown/0000</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,93}</string>
                <key>spriteSize</key>
                <string>{58,134}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{417,769},{58,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1032_R_effdown/0001</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,93}</string>
                <key>spriteSize</key>
                <string>{58,134}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{417,769},{58,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1032_R_effdown/0002</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,93}</string>
                <key>spriteSize</key>
                <string>{58,134}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{417,769},{58,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1032_R_effdown/0003</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,52}</string>
                <key>spriteSize</key>
                <string>{70,216}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{203,605},{70,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1032_R_effdown/0004</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,52}</string>
                <key>spriteSize</key>
                <string>{70,216}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{203,605},{70,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1032_R_effdown/0005</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,52}</string>
                <key>spriteSize</key>
                <string>{70,216}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{203,605},{70,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1032_R_effdown/0006</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-238.5,158.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,809},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1032_R_effdown/0007</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-238.5,158.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,809},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1032_R_effdown/0008</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-238.5,158.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,809},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1032_R_effdown/0009</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-238.5,158.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,809},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1032_R_effdown/0010</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,43}</string>
                <key>spriteSize</key>
                <string>{246,234}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{403,1},{246,234}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1032_R_effdown/0011</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-36}</string>
                <key>spriteSize</key>
                <string>{244,76}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{489,495},{244,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1032_R_effdown/0012</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-32}</string>
                <key>spriteSize</key>
                <string>{244,84}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{429,249},{244,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1032_R_effdown/0013</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-22}</string>
                <key>spriteSize</key>
                <string>{282,120}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{209,1},{282,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1032_R_effdown/0014</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-9}</string>
                <key>spriteSize</key>
                <string>{306,134}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,1},{306,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1032_R_effdown/0015</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-41}</string>
                <key>spriteSize</key>
                <string>{242,70}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{553,741},{242,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1032_R_effdown/0016</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-41}</string>
                <key>spriteSize</key>
                <string>{240,70}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{851,1},{240,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1032_R_effdown/0017</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-41}</string>
                <key>spriteSize</key>
                <string>{242,70}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{779,1},{242,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1032_R_effdown/0018</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-40}</string>
                <key>spriteSize</key>
                <string>{268,70}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{345,561},{268,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1032_R_effdown/0019</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-41}</string>
                <key>spriteSize</key>
                <string>{300,70}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{137,1},{300,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1032_R_effdown/0020</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-41}</string>
                <key>spriteSize</key>
                <string>{244,68}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{567,495},{244,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1032_R_effdown/0021</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-41}</string>
                <key>spriteSize</key>
                <string>{300,70}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{145,303},{300,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1032_R_effdown/0022</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-40}</string>
                <key>spriteSize</key>
                <string>{268,70}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{331,1},{268,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1032_R_effdown/0023</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-41}</string>
                <key>spriteSize</key>
                <string>{244,68}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{587,249},{244,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1032_R_effdown/0024</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-41}</string>
                <key>spriteSize</key>
                <string>{244,68}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{637,495},{244,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1032_R_effdown/0025</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,-41}</string>
                <key>spriteSize</key>
                <string>{248,68}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{359,271},{248,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1032_R_effdown/0026</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-41}</string>
                <key>spriteSize</key>
                <string>{274,68}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{289,285},{274,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1032_R_effdown/0027</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-42}</string>
                <key>spriteSize</key>
                <string>{304,70}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{73,309},{304,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1032_R_effdown/0028</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-41}</string>
                <key>spriteSize</key>
                <string>{240,70}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{867,243},{240,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1032_R_effdown/0029</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-42}</string>
                <key>spriteSize</key>
                <string>{306,70}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,309},{306,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1032_R_effdown/0030</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-41}</string>
                <key>spriteSize</key>
                <string>{278,70}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{217,285},{278,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1032_R_effdown/0031</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-41}</string>
                <key>spriteSize</key>
                <string>{252,68}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{275,565},{252,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1032_R_effdown/0032</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-41}</string>
                <key>spriteSize</key>
                <string>{244,70}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{515,249},{244,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1032_R_effdown/0033</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-41}</string>
                <key>spriteSize</key>
                <string>{244,68}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{639,1},{244,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1032_R_effdown/0034</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-40}</string>
                <key>spriteSize</key>
                <string>{246,70}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{417,521},{246,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1032_R_effdown/0035</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-41}</string>
                <key>spriteSize</key>
                <string>{244,68}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{657,247},{244,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1032_R_effdown/0036</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-41}</string>
                <key>spriteSize</key>
                <string>{244,68}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{709,1},{244,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1032_R_effdown/0037</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-41}</string>
                <key>spriteSize</key>
                <string>{244,68}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{707,493},{244,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1032_R_effdown/0038</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-41}</string>
                <key>spriteSize</key>
                <string>{244,68}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{727,247},{244,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1032_R_effdown/0039</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-41}</string>
                <key>spriteSize</key>
                <string>{242,68}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{797,245},{242,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1032_R_effdown/0040</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-41}</string>
                <key>spriteSize</key>
                <string>{240,66}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{923,1},{240,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1032_R_effdown/0041</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-41}</string>
                <key>spriteSize</key>
                <string>{240,66}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{797,563},{240,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1032_R_effdown/0042</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-41}</string>
                <key>spriteSize</key>
                <string>{240,66}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{865,563},{240,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1032_R_effdown/0043</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-41}</string>
                <key>spriteSize</key>
                <string>{238,68}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{939,243},{238,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1032_R_effdown/0044</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-41}</string>
                <key>spriteSize</key>
                <string>{236,68}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{777,493},{236,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1032_R_effdown/0045</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-41}</string>
                <key>spriteSize</key>
                <string>{190,66}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,617},{190,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1032_R_effdown/0046</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-41}</string>
                <key>spriteSize</key>
                <string>{190,66}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{69,617},{190,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1032_R_effdown/0047</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-41}</string>
                <key>spriteSize</key>
                <string>{190,64}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{137,615},{190,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1032_R_effdown/0048</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-41}</string>
                <key>spriteSize</key>
                <string>{186,62}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{933,563},{186,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>1032_R_effdown.png</string>
            <key>size</key>
            <string>{1014,830}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:21c8cff0d71ab8be53ccad1a6eb1c2e0:deaccf5e1958095f926844d782d01828:01c962d4ea6b4ee34733d1c8b399e7eb$</string>
            <key>textureFileName</key>
            <string>1032_R_effdown.png</string>
        </dict>
    </dict>
</plist>
