<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1033_Q_effup/0000</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,0}</string>
                <key>spriteSize</key>
                <string>{148,58}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{155,1},{148,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1033_Q_effup/0001</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,0}</string>
                <key>spriteSize</key>
                <string>{148,58}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{155,1},{148,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1033_Q_effup/0002</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,0}</string>
                <key>spriteSize</key>
                <string>{152,60}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,1},{152,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1033_Q_effup/0003</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,0}</string>
                <key>spriteSize</key>
                <string>{152,60}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,1},{152,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1033_Q_effup/0004</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{152,54}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{305,1},{152,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1033_Q_effup/0005</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{152,54}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{305,1},{152,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1033_Q_effup/0006</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,0}</string>
                <key>spriteSize</key>
                <string>{148,58}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{155,1},{148,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1033_Q_effup/0007</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,0}</string>
                <key>spriteSize</key>
                <string>{148,58}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{155,1},{148,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1033_Q_effup/0008</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,0}</string>
                <key>spriteSize</key>
                <string>{152,60}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,1},{152,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1033_Q_effup/0009</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,0}</string>
                <key>spriteSize</key>
                <string>{152,60}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,1},{152,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1033_Q_effup/0010</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{152,54}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{305,1},{152,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1033_Q_effup/0011</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{152,54}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{305,1},{152,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1033_Q_effup/0012</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,0}</string>
                <key>spriteSize</key>
                <string>{148,58}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{155,1},{148,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1033_Q_effup/0013</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,0}</string>
                <key>spriteSize</key>
                <string>{148,58}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{155,1},{148,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1033_Q_effup/0014</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,0}</string>
                <key>spriteSize</key>
                <string>{152,60}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,1},{152,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1033_Q_effup/0015</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,0}</string>
                <key>spriteSize</key>
                <string>{152,60}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,1},{152,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1033_Q_effup/0016</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{152,54}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{305,1},{152,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1033_Q_effup/0017</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{152,54}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{305,1},{152,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1033_Q_effup/0018</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,0}</string>
                <key>spriteSize</key>
                <string>{148,58}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{155,1},{148,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1033_Q_effup/0019</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,0}</string>
                <key>spriteSize</key>
                <string>{148,58}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{155,1},{148,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1033_Q_effup/0020</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,0}</string>
                <key>spriteSize</key>
                <string>{152,60}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,1},{152,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1033_Q_effup/0021</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,0}</string>
                <key>spriteSize</key>
                <string>{152,60}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,1},{152,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1033_Q_effup/0022</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{152,54}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{305,1},{152,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1033_Q_effup/0023</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{152,54}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{305,1},{152,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1033_Q_effup/0024</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,0}</string>
                <key>spriteSize</key>
                <string>{148,58}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{155,1},{148,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1033_Q_effup/0025</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,0}</string>
                <key>spriteSize</key>
                <string>{148,58}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{155,1},{148,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1033_Q_effup/0026</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,0}</string>
                <key>spriteSize</key>
                <string>{152,60}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,1},{152,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1033_Q_effup/0027</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,0}</string>
                <key>spriteSize</key>
                <string>{152,60}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,1},{152,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1033_Q_effup/0028</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{152,54}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{305,1},{152,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1033_Q_effup/0029</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{152,54}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{305,1},{152,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1033_Q_effup/0030</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,0}</string>
                <key>spriteSize</key>
                <string>{148,58}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{155,1},{148,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1033_Q_effup/0031</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,0}</string>
                <key>spriteSize</key>
                <string>{148,58}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{155,1},{148,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1033_Q_effup/0032</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,0}</string>
                <key>spriteSize</key>
                <string>{152,60}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,1},{152,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1033_Q_effup/0033</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,0}</string>
                <key>spriteSize</key>
                <string>{152,60}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,1},{152,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1033_Q_effup/0034</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{152,54}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{305,1},{152,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1033_Q_effup/0035</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{152,54}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{305,1},{152,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>1033_Q_effup.png</string>
            <key>size</key>
            <string>{458,62}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:52f0a7dc1cc982a13f4294c193ca269f:f401ad16d7133b772b290a7d94977008:3f1b1d0fc3de29b9951567d2b5594dac$</string>
            <key>textureFileName</key>
            <string>1033_Q_effup.png</string>
        </dict>
    </dict>
</plist>
