<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1033_A3_effup/0000</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,2}</string>
                <key>spriteSize</key>
                <string>{102,46}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,43},{102,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1033_A3_effup/0001</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,2}</string>
                <key>spriteSize</key>
                <string>{102,46}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,43},{102,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1033_A3_effup/0002</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,1}</string>
                <key>spriteSize</key>
                <string>{106,40}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,1},{106,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1033_A3_effup/0003</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,1}</string>
                <key>spriteSize</key>
                <string>{106,40}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,1},{106,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>1033_A3_effup.png</string>
            <key>size</key>
            <string>{108,90}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1f09f78f6512851db607d8350038187c:2870fd80a540c9ff6c0bf8c5f9c245da:f85a5a7913439ad9c6adf562ce788b6a$</string>
            <key>textureFileName</key>
            <string>1033_A3_effup.png</string>
        </dict>
    </dict>
</plist>
