<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1034_R_role/0000</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-478.5,318.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{289,461},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1034_R_role/0001</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-315,-120}</string>
                <key>spriteSize</key>
                <string>{308,106}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1429,1179},{308,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1034_R_role/0002</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-308,-111}</string>
                <key>spriteSize</key>
                <string>{308,124}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1479,869},{308,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1034_R_role/0003</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-302,-98}</string>
                <key>spriteSize</key>
                <string>{300,150}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1877,1699},{300,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1034_R_role/0004</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-271,-88}</string>
                <key>spriteSize</key>
                <string>{350,178}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1,1839},{350,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1034_R_role/0005</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-260,-76}</string>
                <key>spriteSize</key>
                <string>{356,204}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{353,1815},{356,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1034_R_role/0006</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-228,-81}</string>
                <key>spriteSize</key>
                <string>{422,216}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1211,871},{422,216}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1034_R_role/0007</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-200,-62}</string>
                <key>spriteSize</key>
                <string>{418,254}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1223,1295},{418,254}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1034_R_role/0008</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-181,-67}</string>
                <key>spriteSize</key>
                <string>{404,268}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1627,1},{404,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1034_R_role/0009</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-155,-61}</string>
                <key>spriteSize</key>
                <string>{402,262}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1217,1},{402,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1034_R_role/0010</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-136,-64}</string>
                <key>spriteSize</key>
                <string>{390,272}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1627,569},{390,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1034_R_role/0011</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-76,-70}</string>
                <key>spriteSize</key>
                <string>{458,288}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{289,1},{458,288}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1034_R_role/0012</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-47,-65}</string>
                <key>spriteSize</key>
                <string>{466,286}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1,1},{466,286}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1034_R_role/0013</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,-70}</string>
                <key>spriteSize</key>
                <string>{452,298}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1,1385},{452,298}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1034_R_role/0014</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-60}</string>
                <key>spriteSize</key>
                <string>{454,282}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1,929},{454,282}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1034_R_role/0015</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,-61}</string>
                <key>spriteSize</key>
                <string>{442,288}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{285,929},{442,288}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1034_R_role/0016</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{43,-57}</string>
                <key>spriteSize</key>
                <string>{440,284}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{307,461},{440,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1034_R_role/0017</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{64,-56}</string>
                <key>spriteSize</key>
                <string>{428,288}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{933,1319},{428,288}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1034_R_role/0018</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{103,-62}</string>
                <key>spriteSize</key>
                <string>{458,304}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1,469},{458,304}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1034_R_role/0019</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{115,-58}</string>
                <key>spriteSize</key>
                <string>{428,300}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{915,441},{428,300}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1034_R_role/0020</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{117,-62}</string>
                <key>spriteSize</key>
                <string>{396,314}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1217,265},{396,314}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1034_R_role/0021</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{121,-43}</string>
                <key>spriteSize</key>
                <string>{414,296}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1615,271},{414,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1034_R_role/0022</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{110,-61}</string>
                <key>spriteSize</key>
                <string>{318,248}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1627,1699},{318,248}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1034_R_role/0023</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{123,-63}</string>
                <key>spriteSize</key>
                <string>{318,252}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1479,1287},{318,252}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1034_R_role/0024</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{122,-48}</string>
                <key>spriteSize</key>
                <string>{336,304}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1733,1361},{336,304}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1034_R_role/0025</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{113,-33}</string>
                <key>spriteSize</key>
                <string>{234,274}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{711,1783},{234,274}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1034_R_role/0026</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{100,-37}</string>
                <key>spriteSize</key>
                <string>{272,286}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1739,1087},{272,286}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1034_R_role/0027</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{101,-37}</string>
                <key>spriteSize</key>
                <string>{394,286}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1217,581},{394,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1034_R_role/0028</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{101,-24}</string>
                <key>spriteSize</key>
                <string>{394,308}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1231,1715},{394,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1034_R_role/0029</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{101,-26}</string>
                <key>spriteSize</key>
                <string>{438,312}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{619,1343},{438,312}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1034_R_role/0030</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{101,-25}</string>
                <key>spriteSize</key>
                <string>{438,314}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{901,1},{438,314}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1034_R_role/0031</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{101,-24}</string>
                <key>spriteSize</key>
                <string>{436,312}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{897,881},{436,312}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1034_R_role/0032</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{101,-23}</string>
                <key>spriteSize</key>
                <string>{438,320}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{579,1},{438,320}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1034_R_role/0033</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{101,-21}</string>
                <key>spriteSize</key>
                <string>{440,316}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{301,1373},{440,316}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1034_R_role/0034</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{100,-29}</string>
                <key>spriteSize</key>
                <string>{438,320}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{575,903},{438,320}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1034_R_role/0035</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{100,-29}</string>
                <key>spriteSize</key>
                <string>{438,320}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{593,441},{438,320}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1034_R_role/0036</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{100,-69}</string>
                <key>spriteSize</key>
                <string>{348,242}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1627,843},{348,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1034_R_role/0037</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{105,-69}</string>
                <key>spriteSize</key>
                <string>{274,242}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{987,1749},{274,242}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1034_R_role/0038</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-478.5,318.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{289,461},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>1034_R_role.png</string>
            <key>size</key>
            <string>{2038,2024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2578de3934401ba5f0ab33c747e55d3a:41cb5966da766a07ddf525feab6cd821:34f78f4bb73543d8a36129a28b9ded40$</string>
            <key>textureFileName</key>
            <string>1034_R_role.png</string>
        </dict>
    </dict>
</plist>
