<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1034_R_effdown/0000</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-238.5,158.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{923,145},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1034_R_effdown/0001</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-158,-60}</string>
                <key>spriteSize</key>
                <string>{156,54}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{363,783},{156,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1034_R_effdown/0002</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-154,-55}</string>
                <key>spriteSize</key>
                <string>{156,64}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{205,783},{156,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1034_R_effdown/0003</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-151,-49}</string>
                <key>spriteSize</key>
                <string>{150,76}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{923,179},{150,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1034_R_effdown/0004</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-136,-44}</string>
                <key>spriteSize</key>
                <string>{176,90}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{929,1},{176,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1034_R_effdown/0005</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-130,-38}</string>
                <key>spriteSize</key>
                <string>{178,104}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{917,331},{178,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1034_R_effdown/0006</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-114,-41}</string>
                <key>spriteSize</key>
                <string>{212,108}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,617},{212,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1034_R_effdown/0007</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-100,-31}</string>
                <key>spriteSize</key>
                <string>{210,128}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{439,607},{210,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1034_R_effdown/0008</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-90,-33}</string>
                <key>spriteSize</key>
                <string>{202,136}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,727},{202,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1034_R_effdown/0009</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-78,-31}</string>
                <key>spriteSize</key>
                <string>{202,132}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,865},{202,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1034_R_effdown/0010</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-68,-32}</string>
                <key>spriteSize</key>
                <string>{196,136}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{651,617},{196,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1034_R_effdown/0011</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-38,-35}</string>
                <key>spriteSize</key>
                <string>{230,146}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,145},{230,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1034_R_effdown/0012</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-33}</string>
                <key>spriteSize</key>
                <string>{234,142}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,1},{234,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1034_R_effdown/0013</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-35}</string>
                <key>spriteSize</key>
                <string>{228,150}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{469,1},{228,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1034_R_effdown/0014</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-30}</string>
                <key>spriteSize</key>
                <string>{228,142}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{699,1},{228,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1034_R_effdown/0015</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-30}</string>
                <key>spriteSize</key>
                <string>{222,146}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{693,309},{222,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1034_R_effdown/0016</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-28}</string>
                <key>spriteSize</key>
                <string>{222,144}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{457,315},{222,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1034_R_effdown/0017</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{32,-28}</string>
                <key>spriteSize</key>
                <string>{216,144}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{447,461},{216,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1034_R_effdown/0018</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{52,-31}</string>
                <key>spriteSize</key>
                <string>{230,154}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{237,1},{230,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1034_R_effdown/0019</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{58,-29}</string>
                <key>spriteSize</key>
                <string>{214,150}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{223,481},{214,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1034_R_effdown/0020</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{59,-31}</string>
                <key>spriteSize</key>
                <string>{198,158}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{439,839},{198,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1034_R_effdown/0021</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{60,-22}</string>
                <key>spriteSize</key>
                <string>{208,148}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{215,633},{208,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1034_R_effdown/0022</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{55,-30}</string>
                <key>spriteSize</key>
                <string>{160,126}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{729,881},{160,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1034_R_effdown/0023</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{62,-31}</string>
                <key>spriteSize</key>
                <string>{160,128}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{599,881},{160,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1034_R_effdown/0024</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{61,-24}</string>
                <key>spriteSize</key>
                <string>{168,152}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{849,651},{168,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1034_R_effdown/0025</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{56,-17}</string>
                <key>spriteSize</key>
                <string>{120,138}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{903,511},{120,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1034_R_effdown/0026</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{50,-18}</string>
                <key>spriteSize</key>
                <string>{138,144}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{857,805},{138,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1034_R_effdown/0027</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{50,-18}</string>
                <key>spriteSize</key>
                <string>{200,144}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{293,849},{200,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1034_R_effdown/0028</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{50,-12}</string>
                <key>spriteSize</key>
                <string>{200,156}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{135,865},{200,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1034_R_effdown/0029</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{50,-13}</string>
                <key>spriteSize</key>
                <string>{222,158}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{233,157},{222,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1034_R_effdown/0030</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{50,-13}</string>
                <key>spriteSize</key>
                <string>{222,158}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,293},{222,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1034_R_effdown/0031</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{50,-12}</string>
                <key>spriteSize</key>
                <string>{220,158}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{681,457},{220,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1034_R_effdown/0032</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{50,-11}</string>
                <key>spriteSize</key>
                <string>{222,162}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{699,145},{222,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1034_R_effdown/0033</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{50,-10}</string>
                <key>spriteSize</key>
                <string>{222,160}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{469,153},{222,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1034_R_effdown/0034</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{50,-14}</string>
                <key>spriteSize</key>
                <string>{220,162}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{225,317},{220,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1034_R_effdown/0035</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{50,-14}</string>
                <key>spriteSize</key>
                <string>{220,162}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,453},{220,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1034_R_effdown/0036</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{50,-34}</string>
                <key>spriteSize</key>
                <string>{176,124}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{599,755},{176,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1034_R_effdown/0037</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{52,-34}</string>
                <key>spriteSize</key>
                <string>{140,124}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{857,945},{140,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1034_R_effdown/0038</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-238.5,158.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{923,145},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>1034_R_effdown.png</string>
            <key>size</key>
            <string>{1024,1070}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bf23a4e073f1eac727602233595994eb:5add150490128b43a4aada9dba8ee67d:897b7d79a6ef6e797d472cc34104bf07$</string>
            <key>textureFileName</key>
            <string>1034_R_effdown.png</string>
        </dict>
    </dict>
</plist>
