<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1036_Q1_role/0000</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,-52}</string>
                <key>spriteSize</key>
                <string>{112,128}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{135,131},{112,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1036_Q1_role/0001</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,-52}</string>
                <key>spriteSize</key>
                <string>{112,128}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{135,131},{112,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1036_Q1_role/0002</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,-52}</string>
                <key>spriteSize</key>
                <string>{112,128}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{135,131},{112,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1036_Q1_role/0003</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,-52}</string>
                <key>spriteSize</key>
                <string>{112,128}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{135,131},{112,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1036_Q1_role/0004</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,-52}</string>
                <key>spriteSize</key>
                <string>{112,128}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{135,131},{112,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1036_Q1_role/0005</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,-52}</string>
                <key>spriteSize</key>
                <string>{112,128}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{135,131},{112,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1036_Q1_role/0006</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,-52}</string>
                <key>spriteSize</key>
                <string>{112,128}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{135,131},{112,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1036_Q1_role/0007</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,-53}</string>
                <key>spriteSize</key>
                <string>{118,128}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{129,263},{118,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1036_Q1_role/0008</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,-53}</string>
                <key>spriteSize</key>
                <string>{118,128}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{129,263},{118,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1036_Q1_role/0009</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,-53}</string>
                <key>spriteSize</key>
                <string>{126,128}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1,263},{126,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1036_Q1_role/0010</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,-53}</string>
                <key>spriteSize</key>
                <string>{126,128}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1,263},{126,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1036_Q1_role/0011</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,-53}</string>
                <key>spriteSize</key>
                <string>{132,130}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1,131},{132,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1036_Q1_role/0012</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,-53}</string>
                <key>spriteSize</key>
                <string>{132,130}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1,131},{132,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1036_Q1_role/0013</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,-54}</string>
                <key>spriteSize</key>
                <string>{138,128}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1,1},{138,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>1036_Q1_role.png</string>
            <key>size</key>
            <string>{248,392}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cf66fde5c6ffc6fde7cefa0ac4c58fbb:36e893a070cad08cc741d34cd63ba558:166776b8ee3e11329c0ee7f8de8c4fa6$</string>
            <key>textureFileName</key>
            <string>1036_Q1_role.png</string>
        </dict>
    </dict>
</plist>
