<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1036_E1_role/0000</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-478.5,318.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{151,245},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1036_E1_role/0001</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-478.5,318.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{151,245},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1036_E1_role/0002</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{206,-64}</string>
                <key>spriteSize</key>
                <string>{118,104}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{303,151},{118,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1036_E1_role/0003</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{206,-64}</string>
                <key>spriteSize</key>
                <string>{118,104}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{303,151},{118,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1036_E1_role/0004</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{206,-60}</string>
                <key>spriteSize</key>
                <string>{92,114}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1191,1},{92,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1036_E1_role/0005</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{206,-60}</string>
                <key>spriteSize</key>
                <string>{92,114}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1191,1},{92,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1036_E1_role/0006</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{186,-47}</string>
                <key>spriteSize</key>
                <string>{128,140}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{659,1},{128,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1036_E1_role/0007</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{186,-47}</string>
                <key>spriteSize</key>
                <string>{128,140}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{659,1},{128,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1036_E1_role/0008</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{186,-47}</string>
                <key>spriteSize</key>
                <string>{128,140}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{659,1},{128,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1036_E1_role/0009</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{186,-47}</string>
                <key>spriteSize</key>
                <string>{128,140}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{789,1},{128,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1036_E1_role/0010</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{186,-47}</string>
                <key>spriteSize</key>
                <string>{128,140}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{789,1},{128,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1036_E1_role/0011</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{186,-47}</string>
                <key>spriteSize</key>
                <string>{128,140}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{789,1},{128,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1036_E1_role/0012</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{224,-51}</string>
                <key>spriteSize</key>
                <string>{86,128}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{985,1},{86,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1036_E1_role/0013</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{146,-40}</string>
                <key>spriteSize</key>
                <string>{242,150}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{151,1},{242,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1036_E1_role/0014</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{58,-32}</string>
                <key>spriteSize</key>
                <string>{64,132}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{919,1},{64,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1036_E1_role/0015</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{58,-32}</string>
                <key>spriteSize</key>
                <string>{64,132}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{919,1},{64,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1036_E1_role/0016</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{72,-30}</string>
                <key>spriteSize</key>
                <string>{124,92}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{985,131},{124,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1036_E1_role/0017</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{72,-30}</string>
                <key>spriteSize</key>
                <string>{124,92}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{985,131},{124,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1036_E1_role/0018</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,-33}</string>
                <key>spriteSize</key>
                <string>{112,104}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{423,151},{112,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1036_E1_role/0019</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,-33}</string>
                <key>spriteSize</key>
                <string>{112,104}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{423,151},{112,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1036_E1_role/0020</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,-33}</string>
                <key>spriteSize</key>
                <string>{112,104}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{423,151},{112,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1036_E1_role/0021</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,-34}</string>
                <key>spriteSize</key>
                <string>{112,102}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{653,147},{112,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1036_E1_role/0022</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,-34}</string>
                <key>spriteSize</key>
                <string>{112,102}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{653,147},{112,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1036_E1_role/0023</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,-35}</string>
                <key>spriteSize</key>
                <string>{112,100}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{767,143},{112,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1036_E1_role/0024</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,-35}</string>
                <key>spriteSize</key>
                <string>{112,100}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{767,143},{112,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1036_E1_role/0025</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{101,-11}</string>
                <key>spriteSize</key>
                <string>{254,148}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1,1},{254,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1036_E1_role/0026</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{101,-11}</string>
                <key>spriteSize</key>
                <string>{254,148}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1,1},{254,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1036_E1_role/0027</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{100,-12}</string>
                <key>spriteSize</key>
                <string>{256,148}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{303,1},{256,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1036_E1_role/0028</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{163,-13}</string>
                <key>spriteSize</key>
                <string>{118,116}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1073,1},{118,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1036_E1_role/0029</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{163,-13}</string>
                <key>spriteSize</key>
                <string>{118,116}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1073,1},{118,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1036_E1_role/0030</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{191,3}</string>
                <key>spriteSize</key>
                <string>{144,96}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{561,1},{144,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1036_E1_role/0031</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{191,3}</string>
                <key>spriteSize</key>
                <string>{144,96}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{561,1},{144,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1036_E1_role/0032</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{202,-6}</string>
                <key>spriteSize</key>
                <string>{114,102}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{537,151},{114,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1036_E1_role/0033</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{202,-6}</string>
                <key>spriteSize</key>
                <string>{114,102}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{537,151},{114,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1036_E1_role/0034</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{202,-6}</string>
                <key>spriteSize</key>
                <string>{114,102}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{537,151},{114,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1036_E1_role/0035</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{202,-8}</string>
                <key>spriteSize</key>
                <string>{114,98}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{869,143},{114,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1036_E1_role/0036</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{202,-8}</string>
                <key>spriteSize</key>
                <string>{114,98}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{869,143},{114,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1036_E1_role/0037</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{202,-9}</string>
                <key>spriteSize</key>
                <string>{114,96}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1079,121},{114,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1036_E1_role/0038</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{202,-9}</string>
                <key>spriteSize</key>
                <string>{114,96}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1079,121},{114,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1036_E1_role/0039</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{203,-10}</string>
                <key>spriteSize</key>
                <string>{114,96}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1177,121},{114,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1036_E1_role/0040</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{203,-10}</string>
                <key>spriteSize</key>
                <string>{114,96}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1177,121},{114,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1036_E1_role/0041</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-478.5,318.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{151,245},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1036_E1_role/0042</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-478.5,318.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{151,245},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1036_E1_role/0043</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-478.5,318.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{151,245},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>1036_E1_role.png</string>
            <key>size</key>
            <string>{1284,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9173c681a879d1d5e3bd9a6642c53195:376b5e1d1f14fb443385273c34c8b137:6d1c32e07cde2c3640486c13ad678782$</string>
            <key>textureFileName</key>
            <string>1036_E1_role.png</string>
        </dict>
    </dict>
</plist>
