<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1036_W1_role/0000</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-47}</string>
                <key>spriteSize</key>
                <string>{114,66}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{727,605},{114,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1036_W1_role/0001</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-47}</string>
                <key>spriteSize</key>
                <string>{116,68}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{609,605},{116,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1036_W1_role/0002</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-47}</string>
                <key>spriteSize</key>
                <string>{144,76}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1441,913},{144,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1036_W1_role/0003</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-47}</string>
                <key>spriteSize</key>
                <string>{154,84}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1173,477},{154,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1036_W1_role/0004</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-46}</string>
                <key>spriteSize</key>
                <string>{158,82}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1331,411},{158,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1036_W1_role/0005</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-46}</string>
                <key>spriteSize</key>
                <string>{182,88}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1173,287},{182,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1036_W1_role/0006</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-29}</string>
                <key>spriteSize</key>
                <string>{156,98}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1173,377},{156,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1036_W1_role/0007</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-18}</string>
                <key>spriteSize</key>
                <string>{156,116}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{869,891},{156,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1036_W1_role/0008</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-5}</string>
                <key>spriteSize</key>
                <string>{132,134}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1307,859},{132,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1036_W1_role/0009</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,2}</string>
                <key>spriteSize</key>
                <string>{130,148}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1175,859},{130,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1036_W1_role/0010</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,16}</string>
                <key>spriteSize</key>
                <string>{116,146}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1027,891},{116,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1036_W1_role/0011</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,30}</string>
                <key>spriteSize</key>
                <string>{110,148}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1437,171},{110,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1036_W1_role/0012</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,48}</string>
                <key>spriteSize</key>
                <string>{106,124}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1441,787},{106,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1036_W1_role/0013</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,57}</string>
                <key>spriteSize</key>
                <string>{116,124}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1433,661},{116,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1036_W1_role/0014</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,66}</string>
                <key>spriteSize</key>
                <string>{114,118}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1559,541},{114,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1036_W1_role/0015</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,72}</string>
                <key>spriteSize</key>
                <string>{118,124}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1433,541},{118,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1036_W1_role/0016</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-478.5,318.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1,1001},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1036_W1_role/0017</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-478.5,318.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1,1001},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1036_W1_role/0018</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,70}</string>
                <key>spriteSize</key>
                <string>{80,134}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1587,791},{80,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1036_W1_role/0019</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,70}</string>
                <key>spriteSize</key>
                <string>{80,134}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1587,791},{80,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1036_W1_role/0020</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,70}</string>
                <key>spriteSize</key>
                <string>{80,134}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1587,791},{80,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1036_W1_role/0021</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,70}</string>
                <key>spriteSize</key>
                <string>{80,134}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1587,791},{80,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1036_W1_role/0022</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,70}</string>
                <key>spriteSize</key>
                <string>{80,134}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1587,791},{80,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1036_W1_role/0023</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,70}</string>
                <key>spriteSize</key>
                <string>{80,134}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1587,791},{80,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1036_W1_role/0024</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,74}</string>
                <key>spriteSize</key>
                <string>{82,110}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1587,171},{82,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1036_W1_role/0025</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,74}</string>
                <key>spriteSize</key>
                <string>{82,110}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1587,171},{82,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1036_W1_role/0026</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,74}</string>
                <key>spriteSize</key>
                <string>{82,110}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1587,171},{82,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1036_W1_role/0027</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,83}</string>
                <key>spriteSize</key>
                <string>{74,122}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1357,287},{74,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1036_W1_role/0028</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,83}</string>
                <key>spriteSize</key>
                <string>{74,122}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1357,287},{74,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1036_W1_role/0029</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,74}</string>
                <key>spriteSize</key>
                <string>{112,128}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1551,661},{112,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1036_W1_role/0030</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,74}</string>
                <key>spriteSize</key>
                <string>{112,128}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1551,661},{112,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1036_W1_role/0031</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,71}</string>
                <key>spriteSize</key>
                <string>{168,192}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1437,1},{168,192}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1036_W1_role/0032</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-52,41}</string>
                <key>spriteSize</key>
                <string>{224,252}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1433,287},{224,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1036_W1_role/0033</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-72,20}</string>
                <key>spriteSize</key>
                <string>{264,294}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1,735},{264,294}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1036_W1_role/0034</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-101,11}</string>
                <key>spriteSize</key>
                <string>{322,312}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{295,351},{322,312}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1036_W1_role/0035</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-114,20}</string>
                <key>spriteSize</key>
                <string>{348,292}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{293,1},{348,292}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1036_W1_role/0036</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-121,21}</string>
                <key>spriteSize</key>
                <string>{362,292}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1,371},{362,292}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1036_W1_role/0037</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-124,22}</string>
                <key>spriteSize</key>
                <string>{368,290}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1,1},{368,290}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1036_W1_role/0038</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-95,24}</string>
                <key>spriteSize</key>
                <string>{310,284}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{583,675},{310,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1036_W1_role/0039</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-98,24}</string>
                <key>spriteSize</key>
                <string>{316,284}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{587,1},{316,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1036_W1_role/0040</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-98,24}</string>
                <key>spriteSize</key>
                <string>{316,284}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{297,675},{316,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1036_W1_role/0041</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-80,24}</string>
                <key>spriteSize</key>
                <string>{280,284}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{609,319},{280,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1036_W1_role/0042</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-80,24}</string>
                <key>spriteSize</key>
                <string>{280,284}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{873,1},{280,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1036_W1_role/0043</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-80,24}</string>
                <key>spriteSize</key>
                <string>{280,284}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{869,605},{280,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1036_W1_role/0044</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-80,24}</string>
                <key>spriteSize</key>
                <string>{280,284}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{891,287},{280,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1036_W1_role/0045</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-80,24}</string>
                <key>spriteSize</key>
                <string>{280,284}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1155,1},{280,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1036_W1_role/0046</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-80,24}</string>
                <key>spriteSize</key>
                <string>{280,284}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1151,573},{280,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1036_W1_role/0047</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-478.5,318.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1,1001},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>1036_W1_role.png</string>
            <key>size</key>
            <string>{1674,1008}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3d86244d5dcdb203fa150fa810ecd428:049c20ada14bf68458b67d6e3a7cd9c2:160911c28c5f2f73c479bce7ed8cde4a$</string>
            <key>textureFileName</key>
            <string>1036_W1_role.png</string>
        </dict>
    </dict>
</plist>
