<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1037_W1_effup/0000</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-49}</string>
                <key>spriteSize</key>
                <string>{76,44}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{101,445},{76,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1037_W1_effup/0001</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-49}</string>
                <key>spriteSize</key>
                <string>{76,44}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{101,445},{76,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1037_W1_effup/0002</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-30}</string>
                <key>spriteSize</key>
                <string>{106,86}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{141,129},{106,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1037_W1_effup/0003</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-30}</string>
                <key>spriteSize</key>
                <string>{106,86}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{141,129},{106,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1037_W1_effup/0004</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-27}</string>
                <key>spriteSize</key>
                <string>{134,92}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,185},{134,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1037_W1_effup/0005</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-27}</string>
                <key>spriteSize</key>
                <string>{134,92}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,185},{134,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1037_W1_effup/0006</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-27}</string>
                <key>spriteSize</key>
                <string>{140,90}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,1},{140,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1037_W1_effup/0007</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-27}</string>
                <key>spriteSize</key>
                <string>{140,90}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,1},{140,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1037_W1_effup/0008</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-25}</string>
                <key>spriteSize</key>
                <string>{138,90}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,93},{138,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1037_W1_effup/0009</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-25}</string>
                <key>spriteSize</key>
                <string>{138,90}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,93},{138,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1037_W1_effup/0010</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-26}</string>
                <key>spriteSize</key>
                <string>{128,78}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,279},{128,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1037_W1_effup/0011</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-26}</string>
                <key>spriteSize</key>
                <string>{128,78}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,279},{128,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1037_W1_effup/0012</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-26}</string>
                <key>spriteSize</key>
                <string>{128,78}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,279},{128,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1037_W1_effup/0013</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-17}</string>
                <key>spriteSize</key>
                <string>{96,52}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,497},{96,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1037_W1_effup/0014</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-17}</string>
                <key>spriteSize</key>
                <string>{96,52}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,497},{96,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1037_W1_effup/0015</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-2}</string>
                <key>spriteSize</key>
                <string>{100,82}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{109,361},{100,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1037_W1_effup/0016</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,9}</string>
                <key>spriteSize</key>
                <string>{98,62}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,433},{98,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1037_W1_effup/0017</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,10}</string>
                <key>spriteSize</key>
                <string>{90,62}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{55,497},{90,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1037_W1_effup/0018</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,10}</string>
                <key>spriteSize</key>
                <string>{90,62}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{55,497},{90,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1037_W1_effup/0019</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,10}</string>
                <key>spriteSize</key>
                <string>{70,60}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{177,537},{70,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1037_W1_effup/0020</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,10}</string>
                <key>spriteSize</key>
                <string>{70,60}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{177,537},{70,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1037_W1_effup/0021</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,12}</string>
                <key>spriteSize</key>
                <string>{70,56}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{119,491},{70,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1037_W1_effup/0022</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-238.5,158.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{131,279},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1037_W1_effup/0023</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-238.5,158.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{131,279},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1037_W1_effup/0024</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-238.5,158.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{131,279},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1037_W1_effup/0025</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-238.5,158.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{131,279},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1037_W1_effup/0026</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-238.5,158.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{131,279},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1037_W1_effup/0027</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-238.5,158.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{131,279},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1037_W1_effup/0028</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-238.5,158.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{131,279},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1037_W1_effup/0029</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-238.5,158.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{131,279},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1037_W1_effup/0030</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-44}</string>
                <key>spriteSize</key>
                <string>{102,56}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{143,71},{102,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1037_W1_effup/0031</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-44}</string>
                <key>spriteSize</key>
                <string>{102,56}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{143,71},{102,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1037_W1_effup/0032</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-44}</string>
                <key>spriteSize</key>
                <string>{102,56}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{143,71},{102,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1037_W1_effup/0033</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-38}</string>
                <key>spriteSize</key>
                <string>{104,68}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{143,1},{104,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1037_W1_effup/0034</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-38}</string>
                <key>spriteSize</key>
                <string>{104,68}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{143,1},{104,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1037_W1_effup/0035</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-38}</string>
                <key>spriteSize</key>
                <string>{104,68}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{143,1},{104,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1037_W1_effup/0036</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-37}</string>
                <key>spriteSize</key>
                <string>{106,72}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{131,287},{106,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1037_W1_effup/0037</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-37}</string>
                <key>spriteSize</key>
                <string>{106,72}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{131,287},{106,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1037_W1_effup/0038</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-37}</string>
                <key>spriteSize</key>
                <string>{106,72}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,359},{106,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1037_W1_effup/0039</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-37}</string>
                <key>spriteSize</key>
                <string>{106,72}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,359},{106,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1037_W1_effup/0040</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-38}</string>
                <key>spriteSize</key>
                <string>{108,68}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{137,217},{108,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1037_W1_effup/0041</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-38}</string>
                <key>spriteSize</key>
                <string>{108,68}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{137,217},{108,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1037_W1_effup/0042</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-36}</string>
                <key>spriteSize</key>
                <string>{90,60}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{179,445},{90,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1037_W1_effup/0043</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-36}</string>
                <key>spriteSize</key>
                <string>{90,60}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{179,445},{90,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1037_W1_effup/0044</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-38}</string>
                <key>spriteSize</key>
                <string>{26,40}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{211,361},{26,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1037_W1_effup/0045</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-38}</string>
                <key>spriteSize</key>
                <string>{26,40}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{211,361},{26,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>1037_W1_effup.png</string>
            <key>size</key>
            <string>{248,598}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:66ef9fb3882242f2becab03d7d1852c5:f46ffed3dad5aa2324ea1de87e163e98:477c655e2aa24ba4bef66427cb1d4801$</string>
            <key>textureFileName</key>
            <string>1037_W1_effup.png</string>
        </dict>
    </dict>
</plist>
