<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1037_W1_effdown/0000</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-53}</string>
                <key>spriteSize</key>
                <string>{94,18}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{6,1},{94,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1037_W1_effdown/0001</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-53}</string>
                <key>spriteSize</key>
                <string>{94,18}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{6,1},{94,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1037_W1_effdown/0002</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-53}</string>
                <key>spriteSize</key>
                <string>{94,18}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,21},{94,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1037_W1_effdown/0003</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-53}</string>
                <key>spriteSize</key>
                <string>{94,18}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,21},{94,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1037_W1_effdown/0004</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-53}</string>
                <key>spriteSize</key>
                <string>{94,18}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,21},{94,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1037_W1_effdown/0005</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-53}</string>
                <key>spriteSize</key>
                <string>{94,18}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,21},{94,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1037_W1_effdown/0006</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-53}</string>
                <key>spriteSize</key>
                <string>{96,18}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,41},{96,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1037_W1_effdown/0007</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-53}</string>
                <key>spriteSize</key>
                <string>{96,18}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,41},{96,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1037_W1_effdown/0008</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-52}</string>
                <key>spriteSize</key>
                <string>{110,20}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,101},{110,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1037_W1_effdown/0009</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-52}</string>
                <key>spriteSize</key>
                <string>{110,20}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,101},{110,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1037_W1_effdown/0010</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-52}</string>
                <key>spriteSize</key>
                <string>{112,22}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,123},{112,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1037_W1_effdown/0011</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-52}</string>
                <key>spriteSize</key>
                <string>{112,22}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,123},{112,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1037_W1_effdown/0012</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-53}</string>
                <key>spriteSize</key>
                <string>{112,18}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,61},{112,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1037_W1_effdown/0013</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-53}</string>
                <key>spriteSize</key>
                <string>{112,18}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,61},{112,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1037_W1_effdown/0014</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-53}</string>
                <key>spriteSize</key>
                <string>{94,18}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,81},{94,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1037_W1_effdown/0015</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-53}</string>
                <key>spriteSize</key>
                <string>{94,18}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,81},{94,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1037_W1_effdown/0016</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-53}</string>
                <key>spriteSize</key>
                <string>{94,18}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,81},{94,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1037_W1_effdown/0017</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-53}</string>
                <key>spriteSize</key>
                <string>{94,18}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,81},{94,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1037_W1_effdown/0018</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-53}</string>
                <key>spriteSize</key>
                <string>{94,18}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,81},{94,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1037_W1_effdown/0019</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-53}</string>
                <key>spriteSize</key>
                <string>{94,18}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,81},{94,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1037_W1_effdown/0020</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-53}</string>
                <key>spriteSize</key>
                <string>{94,18}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,81},{94,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1037_W1_effdown/0021</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-53}</string>
                <key>spriteSize</key>
                <string>{94,18}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,81},{94,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1037_W1_effdown/0022</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-53}</string>
                <key>spriteSize</key>
                <string>{94,18}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,81},{94,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1037_W1_effdown/0023</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-53}</string>
                <key>spriteSize</key>
                <string>{94,18}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,81},{94,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1037_W1_effdown/0024</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-53}</string>
                <key>spriteSize</key>
                <string>{94,18}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,81},{94,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1037_W1_effdown/0025</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-53}</string>
                <key>spriteSize</key>
                <string>{94,18}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,81},{94,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1037_W1_effdown/0026</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-53}</string>
                <key>spriteSize</key>
                <string>{94,18}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,81},{94,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1037_W1_effdown/0027</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-53}</string>
                <key>spriteSize</key>
                <string>{94,18}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,81},{94,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1037_W1_effdown/0028</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-53}</string>
                <key>spriteSize</key>
                <string>{94,18}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,81},{94,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1037_W1_effdown/0029</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-53}</string>
                <key>spriteSize</key>
                <string>{94,18}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,81},{94,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1037_W1_effdown/0030</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-53}</string>
                <key>spriteSize</key>
                <string>{94,18}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,81},{94,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1037_W1_effdown/0031</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-53}</string>
                <key>spriteSize</key>
                <string>{94,18}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,81},{94,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1037_W1_effdown/0032</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-53}</string>
                <key>spriteSize</key>
                <string>{94,18}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,81},{94,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1037_W1_effdown/0033</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-53}</string>
                <key>spriteSize</key>
                <string>{94,18}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,81},{94,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1037_W1_effdown/0034</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-238.5,158.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,1},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1037_W1_effdown/0035</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-238.5,158.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,1},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1037_W1_effdown/0036</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-238.5,158.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,1},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1037_W1_effdown/0037</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-238.5,158.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,1},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1037_W1_effdown/0038</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-238.5,158.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,1},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1037_W1_effdown/0039</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-238.5,158.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,1},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1037_W1_effdown/0040</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-238.5,158.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,1},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1037_W1_effdown/0041</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-238.5,158.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,1},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1037_W1_effdown/0042</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-238.5,158.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,1},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1037_W1_effdown/0043</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-238.5,158.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,1},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1037_W1_effdown/0044</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-238.5,158.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,1},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1037_W1_effdown/0045</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-238.5,158.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,1},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>1037_W1_effdown.png</string>
            <key>size</key>
            <string>{114,146}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e56587b2f1f36a59ee2eeecf5fbba91e:72afaf421a38f4a550c8b057ac4375d4:e1a6e5354fca096dd8a19177ae98f59f$</string>
            <key>textureFileName</key>
            <string>1037_W1_effdown.png</string>
        </dict>
    </dict>
</plist>
