<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1037_W1_role/0000</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-478.5,318.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1297,141},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1037_W1_role/0001</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-478.5,318.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1297,141},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1037_W1_role/0002</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-73}</string>
                <key>spriteSize</key>
                <string>{138,76}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1405,1},{138,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1037_W1_role/0003</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-73}</string>
                <key>spriteSize</key>
                <string>{138,76}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1405,1},{138,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1037_W1_role/0004</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-58}</string>
                <key>spriteSize</key>
                <string>{138,106}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1297,1},{138,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1037_W1_role/0005</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-58}</string>
                <key>spriteSize</key>
                <string>{138,106}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1297,1},{138,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1037_W1_role/0006</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-50}</string>
                <key>spriteSize</key>
                <string>{188,122}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1483,1},{188,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1037_W1_role/0007</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-50}</string>
                <key>spriteSize</key>
                <string>{188,122}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1483,1},{188,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1037_W1_role/0008</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-40}</string>
                <key>spriteSize</key>
                <string>{188,142}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{589,1},{188,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1037_W1_role/0009</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-40}</string>
                <key>spriteSize</key>
                <string>{188,142}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{589,1},{188,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1037_W1_role/0010</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-40}</string>
                <key>spriteSize</key>
                <string>{188,142}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{589,1},{188,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1037_W1_role/0011</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-39}</string>
                <key>spriteSize</key>
                <string>{188,144}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1,1},{188,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1037_W1_role/0012</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-39}</string>
                <key>spriteSize</key>
                <string>{188,144}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1,1},{188,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1037_W1_role/0013</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-39}</string>
                <key>spriteSize</key>
                <string>{188,144}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1,1},{188,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1037_W1_role/0014</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-39}</string>
                <key>spriteSize</key>
                <string>{188,144}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1,1},{188,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1037_W1_role/0015</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-20}</string>
                <key>spriteSize</key>
                <string>{142,182}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{779,1},{142,182}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1037_W1_role/0016</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-20}</string>
                <key>spriteSize</key>
                <string>{142,182}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{779,1},{142,182}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1037_W1_role/0017</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-13}</string>
                <key>spriteSize</key>
                <string>{142,196}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{391,1},{142,196}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1037_W1_role/0018</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-13}</string>
                <key>spriteSize</key>
                <string>{142,196}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{391,1},{142,196}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1037_W1_role/0019</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-12}</string>
                <key>spriteSize</key>
                <string>{142,198}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{191,1},{142,198}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1037_W1_role/0020</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-12}</string>
                <key>spriteSize</key>
                <string>{142,198}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{191,1},{142,198}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1037_W1_role/0021</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-12}</string>
                <key>spriteSize</key>
                <string>{142,198}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{191,1},{142,198}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1037_W1_role/0022</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-12}</string>
                <key>spriteSize</key>
                <string>{142,198}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{191,1},{142,198}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1037_W1_role/0023</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-12}</string>
                <key>spriteSize</key>
                <string>{142,198}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{191,1},{142,198}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1037_W1_role/0024</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-12}</string>
                <key>spriteSize</key>
                <string>{142,198}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{191,1},{142,198}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1037_W1_role/0025</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-12}</string>
                <key>spriteSize</key>
                <string>{142,198}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{191,1},{142,198}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1037_W1_role/0026</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-12}</string>
                <key>spriteSize</key>
                <string>{142,198}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{191,1},{142,198}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1037_W1_role/0027</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-20}</string>
                <key>spriteSize</key>
                <string>{142,182}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{963,1},{142,182}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1037_W1_role/0028</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-20}</string>
                <key>spriteSize</key>
                <string>{142,182}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{963,1},{142,182}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1037_W1_role/0029</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-20}</string>
                <key>spriteSize</key>
                <string>{142,182}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{963,1},{142,182}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1037_W1_role/0030</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-37}</string>
                <key>spriteSize</key>
                <string>{140,148}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1147,1},{140,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1037_W1_role/0031</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-37}</string>
                <key>spriteSize</key>
                <string>{140,148}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1147,1},{140,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1037_W1_role/0032</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-37}</string>
                <key>spriteSize</key>
                <string>{140,148}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1147,1},{140,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1037_W1_role/0033</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-72}</string>
                <key>spriteSize</key>
                <string>{122,78}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1673,1},{122,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1037_W1_role/0034</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-72}</string>
                <key>spriteSize</key>
                <string>{122,78}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1673,1},{122,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1037_W1_role/0035</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-72}</string>
                <key>spriteSize</key>
                <string>{122,78}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1673,1},{122,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1037_W1_role/0036</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-478.5,318.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1297,141},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1037_W1_role/0037</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-478.5,318.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1297,141},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1037_W1_role/0038</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-478.5,318.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1297,141},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1037_W1_role/0039</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-478.5,318.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1297,141},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1037_W1_role/0040</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-478.5,318.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1297,141},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1037_W1_role/0041</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-478.5,318.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1297,141},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1037_W1_role/0042</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-478.5,318.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1297,141},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1037_W1_role/0043</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-478.5,318.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1297,141},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1037_W1_role/0044</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-478.5,318.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1297,141},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1037_W1_role/0045</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-478.5,318.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1297,141},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>1037_W1_role.png</string>
            <key>size</key>
            <string>{1752,146}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:26f692a36af83a99b34bc9bfa7fb8a2c:82391bfcf3af17cea6052b097af58488:ede7104f2118b2891ff6a12e035c1044$</string>
            <key>textureFileName</key>
            <string>1037_W1_role.png</string>
        </dict>
    </dict>
</plist>
