<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1039_A3_role/0000</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{170,-159}</string>
                <key>spriteSize</key>
                <string>{200,99}</string>
                <key>spriteSourceSize</key>
                <string>{816,423}</string>
                <key>textureRect</key>
                <string>{{179,1},{200,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1039_A3_role/0001</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{170,-159}</string>
                <key>spriteSize</key>
                <string>{200,99}</string>
                <key>spriteSourceSize</key>
                <string>{816,423}</string>
                <key>textureRect</key>
                <string>{{179,1},{200,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1039_A3_role/0002</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{292,-105}</string>
                <key>spriteSize</key>
                <string>{176,145}</string>
                <key>spriteSourceSize</key>
                <string>{816,423}</string>
                <key>textureRect</key>
                <string>{{1,1},{176,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1039_A3_role/0003</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{291,-105}</string>
                <key>spriteSize</key>
                <string>{176,145}</string>
                <key>spriteSourceSize</key>
                <string>{816,423}</string>
                <key>textureRect</key>
                <string>{{165,203},{176,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1039_A3_role/0004</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{291,-105}</string>
                <key>spriteSize</key>
                <string>{176,145}</string>
                <key>spriteSourceSize</key>
                <string>{816,423}</string>
                <key>textureRect</key>
                <string>{{165,203},{176,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1039_A3_role/0005</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{340,-23}</string>
                <key>spriteSize</key>
                <string>{94,157}</string>
                <key>spriteSourceSize</key>
                <string>{816,423}</string>
                <key>textureRect</key>
                <string>{{280,1},{94,157}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1039_A3_role/0006</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{340,-23}</string>
                <key>spriteSize</key>
                <string>{94,155}</string>
                <key>spriteSourceSize</key>
                <string>{816,423}</string>
                <key>textureRect</key>
                <string>{{280,97},{94,155}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1039_A3_role/0007</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{340,-23}</string>
                <key>spriteSize</key>
                <string>{94,155}</string>
                <key>spriteSourceSize</key>
                <string>{816,423}</string>
                <key>textureRect</key>
                <string>{{280,97},{94,155}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1039_A3_role/0008</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{285,42}</string>
                <key>spriteSize</key>
                <string>{148,107}</string>
                <key>spriteSourceSize</key>
                <string>{816,423}</string>
                <key>textureRect</key>
                <string>{{1,330},{148,107}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1039_A3_role/0009</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{285,42}</string>
                <key>spriteSize</key>
                <string>{148,107}</string>
                <key>spriteSourceSize</key>
                <string>{816,423}</string>
                <key>textureRect</key>
                <string>{{1,330},{148,107}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1039_A3_role/0010</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{285,42}</string>
                <key>spriteSize</key>
                <string>{148,107}</string>
                <key>spriteSourceSize</key>
                <string>{816,423}</string>
                <key>textureRect</key>
                <string>{{1,330},{148,107}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1039_A3_role/0011</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{187,62}</string>
                <key>spriteSize</key>
                <string>{180,79}</string>
                <key>spriteSourceSize</key>
                <string>{816,423}</string>
                <key>textureRect</key>
                <string>{{84,148},{180,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1039_A3_role/0012</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{187,63}</string>
                <key>spriteSize</key>
                <string>{180,81}</string>
                <key>spriteSourceSize</key>
                <string>{816,423}</string>
                <key>textureRect</key>
                <string>{{1,148},{180,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1039_A3_role/0013</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{187,63}</string>
                <key>spriteSize</key>
                <string>{180,81}</string>
                <key>spriteSourceSize</key>
                <string>{816,423}</string>
                <key>textureRect</key>
                <string>{{1,148},{180,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1039_A3_role/0014</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{113,35}</string>
                <key>spriteSize</key>
                <string>{100,109}</string>
                <key>spriteSourceSize</key>
                <string>{816,423}</string>
                <key>textureRect</key>
                <string>{{223,350},{100,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1039_A3_role/0015</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{113,36}</string>
                <key>spriteSize</key>
                <string>{100,111}</string>
                <key>spriteSourceSize</key>
                <string>{816,423}</string>
                <key>textureRect</key>
                <string>{{343,318},{100,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1039_A3_role/0016</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{113,36}</string>
                <key>spriteSize</key>
                <string>{100,111}</string>
                <key>spriteSourceSize</key>
                <string>{816,423}</string>
                <key>textureRect</key>
                <string>{{110,350},{100,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1039_A3_role/0017</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{86,-15}</string>
                <key>spriteSize</key>
                <string>{86,123}</string>
                <key>spriteSourceSize</key>
                <string>{816,423}</string>
                <key>textureRect</key>
                <string>{{343,193},{86,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1039_A3_role/0018</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-406.5,210}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{816,423}</string>
                <key>textureRect</key>
                <string>{{165,148},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>1039_A3_role.png</string>
            <key>size</key>
            <string>{444,479}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0af2e1f12f64225da6b2a1bc161da979:20e7f58a6ef7eb4ea12ef1176300528a:40f973c2f6f4b2b78217eba90e177aff$</string>
            <key>textureFileName</key>
            <string>1039_A3_role.png</string>
        </dict>
    </dict>
</plist>
