<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1039_W1_role/0000</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,-24}</string>
                <key>spriteSize</key>
                <string>{152,130}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{701,165},{152,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1039_W1_role/0001</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,-24}</string>
                <key>spriteSize</key>
                <string>{152,130}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{701,165},{152,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1039_W1_role/0002</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{154,-85}</string>
                <key>spriteSize</key>
                <string>{250,130}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{267,131},{250,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1039_W1_role/0003</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{158,-85}</string>
                <key>spriteSize</key>
                <string>{264,130}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1,1},{264,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1039_W1_role/0004</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{165,-85}</string>
                <key>spriteSize</key>
                <string>{264,130}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1,133},{264,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1039_W1_role/0005</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{166,-86}</string>
                <key>spriteSize</key>
                <string>{262,128}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1,265},{262,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1039_W1_role/0006</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{168,-86}</string>
                <key>spriteSize</key>
                <string>{266,128}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{267,1},{266,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1039_W1_role/0007</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{168,-86}</string>
                <key>spriteSize</key>
                <string>{266,128}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{267,1},{266,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1039_W1_role/0008</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{210,-72}</string>
                <key>spriteSize</key>
                <string>{178,150}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{269,263},{178,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1039_W1_role/0009</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{209,-72}</string>
                <key>spriteSize</key>
                <string>{180,150}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{535,1},{180,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1039_W1_role/0010</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{209,-72}</string>
                <key>spriteSize</key>
                <string>{180,150}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{519,153},{180,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1039_W1_role/0011</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{236,-54}</string>
                <key>spriteSize</key>
                <string>{128,168}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{449,305},{128,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1039_W1_role/0012</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{242,-50}</string>
                <key>spriteSize</key>
                <string>{116,162}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{717,1},{116,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1039_W1_role/0013</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{245,3}</string>
                <key>spriteSize</key>
                <string>{108,132}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1,395},{108,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1039_W1_role/0014</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{245,3}</string>
                <key>spriteSize</key>
                <string>{108,132}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{135,395},{108,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1039_W1_role/0015</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{244,15}</string>
                <key>spriteSize</key>
                <string>{106,108}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{619,319},{106,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1039_W1_role/0016</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{244,14}</string>
                <key>spriteSize</key>
                <string>{106,106}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{727,319},{106,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1039_W1_role/0017</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{225,33}</string>
                <key>spriteSize</key>
                <string>{64,66}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{269,415},{64,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1039_W1_role/0018</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{224,34}</string>
                <key>spriteSize</key>
                <string>{62,64}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{335,415},{62,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1039_W1_role/0019</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-478.5,318.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{519,131},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>1039_W1_role.png</string>
            <key>size</key>
            <string>{834,504}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b3017bd7ddf727c6a85b1a28fb5d6dcd:f018394cd1fdfd76c1d5844a954060d3:648d6e13a1e4eb078c8a2b93517e7b34$</string>
            <key>textureFileName</key>
            <string>1039_W1_role.png</string>
        </dict>
    </dict>
</plist>
