<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1039_A1_role/0000</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{45,1}</string>
                <key>spriteSize</key>
                <string>{128,72}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1,611},{128,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1039_A1_role/0001</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{45,1}</string>
                <key>spriteSize</key>
                <string>{128,72}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1,611},{128,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1039_A1_role/0002</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{105,5}</string>
                <key>spriteSize</key>
                <string>{242,78}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1,175},{242,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1039_A1_role/0003</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{105,5}</string>
                <key>spriteSize</key>
                <string>{242,78}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1,175},{242,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1039_A1_role/0004</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{161,12}</string>
                <key>spriteSize</key>
                <string>{238,84}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1,89},{238,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1039_A1_role/0005</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{161,12}</string>
                <key>spriteSize</key>
                <string>{238,86}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1,1},{238,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1039_A1_role/0006</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{232,20}</string>
                <key>spriteSize</key>
                <string>{142,86}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{81,333},{142,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1039_A1_role/0007</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{232,20}</string>
                <key>spriteSize</key>
                <string>{142,86}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{75,421},{142,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1039_A1_role/0008</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{274,32}</string>
                <key>spriteSize</key>
                <string>{70,72}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{167,579},{70,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1039_A1_role/0009</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{274,32}</string>
                <key>spriteSize</key>
                <string>{70,72}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{167,579},{70,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1039_A1_role/0010</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{262,42}</string>
                <key>spriteSize</key>
                <string>{90,80}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{75,663},{90,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1039_A1_role/0011</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{262,43}</string>
                <key>spriteSize</key>
                <string>{90,82}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{75,579},{90,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1039_A1_role/0012</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{204,54}</string>
                <key>spriteSize</key>
                <string>{156,76}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{81,255},{156,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1039_A1_role/0013</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{205,54}</string>
                <key>spriteSize</key>
                <string>{156,78}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{81,175},{156,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1039_A1_role/0014</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{149,57}</string>
                <key>spriteSize</key>
                <string>{190,72}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1,419},{190,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1039_A1_role/0015</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{149,57}</string>
                <key>spriteSize</key>
                <string>{190,72}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1,419},{190,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1039_A1_role/0016</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{110,57}</string>
                <key>spriteSize</key>
                <string>{130,68}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{75,509},{130,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1039_A1_role/0017</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{110,57}</string>
                <key>spriteSize</key>
                <string>{130,68}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{75,509},{130,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1039_A1_role/0018</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{110,57}</string>
                <key>spriteSize</key>
                <string>{130,68}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{75,509},{130,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1039_A1_role/0019</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{59,56}</string>
                <key>spriteSize</key>
                <string>{62,64}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{167,651},{62,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1039_A1_role/0020</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{59,56}</string>
                <key>spriteSize</key>
                <string>{62,64}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{167,651},{62,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1039_A1_role/0021</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{59,56}</string>
                <key>spriteSize</key>
                <string>{62,64}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{167,651},{62,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1039_A1_role/0022</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-478.5,318.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{225,333},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>1039_A1_role.png</string>
            <key>size</key>
            <string>{240,744}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f3d8d61ed493831bf832f81347e44c66:8f9055aca0ad6cc70aa9294abc1a677b:145283bd36f0eccc67eb4a795570326d$</string>
            <key>textureFileName</key>
            <string>1039_A1_role.png</string>
        </dict>
    </dict>
</plist>
