<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1040_A1_effup/0000</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-1}</string>
                <key>spriteSize</key>
                <string>{110,16}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{203,1},{110,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1040_A1_effup/0001</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-1}</string>
                <key>spriteSize</key>
                <string>{110,16}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{203,1},{110,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1040_A1_effup/0002</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-1}</string>
                <key>spriteSize</key>
                <string>{120,16}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{185,1},{120,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1040_A1_effup/0003</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-1}</string>
                <key>spriteSize</key>
                <string>{120,16}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{185,1},{120,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1040_A1_effup/0004</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-1}</string>
                <key>spriteSize</key>
                <string>{110,16}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{203,1},{110,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1040_A1_effup/0005</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-1}</string>
                <key>spriteSize</key>
                <string>{110,16}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{203,1},{110,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1040_A1_effup/0006</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-1}</string>
                <key>spriteSize</key>
                <string>{120,16}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{185,1},{120,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1040_A1_effup/0007</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-1}</string>
                <key>spriteSize</key>
                <string>{120,16}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{185,1},{120,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1040_A1_effup/0008</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-1}</string>
                <key>spriteSize</key>
                <string>{110,16}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{203,1},{110,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1040_A1_effup/0009</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-1}</string>
                <key>spriteSize</key>
                <string>{110,16}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{203,1},{110,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1040_A1_effup/0010</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-1}</string>
                <key>spriteSize</key>
                <string>{120,16}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{185,1},{120,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1040_A1_effup/0011</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-1}</string>
                <key>spriteSize</key>
                <string>{120,16}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{185,1},{120,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1040_A1_effup/0012</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-1}</string>
                <key>spriteSize</key>
                <string>{110,16}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{203,1},{110,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1040_A1_effup/0013</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-1}</string>
                <key>spriteSize</key>
                <string>{110,16}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{203,1},{110,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1040_A1_effup/0014</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-1}</string>
                <key>spriteSize</key>
                <string>{120,16}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{185,1},{120,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1040_A1_effup/0015</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-1}</string>
                <key>spriteSize</key>
                <string>{120,16}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{185,1},{120,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1040_A1_effup/0016</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,-1}</string>
                <key>spriteSize</key>
                <string>{60,62}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{63,171},{60,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1040_A1_effup/0017</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,1}</string>
                <key>spriteSize</key>
                <string>{90,86}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,1},{90,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1040_A1_effup/0018</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,-1}</string>
                <key>spriteSize</key>
                <string>{84,82}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{93,87},{84,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1040_A1_effup/0019</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,-1}</string>
                <key>spriteSize</key>
                <string>{84,82}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{93,87},{84,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1040_A1_effup/0020</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-1}</string>
                <key>spriteSize</key>
                <string>{90,84}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{93,1},{90,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1040_A1_effup/0021</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-1}</string>
                <key>spriteSize</key>
                <string>{90,84}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{93,1},{90,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1040_A1_effup/0022</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,1}</string>
                <key>spriteSize</key>
                <string>{72,60}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,89},{72,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1040_A1_effup/0023</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,1}</string>
                <key>spriteSize</key>
                <string>{72,60}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,89},{72,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1040_A1_effup/0024</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,1}</string>
                <key>spriteSize</key>
                <string>{70,60}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,151},{70,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1040_A1_effup/0025</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,1}</string>
                <key>spriteSize</key>
                <string>{70,60}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,151},{70,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1040_A1_effup/0026</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,2}</string>
                <key>spriteSize</key>
                <string>{66,56}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{127,171},{66,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1040_A1_effup/0027</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,2}</string>
                <key>spriteSize</key>
                <string>{66,56}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{127,171},{66,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1040_A1_effup/0028</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-238.5,158.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{203,113},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>1040_A1_effup.png</string>
            <key>size</key>
            <string>{220,232}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b8083cea7c6cf10aa40c15d40a2e4f07:1184ab8d34d3bcfa12823c7605e83f13:61ba88b3ae3e6726671557f27f9502ff$</string>
            <key>textureFileName</key>
            <string>1040_A1_effup.png</string>
        </dict>
    </dict>
</plist>
