<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1040_E_role/0000</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-47}</string>
                <key>spriteSize</key>
                <string>{80,26}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1,219},{80,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1040_E_role/0001</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-47}</string>
                <key>spriteSize</key>
                <string>{80,26}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1,219},{80,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1040_E_role/0002</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-22}</string>
                <key>spriteSize</key>
                <string>{80,76}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{309,111},{80,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1040_E_role/0003</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-22}</string>
                <key>spriteSize</key>
                <string>{80,76}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{309,111},{80,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1040_E_role/0004</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-8}</string>
                <key>spriteSize</key>
                <string>{92,104}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{105,1},{92,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1040_E_role/0005</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-8}</string>
                <key>spriteSize</key>
                <string>{92,104}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{105,1},{92,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1040_E_role/0006</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-15}</string>
                <key>spriteSize</key>
                <string>{108,90}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1,109},{108,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1040_E_role/0007</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-15}</string>
                <key>spriteSize</key>
                <string>{108,90}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1,109},{108,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1040_E_role/0008</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-15}</string>
                <key>spriteSize</key>
                <string>{108,90}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1,109},{108,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1040_E_role/0009</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-18}</string>
                <key>spriteSize</key>
                <string>{108,84}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{199,91},{108,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1040_E_role/0010</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-18}</string>
                <key>spriteSize</key>
                <string>{108,84}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{199,91},{108,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1040_E_role/0011</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-25}</string>
                <key>spriteSize</key>
                <string>{118,70}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{93,109},{118,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1040_E_role/0012</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-25}</string>
                <key>spriteSize</key>
                <string>{118,70}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{93,109},{118,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1040_E_role/0013</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-33}</string>
                <key>spriteSize</key>
                <string>{134,54}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{165,177},{134,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1040_E_role/0014</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-33}</string>
                <key>spriteSize</key>
                <string>{134,54}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{165,177},{134,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1040_E_role/0015</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-33}</string>
                <key>spriteSize</key>
                <string>{134,54}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{165,177},{134,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1040_E_role/0016</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-7}</string>
                <key>spriteSize</key>
                <string>{102,106}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1,1},{102,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1040_E_role/0017</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-7}</string>
                <key>spriteSize</key>
                <string>{102,106}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1,1},{102,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1040_E_role/0018</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-16}</string>
                <key>spriteSize</key>
                <string>{108,88}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{199,1},{108,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1040_E_role/0019</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-16}</string>
                <key>spriteSize</key>
                <string>{108,88}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{199,1},{108,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1040_E_role/0020</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-19}</string>
                <key>spriteSize</key>
                <string>{108,82}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{309,1},{108,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1040_E_role/0021</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-19}</string>
                <key>spriteSize</key>
                <string>{108,82}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{309,1},{108,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1040_E_role/0022</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-36}</string>
                <key>spriteSize</key>
                <string>{80,48}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{301,189},{80,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1040_E_role/0023</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-36}</string>
                <key>spriteSize</key>
                <string>{80,48}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{301,189},{80,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>1040_E_role.png</string>
            <key>size</key>
            <string>{392,246}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6f919c5bb9f062a0214e6d988446be91:e433608b3962243dc75966b7684d34b2:11809f59e2a5164e1c1620483af1e989$</string>
            <key>textureFileName</key>
            <string>1040_E_role.png</string>
        </dict>
    </dict>
</plist>
