<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1040_R3_effup/0000</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-16}</string>
                <key>spriteSize</key>
                <string>{26,26}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{75,189},{26,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1040_R3_effup/0001</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{31,2}</string>
                <key>spriteSize</key>
                <string>{44,46}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{417,161},{44,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1040_R3_effup/0002</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{47,10}</string>
                <key>spriteSize</key>
                <string>{56,36}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{277,187},{56,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1040_R3_effup/0003</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{61,14}</string>
                <key>spriteSize</key>
                <string>{66,24}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{103,189},{66,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1040_R3_effup/0004</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{76,12}</string>
                <key>spriteSize</key>
                <string>{72,26}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,189},{72,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1040_R3_effup/0005</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{94,5}</string>
                <key>spriteSize</key>
                <string>{80,38}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{335,183},{80,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1040_R3_effup/0006</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{109,-3}</string>
                <key>spriteSize</key>
                <string>{92,52}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{277,93},{92,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1040_R3_effup/0007</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{130,-16}</string>
                <key>spriteSize</key>
                <string>{88,60}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{331,93},{88,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1040_R3_effup/0008</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{156,-31}</string>
                <key>spriteSize</key>
                <string>{74,66}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{393,93},{74,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1040_R3_effup/0009</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{187,-55}</string>
                <key>spriteSize</key>
                <string>{92,90}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,1},{92,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1040_R3_effup/0010</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{187,-55}</string>
                <key>spriteSize</key>
                <string>{92,90}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,95},{92,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1040_R3_effup/0011</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{187,-55}</string>
                <key>spriteSize</key>
                <string>{92,90}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{93,1},{92,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1040_R3_effup/0012</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{187,-55}</string>
                <key>spriteSize</key>
                <string>{92,90}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{93,95},{92,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1040_R3_effup/0013</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{187,-55}</string>
                <key>spriteSize</key>
                <string>{92,90}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{185,1},{92,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1040_R3_effup/0014</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{187,-55}</string>
                <key>spriteSize</key>
                <string>{92,90}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{185,95},{92,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1040_R3_effup/0015</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{187,-55}</string>
                <key>spriteSize</key>
                <string>{92,90}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{277,1},{92,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1040_R3_effup/0016</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{187,-55}</string>
                <key>spriteSize</key>
                <string>{92,90}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{371,1},{92,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1040_R3_effup/0017</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-238.5,158.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,217},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1040_R3_effup/0018</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-238.5,158.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,217},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1040_R3_effup/0019</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-238.5,158.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,217},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>1040_R3_effup.png</string>
            <key>size</key>
            <string>{468,224}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:17734c1db9b35905c08481d44b098e0a:baef76f83c084c31d6ba8d43073f18a1:d2a560523831696c9b831c7f9fd6f8df$</string>
            <key>textureFileName</key>
            <string>1040_R3_effup.png</string>
        </dict>
    </dict>
</plist>
