<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1040_R2_effup/0000</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-19}</string>
                <key>spriteSize</key>
                <string>{28,22}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{195,247},{28,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1040_R2_effup/0001</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{44,-8}</string>
                <key>spriteSize</key>
                <string>{42,22}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{171,247},{42,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1040_R2_effup/0002</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{57,-7}</string>
                <key>spriteSize</key>
                <string>{66,18}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{91,271},{66,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1040_R2_effup/0003</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{68,-9}</string>
                <key>spriteSize</key>
                <string>{78,22}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{91,247},{78,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1040_R2_effup/0004</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{86,-13}</string>
                <key>spriteSize</key>
                <string>{76,30}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{169,215},{76,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1040_R2_effup/0005</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{95,-19}</string>
                <key>spriteSize</key>
                <string>{88,40}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,247},{88,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1040_R2_effup/0006</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{113,-27}</string>
                <key>spriteSize</key>
                <string>{82,48}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{169,165},{82,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1040_R2_effup/0007</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{154,-52}</string>
                <key>spriteSize</key>
                <string>{26,24}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{225,247},{26,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1040_R2_effup/0008</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{157,-59}</string>
                <key>spriteSize</key>
                <string>{82,80}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,1},{82,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1040_R2_effup/0009</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{157,-59}</string>
                <key>spriteSize</key>
                <string>{82,80}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,83},{82,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1040_R2_effup/0010</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{157,-59}</string>
                <key>spriteSize</key>
                <string>{82,80}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{85,1},{82,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1040_R2_effup/0011</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{157,-59}</string>
                <key>spriteSize</key>
                <string>{82,80}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,165},{82,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1040_R2_effup/0012</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{157,-59}</string>
                <key>spriteSize</key>
                <string>{82,80}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{85,83},{82,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1040_R2_effup/0013</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{157,-59}</string>
                <key>spriteSize</key>
                <string>{82,80}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{169,1},{82,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1040_R2_effup/0014</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{157,-59}</string>
                <key>spriteSize</key>
                <string>{82,80}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{85,165},{82,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1040_R2_effup/0015</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{157,-59}</string>
                <key>spriteSize</key>
                <string>{82,80}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{169,83},{82,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1040_R2_effup/0016</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-238.5,158.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{159,271},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1040_R2_effup/0017</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-238.5,158.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{159,271},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>1040_R2_effup.png</string>
            <key>size</key>
            <string>{252,290}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7dbab16ad48bc55b5ce05a994c344a88:679387e2d76a3c714f56a9258ce08519:85350662bbe55910fd302dbc629141fb$</string>
            <key>textureFileName</key>
            <string>1040_R2_effup.png</string>
        </dict>
    </dict>
</plist>
