<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1043_W1_effup/0000</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-238.5,175}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{480,353}</string>
                <key>textureRect</key>
                <string>{{497,243},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1043_W1_effup/0001</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-238.5,175}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{480,353}</string>
                <key>textureRect</key>
                <string>{{497,243},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1043_W1_effup/0002</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-118}</string>
                <key>spriteSize</key>
                <string>{58,45}</string>
                <key>spriteSourceSize</key>
                <string>{480,353}</string>
                <key>textureRect</key>
                <string>{{1282,264},{58,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1043_W1_effup/0003</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-118}</string>
                <key>spriteSize</key>
                <string>{58,45}</string>
                <key>spriteSourceSize</key>
                <string>{480,353}</string>
                <key>textureRect</key>
                <string>{{1282,264},{58,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1043_W1_effup/0004</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,-112}</string>
                <key>spriteSize</key>
                <string>{126,57}</string>
                <key>spriteSourceSize</key>
                <string>{480,353}</string>
                <key>textureRect</key>
                <string>{{1274,324},{126,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1043_W1_effup/0005</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,-112}</string>
                <key>spriteSize</key>
                <string>{126,57}</string>
                <key>spriteSourceSize</key>
                <string>{480,353}</string>
                <key>textureRect</key>
                <string>{{1274,324},{126,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1043_W1_effup/0006</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{58,-110}</string>
                <key>spriteSize</key>
                <string>{196,61}</string>
                <key>spriteSourceSize</key>
                <string>{480,353}</string>
                <key>textureRect</key>
                <string>{{1099,103},{196,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1043_W1_effup/0007</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{58,-110}</string>
                <key>spriteSize</key>
                <string>{196,61}</string>
                <key>spriteSourceSize</key>
                <string>{480,353}</string>
                <key>textureRect</key>
                <string>{{1099,103},{196,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1043_W1_effup/0008</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{65,-109}</string>
                <key>spriteSize</key>
                <string>{210,63}</string>
                <key>spriteSourceSize</key>
                <string>{480,353}</string>
                <key>textureRect</key>
                <string>{{835,240},{210,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1043_W1_effup/0009</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{65,-22}</string>
                <key>spriteSize</key>
                <string>{210,237}</string>
                <key>spriteSourceSize</key>
                <string>{480,353}</string>
                <key>textureRect</key>
                <string>{{688,1},{210,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1043_W1_effup/0010</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{54,-32}</string>
                <key>spriteSize</key>
                <string>{244,249}</string>
                <key>spriteSourceSize</key>
                <string>{480,353}</string>
                <key>textureRect</key>
                <string>{{1,1},{244,249}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1043_W1_effup/0011</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{54,-32}</string>
                <key>spriteSize</key>
                <string>{244,249}</string>
                <key>spriteSourceSize</key>
                <string>{480,353}</string>
                <key>textureRect</key>
                <string>{{1,1},{244,249}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1043_W1_effup/0012</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{61,-35}</string>
                <key>spriteSize</key>
                <string>{234,239}</string>
                <key>spriteSourceSize</key>
                <string>{480,353}</string>
                <key>textureRect</key>
                <string>{{1,252},{234,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1043_W1_effup/0013</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{59,-53}</string>
                <key>spriteSize</key>
                <string>{238,197}</string>
                <key>spriteSourceSize</key>
                <string>{480,353}</string>
                <key>textureRect</key>
                <string>{{459,252},{238,197}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1043_W1_effup/0014</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{58,-62}</string>
                <key>spriteSize</key>
                <string>{240,189}</string>
                <key>spriteSourceSize</key>
                <string>{480,353}</string>
                <key>textureRect</key>
                <string>{{497,1},{240,189}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1043_W1_effup/0015</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{58,-64}</string>
                <key>spriteSize</key>
                <string>{240,175}</string>
                <key>spriteSourceSize</key>
                <string>{480,353}</string>
                <key>textureRect</key>
                <string>{{658,243},{240,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1043_W1_effup/0016</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-54}</string>
                <key>spriteSize</key>
                <string>{68,155}</string>
                <key>spriteSourceSize</key>
                <string>{480,353}</string>
                <key>textureRect</key>
                <string>{{1077,350},{68,155}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1043_W1_effup/0017</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-105}</string>
                <key>spriteSize</key>
                <string>{48,53}</string>
                <key>spriteSourceSize</key>
                <string>{480,353}</string>
                <key>textureRect</key>
                <string>{{1282,166},{48,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1043_W1_effup/0018</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-238.5,175}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{480,353}</string>
                <key>textureRect</key>
                <string>{{497,243},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1043_W1_effup/0019</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{66,4}</string>
                <key>spriteSize</key>
                <string>{66,185}</string>
                <key>spriteSourceSize</key>
                <string>{480,353}</string>
                <key>textureRect</key>
                <string>{{1087,282},{66,185}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1043_W1_effup/0020</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{57,-32}</string>
                <key>spriteSize</key>
                <string>{124,249}</string>
                <key>spriteSourceSize</key>
                <string>{480,353}</string>
                <key>textureRect</key>
                <string>{{247,1},{124,249}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1043_W1_effup/0021</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{57,-32}</string>
                <key>spriteSize</key>
                <string>{124,249}</string>
                <key>spriteSourceSize</key>
                <string>{480,353}</string>
                <key>textureRect</key>
                <string>{{247,1},{124,249}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1043_W1_effup/0022</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{62,-35}</string>
                <key>spriteSize</key>
                <string>{110,239}</string>
                <key>spriteSourceSize</key>
                <string>{480,353}</string>
                <key>textureRect</key>
                <string>{{237,252},{110,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1043_W1_effup/0023</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{55,-53}</string>
                <key>spriteSize</key>
                <string>{100,197}</string>
                <key>spriteSourceSize</key>
                <string>{480,353}</string>
                <key>textureRect</key>
                <string>{{1099,1},{100,197}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1043_W1_effup/0024</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{58,-62}</string>
                <key>spriteSize</key>
                <string>{114,189}</string>
                <key>spriteSourceSize</key>
                <string>{480,353}</string>
                <key>textureRect</key>
                <string>{{900,105},{114,189}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1043_W1_effup/0025</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{51,-64}</string>
                <key>spriteSize</key>
                <string>{98,175}</string>
                <key>spriteSourceSize</key>
                <string>{480,353}</string>
                <key>textureRect</key>
                <string>{{900,291},{98,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1043_W1_effup/0026</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{69,-54}</string>
                <key>spriteSize</key>
                <string>{66,155}</string>
                <key>spriteSourceSize</key>
                <string>{480,353}</string>
                <key>textureRect</key>
                <string>{{1077,420},{66,155}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1043_W1_effup/0027</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{79,-105}</string>
                <key>spriteSize</key>
                <string>{46,53}</string>
                <key>spriteSourceSize</key>
                <string>{480,353}</string>
                <key>textureRect</key>
                <string>{{1282,216},{46,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1043_W1_effup/0028</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{132,4}</string>
                <key>spriteSize</key>
                <string>{68,185}</string>
                <key>spriteSourceSize</key>
                <string>{480,353}</string>
                <key>textureRect</key>
                <string>{{900,221},{68,185}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1043_W1_effup/0029</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{124,-32}</string>
                <key>spriteSize</key>
                <string>{122,249}</string>
                <key>spriteSourceSize</key>
                <string>{480,353}</string>
                <key>textureRect</key>
                <string>{{373,1},{122,249}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1043_W1_effup/0030</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{124,-32}</string>
                <key>spriteSize</key>
                <string>{122,249}</string>
                <key>spriteSourceSize</key>
                <string>{480,353}</string>
                <key>textureRect</key>
                <string>{{373,1},{122,249}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1043_W1_effup/0031</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{129,-35}</string>
                <key>spriteSize</key>
                <string>{108,239}</string>
                <key>spriteSourceSize</key>
                <string>{480,353}</string>
                <key>textureRect</key>
                <string>{{349,252},{108,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1043_W1_effup/0032</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{121,-53}</string>
                <key>spriteSize</key>
                <string>{102,197}</string>
                <key>spriteSourceSize</key>
                <string>{480,353}</string>
                <key>textureRect</key>
                <string>{{900,1},{102,197}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1043_W1_effup/0033</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{125,-62}</string>
                <key>spriteSize</key>
                <string>{114,189}</string>
                <key>spriteSourceSize</key>
                <string>{480,353}</string>
                <key>textureRect</key>
                <string>{{1091,166},{114,189}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1043_W1_effup/0034</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{118,-64}</string>
                <key>spriteSize</key>
                <string>{98,175}</string>
                <key>spriteSourceSize</key>
                <string>{480,353}</string>
                <key>textureRect</key>
                <string>{{900,391},{98,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1043_W1_effup/0035</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{135,-54}</string>
                <key>spriteSize</key>
                <string>{68,155}</string>
                <key>spriteSourceSize</key>
                <string>{480,353}</string>
                <key>textureRect</key>
                <string>{{1077,350},{68,155}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1043_W1_effup/0036</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{145,-105}</string>
                <key>spriteSize</key>
                <string>{48,53}</string>
                <key>spriteSourceSize</key>
                <string>{480,353}</string>
                <key>textureRect</key>
                <string>{{1282,166},{48,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1043_W1_effup/0037</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-238.5,175}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{480,353}</string>
                <key>textureRect</key>
                <string>{{497,243},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1043_W1_effup/0038</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-238.5,175}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{480,353}</string>
                <key>textureRect</key>
                <string>{{497,243},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>1043_W1_effup.png</string>
            <key>size</key>
            <string>{1336,492}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b6cb94244e24871678562eee0034275c:b2877d756043f08da0b4c63e2ecc350d:1b7228fa2aab44b1f54652ef8c4a1be4$</string>
            <key>textureFileName</key>
            <string>1043_W1_effup.png</string>
        </dict>
    </dict>
</plist>
