<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1044_Q1_effup/0000</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-7}</string>
                <key>spriteSize</key>
                <string>{54,34}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{177,259},{54,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1044_Q1_effup/0001</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-5}</string>
                <key>spriteSize</key>
                <string>{84,38}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{121,367},{84,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1044_Q1_effup/0002</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{32,-5}</string>
                <key>spriteSize</key>
                <string>{108,38}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{207,373},{108,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1044_Q1_effup/0003</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{43,-5}</string>
                <key>spriteSize</key>
                <string>{132,38}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{43,327},{132,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1044_Q1_effup/0004</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{53,-5}</string>
                <key>spriteSize</key>
                <string>{152,40}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,327},{152,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1044_Q1_effup/0005</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{62,-5}</string>
                <key>spriteSize</key>
                <string>{170,40}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,285},{170,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1044_Q1_effup/0006</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{69,-6}</string>
                <key>spriteSize</key>
                <string>{184,40}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,203},{184,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1044_Q1_effup/0007</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{75,-6}</string>
                <key>spriteSize</key>
                <string>{196,40}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,161},{196,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1044_Q1_effup/0008</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{80,-6}</string>
                <key>spriteSize</key>
                <string>{206,38}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,41},{206,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1044_Q1_effup/0009</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{83,-6}</string>
                <key>spriteSize</key>
                <string>{214,38}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,1},{214,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1044_Q1_effup/0010</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{95,-6}</string>
                <key>spriteSize</key>
                <string>{200,38}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,121},{200,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1044_Q1_effup/0011</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{101,-6}</string>
                <key>spriteSize</key>
                <string>{204,38}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,81},{204,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1044_Q1_effup/0012</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{126,-6}</string>
                <key>spriteSize</key>
                <string>{174,38}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,245},{174,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1044_Q1_effup/0013</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{139,-7}</string>
                <key>spriteSize</key>
                <string>{152,36}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{209,41},{152,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1044_Q1_effup/0014</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{157,-6}</string>
                <key>spriteSize</key>
                <string>{126,38}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{83,327},{126,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1044_Q1_effup/0015</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{169,-6}</string>
                <key>spriteSize</key>
                <string>{114,36}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{83,373},{114,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1044_Q1_effup/0016</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{173,-6}</string>
                <key>spriteSize</key>
                <string>{84,36}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{121,407},{84,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1044_Q1_effup/0017</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{179,-6}</string>
                <key>spriteSize</key>
                <string>{76,36}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{121,445},{76,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1044_Q1_effup/0018</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{191,-8}</string>
                <key>spriteSize</key>
                <string>{56,30}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{187,227},{56,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1044_Q1_effup/0019</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{195,-8}</string>
                <key>spriteSize</key>
                <string>{52,30}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{173,295},{52,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1044_Q1_effup/0020</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{201,-8}</string>
                <key>spriteSize</key>
                <string>{44,30}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{199,195},{44,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1044_Q1_effup/0021</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{202,-9}</string>
                <key>spriteSize</key>
                <string>{44,30}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{211,327},{44,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1044_Q1_effup/0022</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{211,-8}</string>
                <key>spriteSize</key>
                <string>{28,30}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{217,1},{28,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1044_Q1_effup/0023</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-238.5,158.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{217,33},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>1044_Q1_effup.png</string>
            <key>size</key>
            <string>{246,488}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3c92a5a68ded7abb6fae5abbe201fba7:9e108482c5e526c9be2a0d8f7693c338:92cdc269a72350e0ba04911fb9c2de54$</string>
            <key>textureFileName</key>
            <string>1044_Q1_effup.png</string>
        </dict>
    </dict>
</plist>
