<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1044_W1_effup/0000</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-238.5,158.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{677,201},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1044_W1_effup/0001</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-238.5,158.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{677,201},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1044_W1_effup/0002</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-238.5,158.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{677,201},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1044_W1_effup/0003</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-238.5,158.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{677,201},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1044_W1_effup/0004</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-238.5,158.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{677,201},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1044_W1_effup/0005</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-238.5,158.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{677,201},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1044_W1_effup/0006</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{160,-34}</string>
                <key>spriteSize</key>
                <string>{76,44}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1057,159},{76,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1044_W1_effup/0007</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{161,-34}</string>
                <key>spriteSize</key>
                <string>{86,42}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{97,201},{86,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1044_W1_effup/0008</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{161,-34}</string>
                <key>spriteSize</key>
                <string>{86,42}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{185,201},{86,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1044_W1_effup/0009</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{160,-35}</string>
                <key>spriteSize</key>
                <string>{94,40}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{477,201},{94,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1044_W1_effup/0010</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{160,-35}</string>
                <key>spriteSize</key>
                <string>{94,42}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,201},{94,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1044_W1_effup/0011</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{161,-36}</string>
                <key>spriteSize</key>
                <string>{100,40}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{273,201},{100,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1044_W1_effup/0012</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{161,-35}</string>
                <key>spriteSize</key>
                <string>{100,40}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{375,201},{100,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1044_W1_effup/0013</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{161,-36}</string>
                <key>spriteSize</key>
                <string>{50,38}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{573,201},{50,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1044_W1_effup/0014</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{161,-36}</string>
                <key>spriteSize</key>
                <string>{50,38}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{625,201},{50,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1044_W1_effup/0015</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-238.5,158.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{677,201},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1044_W1_effup/0016</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-238.5,158.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{677,201},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1044_W1_effup/0017</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-238.5,158.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{677,201},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1044_W1_effup/0018</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{153,-11}</string>
                <key>spriteSize</key>
                <string>{174,198}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,1},{174,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1044_W1_effup/0019</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{153,-11}</string>
                <key>spriteSize</key>
                <string>{174,198}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,1},{174,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1044_W1_effup/0020</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{153,-11}</string>
                <key>spriteSize</key>
                <string>{174,198}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{177,1},{174,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1044_W1_effup/0021</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{153,-11}</string>
                <key>spriteSize</key>
                <string>{174,198}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{177,1},{174,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1044_W1_effup/0022</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{153,-11}</string>
                <key>spriteSize</key>
                <string>{174,198}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{353,1},{174,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1044_W1_effup/0023</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{153,-11}</string>
                <key>spriteSize</key>
                <string>{174,198}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{353,1},{174,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1044_W1_effup/0024</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{153,-11}</string>
                <key>spriteSize</key>
                <string>{174,198}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{529,1},{174,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1044_W1_effup/0025</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{153,-11}</string>
                <key>spriteSize</key>
                <string>{174,198}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{529,1},{174,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1044_W1_effup/0026</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{153,-11}</string>
                <key>spriteSize</key>
                <string>{174,198}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{705,1},{174,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1044_W1_effup/0027</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{153,-11}</string>
                <key>spriteSize</key>
                <string>{174,198}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{705,1},{174,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1044_W1_effup/0028</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{153,-11}</string>
                <key>spriteSize</key>
                <string>{174,198}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{881,1},{174,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1044_W1_effup/0029</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{153,-11}</string>
                <key>spriteSize</key>
                <string>{174,198}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{881,1},{174,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1044_W1_effup/0030</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{151,-9}</string>
                <key>spriteSize</key>
                <string>{156,110}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1057,1},{156,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1044_W1_effup/0031</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{151,-9}</string>
                <key>spriteSize</key>
                <string>{156,110}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1057,1},{156,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1044_W1_effup/0032</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{151,-15}</string>
                <key>spriteSize</key>
                <string>{154,116}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1169,1},{154,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1044_W1_effup/0033</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{151,-15}</string>
                <key>spriteSize</key>
                <string>{154,116}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1169,1},{154,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1044_W1_effup/0034</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{165,-16}</string>
                <key>spriteSize</key>
                <string>{124,130}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1169,119},{124,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1044_W1_effup/0035</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{165,-16}</string>
                <key>spriteSize</key>
                <string>{124,130}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1169,119},{124,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1044_W1_effup/0036</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-238.5,158.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{677,201},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>1044_W1_effup.png</string>
            <key>size</key>
            <string>{1324,244}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:61502461f77c06d659d7e610736a97f1:707625661dcc2911dbf575ded847a119:7f27f8ab004c5df1e151706ad9725d33$</string>
            <key>textureFileName</key>
            <string>1044_W1_effup.png</string>
        </dict>
    </dict>
</plist>
