<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2122_W4_role/0000</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,132}</string>
                <key>spriteSize</key>
                <string>{22,28}</string>
                <key>spriteSourceSize</key>
                <string>{1100,640}</string>
                <key>textureRect</key>
                <string>{{373,459},{22,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2122_W4_role/0001</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{40,154}</string>
                <key>spriteSize</key>
                <string>{22,28}</string>
                <key>spriteSourceSize</key>
                <string>{1100,640}</string>
                <key>textureRect</key>
                <string>{{403,459},{22,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2122_W4_role/0002</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{82,163}</string>
                <key>spriteSize</key>
                <string>{22,28}</string>
                <key>spriteSourceSize</key>
                <string>{1100,640}</string>
                <key>textureRect</key>
                <string>{{433,459},{22,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2122_W4_role/0003</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{116,162}</string>
                <key>spriteSize</key>
                <string>{24,26}</string>
                <key>spriteSourceSize</key>
                <string>{1100,640}</string>
                <key>textureRect</key>
                <string>{{495,417},{24,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W4_role/0004</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{142,160}</string>
                <key>spriteSize</key>
                <string>{24,28}</string>
                <key>spriteSourceSize</key>
                <string>{1100,640}</string>
                <key>textureRect</key>
                <string>{{495,357},{24,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W4_role/0005</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{160,158}</string>
                <key>spriteSize</key>
                <string>{24,26}</string>
                <key>spriteSourceSize</key>
                <string>{1100,640}</string>
                <key>textureRect</key>
                <string>{{495,445},{24,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W4_role/0006</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{202,148}</string>
                <key>spriteSize</key>
                <string>{22,26}</string>
                <key>spriteSourceSize</key>
                <string>{1100,640}</string>
                <key>textureRect</key>
                <string>{{463,459},{22,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2122_W4_role/0007</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{247,129}</string>
                <key>spriteSize</key>
                <string>{24,26}</string>
                <key>spriteSourceSize</key>
                <string>{1100,640}</string>
                <key>textureRect</key>
                <string>{{151,479},{24,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2122_W4_role/0008</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{295,106}</string>
                <key>spriteSize</key>
                <string>{26,28}</string>
                <key>spriteSourceSize</key>
                <string>{1100,640}</string>
                <key>textureRect</key>
                <string>{{343,459},{26,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2122_W4_role/0009</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{344,76}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{1100,640}</string>
                <key>textureRect</key>
                <string>{{121,475},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W4_role/0010</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{392,38}</string>
                <key>spriteSize</key>
                <string>{28,24}</string>
                <key>spriteSourceSize</key>
                <string>{1100,640}</string>
                <key>textureRect</key>
                <string>{{495,387},{28,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2122_W4_role/0011</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{435,-11}</string>
                <key>spriteSize</key>
                <string>{28,20}</string>
                <key>spriteSourceSize</key>
                <string>{1100,640}</string>
                <key>textureRect</key>
                <string>{{1,483},{28,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W4_role/0012</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{435,-11}</string>
                <key>spriteSize</key>
                <string>{28,20}</string>
                <key>spriteSourceSize</key>
                <string>{1100,640}</string>
                <key>textureRect</key>
                <string>{{31,483},{28,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W4_role/0013</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{435,-11}</string>
                <key>spriteSize</key>
                <string>{28,20}</string>
                <key>spriteSourceSize</key>
                <string>{1100,640}</string>
                <key>textureRect</key>
                <string>{{61,483},{28,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W4_role/0014</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{435,-11}</string>
                <key>spriteSize</key>
                <string>{28,20}</string>
                <key>spriteSourceSize</key>
                <string>{1100,640}</string>
                <key>textureRect</key>
                <string>{{91,483},{28,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W4_role/0015</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{435,-10}</string>
                <key>spriteSize</key>
                <string>{28,22}</string>
                <key>spriteSourceSize</key>
                <string>{1100,640}</string>
                <key>textureRect</key>
                <string>{{179,479},{28,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W4_role/0016</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{435,-10}</string>
                <key>spriteSize</key>
                <string>{28,22}</string>
                <key>spriteSourceSize</key>
                <string>{1100,640}</string>
                <key>textureRect</key>
                <string>{{209,479},{28,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W4_role/0017</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{435,-10}</string>
                <key>spriteSize</key>
                <string>{28,22}</string>
                <key>spriteSourceSize</key>
                <string>{1100,640}</string>
                <key>textureRect</key>
                <string>{{239,479},{28,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W4_role/0018</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{435,-10}</string>
                <key>spriteSize</key>
                <string>{28,22}</string>
                <key>spriteSourceSize</key>
                <string>{1100,640}</string>
                <key>textureRect</key>
                <string>{{269,479},{28,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W4_role/0019</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{435,-10}</string>
                <key>spriteSize</key>
                <string>{28,22}</string>
                <key>spriteSourceSize</key>
                <string>{1100,640}</string>
                <key>textureRect</key>
                <string>{{299,479},{28,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W4_role/0020</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{435,-11}</string>
                <key>spriteSize</key>
                <string>{28,20}</string>
                <key>spriteSourceSize</key>
                <string>{1100,640}</string>
                <key>textureRect</key>
                <string>{{1,483},{28,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W4_role/0021</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{435,-11}</string>
                <key>spriteSize</key>
                <string>{28,20}</string>
                <key>spriteSourceSize</key>
                <string>{1100,640}</string>
                <key>textureRect</key>
                <string>{{31,483},{28,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W4_role/0022</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{435,-11}</string>
                <key>spriteSize</key>
                <string>{28,20}</string>
                <key>spriteSourceSize</key>
                <string>{1100,640}</string>
                <key>textureRect</key>
                <string>{{61,483},{28,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W4_role/0023</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{435,-11}</string>
                <key>spriteSize</key>
                <string>{28,20}</string>
                <key>spriteSourceSize</key>
                <string>{1100,640}</string>
                <key>textureRect</key>
                <string>{{91,483},{28,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W4_role/0024</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{435,-10}</string>
                <key>spriteSize</key>
                <string>{28,22}</string>
                <key>spriteSourceSize</key>
                <string>{1100,640}</string>
                <key>textureRect</key>
                <string>{{179,479},{28,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W4_role/0025</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{435,-10}</string>
                <key>spriteSize</key>
                <string>{28,22}</string>
                <key>spriteSourceSize</key>
                <string>{1100,640}</string>
                <key>textureRect</key>
                <string>{{209,479},{28,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W4_role/0026</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{435,-10}</string>
                <key>spriteSize</key>
                <string>{28,22}</string>
                <key>spriteSourceSize</key>
                <string>{1100,640}</string>
                <key>textureRect</key>
                <string>{{239,479},{28,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W4_role/0027</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{435,-10}</string>
                <key>spriteSize</key>
                <string>{28,22}</string>
                <key>spriteSourceSize</key>
                <string>{1100,640}</string>
                <key>textureRect</key>
                <string>{{269,479},{28,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W4_role/0028</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{435,-10}</string>
                <key>spriteSize</key>
                <string>{28,22}</string>
                <key>spriteSourceSize</key>
                <string>{1100,640}</string>
                <key>textureRect</key>
                <string>{{299,479},{28,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W4_role/0029</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{435,-11}</string>
                <key>spriteSize</key>
                <string>{28,20}</string>
                <key>spriteSourceSize</key>
                <string>{1100,640}</string>
                <key>textureRect</key>
                <string>{{1,483},{28,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W4_role/0030</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{435,-11}</string>
                <key>spriteSize</key>
                <string>{28,20}</string>
                <key>spriteSourceSize</key>
                <string>{1100,640}</string>
                <key>textureRect</key>
                <string>{{31,483},{28,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W4_role/0031</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{435,-11}</string>
                <key>spriteSize</key>
                <string>{28,20}</string>
                <key>spriteSourceSize</key>
                <string>{1100,640}</string>
                <key>textureRect</key>
                <string>{{61,483},{28,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W4_role/0032</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{435,-11}</string>
                <key>spriteSize</key>
                <string>{28,20}</string>
                <key>spriteSourceSize</key>
                <string>{1100,640}</string>
                <key>textureRect</key>
                <string>{{91,483},{28,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W4_role/0033</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{435,-10}</string>
                <key>spriteSize</key>
                <string>{28,22}</string>
                <key>spriteSourceSize</key>
                <string>{1100,640}</string>
                <key>textureRect</key>
                <string>{{179,479},{28,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W4_role/0034</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{435,-10}</string>
                <key>spriteSize</key>
                <string>{28,22}</string>
                <key>spriteSourceSize</key>
                <string>{1100,640}</string>
                <key>textureRect</key>
                <string>{{209,479},{28,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W4_role/0035</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{435,-10}</string>
                <key>spriteSize</key>
                <string>{28,22}</string>
                <key>spriteSourceSize</key>
                <string>{1100,640}</string>
                <key>textureRect</key>
                <string>{{239,479},{28,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W4_role/0036</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{435,-10}</string>
                <key>spriteSize</key>
                <string>{28,22}</string>
                <key>spriteSourceSize</key>
                <string>{1100,640}</string>
                <key>textureRect</key>
                <string>{{269,479},{28,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W4_role/0037</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{435,-10}</string>
                <key>spriteSize</key>
                <string>{28,22}</string>
                <key>spriteSourceSize</key>
                <string>{1100,640}</string>
                <key>textureRect</key>
                <string>{{299,479},{28,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W4_role/0038</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{435,-11}</string>
                <key>spriteSize</key>
                <string>{28,20}</string>
                <key>spriteSourceSize</key>
                <string>{1100,640}</string>
                <key>textureRect</key>
                <string>{{1,483},{28,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W4_role/0039</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{435,-11}</string>
                <key>spriteSize</key>
                <string>{28,20}</string>
                <key>spriteSourceSize</key>
                <string>{1100,640}</string>
                <key>textureRect</key>
                <string>{{31,483},{28,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W4_role/0040</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{435,-11}</string>
                <key>spriteSize</key>
                <string>{28,20}</string>
                <key>spriteSourceSize</key>
                <string>{1100,640}</string>
                <key>textureRect</key>
                <string>{{61,483},{28,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W4_role/0041</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{435,-11}</string>
                <key>spriteSize</key>
                <string>{28,20}</string>
                <key>spriteSourceSize</key>
                <string>{1100,640}</string>
                <key>textureRect</key>
                <string>{{91,483},{28,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W4_role/0042</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{435,-10}</string>
                <key>spriteSize</key>
                <string>{28,22}</string>
                <key>spriteSourceSize</key>
                <string>{1100,640}</string>
                <key>textureRect</key>
                <string>{{179,479},{28,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W4_role/0043</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{435,-10}</string>
                <key>spriteSize</key>
                <string>{28,22}</string>
                <key>spriteSourceSize</key>
                <string>{1100,640}</string>
                <key>textureRect</key>
                <string>{{209,479},{28,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W4_role/0044</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{436,6}</string>
                <key>spriteSize</key>
                <string>{42,68}</string>
                <key>spriteSourceSize</key>
                <string>{1100,640}</string>
                <key>textureRect</key>
                <string>{{117,405},{42,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W4_role/0045</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{438,31}</string>
                <key>spriteSize</key>
                <string>{76,114}</string>
                <key>spriteSourceSize</key>
                <string>{1100,640}</string>
                <key>textureRect</key>
                <string>{{1,405},{76,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2122_W4_role/0046</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{438,31}</string>
                <key>spriteSize</key>
                <string>{76,114}</string>
                <key>spriteSourceSize</key>
                <string>{1100,640}</string>
                <key>textureRect</key>
                <string>{{1,405},{76,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2122_W4_role/0047</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{439,56}</string>
                <key>spriteSize</key>
                <string>{124,170}</string>
                <key>spriteSourceSize</key>
                <string>{1100,640}</string>
                <key>textureRect</key>
                <string>{{175,193},{124,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2122_W4_role/0048</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{439,56}</string>
                <key>spriteSize</key>
                <string>{124,170}</string>
                <key>spriteSourceSize</key>
                <string>{1100,640}</string>
                <key>textureRect</key>
                <string>{{175,193},{124,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2122_W4_role/0049</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{441,65}</string>
                <key>spriteSize</key>
                <string>{168,200}</string>
                <key>spriteSourceSize</key>
                <string>{1100,640}</string>
                <key>textureRect</key>
                <string>{{1,203},{168,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W4_role/0050</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{441,65}</string>
                <key>spriteSize</key>
                <string>{168,200}</string>
                <key>spriteSourceSize</key>
                <string>{1100,640}</string>
                <key>textureRect</key>
                <string>{{1,203},{168,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W4_role/0051</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{439,67}</string>
                <key>spriteSize</key>
                <string>{172,200}</string>
                <key>spriteSourceSize</key>
                <string>{1100,640}</string>
                <key>textureRect</key>
                <string>{{1,1},{172,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W4_role/0052</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{439,67}</string>
                <key>spriteSize</key>
                <string>{172,200}</string>
                <key>spriteSourceSize</key>
                <string>{1100,640}</string>
                <key>textureRect</key>
                <string>{{1,1},{172,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W4_role/0053</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{438,73}</string>
                <key>spriteSize</key>
                <string>{176,190}</string>
                <key>spriteSourceSize</key>
                <string>{1100,640}</string>
                <key>textureRect</key>
                <string>{{175,1},{176,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W4_role/0054</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{438,73}</string>
                <key>spriteSize</key>
                <string>{176,190}</string>
                <key>spriteSourceSize</key>
                <string>{1100,640}</string>
                <key>textureRect</key>
                <string>{{175,1},{176,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W4_role/0055</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{431,88}</string>
                <key>spriteSize</key>
                <string>{166,172}</string>
                <key>spriteSourceSize</key>
                <string>{1100,640}</string>
                <key>textureRect</key>
                <string>{{353,183},{166,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W4_role/0056</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{431,88}</string>
                <key>spriteSize</key>
                <string>{166,172}</string>
                <key>spriteSourceSize</key>
                <string>{1100,640}</string>
                <key>textureRect</key>
                <string>{{353,183},{166,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W4_role/0057</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{435,95}</string>
                <key>spriteSize</key>
                <string>{180,166}</string>
                <key>spriteSourceSize</key>
                <string>{1100,640}</string>
                <key>textureRect</key>
                <string>{{353,1},{180,166}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2122_W4_role/0058</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{435,95}</string>
                <key>spriteSize</key>
                <string>{180,166}</string>
                <key>spriteSourceSize</key>
                <string>{1100,640}</string>
                <key>textureRect</key>
                <string>{{353,1},{180,166}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2122_W4_role/0059</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{437,101}</string>
                <key>spriteSize</key>
                <string>{170,158}</string>
                <key>spriteSourceSize</key>
                <string>{1100,640}</string>
                <key>textureRect</key>
                <string>{{171,319},{170,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W4_role/0060</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{437,101}</string>
                <key>spriteSize</key>
                <string>{170,158}</string>
                <key>spriteSourceSize</key>
                <string>{1100,640}</string>
                <key>textureRect</key>
                <string>{{171,319},{170,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W4_role/0061</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{427,129}</string>
                <key>spriteSize</key>
                <string>{150,100}</string>
                <key>spriteSourceSize</key>
                <string>{1100,640}</string>
                <key>textureRect</key>
                <string>{{343,357},{150,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W4_role/0062</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{427,129}</string>
                <key>spriteSize</key>
                <string>{150,100}</string>
                <key>spriteSourceSize</key>
                <string>{1100,640}</string>
                <key>textureRect</key>
                <string>{{343,357},{150,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>2122_W4_role.png</string>
            <key>size</key>
            <string>{520,504}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8f9932a4bbd1249d48c55e7765e0544d:12e9113422454146d70c6abdb7ed04b5:9ae421c088333cae6f843014a986ef23$</string>
            <key>textureFileName</key>
            <string>2122_W4_role.png</string>
        </dict>
    </dict>
</plist>
