<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2122_W4_effup/0000</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-273.5,158.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{550,320}</string>
                <key>textureRect</key>
                <string>{{121,567},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W4_effup/0001</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-273.5,158.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{550,320}</string>
                <key>textureRect</key>
                <string>{{121,567},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W4_effup/0002</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-273.5,158.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{550,320}</string>
                <key>textureRect</key>
                <string>{{121,567},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W4_effup/0003</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-273.5,158.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{550,320}</string>
                <key>textureRect</key>
                <string>{{121,567},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W4_effup/0004</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-273.5,158.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{550,320}</string>
                <key>textureRect</key>
                <string>{{121,567},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W4_effup/0005</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-273.5,158.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{550,320}</string>
                <key>textureRect</key>
                <string>{{121,567},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W4_effup/0006</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-273.5,158.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{550,320}</string>
                <key>textureRect</key>
                <string>{{121,567},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W4_effup/0007</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-273.5,158.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{550,320}</string>
                <key>textureRect</key>
                <string>{{121,567},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W4_effup/0008</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-273.5,158.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{550,320}</string>
                <key>textureRect</key>
                <string>{{121,567},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W4_effup/0009</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-273.5,158.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{550,320}</string>
                <key>textureRect</key>
                <string>{{121,567},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W4_effup/0010</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-273.5,158.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{550,320}</string>
                <key>textureRect</key>
                <string>{{121,567},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W4_effup/0011</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-273.5,158.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{550,320}</string>
                <key>textureRect</key>
                <string>{{121,567},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W4_effup/0012</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-273.5,158.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{550,320}</string>
                <key>textureRect</key>
                <string>{{121,567},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W4_effup/0013</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-273.5,158.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{550,320}</string>
                <key>textureRect</key>
                <string>{{121,567},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W4_effup/0014</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-273.5,158.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{550,320}</string>
                <key>textureRect</key>
                <string>{{121,567},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W4_effup/0015</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-273.5,158.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{550,320}</string>
                <key>textureRect</key>
                <string>{{121,567},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W4_effup/0016</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-273.5,158.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{550,320}</string>
                <key>textureRect</key>
                <string>{{121,567},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W4_effup/0017</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-273.5,158.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{550,320}</string>
                <key>textureRect</key>
                <string>{{121,567},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W4_effup/0018</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-273.5,158.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{550,320}</string>
                <key>textureRect</key>
                <string>{{121,567},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W4_effup/0019</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-273.5,158.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{550,320}</string>
                <key>textureRect</key>
                <string>{{121,567},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W4_effup/0020</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-273.5,158.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{550,320}</string>
                <key>textureRect</key>
                <string>{{121,567},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W4_effup/0021</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-273.5,158.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{550,320}</string>
                <key>textureRect</key>
                <string>{{121,567},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W4_effup/0022</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-273.5,158.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{550,320}</string>
                <key>textureRect</key>
                <string>{{121,567},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W4_effup/0023</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-273.5,158.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{550,320}</string>
                <key>textureRect</key>
                <string>{{121,567},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W4_effup/0024</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-273.5,158.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{550,320}</string>
                <key>textureRect</key>
                <string>{{121,567},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W4_effup/0025</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-273.5,158.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{550,320}</string>
                <key>textureRect</key>
                <string>{{121,567},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W4_effup/0026</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-273.5,158.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{550,320}</string>
                <key>textureRect</key>
                <string>{{121,567},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W4_effup/0027</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-273.5,158.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{550,320}</string>
                <key>textureRect</key>
                <string>{{121,567},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W4_effup/0028</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-273.5,158.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{550,320}</string>
                <key>textureRect</key>
                <string>{{121,567},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W4_effup/0029</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-273.5,158.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{550,320}</string>
                <key>textureRect</key>
                <string>{{121,567},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W4_effup/0030</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-273.5,158.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{550,320}</string>
                <key>textureRect</key>
                <string>{{121,567},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W4_effup/0031</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-273.5,158.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{550,320}</string>
                <key>textureRect</key>
                <string>{{121,567},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W4_effup/0032</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-273.5,158.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{550,320}</string>
                <key>textureRect</key>
                <string>{{121,567},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W4_effup/0033</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-273.5,158.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{550,320}</string>
                <key>textureRect</key>
                <string>{{121,567},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W4_effup/0034</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-273.5,158.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{550,320}</string>
                <key>textureRect</key>
                <string>{{121,567},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W4_effup/0035</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-273.5,158.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{550,320}</string>
                <key>textureRect</key>
                <string>{{121,567},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W4_effup/0036</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-273.5,158.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{550,320}</string>
                <key>textureRect</key>
                <string>{{121,567},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W4_effup/0037</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-273.5,158.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{550,320}</string>
                <key>textureRect</key>
                <string>{{121,567},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W4_effup/0038</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-273.5,158.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{550,320}</string>
                <key>textureRect</key>
                <string>{{121,567},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W4_effup/0039</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-273.5,158.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{550,320}</string>
                <key>textureRect</key>
                <string>{{121,567},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W4_effup/0040</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-273.5,158.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{550,320}</string>
                <key>textureRect</key>
                <string>{{121,567},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W4_effup/0041</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-273.5,158.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{550,320}</string>
                <key>textureRect</key>
                <string>{{121,567},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W4_effup/0042</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-273.5,158.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{550,320}</string>
                <key>textureRect</key>
                <string>{{121,567},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W4_effup/0043</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-273.5,158.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{550,320}</string>
                <key>textureRect</key>
                <string>{{121,567},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W4_effup/0044</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{216,9}</string>
                <key>spriteSize</key>
                <string>{116,122}</string>
                <key>spriteSourceSize</key>
                <string>{550,320}</string>
                <key>textureRect</key>
                <string>{{1,143},{116,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2122_W4_effup/0045</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{216,9}</string>
                <key>spriteSize</key>
                <string>{116,122}</string>
                <key>spriteSourceSize</key>
                <string>{550,320}</string>
                <key>textureRect</key>
                <string>{{1,261},{116,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2122_W4_effup/0046</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{216,9}</string>
                <key>spriteSize</key>
                <string>{116,122}</string>
                <key>spriteSourceSize</key>
                <string>{550,320}</string>
                <key>textureRect</key>
                <string>{{1,261},{116,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2122_W4_effup/0047</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{212,9}</string>
                <key>spriteSize</key>
                <string>{126,140}</string>
                <key>spriteSourceSize</key>
                <string>{550,320}</string>
                <key>textureRect</key>
                <string>{{1,1},{126,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W4_effup/0048</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{212,9}</string>
                <key>spriteSize</key>
                <string>{126,140}</string>
                <key>spriteSourceSize</key>
                <string>{550,320}</string>
                <key>textureRect</key>
                <string>{{1,1},{126,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W4_effup/0049</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{216,38}</string>
                <key>spriteSize</key>
                <string>{118,84}</string>
                <key>spriteSourceSize</key>
                <string>{550,320}</string>
                <key>textureRect</key>
                <string>{{1,567},{118,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W4_effup/0050</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{216,38}</string>
                <key>spriteSize</key>
                <string>{118,84}</string>
                <key>spriteSourceSize</key>
                <string>{550,320}</string>
                <key>textureRect</key>
                <string>{{1,567},{118,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W4_effup/0051</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{214,33}</string>
                <key>spriteSize</key>
                <string>{122,100}</string>
                <key>spriteSourceSize</key>
                <string>{550,320}</string>
                <key>textureRect</key>
                <string>{{1,379},{122,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W4_effup/0052</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{214,33}</string>
                <key>spriteSize</key>
                <string>{122,100}</string>
                <key>spriteSourceSize</key>
                <string>{550,320}</string>
                <key>textureRect</key>
                <string>{{1,379},{122,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W4_effup/0053</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{214,42}</string>
                <key>spriteSize</key>
                <string>{122,84}</string>
                <key>spriteSourceSize</key>
                <string>{550,320}</string>
                <key>textureRect</key>
                <string>{{1,481},{122,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W4_effup/0054</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{214,42}</string>
                <key>spriteSize</key>
                <string>{122,84}</string>
                <key>spriteSourceSize</key>
                <string>{550,320}</string>
                <key>textureRect</key>
                <string>{{1,481},{122,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W4_effup/0055</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-273.5,158.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{550,320}</string>
                <key>textureRect</key>
                <string>{{121,567},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W4_effup/0056</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-273.5,158.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{550,320}</string>
                <key>textureRect</key>
                <string>{{121,567},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W4_effup/0057</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-273.5,158.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{550,320}</string>
                <key>textureRect</key>
                <string>{{121,567},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W4_effup/0058</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-273.5,158.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{550,320}</string>
                <key>textureRect</key>
                <string>{{121,567},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W4_effup/0059</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-273.5,158.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{550,320}</string>
                <key>textureRect</key>
                <string>{{121,567},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W4_effup/0060</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-273.5,158.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{550,320}</string>
                <key>textureRect</key>
                <string>{{121,567},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W4_effup/0061</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-273.5,158.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{550,320}</string>
                <key>textureRect</key>
                <string>{{121,567},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W4_effup/0062</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-273.5,158.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{550,320}</string>
                <key>textureRect</key>
                <string>{{121,567},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>2122_W4_effup.png</string>
            <key>size</key>
            <string>{128,652}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:26db6252083b986f8fa53b2e5776d48f:3ba94a4262e45aa0f79fc83072d68085:706de1d53e5d549f6233169e21036df6$</string>
            <key>textureFileName</key>
            <string>2122_W4_effup.png</string>
        </dict>
    </dict>
</plist>
