<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2122_W3_role/0000</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,123}</string>
                <key>spriteSize</key>
                <string>{22,20}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{351,307},{22,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W3_role/0001</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{66,147}</string>
                <key>spriteSize</key>
                <string>{22,22}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{247,487},{22,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W3_role/0002</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{103,160}</string>
                <key>spriteSize</key>
                <string>{20,22}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{365,267},{20,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W3_role/0003</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{132,167}</string>
                <key>spriteSize</key>
                <string>{20,22}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{397,139},{20,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W3_role/0004</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{155,169}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{157,487},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W3_role/0005</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{170,168}</string>
                <key>spriteSize</key>
                <string>{22,22}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{365,243},{22,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W3_role/0006</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{241,139}</string>
                <key>spriteSize</key>
                <string>{22,20}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{397,187},{22,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2122_W3_role/0007</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{281,105}</string>
                <key>spriteSize</key>
                <string>{22,22}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{271,487},{22,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W3_role/0008</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{302,80}</string>
                <key>spriteSize</key>
                <string>{18,22}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{397,211},{18,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W3_role/0009</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{323,49}</string>
                <key>spriteSize</key>
                <string>{20,22}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{397,163},{20,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W3_role/0010</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{341,18}</string>
                <key>spriteSize</key>
                <string>{24,22}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{183,487},{24,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2122_W3_role/0011</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{356,-15}</string>
                <key>spriteSize</key>
                <string>{22,18}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{295,487},{22,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2122_W3_role/0012</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{356,-15}</string>
                <key>spriteSize</key>
                <string>{22,18}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{315,485},{22,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W3_role/0013</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{356,-15}</string>
                <key>spriteSize</key>
                <string>{22,18}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{339,485},{22,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W3_role/0014</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{356,-15}</string>
                <key>spriteSize</key>
                <string>{22,18}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{363,485},{22,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W3_role/0015</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{356,-15}</string>
                <key>spriteSize</key>
                <string>{22,18}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{387,485},{22,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W3_role/0016</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{356,-15}</string>
                <key>spriteSize</key>
                <string>{22,18}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{389,243},{22,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2122_W3_role/0017</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{355,-15}</string>
                <key>spriteSize</key>
                <string>{24,18}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{207,487},{24,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2122_W3_role/0018</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{355,-14}</string>
                <key>spriteSize</key>
                <string>{24,20}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{325,307},{24,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W3_role/0019</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{355,-15}</string>
                <key>spriteSize</key>
                <string>{24,18}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{227,487},{24,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2122_W3_role/0020</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{356,-15}</string>
                <key>spriteSize</key>
                <string>{22,18}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{295,487},{22,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2122_W3_role/0021</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{356,-15}</string>
                <key>spriteSize</key>
                <string>{22,18}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{315,485},{22,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W3_role/0022</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{356,-15}</string>
                <key>spriteSize</key>
                <string>{22,18}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{339,485},{22,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W3_role/0023</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{356,-15}</string>
                <key>spriteSize</key>
                <string>{22,18}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{363,485},{22,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W3_role/0024</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{356,-15}</string>
                <key>spriteSize</key>
                <string>{22,18}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{387,485},{22,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W3_role/0025</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{356,-15}</string>
                <key>spriteSize</key>
                <string>{22,18}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{389,243},{22,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2122_W3_role/0026</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{355,-15}</string>
                <key>spriteSize</key>
                <string>{24,18}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{207,487},{24,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2122_W3_role/0027</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{355,-14}</string>
                <key>spriteSize</key>
                <string>{24,20}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{325,307},{24,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W3_role/0028</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{355,-15}</string>
                <key>spriteSize</key>
                <string>{24,18}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{227,487},{24,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2122_W3_role/0029</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{356,-15}</string>
                <key>spriteSize</key>
                <string>{22,18}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{295,487},{22,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2122_W3_role/0030</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{350,3}</string>
                <key>spriteSize</key>
                <string>{38,62}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{325,243},{38,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W3_role/0031</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{352,25}</string>
                <key>spriteSize</key>
                <string>{70,102}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{325,139},{70,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W3_role/0032</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{352,25}</string>
                <key>spriteSize</key>
                <string>{70,102}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{325,139},{70,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W3_role/0033</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{353,48}</string>
                <key>spriteSize</key>
                <string>{112,154}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{309,329},{112,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W3_role/0034</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{353,48}</string>
                <key>spriteSize</key>
                <string>{112,154}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{309,329},{112,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W3_role/0035</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{354,56}</string>
                <key>spriteSize</key>
                <string>{154,182}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1,185},{154,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W3_role/0036</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{354,56}</string>
                <key>spriteSize</key>
                <string>{154,182}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1,185},{154,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W3_role/0037</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{353,57}</string>
                <key>spriteSize</key>
                <string>{158,182}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1,1},{158,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W3_role/0038</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{353,57}</string>
                <key>spriteSize</key>
                <string>{158,182}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1,1},{158,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W3_role/0039</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{352,64}</string>
                <key>spriteSize</key>
                <string>{160,172}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{161,1},{160,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W3_role/0040</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{352,64}</string>
                <key>spriteSize</key>
                <string>{160,172}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{161,1},{160,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W3_role/0041</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{346,77}</string>
                <key>spriteSize</key>
                <string>{150,156}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{157,329},{150,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W3_role/0042</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{346,77}</string>
                <key>spriteSize</key>
                <string>{150,156}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{157,329},{150,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W3_role/0043</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{350,83}</string>
                <key>spriteSize</key>
                <string>{162,152}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{161,175},{162,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W3_role/0044</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{350,83}</string>
                <key>spriteSize</key>
                <string>{162,152}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{161,175},{162,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W3_role/0045</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{351,88}</string>
                <key>spriteSize</key>
                <string>{154,142}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1,369},{154,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W3_role/0046</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{351,88}</string>
                <key>spriteSize</key>
                <string>{154,142}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1,369},{154,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W3_role/0047</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{342,113}</string>
                <key>spriteSize</key>
                <string>{136,90}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{323,1},{136,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2122_W3_role/0048</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{342,113}</string>
                <key>spriteSize</key>
                <string>{136,90}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{323,1},{136,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>2122_W3_role.png</string>
            <key>size</key>
            <string>{422,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b55556586cfe453d2ff1e3c5c9518a48:5bc337f005ca2611824df9b0d1b1106e:a8a8accd226c8727493da465c2892f62$</string>
            <key>textureFileName</key>
            <string>2122_W3_role.png</string>
        </dict>
    </dict>
</plist>
