<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2122_W2_role/0000</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{50,96}</string>
                <key>spriteSize</key>
                <string>{28,22}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{151,203},{28,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W2_role/0001</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{79,118}</string>
                <key>spriteSize</key>
                <string>{26,22}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{301,203},{26,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W2_role/0002</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{104,134}</string>
                <key>spriteSize</key>
                <string>{28,22}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{555,169},{28,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W2_role/0003</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{129,141}</string>
                <key>spriteSize</key>
                <string>{28,22}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{181,203},{28,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W2_role/0004</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{152,140}</string>
                <key>spriteSize</key>
                <string>{28,22}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{585,169},{28,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W2_role/0005</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{169,136}</string>
                <key>spriteSize</key>
                <string>{28,22}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{211,203},{28,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W2_role/0006</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{179,131}</string>
                <key>spriteSize</key>
                <string>{28,22}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{615,169},{28,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W2_role/0007</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{196,120}</string>
                <key>spriteSize</key>
                <string>{26,26}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{93,203},{26,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W2_role/0008</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{214,107}</string>
                <key>spriteSize</key>
                <string>{26,28}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{63,203},{26,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2122_W2_role/0009</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{231,89}</string>
                <key>spriteSize</key>
                <string>{24,28}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{121,203},{24,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2122_W2_role/0010</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{248,66}</string>
                <key>spriteSize</key>
                <string>{22,26}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{705,169},{22,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2122_W2_role/0011</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{262,42}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1,203},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W2_role/0012</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{276,16}</string>
                <key>spriteSize</key>
                <string>{30,26}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{31,203},{30,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W2_role/0013</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{288,-14}</string>
                <key>spriteSize</key>
                <string>{28,20}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{733,169},{28,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W2_role/0014</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{288,-14}</string>
                <key>spriteSize</key>
                <string>{28,20}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{763,169},{28,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W2_role/0015</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{288,-14}</string>
                <key>spriteSize</key>
                <string>{28,20}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{793,169},{28,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W2_role/0016</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{288,-14}</string>
                <key>spriteSize</key>
                <string>{28,20}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{823,169},{28,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W2_role/0017</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{288,-13}</string>
                <key>spriteSize</key>
                <string>{28,22}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{241,203},{28,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W2_role/0018</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{288,-13}</string>
                <key>spriteSize</key>
                <string>{28,22}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{645,169},{28,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W2_role/0019</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{288,-13}</string>
                <key>spriteSize</key>
                <string>{28,22}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{271,203},{28,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W2_role/0020</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{288,-13}</string>
                <key>spriteSize</key>
                <string>{28,22}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{675,169},{28,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W2_role/0021</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{288,-13}</string>
                <key>spriteSize</key>
                <string>{30,22}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{523,169},{30,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W2_role/0022</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{288,-14}</string>
                <key>spriteSize</key>
                <string>{28,20}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{733,169},{28,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W2_role/0023</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{288,-14}</string>
                <key>spriteSize</key>
                <string>{28,20}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{763,169},{28,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W2_role/0024</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{288,-14}</string>
                <key>spriteSize</key>
                <string>{28,20}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{793,169},{28,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W2_role/0025</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{288,-14}</string>
                <key>spriteSize</key>
                <string>{28,20}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{823,169},{28,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W2_role/0026</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{288,-13}</string>
                <key>spriteSize</key>
                <string>{28,22}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{241,203},{28,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W2_role/0027</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{288,-13}</string>
                <key>spriteSize</key>
                <string>{28,22}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{645,169},{28,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W2_role/0028</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{288,-13}</string>
                <key>spriteSize</key>
                <string>{28,22}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{271,203},{28,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W2_role/0029</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{288,-13}</string>
                <key>spriteSize</key>
                <string>{28,22}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{675,169},{28,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W2_role/0030</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{288,-13}</string>
                <key>spriteSize</key>
                <string>{30,22}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{523,169},{30,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W2_role/0031</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{288,-14}</string>
                <key>spriteSize</key>
                <string>{28,20}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{733,169},{28,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W2_role/0032</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{288,-14}</string>
                <key>spriteSize</key>
                <string>{28,20}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{763,169},{28,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W2_role/0033</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{288,-14}</string>
                <key>spriteSize</key>
                <string>{28,20}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{793,169},{28,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W2_role/0034</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{288,-14}</string>
                <key>spriteSize</key>
                <string>{28,20}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{823,169},{28,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W2_role/0035</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{283,6}</string>
                <key>spriteSize</key>
                <string>{42,68}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{995,161},{42,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W2_role/0036</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{281,31}</string>
                <key>spriteSize</key>
                <string>{76,114}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{879,161},{76,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2122_W2_role/0037</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{281,31}</string>
                <key>spriteSize</key>
                <string>{76,114}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{879,161},{76,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2122_W2_role/0038</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{280,56}</string>
                <key>spriteSize</key>
                <string>{124,170}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1049,1},{124,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2122_W2_role/0039</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{280,56}</string>
                <key>spriteSize</key>
                <string>{124,170}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1049,1},{124,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2122_W2_role/0040</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{278,65}</string>
                <key>spriteSize</key>
                <string>{168,200}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{175,1},{168,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W2_role/0041</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{278,65}</string>
                <key>spriteSize</key>
                <string>{168,200}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{175,1},{168,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W2_role/0042</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{279,67}</string>
                <key>spriteSize</key>
                <string>{172,200}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1,1},{172,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W2_role/0043</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{279,67}</string>
                <key>spriteSize</key>
                <string>{172,200}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1,1},{172,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W2_role/0044</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{281,73}</string>
                <key>spriteSize</key>
                <string>{176,190}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{345,1},{176,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W2_role/0045</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{281,73}</string>
                <key>spriteSize</key>
                <string>{176,190}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{345,1},{176,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W2_role/0046</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{288,88}</string>
                <key>spriteSize</key>
                <string>{166,172}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{705,1},{166,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2122_W2_role/0047</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{288,88}</string>
                <key>spriteSize</key>
                <string>{166,172}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{705,1},{166,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2122_W2_role/0048</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{284,95}</string>
                <key>spriteSize</key>
                <string>{180,166}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{523,1},{180,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W2_role/0049</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{284,95}</string>
                <key>spriteSize</key>
                <string>{180,166}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{523,1},{180,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W2_role/0050</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{282,101}</string>
                <key>spriteSize</key>
                <string>{168,158}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{879,1},{168,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W2_role/0051</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{282,101}</string>
                <key>spriteSize</key>
                <string>{168,158}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{879,1},{168,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W2_role/0052</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{291,129}</string>
                <key>spriteSize</key>
                <string>{150,100}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1049,127},{150,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W2_role/0053</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{291,129}</string>
                <key>spriteSize</key>
                <string>{150,100}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1049,127},{150,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>2122_W2_role.png</string>
            <key>size</key>
            <string>{1220,238}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:120222a84700703bb188ef1da0ee8763:085eb55e2c492c56e81fd6126b8fcd92:a50e5fe12e3582dd5a9443a2e4890931$</string>
            <key>textureFileName</key>
            <string>2122_W2_role.png</string>
        </dict>
    </dict>
</plist>
