<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2122_W1_role/0000</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,89}</string>
                <key>spriteSize</key>
                <string>{28,22}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{153,483},{28,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W1_role/0001</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{51,116}</string>
                <key>spriteSize</key>
                <string>{28,24}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{263,169},{28,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2122_W1_role/0002</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{73,132}</string>
                <key>spriteSize</key>
                <string>{26,26}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{419,469},{26,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W1_role/0003</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{92,137}</string>
                <key>spriteSize</key>
                <string>{26,28}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{235,169},{26,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W1_role/0004</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{105,135}</string>
                <key>spriteSize</key>
                <string>{22,28}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{273,469},{22,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W1_role/0005</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{117,127}</string>
                <key>spriteSize</key>
                <string>{22,28}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{269,439},{22,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W1_role/0006</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{130,111}</string>
                <key>spriteSize</key>
                <string>{22,28}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{293,439},{22,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W1_role/0007</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{142,89}</string>
                <key>spriteSize</key>
                <string>{26,30}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{207,169},{26,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W1_role/0008</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{155,62}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{175,169},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W1_role/0009</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{169,28}</string>
                <key>spriteSize</key>
                <string>{28,24}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{289,169},{28,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2122_W1_role/0010</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{174,-13}</string>
                <key>spriteSize</key>
                <string>{28,22}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{183,483},{28,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W1_role/0011</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{174,-13}</string>
                <key>spriteSize</key>
                <string>{28,22}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{213,483},{28,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W1_role/0012</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{174,-13}</string>
                <key>spriteSize</key>
                <string>{28,22}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{243,483},{28,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W1_role/0013</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{174,-13}</string>
                <key>spriteSize</key>
                <string>{28,22}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{315,169},{28,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W1_role/0014</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{174,-13}</string>
                <key>spriteSize</key>
                <string>{28,22}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{317,439},{28,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W1_role/0015</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{174,-13}</string>
                <key>spriteSize</key>
                <string>{28,22}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{317,463},{28,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W1_role/0016</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{174,-13}</string>
                <key>spriteSize</key>
                <string>{28,22}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{347,469},{28,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2122_W1_role/0017</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{175,-13}</string>
                <key>spriteSize</key>
                <string>{28,22}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{371,469},{28,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2122_W1_role/0018</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{175,-13}</string>
                <key>spriteSize</key>
                <string>{28,22}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{395,469},{28,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2122_W1_role/0019</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{174,-13}</string>
                <key>spriteSize</key>
                <string>{28,22}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{183,483},{28,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W1_role/0020</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{174,-13}</string>
                <key>spriteSize</key>
                <string>{28,22}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{213,483},{28,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W1_role/0021</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{174,-13}</string>
                <key>spriteSize</key>
                <string>{28,22}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{243,483},{28,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W1_role/0022</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{174,-13}</string>
                <key>spriteSize</key>
                <string>{28,22}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{315,169},{28,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W1_role/0023</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{174,-13}</string>
                <key>spriteSize</key>
                <string>{28,22}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{317,439},{28,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W1_role/0024</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{174,-13}</string>
                <key>spriteSize</key>
                <string>{28,22}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{317,463},{28,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W1_role/0025</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{174,-13}</string>
                <key>spriteSize</key>
                <string>{28,22}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{347,469},{28,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2122_W1_role/0026</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{175,-13}</string>
                <key>spriteSize</key>
                <string>{28,22}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{371,469},{28,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2122_W1_role/0027</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{175,-13}</string>
                <key>spriteSize</key>
                <string>{28,22}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{395,469},{28,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2122_W1_role/0028</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{174,-13}</string>
                <key>spriteSize</key>
                <string>{28,22}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{183,483},{28,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W1_role/0029</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{176,5}</string>
                <key>spriteSize</key>
                <string>{42,68}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{273,395},{42,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2122_W1_role/0030</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{178,30}</string>
                <key>spriteSize</key>
                <string>{76,114}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{153,405},{76,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2122_W1_role/0031</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{178,30}</string>
                <key>spriteSize</key>
                <string>{76,114}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{153,405},{76,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2122_W1_role/0032</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{179,55}</string>
                <key>spriteSize</key>
                <string>{124,170}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{349,161},{124,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2122_W1_role/0033</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{179,55}</string>
                <key>spriteSize</key>
                <string>{124,170}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{349,161},{124,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2122_W1_role/0034</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{181,64}</string>
                <key>spriteSize</key>
                <string>{168,200}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1,203},{168,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W1_role/0035</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{181,64}</string>
                <key>spriteSize</key>
                <string>{168,200}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1,203},{168,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W1_role/0036</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{179,66}</string>
                <key>spriteSize</key>
                <string>{172,200}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1,1},{172,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W1_role/0037</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{179,66}</string>
                <key>spriteSize</key>
                <string>{172,200}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1,1},{172,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W1_role/0038</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{178,72}</string>
                <key>spriteSize</key>
                <string>{176,190}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{171,203},{176,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W1_role/0039</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{178,72}</string>
                <key>spriteSize</key>
                <string>{176,190}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{171,203},{176,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W1_role/0040</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{171,87}</string>
                <key>spriteSize</key>
                <string>{166,172}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{175,1},{166,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2122_W1_role/0041</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{171,87}</string>
                <key>spriteSize</key>
                <string>{166,172}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{175,1},{166,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2122_W1_role/0042</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{175,94}</string>
                <key>spriteSize</key>
                <string>{180,166}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{349,287},{180,166}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2122_W1_role/0043</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{175,94}</string>
                <key>spriteSize</key>
                <string>{180,166}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{349,287},{180,166}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2122_W1_role/0044</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{177,100}</string>
                <key>spriteSize</key>
                <string>{170,158}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{349,1},{170,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W1_role/0045</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{177,100}</string>
                <key>spriteSize</key>
                <string>{170,158}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{349,1},{170,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W1_role/0046</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{167,128}</string>
                <key>spriteSize</key>
                <string>{150,100}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1,405},{150,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2122_W1_role/0047</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{167,128}</string>
                <key>spriteSize</key>
                <string>{150,100}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1,405},{150,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>2122_W1_role.png</string>
            <key>size</key>
            <string>{520,506}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:213928b8c78e0dd10136b5f023293bb8:24a9d76aab169e02928457cea3934b52:0ba9be2422a131369d0aaed69012e395$</string>
            <key>textureFileName</key>
            <string>2122_W1_role.png</string>
        </dict>
    </dict>
</plist>
