<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2201_W_effup/0000</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,75}</string>
                <key>spriteSize</key>
                <string>{160,192}</string>
                <key>spriteSourceSize</key>
                <string>{480,600}</string>
                <key>textureRect</key>
                <string>{{725,453},{160,192}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2201_W_effup/0001</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,75}</string>
                <key>spriteSize</key>
                <string>{160,192}</string>
                <key>spriteSourceSize</key>
                <string>{480,600}</string>
                <key>textureRect</key>
                <string>{{725,453},{160,192}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2201_W_effup/0002</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,114}</string>
                <key>spriteSize</key>
                <string>{168,276}</string>
                <key>spriteSourceSize</key>
                <string>{480,600}</string>
                <key>textureRect</key>
                <string>{{179,1},{168,276}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2201_W_effup/0003</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,114}</string>
                <key>spriteSize</key>
                <string>{168,276}</string>
                <key>spriteSourceSize</key>
                <string>{480,600}</string>
                <key>textureRect</key>
                <string>{{179,1},{168,276}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2201_W_effup/0004</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,115}</string>
                <key>spriteSize</key>
                <string>{166,272}</string>
                <key>spriteSourceSize</key>
                <string>{480,600}</string>
                <key>textureRect</key>
                <string>{{179,171},{166,272}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2201_W_effup/0005</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,115}</string>
                <key>spriteSize</key>
                <string>{166,272}</string>
                <key>spriteSourceSize</key>
                <string>{480,600}</string>
                <key>textureRect</key>
                <string>{{179,171},{166,272}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2201_W_effup/0006</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,114}</string>
                <key>spriteSize</key>
                <string>{158,272}</string>
                <key>spriteSourceSize</key>
                <string>{480,600}</string>
                <key>textureRect</key>
                <string>{{451,341},{158,272}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2201_W_effup/0007</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,114}</string>
                <key>spriteSize</key>
                <string>{158,272}</string>
                <key>spriteSourceSize</key>
                <string>{480,600}</string>
                <key>textureRect</key>
                <string>{{451,341},{158,272}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2201_W_effup/0008</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,115}</string>
                <key>spriteSize</key>
                <string>{168,272}</string>
                <key>spriteSourceSize</key>
                <string>{480,600}</string>
                <key>textureRect</key>
                <string>{{457,1},{168,272}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2201_W_effup/0009</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,115}</string>
                <key>spriteSize</key>
                <string>{168,272}</string>
                <key>spriteSourceSize</key>
                <string>{480,600}</string>
                <key>textureRect</key>
                <string>{{457,1},{168,272}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2201_W_effup/0010</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,114}</string>
                <key>spriteSize</key>
                <string>{172,272}</string>
                <key>spriteSourceSize</key>
                <string>{480,600}</string>
                <key>textureRect</key>
                <string>{{177,339},{172,272}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2201_W_effup/0011</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,114}</string>
                <key>spriteSize</key>
                <string>{172,272}</string>
                <key>spriteSourceSize</key>
                <string>{480,600}</string>
                <key>textureRect</key>
                <string>{{177,339},{172,272}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2201_W_effup/0012</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,116}</string>
                <key>spriteSize</key>
                <string>{168,270}</string>
                <key>spriteSourceSize</key>
                <string>{480,600}</string>
                <key>textureRect</key>
                <string>{{453,171},{168,270}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2201_W_effup/0013</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,116}</string>
                <key>spriteSize</key>
                <string>{168,270}</string>
                <key>spriteSourceSize</key>
                <string>{480,600}</string>
                <key>textureRect</key>
                <string>{{453,171},{168,270}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2201_W_effup/0014</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,118}</string>
                <key>spriteSize</key>
                <string>{176,270}</string>
                <key>spriteSourceSize</key>
                <string>{480,600}</string>
                <key>textureRect</key>
                <string>{{1,1},{176,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2201_W_effup/0015</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,118}</string>
                <key>spriteSize</key>
                <string>{176,270}</string>
                <key>spriteSourceSize</key>
                <string>{480,600}</string>
                <key>textureRect</key>
                <string>{{1,1},{176,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2201_W_effup/0016</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,114}</string>
                <key>spriteSize</key>
                <string>{174,272}</string>
                <key>spriteSourceSize</key>
                <string>{480,600}</string>
                <key>textureRect</key>
                <string>{{1,273},{174,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2201_W_effup/0017</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,114}</string>
                <key>spriteSize</key>
                <string>{174,272}</string>
                <key>spriteSourceSize</key>
                <string>{480,600}</string>
                <key>textureRect</key>
                <string>{{1,273},{174,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2201_W_effup/0018</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,95}</string>
                <key>spriteSize</key>
                <string>{146,232}</string>
                <key>spriteSourceSize</key>
                <string>{480,600}</string>
                <key>textureRect</key>
                <string>{{725,305},{146,232}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2201_W_effup/0019</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,95}</string>
                <key>spriteSize</key>
                <string>{146,232}</string>
                <key>spriteSourceSize</key>
                <string>{480,600}</string>
                <key>textureRect</key>
                <string>{{725,305},{146,232}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2201_W_effup/0020</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,98}</string>
                <key>spriteSize</key>
                <string>{132,236}</string>
                <key>spriteSourceSize</key>
                <string>{480,600}</string>
                <key>textureRect</key>
                <string>{{725,171},{132,236}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2201_W_effup/0021</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,98}</string>
                <key>spriteSize</key>
                <string>{132,236}</string>
                <key>spriteSourceSize</key>
                <string>{480,600}</string>
                <key>textureRect</key>
                <string>{{725,171},{132,236}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2201_W_effup/0022</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,100}</string>
                <key>spriteSize</key>
                <string>{138,228}</string>
                <key>spriteSourceSize</key>
                <string>{480,600}</string>
                <key>textureRect</key>
                <string>{{731,1},{138,228}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2201_W_effup/0023</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,100}</string>
                <key>spriteSize</key>
                <string>{138,228}</string>
                <key>spriteSourceSize</key>
                <string>{480,600}</string>
                <key>textureRect</key>
                <string>{{731,1},{138,228}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2201_W_effup/0024</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,79}</string>
                <key>spriteSize</key>
                <string>{126,186}</string>
                <key>spriteSourceSize</key>
                <string>{480,600}</string>
                <key>textureRect</key>
                <string>{{191,513},{126,186}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2201_W_effup/0025</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,79}</string>
                <key>spriteSize</key>
                <string>{126,186}</string>
                <key>spriteSourceSize</key>
                <string>{480,600}</string>
                <key>textureRect</key>
                <string>{{191,513},{126,186}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2201_W_effup/0026</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,79}</string>
                <key>spriteSize</key>
                <string>{94,188}</string>
                <key>spriteSourceSize</key>
                <string>{480,600}</string>
                <key>textureRect</key>
                <string>{{1,547},{94,188}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2201_W_effup/0027</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,79}</string>
                <key>spriteSize</key>
                <string>{94,188}</string>
                <key>spriteSourceSize</key>
                <string>{480,600}</string>
                <key>textureRect</key>
                <string>{{1,547},{94,188}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2201_W_effup/0028</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,80}</string>
                <key>spriteSize</key>
                <string>{106,186}</string>
                <key>spriteSourceSize</key>
                <string>{480,600}</string>
                <key>textureRect</key>
                <string>{{451,501},{106,186}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2201_W_effup/0029</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,80}</string>
                <key>spriteSize</key>
                <string>{106,186}</string>
                <key>spriteSourceSize</key>
                <string>{480,600}</string>
                <key>textureRect</key>
                <string>{{451,501},{106,186}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2201_W_effup/0030</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,38}</string>
                <key>spriteSize</key>
                <string>{82,98}</string>
                <key>spriteSourceSize</key>
                <string>{480,600}</string>
                <key>textureRect</key>
                <string>{{639,501},{82,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2201_W_effup/0031</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,38}</string>
                <key>spriteSize</key>
                <string>{82,98}</string>
                <key>spriteSourceSize</key>
                <string>{480,600}</string>
                <key>textureRect</key>
                <string>{{639,501},{82,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>2201_W_effup.png</string>
            <key>size</key>
            <string>{962,642}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:edc609d9f0ee89f6711bf50e6008018b:dc7391ae97795582ba5ebe5683e01ead:a61f879c589d51ae09ad2a480f146bac$</string>
            <key>textureFileName</key>
            <string>2201_W_effup.png</string>
        </dict>
    </dict>
</plist>
