<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2201_E_effup/0000</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-5}</string>
                <key>spriteSize</key>
                <string>{154,108}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{247,109},{154,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2201_E_effup/0001</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-5}</string>
                <key>spriteSize</key>
                <string>{154,108}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{247,109},{154,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2201_E_effup/0002</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-6}</string>
                <key>spriteSize</key>
                <string>{194,106}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,317},{194,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2201_E_effup/0003</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-6}</string>
                <key>spriteSize</key>
                <string>{194,106}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,317},{194,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2201_E_effup/0004</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33,-7}</string>
                <key>spriteSize</key>
                <string>{212,106}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{251,1},{212,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2201_E_effup/0005</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33,-7}</string>
                <key>spriteSize</key>
                <string>{212,106}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{251,1},{212,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2201_E_effup/0006</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{45,-7}</string>
                <key>spriteSize</key>
                <string>{232,106}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,209},{232,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2201_E_effup/0007</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{45,-7}</string>
                <key>spriteSize</key>
                <string>{232,106}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,209},{232,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2201_E_effup/0008</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{55,-8}</string>
                <key>spriteSize</key>
                <string>{244,102}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,105},{244,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2201_E_effup/0009</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{55,-8}</string>
                <key>spriteSize</key>
                <string>{244,102}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,105},{244,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2201_E_effup/0010</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{57,-8}</string>
                <key>spriteSize</key>
                <string>{248,102}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,1},{248,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2201_E_effup/0011</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{57,-8}</string>
                <key>spriteSize</key>
                <string>{248,102}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,1},{248,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2201_E_effup/0012</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{71,-7}</string>
                <key>spriteSize</key>
                <string>{232,100}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{197,317},{232,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2201_E_effup/0013</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{71,-7}</string>
                <key>spriteSize</key>
                <string>{232,100}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{197,317},{232,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2201_E_effup/0014</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{72,-3}</string>
                <key>spriteSize</key>
                <string>{234,92}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{197,419},{234,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2201_E_effup/0015</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{72,-3}</string>
                <key>spriteSize</key>
                <string>{234,92}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{197,419},{234,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2201_E_effup/0016</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{98,-1}</string>
                <key>spriteSize</key>
                <string>{186,86}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{109,317},{186,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2201_E_effup/0017</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{98,-1}</string>
                <key>spriteSize</key>
                <string>{186,86}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{109,317},{186,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2201_E_effup/0018</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{101,-5}</string>
                <key>spriteSize</key>
                <string>{148,78}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{235,219},{148,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2201_E_effup/0019</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{101,-5}</string>
                <key>spriteSize</key>
                <string>{148,78}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{235,219},{148,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2201_E_effup/0020</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{127,-6}</string>
                <key>spriteSize</key>
                <string>{86,70}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{385,219},{86,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2201_E_effup/0021</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{127,-6}</string>
                <key>spriteSize</key>
                <string>{86,70}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{385,219},{86,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2201_E_effup/0022</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{126,1}</string>
                <key>spriteSize</key>
                <string>{82,56}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{403,109},{82,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2201_E_effup/0023</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{126,1}</string>
                <key>spriteSize</key>
                <string>{82,56}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{403,109},{82,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>2201_E_effup.png</string>
            <key>size</key>
            <string>{464,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1a6a8af10169f0edc5a3357f41f7d095:753477be3d90f2ad56299fbb6fe71c4f:c63e79d2555c2c93c4401e446f3c4887$</string>
            <key>textureFileName</key>
            <string>2201_E_effup.png</string>
        </dict>
    </dict>
</plist>
