<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2201_Q_effup/0000</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{31,-1}</string>
                <key>spriteSize</key>
                <string>{88,42}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{955,163},{88,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2201_Q_effup/0001</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{63,-1}</string>
                <key>spriteSize</key>
                <string>{150,52}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{949,331},{150,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2201_Q_effup/0002</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{63,-1}</string>
                <key>spriteSize</key>
                <string>{150,52}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{949,331},{150,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2201_Q_effup/0003</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{96,2}</string>
                <key>spriteSize</key>
                <string>{214,90}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{645,1},{214,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2201_Q_effup/0004</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{96,2}</string>
                <key>spriteSize</key>
                <string>{214,90}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{645,1},{214,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2201_Q_effup/0005</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{87,2}</string>
                <key>spriteSize</key>
                <string>{194,88}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{587,293},{194,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2201_Q_effup/0006</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{87,2}</string>
                <key>spriteSize</key>
                <string>{194,88}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{587,293},{194,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2201_Q_effup/0007</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{91,3}</string>
                <key>spriteSize</key>
                <string>{200,92}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{291,293},{200,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2201_Q_effup/0008</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{91,3}</string>
                <key>spriteSize</key>
                <string>{200,92}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{291,293},{200,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2201_Q_effup/0009</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{92,2}</string>
                <key>spriteSize</key>
                <string>{206,96}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,295},{206,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2201_Q_effup/0010</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{92,2}</string>
                <key>spriteSize</key>
                <string>{206,96}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,295},{206,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2201_Q_effup/0011</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{93,4}</string>
                <key>spriteSize</key>
                <string>{208,96}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{431,97},{208,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2201_Q_effup/0012</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{93,4}</string>
                <key>spriteSize</key>
                <string>{208,96}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{431,97},{208,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2201_Q_effup/0013</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{96,3}</string>
                <key>spriteSize</key>
                <string>{212,94}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{431,1},{212,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2201_Q_effup/0014</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{96,3}</string>
                <key>spriteSize</key>
                <string>{212,94}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{431,1},{212,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2201_Q_effup/0015</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{96,4}</string>
                <key>spriteSize</key>
                <string>{214,96}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,1},{214,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2201_Q_effup/0016</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{96,4}</string>
                <key>spriteSize</key>
                <string>{214,96}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,1},{214,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2201_Q_effup/0017</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{97,5}</string>
                <key>spriteSize</key>
                <string>{212,96}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{217,1},{212,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2201_Q_effup/0018</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{97,5}</string>
                <key>spriteSize</key>
                <string>{212,96}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{217,1},{212,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2201_Q_effup/0019</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{95,2}</string>
                <key>spriteSize</key>
                <string>{212,86}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{641,185},{212,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2201_Q_effup/0020</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{95,2}</string>
                <key>spriteSize</key>
                <string>{212,86}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{641,185},{212,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2201_Q_effup/0021</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{87,2}</string>
                <key>spriteSize</key>
                <string>{194,88}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{677,273},{194,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2201_Q_effup/0022</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{87,2}</string>
                <key>spriteSize</key>
                <string>{194,88}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{677,273},{194,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2201_Q_effup/0023</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{91,3}</string>
                <key>spriteSize</key>
                <string>{200,92}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{291,387},{200,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2201_Q_effup/0024</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{91,3}</string>
                <key>spriteSize</key>
                <string>{200,92}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{291,387},{200,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2201_Q_effup/0025</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{92,2}</string>
                <key>spriteSize</key>
                <string>{206,96}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{99,295},{206,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2201_Q_effup/0026</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{92,2}</string>
                <key>spriteSize</key>
                <string>{206,96}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{99,295},{206,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2201_Q_effup/0027</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{93,4}</string>
                <key>spriteSize</key>
                <string>{208,96}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{217,195},{208,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2201_Q_effup/0028</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{93,4}</string>
                <key>spriteSize</key>
                <string>{208,96}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{217,195},{208,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2201_Q_effup/0029</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{96,3}</string>
                <key>spriteSize</key>
                <string>{212,94}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{217,99},{212,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2201_Q_effup/0030</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{96,3}</string>
                <key>spriteSize</key>
                <string>{212,94}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{217,99},{212,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2201_Q_effup/0031</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{96,4}</string>
                <key>spriteSize</key>
                <string>{214,96}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,99},{214,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2201_Q_effup/0032</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{96,4}</string>
                <key>spriteSize</key>
                <string>{214,96}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,99},{214,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2201_Q_effup/0033</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{97,5}</string>
                <key>spriteSize</key>
                <string>{212,96}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,197},{212,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2201_Q_effup/0034</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{97,5}</string>
                <key>spriteSize</key>
                <string>{212,96}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,197},{212,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2201_Q_effup/0035</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{96,2}</string>
                <key>spriteSize</key>
                <string>{214,90}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{645,93},{214,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2201_Q_effup/0036</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{96,2}</string>
                <key>spriteSize</key>
                <string>{214,90}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{645,93},{214,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2201_Q_effup/0037</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{87,2}</string>
                <key>spriteSize</key>
                <string>{194,88}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{767,273},{194,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2201_Q_effup/0038</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{87,2}</string>
                <key>spriteSize</key>
                <string>{194,88}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{767,273},{194,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2201_Q_effup/0039</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{91,3}</string>
                <key>spriteSize</key>
                <string>{200,92}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{493,293},{200,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2201_Q_effup/0040</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{91,3}</string>
                <key>spriteSize</key>
                <string>{200,92}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{493,293},{200,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2201_Q_effup/0041</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{94,2}</string>
                <key>spriteSize</key>
                <string>{202,96}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{427,195},{202,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2201_Q_effup/0042</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{94,2}</string>
                <key>spriteSize</key>
                <string>{202,96}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{427,195},{202,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2201_Q_effup/0043</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{98,4}</string>
                <key>spriteSize</key>
                <string>{206,92}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{197,295},{206,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2201_Q_effup/0044</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{98,4}</string>
                <key>spriteSize</key>
                <string>{206,92}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{197,295},{206,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2201_Q_effup/0045</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{125,7}</string>
                <key>spriteSize</key>
                <string>{166,92}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{861,163},{166,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2201_Q_effup/0046</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{125,7}</string>
                <key>spriteSize</key>
                <string>{166,92}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{861,163},{166,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2201_Q_effup/0047</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{128,8}</string>
                <key>spriteSize</key>
                <string>{170,90}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{857,331},{170,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2201_Q_effup/0048</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{128,8}</string>
                <key>spriteSize</key>
                <string>{170,90}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{857,331},{170,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2201_Q_effup/0049</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{149,11}</string>
                <key>spriteSize</key>
                <string>{132,88}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{861,1},{132,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2201_Q_effup/0050</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{149,11}</string>
                <key>spriteSize</key>
                <string>{132,88}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{861,1},{132,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2201_Q_effup/0051</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{151,11}</string>
                <key>spriteSize</key>
                <string>{130,70}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{861,91},{130,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2201_Q_effup/0052</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{151,11}</string>
                <key>spriteSize</key>
                <string>{130,70}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{861,91},{130,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2201_Q_effup/0053</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{200,-6}</string>
                <key>spriteSize</key>
                <string>{38,34}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{955,253},{38,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2201_Q_effup/0054</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-238.5,158.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{291,481},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>2201_Q_effup.png</string>
            <key>size</key>
            <string>{1002,502}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:069a015ea51e3ac22209408abe7aeb3d:bca67c8f52a45c9a749ed20cad07b607:ca396d981ac3c3f30676d104a1ca8dd6$</string>
            <key>textureFileName</key>
            <string>2201_Q_effup.png</string>
        </dict>
    </dict>
</plist>
