<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2202_Q_effup/0000</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,19}</string>
                <key>spriteSize</key>
                <string>{136,100}</string>
                <key>spriteSourceSize</key>
                <string>{480,600}</string>
                <key>textureRect</key>
                <string>{{381,127},{136,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2202_Q_effup/0001</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,19}</string>
                <key>spriteSize</key>
                <string>{136,100}</string>
                <key>spriteSourceSize</key>
                <string>{480,600}</string>
                <key>textureRect</key>
                <string>{{381,127},{136,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2202_Q_effup/0002</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,25}</string>
                <key>spriteSize</key>
                <string>{136,112}</string>
                <key>spriteSourceSize</key>
                <string>{480,600}</string>
                <key>textureRect</key>
                <string>{{301,299},{136,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2202_Q_effup/0003</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,25}</string>
                <key>spriteSize</key>
                <string>{136,112}</string>
                <key>spriteSourceSize</key>
                <string>{480,600}</string>
                <key>textureRect</key>
                <string>{{301,299},{136,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2202_Q_effup/0004</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,27}</string>
                <key>spriteSize</key>
                <string>{146,116}</string>
                <key>spriteSourceSize</key>
                <string>{480,600}</string>
                <key>textureRect</key>
                <string>{{263,151},{146,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2202_Q_effup/0005</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,27}</string>
                <key>spriteSize</key>
                <string>{146,116}</string>
                <key>spriteSourceSize</key>
                <string>{480,600}</string>
                <key>textureRect</key>
                <string>{{263,151},{146,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2202_Q_effup/0006</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,31}</string>
                <key>spriteSize</key>
                <string>{156,124}</string>
                <key>spriteSourceSize</key>
                <string>{480,600}</string>
                <key>textureRect</key>
                <string>{{137,159},{156,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2202_Q_effup/0007</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,31}</string>
                <key>spriteSize</key>
                <string>{156,124}</string>
                <key>spriteSourceSize</key>
                <string>{480,600}</string>
                <key>textureRect</key>
                <string>{{137,159},{156,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2202_Q_effup/0008</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,30}</string>
                <key>spriteSize</key>
                <string>{166,124}</string>
                <key>spriteSourceSize</key>
                <string>{480,600}</string>
                <key>textureRect</key>
                <string>{{323,1},{166,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2202_Q_effup/0009</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,30}</string>
                <key>spriteSize</key>
                <string>{166,124}</string>
                <key>spriteSourceSize</key>
                <string>{480,600}</string>
                <key>textureRect</key>
                <string>{{323,1},{166,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2202_Q_effup/0010</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,30}</string>
                <key>spriteSize</key>
                <string>{170,134}</string>
                <key>spriteSourceSize</key>
                <string>{480,600}</string>
                <key>textureRect</key>
                <string>{{1,159},{170,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2202_Q_effup/0011</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,30}</string>
                <key>spriteSize</key>
                <string>{170,134}</string>
                <key>spriteSourceSize</key>
                <string>{480,600}</string>
                <key>textureRect</key>
                <string>{{1,159},{170,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2202_Q_effup/0012</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,28}</string>
                <key>spriteSize</key>
                <string>{150,138}</string>
                <key>spriteSourceSize</key>
                <string>{480,600}</string>
                <key>textureRect</key>
                <string>{{1,331},{150,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2202_Q_effup/0013</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,28}</string>
                <key>spriteSize</key>
                <string>{150,138}</string>
                <key>spriteSourceSize</key>
                <string>{480,600}</string>
                <key>textureRect</key>
                <string>{{1,331},{150,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2202_Q_effup/0014</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,28}</string>
                <key>spriteSize</key>
                <string>{150,138}</string>
                <key>spriteSourceSize</key>
                <string>{480,600}</string>
                <key>textureRect</key>
                <string>{{1,331},{150,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2202_Q_effup/0015</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,28}</string>
                <key>spriteSize</key>
                <string>{152,146}</string>
                <key>spriteSourceSize</key>
                <string>{480,600}</string>
                <key>textureRect</key>
                <string>{{153,317},{152,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2202_Q_effup/0016</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,28}</string>
                <key>spriteSize</key>
                <string>{152,146}</string>
                <key>spriteSourceSize</key>
                <string>{480,600}</string>
                <key>textureRect</key>
                <string>{{153,317},{152,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2202_Q_effup/0017</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,30}</string>
                <key>spriteSize</key>
                <string>{154,148}</string>
                <key>spriteSourceSize</key>
                <string>{480,600}</string>
                <key>textureRect</key>
                <string>{{167,1},{154,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2202_Q_effup/0018</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,30}</string>
                <key>spriteSize</key>
                <string>{154,148}</string>
                <key>spriteSourceSize</key>
                <string>{480,600}</string>
                <key>textureRect</key>
                <string>{{167,1},{154,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2202_Q_effup/0019</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,32}</string>
                <key>spriteSize</key>
                <string>{164,156}</string>
                <key>spriteSourceSize</key>
                <string>{480,600}</string>
                <key>textureRect</key>
                <string>{{1,1},{164,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2202_Q_effup/0020</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,32}</string>
                <key>spriteSize</key>
                <string>{164,156}</string>
                <key>spriteSourceSize</key>
                <string>{480,600}</string>
                <key>textureRect</key>
                <string>{{1,1},{164,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2202_Q_effup/0021</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,7}</string>
                <key>spriteSize</key>
                <string>{128,72}</string>
                <key>spriteSourceSize</key>
                <string>{480,600}</string>
                <key>textureRect</key>
                <string>{{415,265},{128,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2202_Q_effup/0022</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,7}</string>
                <key>spriteSize</key>
                <string>{128,72}</string>
                <key>spriteSourceSize</key>
                <string>{480,600}</string>
                <key>textureRect</key>
                <string>{{415,265},{128,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2202_Q_effup/0023</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,16}</string>
                <key>spriteSize</key>
                <string>{60,40}</string>
                <key>spriteSourceSize</key>
                <string>{480,600}</string>
                <key>textureRect</key>
                <string>{{415,395},{60,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2202_Q_effup/0024</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,16}</string>
                <key>spriteSize</key>
                <string>{60,40}</string>
                <key>spriteSourceSize</key>
                <string>{480,600}</string>
                <key>textureRect</key>
                <string>{{415,395},{60,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2202_Q_effup/0025</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,16}</string>
                <key>spriteSize</key>
                <string>{58,38}</string>
                <key>spriteSourceSize</key>
                <string>{480,600}</string>
                <key>textureRect</key>
                <string>{{301,437},{58,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2202_Q_effup/0026</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,16}</string>
                <key>spriteSize</key>
                <string>{58,38}</string>
                <key>spriteSourceSize</key>
                <string>{480,600}</string>
                <key>textureRect</key>
                <string>{{301,437},{58,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>2202_Q_effup.png</string>
            <key>size</key>
            <string>{490,476}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:10a311629a9648a34ede7c2a79c76278:d9b66cba5bc198891343ed6542359d62:8697491e92db83bd445440c0312d5576$</string>
            <key>textureFileName</key>
            <string>2202_Q_effup.png</string>
        </dict>
    </dict>
</plist>
