<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2202_W2_effup/0000</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,26}</string>
                <key>spriteSize</key>
                <string>{120,88}</string>
                <key>spriteSourceSize</key>
                <string>{480,600}</string>
                <key>textureRect</key>
                <string>{{863,171},{120,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2202_W2_effup/0001</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,45}</string>
                <key>spriteSize</key>
                <string>{132,126}</string>
                <key>spriteSourceSize</key>
                <string>{480,600}</string>
                <key>textureRect</key>
                <string>{{517,679},{132,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2202_W2_effup/0002</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,47}</string>
                <key>spriteSize</key>
                <string>{144,132}</string>
                <key>spriteSourceSize</key>
                <string>{480,600}</string>
                <key>textureRect</key>
                <string>{{847,617},{144,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2202_W2_effup/0003</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,46}</string>
                <key>spriteSize</key>
                <string>{156,132}</string>
                <key>spriteSourceSize</key>
                <string>{480,600}</string>
                <key>textureRect</key>
                <string>{{517,545},{156,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2202_W2_effup/0004</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,46}</string>
                <key>spriteSize</key>
                <string>{170,134}</string>
                <key>spriteSourceSize</key>
                <string>{480,600}</string>
                <key>textureRect</key>
                <string>{{177,1},{170,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2202_W2_effup/0005</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,46}</string>
                <key>spriteSize</key>
                <string>{170,134}</string>
                <key>spriteSourceSize</key>
                <string>{480,600}</string>
                <key>textureRect</key>
                <string>{{1,273},{170,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2202_W2_effup/0006</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,46}</string>
                <key>spriteSize</key>
                <string>{170,134}</string>
                <key>spriteSourceSize</key>
                <string>{480,600}</string>
                <key>textureRect</key>
                <string>{{175,137},{170,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2202_W2_effup/0007</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,46}</string>
                <key>spriteSize</key>
                <string>{172,134}</string>
                <key>spriteSourceSize</key>
                <string>{480,600}</string>
                <key>textureRect</key>
                <string>{{1,137},{172,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2202_W2_effup/0008</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,46}</string>
                <key>spriteSize</key>
                <string>{174,134}</string>
                <key>spriteSourceSize</key>
                <string>{480,600}</string>
                <key>textureRect</key>
                <string>{{1,1},{174,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2202_W2_effup/0009</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,46}</string>
                <key>spriteSize</key>
                <string>{170,134}</string>
                <key>spriteSourceSize</key>
                <string>{480,600}</string>
                <key>textureRect</key>
                <string>{{349,1},{170,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2202_W2_effup/0010</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,46}</string>
                <key>spriteSize</key>
                <string>{170,134}</string>
                <key>spriteSourceSize</key>
                <string>{480,600}</string>
                <key>textureRect</key>
                <string>{{1,409},{170,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2202_W2_effup/0011</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,46}</string>
                <key>spriteSize</key>
                <string>{170,134}</string>
                <key>spriteSourceSize</key>
                <string>{480,600}</string>
                <key>textureRect</key>
                <string>{{173,273},{170,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2202_W2_effup/0012</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,46}</string>
                <key>spriteSize</key>
                <string>{170,134}</string>
                <key>spriteSourceSize</key>
                <string>{480,600}</string>
                <key>textureRect</key>
                <string>{{347,137},{170,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2202_W2_effup/0013</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,46}</string>
                <key>spriteSize</key>
                <string>{170,134}</string>
                <key>spriteSourceSize</key>
                <string>{480,600}</string>
                <key>textureRect</key>
                <string>{{521,1},{170,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2202_W2_effup/0014</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,46}</string>
                <key>spriteSize</key>
                <string>{170,134}</string>
                <key>spriteSourceSize</key>
                <string>{480,600}</string>
                <key>textureRect</key>
                <string>{{1,545},{170,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2202_W2_effup/0015</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,46}</string>
                <key>spriteSize</key>
                <string>{170,134}</string>
                <key>spriteSourceSize</key>
                <string>{480,600}</string>
                <key>textureRect</key>
                <string>{{173,409},{170,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2202_W2_effup/0016</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,46}</string>
                <key>spriteSize</key>
                <string>{170,134}</string>
                <key>spriteSourceSize</key>
                <string>{480,600}</string>
                <key>textureRect</key>
                <string>{{345,273},{170,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2202_W2_effup/0017</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,46}</string>
                <key>spriteSize</key>
                <string>{170,134}</string>
                <key>spriteSourceSize</key>
                <string>{480,600}</string>
                <key>textureRect</key>
                <string>{{519,137},{170,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2202_W2_effup/0018</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,46}</string>
                <key>spriteSize</key>
                <string>{170,134}</string>
                <key>spriteSourceSize</key>
                <string>{480,600}</string>
                <key>textureRect</key>
                <string>{{693,1},{170,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2202_W2_effup/0019</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,46}</string>
                <key>spriteSize</key>
                <string>{170,134}</string>
                <key>spriteSourceSize</key>
                <string>{480,600}</string>
                <key>textureRect</key>
                <string>{{173,545},{170,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2202_W2_effup/0020</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,46}</string>
                <key>spriteSize</key>
                <string>{170,134}</string>
                <key>spriteSourceSize</key>
                <string>{480,600}</string>
                <key>textureRect</key>
                <string>{{345,409},{170,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2202_W2_effup/0021</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,46}</string>
                <key>spriteSize</key>
                <string>{170,134}</string>
                <key>spriteSourceSize</key>
                <string>{480,600}</string>
                <key>textureRect</key>
                <string>{{517,273},{170,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2202_W2_effup/0022</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,46}</string>
                <key>spriteSize</key>
                <string>{170,134}</string>
                <key>spriteSourceSize</key>
                <string>{480,600}</string>
                <key>textureRect</key>
                <string>{{691,137},{170,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2202_W2_effup/0023</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,46}</string>
                <key>spriteSize</key>
                <string>{170,134}</string>
                <key>spriteSourceSize</key>
                <string>{480,600}</string>
                <key>textureRect</key>
                <string>{{345,545},{170,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2202_W2_effup/0024</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,46}</string>
                <key>spriteSize</key>
                <string>{170,134}</string>
                <key>spriteSourceSize</key>
                <string>{480,600}</string>
                <key>textureRect</key>
                <string>{{345,545},{170,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2202_W2_effup/0025</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,46}</string>
                <key>spriteSize</key>
                <string>{170,134}</string>
                <key>spriteSourceSize</key>
                <string>{480,600}</string>
                <key>textureRect</key>
                <string>{{517,409},{170,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2202_W2_effup/0026</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,46}</string>
                <key>spriteSize</key>
                <string>{170,134}</string>
                <key>spriteSourceSize</key>
                <string>{480,600}</string>
                <key>textureRect</key>
                <string>{{689,273},{170,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2202_W2_effup/0027</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,46}</string>
                <key>spriteSize</key>
                <string>{170,134}</string>
                <key>spriteSourceSize</key>
                <string>{480,600}</string>
                <key>textureRect</key>
                <string>{{861,273},{170,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2202_W2_effup/0028</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,46}</string>
                <key>spriteSize</key>
                <string>{170,134}</string>
                <key>spriteSourceSize</key>
                <string>{480,600}</string>
                <key>textureRect</key>
                <string>{{689,409},{170,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2202_W2_effup/0029</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,46}</string>
                <key>spriteSize</key>
                <string>{170,134}</string>
                <key>spriteSourceSize</key>
                <string>{480,600}</string>
                <key>textureRect</key>
                <string>{{861,445},{170,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2202_W2_effup/0030</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,41}</string>
                <key>spriteSize</key>
                <string>{170,124}</string>
                <key>spriteSourceSize</key>
                <string>{480,600}</string>
                <key>textureRect</key>
                <string>{{1,681},{170,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2202_W2_effup/0031</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,37}</string>
                <key>spriteSize</key>
                <string>{170,116}</string>
                <key>spriteSourceSize</key>
                <string>{480,600}</string>
                <key>textureRect</key>
                <string>{{173,681},{170,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2202_W2_effup/0032</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,33}</string>
                <key>spriteSize</key>
                <string>{170,108}</string>
                <key>spriteSourceSize</key>
                <string>{480,600}</string>
                <key>textureRect</key>
                <string>{{675,545},{170,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2202_W2_effup/0033</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,29}</string>
                <key>spriteSize</key>
                <string>{170,98}</string>
                <key>spriteSourceSize</key>
                <string>{480,600}</string>
                <key>textureRect</key>
                <string>{{345,681},{170,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2202_W2_effup/0034</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,25}</string>
                <key>spriteSize</key>
                <string>{168,90}</string>
                <key>spriteSourceSize</key>
                <string>{480,600}</string>
                <key>textureRect</key>
                <string>{{865,1},{168,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2202_W2_effup/0035</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,2}</string>
                <key>spriteSize</key>
                <string>{168,44}</string>
                <key>spriteSourceSize</key>
                <string>{480,600}</string>
                <key>textureRect</key>
                <string>{{675,655},{168,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2202_W2_effup/0036</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{168,40}</string>
                <key>spriteSourceSize</key>
                <string>{480,600}</string>
                <key>textureRect</key>
                <string>{{651,701},{168,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2202_W2_effup/0037</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-1}</string>
                <key>spriteSize</key>
                <string>{168,38}</string>
                <key>spriteSourceSize</key>
                <string>{480,600}</string>
                <key>textureRect</key>
                <string>{{957,1},{168,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2202_W2_effup/0038</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{168,38}</string>
                <key>spriteSourceSize</key>
                <string>{480,600}</string>
                <key>textureRect</key>
                <string>{{651,743},{168,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2202_W2_effup/0039</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-1}</string>
                <key>spriteSize</key>
                <string>{160,36}</string>
                <key>spriteSourceSize</key>
                <string>{480,600}</string>
                <key>textureRect</key>
                <string>{{821,751},{160,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>2202_W2_effup.png</string>
            <key>size</key>
            <string>{996,806}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3c96d3eb2612a8a6fd4d81fd97d9cda8:30cd5fd724cedc5e03bae5c6eb5f4e8a:be799e2e9a40ef7c722a51f470e7462f$</string>
            <key>textureFileName</key>
            <string>2202_W2_effup.png</string>
        </dict>
    </dict>
</plist>
