<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2202_Q_role/0000</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,36}</string>
                <key>spriteSize</key>
                <string>{268,194}</string>
                <key>spriteSourceSize</key>
                <string>{960,1200}</string>
                <key>textureRect</key>
                <string>{{599,285},{268,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2202_Q_role/0001</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,36}</string>
                <key>spriteSize</key>
                <string>{268,194}</string>
                <key>spriteSourceSize</key>
                <string>{960,1200}</string>
                <key>textureRect</key>
                <string>{{599,285},{268,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2202_Q_role/0002</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,49}</string>
                <key>spriteSize</key>
                <string>{268,220}</string>
                <key>spriteSourceSize</key>
                <string>{960,1200}</string>
                <key>textureRect</key>
                <string>{{329,281},{268,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2202_Q_role/0003</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,49}</string>
                <key>spriteSize</key>
                <string>{268,220}</string>
                <key>spriteSourceSize</key>
                <string>{960,1200}</string>
                <key>textureRect</key>
                <string>{{329,281},{268,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2202_Q_role/0004</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,53}</string>
                <key>spriteSize</key>
                <string>{288,228}</string>
                <key>spriteSourceSize</key>
                <string>{960,1200}</string>
                <key>textureRect</key>
                <string>{{1255,1},{288,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2202_Q_role/0005</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,53}</string>
                <key>spriteSize</key>
                <string>{288,228}</string>
                <key>spriteSourceSize</key>
                <string>{960,1200}</string>
                <key>textureRect</key>
                <string>{{1255,1},{288,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2202_Q_role/0006</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,61}</string>
                <key>spriteSize</key>
                <string>{310,244}</string>
                <key>spriteSourceSize</key>
                <string>{960,1200}</string>
                <key>textureRect</key>
                <string>{{951,267},{310,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2202_Q_role/0007</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,61}</string>
                <key>spriteSize</key>
                <string>{310,244}</string>
                <key>spriteSourceSize</key>
                <string>{960,1200}</string>
                <key>textureRect</key>
                <string>{{951,267},{310,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2202_Q_role/0008</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,61}</string>
                <key>spriteSize</key>
                <string>{326,244}</string>
                <key>spriteSourceSize</key>
                <string>{960,1200}</string>
                <key>textureRect</key>
                <string>{{1,261},{326,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2202_Q_role/0009</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,61}</string>
                <key>spriteSize</key>
                <string>{326,244}</string>
                <key>spriteSourceSize</key>
                <string>{960,1200}</string>
                <key>textureRect</key>
                <string>{{1,261},{326,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2202_Q_role/0010</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,60}</string>
                <key>spriteSize</key>
                <string>{338,258}</string>
                <key>spriteSourceSize</key>
                <string>{960,1200}</string>
                <key>textureRect</key>
                <string>{{1,1},{338,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2202_Q_role/0011</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,60}</string>
                <key>spriteSize</key>
                <string>{338,258}</string>
                <key>spriteSourceSize</key>
                <string>{960,1200}</string>
                <key>textureRect</key>
                <string>{{1,1},{338,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2202_Q_role/0012</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,58}</string>
                <key>spriteSize</key>
                <string>{292,266}</string>
                <key>spriteSourceSize</key>
                <string>{960,1200}</string>
                <key>textureRect</key>
                <string>{{1263,231},{292,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2202_Q_role/0013</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,58}</string>
                <key>spriteSize</key>
                <string>{292,266}</string>
                <key>spriteSourceSize</key>
                <string>{960,1200}</string>
                <key>textureRect</key>
                <string>{{1263,231},{292,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2202_Q_role/0014</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,58}</string>
                <key>spriteSize</key>
                <string>{292,266}</string>
                <key>spriteSourceSize</key>
                <string>{960,1200}</string>
                <key>textureRect</key>
                <string>{{1263,231},{292,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2202_Q_role/0015</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,59}</string>
                <key>spriteSize</key>
                <string>{298,282}</string>
                <key>spriteSourceSize</key>
                <string>{960,1200}</string>
                <key>textureRect</key>
                <string>{{651,1},{298,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2202_Q_role/0016</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,59}</string>
                <key>spriteSize</key>
                <string>{298,282}</string>
                <key>spriteSourceSize</key>
                <string>{960,1200}</string>
                <key>textureRect</key>
                <string>{{651,1},{298,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2202_Q_role/0017</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,72}</string>
                <key>spriteSize</key>
                <string>{302,264}</string>
                <key>spriteSourceSize</key>
                <string>{960,1200}</string>
                <key>textureRect</key>
                <string>{{951,1},{302,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2202_Q_role/0018</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,72}</string>
                <key>spriteSize</key>
                <string>{302,264}</string>
                <key>spriteSourceSize</key>
                <string>{960,1200}</string>
                <key>textureRect</key>
                <string>{{951,1},{302,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2202_Q_role/0019</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,79}</string>
                <key>spriteSize</key>
                <string>{308,278}</string>
                <key>spriteSourceSize</key>
                <string>{960,1200}</string>
                <key>textureRect</key>
                <string>{{341,1},{308,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2202_Q_role/0020</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,79}</string>
                <key>spriteSize</key>
                <string>{308,278}</string>
                <key>spriteSourceSize</key>
                <string>{960,1200}</string>
                <key>textureRect</key>
                <string>{{341,1},{308,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2202_Q_role/0021</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,15}</string>
                <key>spriteSize</key>
                <string>{258,144}</string>
                <key>spriteSourceSize</key>
                <string>{960,1200}</string>
                <key>textureRect</key>
                <string>{{1557,81},{258,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2202_Q_role/0022</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,15}</string>
                <key>spriteSize</key>
                <string>{258,144}</string>
                <key>spriteSourceSize</key>
                <string>{960,1200}</string>
                <key>textureRect</key>
                <string>{{1557,81},{258,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2202_Q_role/0023</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,32}</string>
                <key>spriteSize</key>
                <string>{118,78}</string>
                <key>spriteSourceSize</key>
                <string>{960,1200}</string>
                <key>textureRect</key>
                <string>{{1545,1},{118,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2202_Q_role/0024</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,32}</string>
                <key>spriteSize</key>
                <string>{118,78}</string>
                <key>spriteSourceSize</key>
                <string>{960,1200}</string>
                <key>textureRect</key>
                <string>{{1545,1},{118,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2202_Q_role/0025</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,32}</string>
                <key>spriteSize</key>
                <string>{114,74}</string>
                <key>spriteSourceSize</key>
                <string>{960,1200}</string>
                <key>textureRect</key>
                <string>{{869,285},{114,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2202_Q_role/0026</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,32}</string>
                <key>spriteSize</key>
                <string>{114,74}</string>
                <key>spriteSourceSize</key>
                <string>{960,1200}</string>
                <key>textureRect</key>
                <string>{{869,285},{114,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>2202_Q_role.png</string>
            <key>size</key>
            <string>{1702,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ff1f0df80bc54d8f47c8e5ece16a6457:f9ccf3c4672c2fcbd64d2adfc76c00e1:c09f1fdbd73bc1fa922d702ed6eb81f5$</string>
            <key>textureFileName</key>
            <string>2202_Q_role.png</string>
        </dict>
    </dict>
</plist>
