<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2203_R_effdown/0000</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{41,39}</string>
                <key>spriteSize</key>
                <string>{338,126}</string>
                <key>spriteSourceSize</key>
                <string>{750,600}</string>
                <key>textureRect</key>
                <string>{{47,721},{338,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2203_R_effdown/0001</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{41,39}</string>
                <key>spriteSize</key>
                <string>{338,126}</string>
                <key>spriteSourceSize</key>
                <string>{750,600}</string>
                <key>textureRect</key>
                <string>{{47,721},{338,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2203_R_effdown/0002</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{41,39}</string>
                <key>spriteSize</key>
                <string>{338,126}</string>
                <key>spriteSourceSize</key>
                <string>{750,600}</string>
                <key>textureRect</key>
                <string>{{47,721},{338,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2203_R_effdown/0003</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{41,39}</string>
                <key>spriteSize</key>
                <string>{338,126}</string>
                <key>spriteSourceSize</key>
                <string>{750,600}</string>
                <key>textureRect</key>
                <string>{{47,721},{338,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2203_R_effdown/0004</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{41,39}</string>
                <key>spriteSize</key>
                <string>{338,126}</string>
                <key>spriteSourceSize</key>
                <string>{750,600}</string>
                <key>textureRect</key>
                <string>{{47,721},{338,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2203_R_effdown/0005</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,45}</string>
                <key>spriteSize</key>
                <string>{684,144}</string>
                <key>spriteSourceSize</key>
                <string>{750,600}</string>
                <key>textureRect</key>
                <string>{{175,721},{684,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2203_R_effdown/0006</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,45}</string>
                <key>spriteSize</key>
                <string>{684,144}</string>
                <key>spriteSourceSize</key>
                <string>{750,600}</string>
                <key>textureRect</key>
                <string>{{175,721},{684,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2203_R_effdown/0007</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,45}</string>
                <key>spriteSize</key>
                <string>{684,144}</string>
                <key>spriteSourceSize</key>
                <string>{750,600}</string>
                <key>textureRect</key>
                <string>{{175,721},{684,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2203_R_effdown/0008</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,27}</string>
                <key>spriteSize</key>
                <string>{718,100}</string>
                <key>spriteSourceSize</key>
                <string>{750,600}</string>
                <key>textureRect</key>
                <string>{{1,103},{718,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2203_R_effdown/0009</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,27}</string>
                <key>spriteSize</key>
                <string>{718,100}</string>
                <key>spriteSourceSize</key>
                <string>{750,600}</string>
                <key>textureRect</key>
                <string>{{1,103},{718,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2203_R_effdown/0010</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,27}</string>
                <key>spriteSize</key>
                <string>{718,100}</string>
                <key>spriteSourceSize</key>
                <string>{750,600}</string>
                <key>textureRect</key>
                <string>{{1,103},{718,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2203_R_effdown/0011</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,31}</string>
                <key>spriteSize</key>
                <string>{708,106}</string>
                <key>spriteSourceSize</key>
                <string>{750,600}</string>
                <key>textureRect</key>
                <string>{{869,1},{708,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2203_R_effdown/0012</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,31}</string>
                <key>spriteSize</key>
                <string>{708,106}</string>
                <key>spriteSourceSize</key>
                <string>{750,600}</string>
                <key>textureRect</key>
                <string>{{869,1},{708,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2203_R_effdown/0013</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,31}</string>
                <key>spriteSize</key>
                <string>{708,106}</string>
                <key>spriteSourceSize</key>
                <string>{750,600}</string>
                <key>textureRect</key>
                <string>{{869,1},{708,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2203_R_effdown/0014</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,24}</string>
                <key>spriteSize</key>
                <string>{706,88}</string>
                <key>spriteSourceSize</key>
                <string>{750,600}</string>
                <key>textureRect</key>
                <string>{{1,407},{706,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2203_R_effdown/0015</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,24}</string>
                <key>spriteSize</key>
                <string>{706,88}</string>
                <key>spriteSourceSize</key>
                <string>{750,600}</string>
                <key>textureRect</key>
                <string>{{1,407},{706,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2203_R_effdown/0016</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,24}</string>
                <key>spriteSize</key>
                <string>{706,88}</string>
                <key>spriteSourceSize</key>
                <string>{750,600}</string>
                <key>textureRect</key>
                <string>{{1,407},{706,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2203_R_effdown/0017</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,45}</string>
                <key>spriteSize</key>
                <string>{718,144}</string>
                <key>spriteSourceSize</key>
                <string>{750,600}</string>
                <key>textureRect</key>
                <string>{{723,1},{718,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2203_R_effdown/0018</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,45}</string>
                <key>spriteSize</key>
                <string>{686,144}</string>
                <key>spriteSourceSize</key>
                <string>{750,600}</string>
                <key>textureRect</key>
                <string>{{1,575},{686,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2203_R_effdown/0019</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,45}</string>
                <key>spriteSize</key>
                <string>{686,144}</string>
                <key>spriteSourceSize</key>
                <string>{750,600}</string>
                <key>textureRect</key>
                <string>{{1,575},{686,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2203_R_effdown/0020</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,45}</string>
                <key>spriteSize</key>
                <string>{686,144}</string>
                <key>spriteSourceSize</key>
                <string>{750,600}</string>
                <key>textureRect</key>
                <string>{{1,575},{686,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2203_R_effdown/0021</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,26}</string>
                <key>spriteSize</key>
                <string>{720,100}</string>
                <key>spriteSourceSize</key>
                <string>{750,600}</string>
                <key>textureRect</key>
                <string>{{1,1},{720,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2203_R_effdown/0022</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,26}</string>
                <key>spriteSize</key>
                <string>{720,100}</string>
                <key>spriteSourceSize</key>
                <string>{750,600}</string>
                <key>textureRect</key>
                <string>{{1,1},{720,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2203_R_effdown/0023</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,26}</string>
                <key>spriteSize</key>
                <string>{720,100}</string>
                <key>spriteSourceSize</key>
                <string>{750,600}</string>
                <key>textureRect</key>
                <string>{{1,1},{720,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2203_R_effdown/0024</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,31}</string>
                <key>spriteSize</key>
                <string>{708,108}</string>
                <key>spriteSourceSize</key>
                <string>{750,600}</string>
                <key>textureRect</key>
                <string>{{1,205},{708,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2203_R_effdown/0025</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,31}</string>
                <key>spriteSize</key>
                <string>{708,108}</string>
                <key>spriteSourceSize</key>
                <string>{750,600}</string>
                <key>textureRect</key>
                <string>{{1,205},{708,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2203_R_effdown/0026</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,31}</string>
                <key>spriteSize</key>
                <string>{708,108}</string>
                <key>spriteSourceSize</key>
                <string>{750,600}</string>
                <key>textureRect</key>
                <string>{{1,205},{708,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2203_R_effdown/0027</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,24}</string>
                <key>spriteSize</key>
                <string>{706,90}</string>
                <key>spriteSourceSize</key>
                <string>{750,600}</string>
                <key>textureRect</key>
                <string>{{1,315},{706,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2203_R_effdown/0028</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,24}</string>
                <key>spriteSize</key>
                <string>{706,90}</string>
                <key>spriteSourceSize</key>
                <string>{750,600}</string>
                <key>textureRect</key>
                <string>{{1,315},{706,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2203_R_effdown/0029</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,24}</string>
                <key>spriteSize</key>
                <string>{706,90}</string>
                <key>spriteSourceSize</key>
                <string>{750,600}</string>
                <key>textureRect</key>
                <string>{{1,315},{706,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2203_R_effdown/0030</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,17}</string>
                <key>spriteSize</key>
                <string>{706,76}</string>
                <key>spriteSourceSize</key>
                <string>{750,600}</string>
                <key>textureRect</key>
                <string>{{1,497},{706,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2203_R_effdown/0031</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,20}</string>
                <key>spriteSize</key>
                <string>{644,70}</string>
                <key>spriteSourceSize</key>
                <string>{750,600}</string>
                <key>textureRect</key>
                <string>{{47,1061},{644,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2203_R_effdown/0032</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,20}</string>
                <key>spriteSize</key>
                <string>{644,70}</string>
                <key>spriteSourceSize</key>
                <string>{750,600}</string>
                <key>textureRect</key>
                <string>{{47,1061},{644,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2203_R_effdown/0033</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,19}</string>
                <key>spriteSize</key>
                <string>{644,68}</string>
                <key>spriteSourceSize</key>
                <string>{750,600}</string>
                <key>textureRect</key>
                <string>{{175,867},{644,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2203_R_effdown/0034</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-373.5,298.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{750,600}</string>
                <key>textureRect</key>
                <string>{{711,205},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2203_R_effdown/0035</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-373.5,298.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{750,600}</string>
                <key>textureRect</key>
                <string>{{711,205},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2203_R_effdown/0036</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,28}</string>
                <key>spriteSize</key>
                <string>{652,64}</string>
                <key>spriteSourceSize</key>
                <string>{750,600}</string>
                <key>textureRect</key>
                <string>{{175,937},{652,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2203_R_effdown/0037</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,28}</string>
                <key>spriteSize</key>
                <string>{652,64}</string>
                <key>spriteSourceSize</key>
                <string>{750,600}</string>
                <key>textureRect</key>
                <string>{{175,937},{652,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2203_R_effdown/0038</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,28}</string>
                <key>spriteSize</key>
                <string>{652,64}</string>
                <key>spriteSourceSize</key>
                <string>{750,600}</string>
                <key>textureRect</key>
                <string>{{175,937},{652,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2203_R_effdown/0039</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,32}</string>
                <key>spriteSize</key>
                <string>{652,56}</string>
                <key>spriteSourceSize</key>
                <string>{750,600}</string>
                <key>textureRect</key>
                <string>{{175,1003},{652,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2203_R_effdown/0040</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,27}</string>
                <key>spriteSize</key>
                <string>{398,44}</string>
                <key>spriteSourceSize</key>
                <string>{750,600}</string>
                <key>textureRect</key>
                <string>{{1,721},{398,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2203_R_effdown/0041</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,27}</string>
                <key>spriteSize</key>
                <string>{398,44}</string>
                <key>spriteSourceSize</key>
                <string>{750,600}</string>
                <key>textureRect</key>
                <string>{{1,721},{398,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2203_R_effdown/0042</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,27}</string>
                <key>spriteSize</key>
                <string>{398,44}</string>
                <key>spriteSourceSize</key>
                <string>{750,600}</string>
                <key>textureRect</key>
                <string>{{1,721},{398,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2203_R_effdown/0043</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,27}</string>
                <key>spriteSize</key>
                <string>{398,44}</string>
                <key>spriteSourceSize</key>
                <string>{750,600}</string>
                <key>textureRect</key>
                <string>{{1,721},{398,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2203_R_effdown/0044</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-373.5,298.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{750,600}</string>
                <key>textureRect</key>
                <string>{{711,205},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>2203_R_effdown.png</string>
            <key>size</key>
            <string>{976,1132}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7b9fca5c50213db005f9740b1f633d7c:524cabb972b3de7119fbd1a4927c8d3b:e2935b235422b645db832b79df25248d$</string>
            <key>textureFileName</key>
            <string>2203_R_effdown.png</string>
        </dict>
    </dict>
</plist>
