<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2203_R2_effup/0000</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,142}</string>
                <key>spriteSize</key>
                <string>{66,316}</string>
                <key>spriteSourceSize</key>
                <string>{480,600}</string>
                <key>textureRect</key>
                <string>{{1,1},{66,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2203_R2_effup/0001</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,142}</string>
                <key>spriteSize</key>
                <string>{66,316}</string>
                <key>spriteSourceSize</key>
                <string>{480,600}</string>
                <key>textureRect</key>
                <string>{{1,1},{66,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2203_R2_effup/0002</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,142}</string>
                <key>spriteSize</key>
                <string>{66,316}</string>
                <key>spriteSourceSize</key>
                <string>{480,600}</string>
                <key>textureRect</key>
                <string>{{1,1},{66,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2203_R2_effup/0003</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-238.5,298.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{480,600}</string>
                <key>textureRect</key>
                <string>{{69,305},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2203_R2_effup/0004</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,149}</string>
                <key>spriteSize</key>
                <string>{62,302}</string>
                <key>spriteSourceSize</key>
                <string>{480,600}</string>
                <key>textureRect</key>
                <string>{{69,1},{62,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2203_R2_effup/0005</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,149}</string>
                <key>spriteSize</key>
                <string>{62,302}</string>
                <key>spriteSourceSize</key>
                <string>{480,600}</string>
                <key>textureRect</key>
                <string>{{69,1},{62,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2203_R2_effup/0006</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,149}</string>
                <key>spriteSize</key>
                <string>{62,302}</string>
                <key>spriteSourceSize</key>
                <string>{480,600}</string>
                <key>textureRect</key>
                <string>{{69,1},{62,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2203_R2_effup/0007</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-238.5,298.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{480,600}</string>
                <key>textureRect</key>
                <string>{{69,305},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2203_R2_effup/0008</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-238.5,298.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{480,600}</string>
                <key>textureRect</key>
                <string>{{69,305},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2203_R2_effup/0009</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,149}</string>
                <key>spriteSize</key>
                <string>{22,276}</string>
                <key>spriteSourceSize</key>
                <string>{480,600}</string>
                <key>textureRect</key>
                <string>{{133,1},{22,276}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2203_R2_effup/0010</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,149}</string>
                <key>spriteSize</key>
                <string>{22,276}</string>
                <key>spriteSourceSize</key>
                <string>{480,600}</string>
                <key>textureRect</key>
                <string>{{133,1},{22,276}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2203_R2_effup/0011</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,149}</string>
                <key>spriteSize</key>
                <string>{22,276}</string>
                <key>spriteSourceSize</key>
                <string>{480,600}</string>
                <key>textureRect</key>
                <string>{{133,1},{22,276}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2203_R2_effup/0012</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,149}</string>
                <key>spriteSize</key>
                <string>{22,276}</string>
                <key>spriteSourceSize</key>
                <string>{480,600}</string>
                <key>textureRect</key>
                <string>{{133,1},{22,276}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2203_R2_effup/0013</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-238.5,298.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{480,600}</string>
                <key>textureRect</key>
                <string>{{69,305},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>2203_R2_effup.png</string>
            <key>size</key>
            <string>{156,318}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e51c4f81eb15cb709be29d14b1744f5d:90eadb0d942f53e6fe5a187d59d87bb8:c38ba58df35de9c29316f3550e55bdd4$</string>
            <key>textureFileName</key>
            <string>2203_R2_effup.png</string>
        </dict>
    </dict>
</plist>
