<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2203_R_effup/0000</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,140}</string>
                <key>spriteSize</key>
                <string>{98,320}</string>
                <key>spriteSourceSize</key>
                <string>{750,600}</string>
                <key>textureRect</key>
                <string>{{1,401},{98,320}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2203_R_effup/0001</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,140}</string>
                <key>spriteSize</key>
                <string>{98,320}</string>
                <key>spriteSourceSize</key>
                <string>{750,600}</string>
                <key>textureRect</key>
                <string>{{1,401},{98,320}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2203_R_effup/0002</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,140}</string>
                <key>spriteSize</key>
                <string>{98,320}</string>
                <key>spriteSourceSize</key>
                <string>{750,600}</string>
                <key>textureRect</key>
                <string>{{1,401},{98,320}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2203_R_effup/0003</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,101}</string>
                <key>spriteSize</key>
                <string>{750,398}</string>
                <key>spriteSourceSize</key>
                <string>{750,600}</string>
                <key>textureRect</key>
                <string>{{1,1},{750,398}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2203_R_effup/0004</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,101}</string>
                <key>spriteSize</key>
                <string>{750,398}</string>
                <key>spriteSourceSize</key>
                <string>{750,600}</string>
                <key>textureRect</key>
                <string>{{1,1},{750,398}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2203_R_effup/0005</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,137}</string>
                <key>spriteSize</key>
                <string>{226,326}</string>
                <key>spriteSourceSize</key>
                <string>{750,600}</string>
                <key>textureRect</key>
                <string>{{1287,1},{226,326}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2203_R_effup/0006</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,137}</string>
                <key>spriteSize</key>
                <string>{226,326}</string>
                <key>spriteSourceSize</key>
                <string>{750,600}</string>
                <key>textureRect</key>
                <string>{{1287,1},{226,326}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2203_R_effup/0007</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,137}</string>
                <key>spriteSize</key>
                <string>{226,326}</string>
                <key>spriteSourceSize</key>
                <string>{750,600}</string>
                <key>textureRect</key>
                <string>{{1287,1},{226,326}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2203_R_effup/0008</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,137}</string>
                <key>spriteSize</key>
                <string>{274,326}</string>
                <key>spriteSourceSize</key>
                <string>{750,600}</string>
                <key>textureRect</key>
                <string>{{753,1},{274,326}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2203_R_effup/0009</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,137}</string>
                <key>spriteSize</key>
                <string>{274,326}</string>
                <key>spriteSourceSize</key>
                <string>{750,600}</string>
                <key>textureRect</key>
                <string>{{753,1},{274,326}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2203_R_effup/0010</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,137}</string>
                <key>spriteSize</key>
                <string>{274,326}</string>
                <key>spriteSourceSize</key>
                <string>{750,600}</string>
                <key>textureRect</key>
                <string>{{753,1},{274,326}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2203_R_effup/0011</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,51}</string>
                <key>spriteSize</key>
                <string>{282,156}</string>
                <key>spriteSourceSize</key>
                <string>{750,600}</string>
                <key>textureRect</key>
                <string>{{753,329},{282,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2203_R_effup/0012</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,51}</string>
                <key>spriteSize</key>
                <string>{282,156}</string>
                <key>spriteSourceSize</key>
                <string>{750,600}</string>
                <key>textureRect</key>
                <string>{{753,329},{282,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2203_R_effup/0013</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,51}</string>
                <key>spriteSize</key>
                <string>{282,156}</string>
                <key>spriteSourceSize</key>
                <string>{750,600}</string>
                <key>textureRect</key>
                <string>{{753,329},{282,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2203_R_effup/0014</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,137}</string>
                <key>spriteSize</key>
                <string>{256,326}</string>
                <key>spriteSourceSize</key>
                <string>{750,600}</string>
                <key>textureRect</key>
                <string>{{1029,1},{256,326}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2203_R_effup/0015</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,137}</string>
                <key>spriteSize</key>
                <string>{256,326}</string>
                <key>spriteSourceSize</key>
                <string>{750,600}</string>
                <key>textureRect</key>
                <string>{{1029,1},{256,326}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2203_R_effup/0016</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,137}</string>
                <key>spriteSize</key>
                <string>{256,326}</string>
                <key>spriteSourceSize</key>
                <string>{750,600}</string>
                <key>textureRect</key>
                <string>{{1029,1},{256,326}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2203_R_effup/0017</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,148}</string>
                <key>spriteSize</key>
                <string>{120,304}</string>
                <key>spriteSourceSize</key>
                <string>{750,600}</string>
                <key>textureRect</key>
                <string>{{1037,329},{120,304}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2203_R_effup/0018</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,23}</string>
                <key>spriteSize</key>
                <string>{48,22}</string>
                <key>spriteSourceSize</key>
                <string>{750,600}</string>
                <key>textureRect</key>
                <string>{{323,463},{48,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2203_R_effup/0019</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,23}</string>
                <key>spriteSize</key>
                <string>{48,22}</string>
                <key>spriteSourceSize</key>
                <string>{750,600}</string>
                <key>textureRect</key>
                <string>{{323,463},{48,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2203_R_effup/0020</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,23}</string>
                <key>spriteSize</key>
                <string>{48,22}</string>
                <key>spriteSourceSize</key>
                <string>{750,600}</string>
                <key>textureRect</key>
                <string>{{323,463},{48,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2203_R_effup/0021</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-373.5,298.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{750,600}</string>
                <key>textureRect</key>
                <string>{{323,487},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2203_R_effup/0022</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-373.5,298.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{750,600}</string>
                <key>textureRect</key>
                <string>{{323,487},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2203_R_effup/0023</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,26}</string>
                <key>spriteSize</key>
                <string>{48,60}</string>
                <key>spriteSourceSize</key>
                <string>{750,600}</string>
                <key>textureRect</key>
                <string>{{323,401},{48,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2203_R_effup/0024</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,26}</string>
                <key>spriteSize</key>
                <string>{48,60}</string>
                <key>spriteSourceSize</key>
                <string>{750,600}</string>
                <key>textureRect</key>
                <string>{{323,401},{48,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2203_R_effup/0025</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,26}</string>
                <key>spriteSize</key>
                <string>{48,60}</string>
                <key>spriteSourceSize</key>
                <string>{750,600}</string>
                <key>textureRect</key>
                <string>{{323,401},{48,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2203_R_effup/0026</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,26}</string>
                <key>spriteSize</key>
                <string>{48,60}</string>
                <key>spriteSourceSize</key>
                <string>{750,600}</string>
                <key>textureRect</key>
                <string>{{323,401},{48,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2203_R_effup/0027</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-373.5,298.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{750,600}</string>
                <key>textureRect</key>
                <string>{{323,487},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2203_R_effup/0028</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-373.5,298.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{750,600}</string>
                <key>textureRect</key>
                <string>{{323,487},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2203_R_effup/0029</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-373.5,298.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{750,600}</string>
                <key>textureRect</key>
                <string>{{323,487},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2203_R_effup/0030</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-373.5,298.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{750,600}</string>
                <key>textureRect</key>
                <string>{{323,487},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2203_R_effup/0031</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-373.5,298.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{750,600}</string>
                <key>textureRect</key>
                <string>{{323,487},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2203_R_effup/0032</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-373.5,298.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{750,600}</string>
                <key>textureRect</key>
                <string>{{323,487},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2203_R_effup/0033</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-373.5,298.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{750,600}</string>
                <key>textureRect</key>
                <string>{{323,487},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2203_R_effup/0034</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-373.5,298.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{750,600}</string>
                <key>textureRect</key>
                <string>{{323,487},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2203_R_effup/0035</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-373.5,298.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{750,600}</string>
                <key>textureRect</key>
                <string>{{323,487},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2203_R_effup/0036</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-373.5,298.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{750,600}</string>
                <key>textureRect</key>
                <string>{{323,487},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2203_R_effup/0037</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-373.5,298.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{750,600}</string>
                <key>textureRect</key>
                <string>{{323,487},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2203_R_effup/0038</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-373.5,298.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{750,600}</string>
                <key>textureRect</key>
                <string>{{323,487},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2203_R_effup/0039</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-373.5,298.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{750,600}</string>
                <key>textureRect</key>
                <string>{{323,487},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2203_R_effup/0040</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-373.5,298.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{750,600}</string>
                <key>textureRect</key>
                <string>{{323,487},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2203_R_effup/0041</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-373.5,298.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{750,600}</string>
                <key>textureRect</key>
                <string>{{323,487},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2203_R_effup/0042</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-373.5,298.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{750,600}</string>
                <key>textureRect</key>
                <string>{{323,487},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2203_R_effup/0043</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-373.5,298.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{750,600}</string>
                <key>textureRect</key>
                <string>{{323,487},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2203_R_effup/0044</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-373.5,298.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{750,600}</string>
                <key>textureRect</key>
                <string>{{323,487},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>2203_R_effup.png</string>
            <key>size</key>
            <string>{1514,500}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ff64a4ab569a5ef1d7622ebbdcf60e08:e9d35ff2836f0fbca6fba0e8dbd69f1f:830424f3e783e560bef1a5746defa69d$</string>
            <key>textureFileName</key>
            <string>2203_R_effup.png</string>
        </dict>
    </dict>
</plist>
