<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2203_R1_effup/0000</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,147}</string>
                <key>spriteSize</key>
                <string>{54,306}</string>
                <key>spriteSourceSize</key>
                <string>{480,600}</string>
                <key>textureRect</key>
                <string>{{1,85},{54,306}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2203_R1_effup/0001</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,147}</string>
                <key>spriteSize</key>
                <string>{54,306}</string>
                <key>spriteSourceSize</key>
                <string>{480,600}</string>
                <key>textureRect</key>
                <string>{{1,85},{54,306}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2203_R1_effup/0002</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,147}</string>
                <key>spriteSize</key>
                <string>{54,306}</string>
                <key>spriteSourceSize</key>
                <string>{480,600}</string>
                <key>textureRect</key>
                <string>{{1,85},{54,306}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2203_R1_effup/0003</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,145}</string>
                <key>spriteSize</key>
                <string>{82,310}</string>
                <key>spriteSourceSize</key>
                <string>{480,600}</string>
                <key>textureRect</key>
                <string>{{1,1},{82,310}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2203_R1_effup/0004</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,145}</string>
                <key>spriteSize</key>
                <string>{82,310}</string>
                <key>spriteSourceSize</key>
                <string>{480,600}</string>
                <key>textureRect</key>
                <string>{{1,1},{82,310}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2203_R1_effup/0005</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,145}</string>
                <key>spriteSize</key>
                <string>{82,310}</string>
                <key>spriteSourceSize</key>
                <string>{480,600}</string>
                <key>textureRect</key>
                <string>{{1,1},{82,310}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2203_R1_effup/0006</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-238.5,298.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{480,600}</string>
                <key>textureRect</key>
                <string>{{247,141},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2203_R1_effup/0007</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,154}</string>
                <key>spriteSize</key>
                <string>{90,244}</string>
                <key>spriteSourceSize</key>
                <string>{480,600}</string>
                <key>textureRect</key>
                <string>{{1,141},{90,244}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2203_R1_effup/0008</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,154}</string>
                <key>spriteSize</key>
                <string>{90,244}</string>
                <key>spriteSourceSize</key>
                <string>{480,600}</string>
                <key>textureRect</key>
                <string>{{1,141},{90,244}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2203_R1_effup/0009</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,154}</string>
                <key>spriteSize</key>
                <string>{90,244}</string>
                <key>spriteSourceSize</key>
                <string>{480,600}</string>
                <key>textureRect</key>
                <string>{{1,141},{90,244}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2203_R1_effup/0010</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-238.5,298.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{480,600}</string>
                <key>textureRect</key>
                <string>{{247,141},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>2203_R1_effup.png</string>
            <key>size</key>
            <string>{312,232}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f099051918e5058a657d84b041f3d392:c8cbca3c3e2c82563e501e94a916ac0b:4a2dcfd64b5efdcea920ca6577db2200$</string>
            <key>textureFileName</key>
            <string>2203_R1_effup.png</string>
        </dict>
    </dict>
</plist>
