<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>40001_Q_role/0000</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{40,105}</string>
                <key>spriteSize</key>
                <string>{174,254}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1,1577},{174,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>40001_Q_role/0001</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{66,151}</string>
                <key>spriteSize</key>
                <string>{214,338}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1,1},{214,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>40001_Q_role/0002</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{66,151}</string>
                <key>spriteSize</key>
                <string>{214,338}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1,1},{214,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>40001_Q_role/0003</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{72,153}</string>
                <key>spriteSize</key>
                <string>{224,334}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1,341},{224,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>40001_Q_role/0004</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{72,153}</string>
                <key>spriteSize</key>
                <string>{224,334}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1,341},{224,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>40001_Q_role/0005</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{69,152}</string>
                <key>spriteSize</key>
                <string>{220,332}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1,677},{220,332}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>40001_Q_role/0006</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{69,152}</string>
                <key>spriteSize</key>
                <string>{220,332}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1,677},{220,332}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>40001_Q_role/0007</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{65,149}</string>
                <key>spriteSize</key>
                <string>{202,308}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1,1011},{202,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>40001_Q_role/0008</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{65,149}</string>
                <key>spriteSize</key>
                <string>{202,308}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1,1011},{202,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>40001_Q_role/0009</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{77,144}</string>
                <key>spriteSize</key>
                <string>{198,254}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1,1321},{198,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>40001_Q_role/0010</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{77,144}</string>
                <key>spriteSize</key>
                <string>{198,254}</string>
                <key>spriteSourceSize</key>
                <string>{960,640}</string>
                <key>textureRect</key>
                <string>{{1,1321},{198,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>40001_Q_role.png</string>
            <key>size</key>
            <string>{226,1832}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9636b42e9ce38933583bf95d7939bfc5:db84ddb59aa4e46a7091e819bad89492:1394746a25f88fc6944c4e8262dc7ba0$</string>
            <key>textureFileName</key>
            <string>40001_Q_role.png</string>
        </dict>
    </dict>
</plist>
