<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>asheA_W2_effup/0000</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,0}</string>
                <key>spriteSize</key>
                <string>{68,26}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{75,1},{68,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asheA_W2_effup/0001</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{67,0}</string>
                <key>spriteSize</key>
                <string>{68,26}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{75,29},{68,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asheA_W2_effup/0002</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{112,0}</string>
                <key>spriteSize</key>
                <string>{68,26}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{75,1},{68,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asheA_W2_effup/0003</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{153,0}</string>
                <key>spriteSize</key>
                <string>{68,26}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{75,29},{68,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asheA_W2_effup/0004</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{189,0}</string>
                <key>spriteSize</key>
                <string>{68,26}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{145,1},{68,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asheA_W2_effup/0005</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{220,0}</string>
                <key>spriteSize</key>
                <string>{68,26}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{145,29},{68,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asheA_W2_effup/0006</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{246,0}</string>
                <key>spriteSize</key>
                <string>{68,26}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{75,29},{68,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asheA_W2_effup/0007</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{267,0}</string>
                <key>spriteSize</key>
                <string>{68,26}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{75,29},{68,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asheA_W2_effup/0008</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{283,0}</string>
                <key>spriteSize</key>
                <string>{68,26}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{75,1},{68,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asheA_W2_effup/0009</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{284,-1}</string>
                <key>spriteSize</key>
                <string>{50,16}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{1,1},{50,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asheA_W2_effup/0010</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{283,-1}</string>
                <key>spriteSize</key>
                <string>{38,16}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{19,1},{38,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asheA_W2_effup/0011</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{283,-1}</string>
                <key>spriteSize</key>
                <string>{38,16}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{19,1},{38,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asheA_W2_effup/0012</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{282,-2}</string>
                <key>spriteSize</key>
                <string>{32,18}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{37,1},{32,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asheA_W2_effup/0013</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{282,-2}</string>
                <key>spriteSize</key>
                <string>{32,18}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{37,1},{32,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asheA_W2_effup/0014</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{280,-3}</string>
                <key>spriteSize</key>
                <string>{30,16}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{57,1},{30,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asheA_W2_effup/0015</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{280,-3}</string>
                <key>spriteSize</key>
                <string>{30,16}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{57,1},{30,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asheA_W2_effup/0016</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{280,-3}</string>
                <key>spriteSize</key>
                <string>{30,16}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{57,1},{30,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asheA_W2_effup/0017</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{285,-3}</string>
                <key>spriteSize</key>
                <string>{20,16}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{37,35},{20,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asheA_W2_effup/0018</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{285,-3}</string>
                <key>spriteSize</key>
                <string>{20,16}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{37,35},{20,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asheA_W2_effup/0019</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{285,-3}</string>
                <key>spriteSize</key>
                <string>{20,16}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{37,35},{20,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asheA_W2_effup/0020</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{286,-4}</string>
                <key>spriteSize</key>
                <string>{20,16}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{55,35},{20,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asheA_W2_effup/0021</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{286,-4}</string>
                <key>spriteSize</key>
                <string>{20,16}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{55,35},{20,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asheA_W2_effup/0022</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{286,-4}</string>
                <key>spriteSize</key>
                <string>{20,16}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{55,35},{20,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>asheA_W2_effup.png</string>
            <key>size</key>
            <string>{214,56}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0c6447335bea225878064790ed332ff7:41ff75acc25b0caf92ddf829ca36f625:1cf62328426255b23135bd894689c1fa$</string>
            <key>textureFileName</key>
            <string>asheA_W2_effup.png</string>
        </dict>
    </dict>
</plist>
