<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>asheB_A2_effup/0000</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,1}</string>
                <key>spriteSize</key>
                <string>{54,16}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,1},{54,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asheB_A2_effup/0001</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,1}</string>
                <key>spriteSize</key>
                <string>{54,16}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,1},{54,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>asheB_A2_effup.png</string>
            <key>size</key>
            <string>{56,18}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a8a79b8390b31ddffa2737ce4ec84f29:e4800708aacf1717d013c23ec987a7a5:84302d47c3327ad97639c210bb928aae$</string>
            <key>textureFileName</key>
            <string>asheB_A2_effup.png</string>
        </dict>
    </dict>
</plist>
