<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>asheB_W4_effup/0000</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,0}</string>
                <key>spriteSize</key>
                <string>{68,26}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{29,117},{68,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asheB_W4_effup/0001</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{67,0}</string>
                <key>spriteSize</key>
                <string>{68,26}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{1,185},{68,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asheB_W4_effup/0002</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{112,0}</string>
                <key>spriteSize</key>
                <string>{68,26}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{29,187},{68,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asheB_W4_effup/0003</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{153,0}</string>
                <key>spriteSize</key>
                <string>{68,26}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{1,255},{68,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asheB_W4_effup/0004</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{184,0}</string>
                <key>spriteSize</key>
                <string>{60,26}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{1,89},{60,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asheB_W4_effup/0005</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{219,0}</string>
                <key>spriteSize</key>
                <string>{68,26}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{29,187},{68,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asheB_W4_effup/0006</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{246,0}</string>
                <key>spriteSize</key>
                <string>{66,26}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{1,117},{66,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asheB_W4_effup/0007</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{267,0}</string>
                <key>spriteSize</key>
                <string>{66,26}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{1,117},{66,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asheB_W4_effup/0008</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{283,0}</string>
                <key>spriteSize</key>
                <string>{68,26}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{29,257},{68,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asheB_W4_effup/0009</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{284,-1}</string>
                <key>spriteSize</key>
                <string>{50,16}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{1,1},{50,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asheB_W4_effup/0010</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{283,-1}</string>
                <key>spriteSize</key>
                <string>{38,16}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{1,19},{38,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asheB_W4_effup/0011</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{283,-1}</string>
                <key>spriteSize</key>
                <string>{38,16}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{1,37},{38,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asheB_W4_effup/0012</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{282,-2}</string>
                <key>spriteSize</key>
                <string>{32,18}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{33,55},{32,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asheB_W4_effup/0013</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{282,-2}</string>
                <key>spriteSize</key>
                <string>{32,18}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{33,55},{32,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>asheB_W4_effup/0014</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{280,-3}</string>
                <key>spriteSize</key>
                <string>{30,16}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{1,55},{30,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asheB_W4_effup/0015</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{280,-3}</string>
                <key>spriteSize</key>
                <string>{30,16}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{1,55},{30,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asheB_W4_effup/0016</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{280,-3}</string>
                <key>spriteSize</key>
                <string>{30,16}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{1,55},{30,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asheB_W4_effup/0017</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{285,-3}</string>
                <key>spriteSize</key>
                <string>{20,16}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{41,19},{20,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asheB_W4_effup/0018</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{285,-3}</string>
                <key>spriteSize</key>
                <string>{20,16}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{41,19},{20,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asheB_W4_effup/0019</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{285,-3}</string>
                <key>spriteSize</key>
                <string>{20,16}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{41,19},{20,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asheB_W4_effup/0020</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{286,-4}</string>
                <key>spriteSize</key>
                <string>{20,16}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{41,37},{20,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asheB_W4_effup/0021</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{286,-4}</string>
                <key>spriteSize</key>
                <string>{20,16}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{41,37},{20,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asheB_W4_effup/0022</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{286,-4}</string>
                <key>spriteSize</key>
                <string>{20,16}</string>
                <key>spriteSourceSize</key>
                <string>{650,320}</string>
                <key>textureRect</key>
                <string>{{41,37},{20,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>asheB_W4_effup.png</string>
            <key>size</key>
            <string>{62,326}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ac2c38cfd9c3dc720306cf58c022756a:041eea4f67adb4cd07a00a03c1dc986b:47eeec3d05bacf6277fd17b16326dc7f$</string>
            <key>textureFileName</key>
            <string>asheB_W4_effup.png</string>
        </dict>
    </dict>
</plist>
