<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>asheA_R_effup/0000</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{244,0}</string>
                <key>spriteSize</key>
                <string>{504,36}</string>
                <key>spriteSourceSize</key>
                <string>{1000,320}</string>
                <key>textureRect</key>
                <string>{{1,129},{504,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asheA_R_effup/0001</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{243,-1}</string>
                <key>spriteSize</key>
                <string>{506,62}</string>
                <key>spriteSourceSize</key>
                <string>{1000,320}</string>
                <key>textureRect</key>
                <string>{{1,1},{506,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asheA_R_effup/0002</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-498.5,158.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{1000,320}</string>
                <key>textureRect</key>
                <string>{{487,187},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asheA_R_effup/0003</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{243,-1}</string>
                <key>spriteSize</key>
                <string>{506,62}</string>
                <key>spriteSourceSize</key>
                <string>{1000,320}</string>
                <key>textureRect</key>
                <string>{{1,65},{506,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asheA_R_effup/0004</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{243,-1}</string>
                <key>spriteSize</key>
                <string>{506,62}</string>
                <key>spriteSourceSize</key>
                <string>{1000,320}</string>
                <key>textureRect</key>
                <string>{{1,65},{506,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asheA_R_effup/0005</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-498.5,158.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{1000,320}</string>
                <key>textureRect</key>
                <string>{{487,187},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asheA_R_effup/0006</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{244,0}</string>
                <key>spriteSize</key>
                <string>{504,36}</string>
                <key>spriteSourceSize</key>
                <string>{1000,320}</string>
                <key>textureRect</key>
                <string>{{1,129},{504,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asheA_R_effup/0007</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{244,0}</string>
                <key>spriteSize</key>
                <string>{504,36}</string>
                <key>spriteSourceSize</key>
                <string>{1000,320}</string>
                <key>textureRect</key>
                <string>{{1,129},{504,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asheA_R_effup/0008</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{244,0}</string>
                <key>spriteSize</key>
                <string>{504,18}</string>
                <key>spriteSourceSize</key>
                <string>{1000,320}</string>
                <key>textureRect</key>
                <string>{{1,167},{504,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asheA_R_effup/0009</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{244,0}</string>
                <key>spriteSize</key>
                <string>{504,18}</string>
                <key>spriteSourceSize</key>
                <string>{1000,320}</string>
                <key>textureRect</key>
                <string>{{1,167},{504,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asheA_R_effup/0010</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-498.5,158.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{1000,320}</string>
                <key>textureRect</key>
                <string>{{487,187},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asheA_R_effup/0011</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{244,0}</string>
                <key>spriteSize</key>
                <string>{504,18}</string>
                <key>spriteSourceSize</key>
                <string>{1000,320}</string>
                <key>textureRect</key>
                <string>{{1,167},{504,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asheA_R_effup/0012</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{244,0}</string>
                <key>spriteSize</key>
                <string>{504,18}</string>
                <key>spriteSourceSize</key>
                <string>{1000,320}</string>
                <key>textureRect</key>
                <string>{{1,167},{504,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asheA_R_effup/0013</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{239,0}</string>
                <key>spriteSize</key>
                <string>{484,14}</string>
                <key>spriteSourceSize</key>
                <string>{1000,320}</string>
                <key>textureRect</key>
                <string>{{1,187},{484,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asheA_R_effup/0014</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{239,0}</string>
                <key>spriteSize</key>
                <string>{484,14}</string>
                <key>spriteSourceSize</key>
                <string>{1000,320}</string>
                <key>textureRect</key>
                <string>{{1,187},{484,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asheA_R_effup/0015</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-498.5,158.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{1000,320}</string>
                <key>textureRect</key>
                <string>{{487,187},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asheA_R_effup/0016</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-498.5,158.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{1000,320}</string>
                <key>textureRect</key>
                <string>{{487,187},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asheA_R_effup/0017</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{239,0}</string>
                <key>spriteSize</key>
                <string>{484,14}</string>
                <key>spriteSourceSize</key>
                <string>{1000,320}</string>
                <key>textureRect</key>
                <string>{{1,187},{484,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asheA_R_effup/0018</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{239,0}</string>
                <key>spriteSize</key>
                <string>{484,14}</string>
                <key>spriteSourceSize</key>
                <string>{1000,320}</string>
                <key>textureRect</key>
                <string>{{1,187},{484,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>asheA_R_effup.png</string>
            <key>size</key>
            <string>{508,202}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1266c715aa7f6f3f818e9c73786c74fc:7eecf8c8afe257de3e4bcc9e9c81986c:db2caa63a3d4691a684f6243db6560aa$</string>
            <key>textureFileName</key>
            <string>asheA_R_effup.png</string>
        </dict>
    </dict>
</plist>
