<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>asheB_A_effup/0000</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,1}</string>
                <key>spriteSize</key>
                <string>{54,16}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,1},{54,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>asheB_A_effup/0001</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,1}</string>
                <key>spriteSize</key>
                <string>{54,16}</string>
                <key>spriteSourceSize</key>
                <string>{480,320}</string>
                <key>textureRect</key>
                <string>{{1,1},{54,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>asheB_A_effup.png</string>
            <key>size</key>
            <string>{56,18}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2b42897b5f15384ba59605a30fbc32f7:8d768d7151f77d462b9f5491ace520b8:51befe8aa96424c0ac2bad158b5560f9$</string>
            <key>textureFileName</key>
            <string>asheB_A_effup.png</string>
        </dict>
    </dict>
</plist>
