<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>garenA_R_effup/0000</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,15}</string>
                <key>spriteSize</key>
                <string>{118,390}</string>
                <key>spriteSourceSize</key>
                <string>{480,450}</string>
                <key>textureRect</key>
                <string>{{1,389},{118,390}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>garenA_R_effup/0001</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,15}</string>
                <key>spriteSize</key>
                <string>{118,390}</string>
                <key>spriteSourceSize</key>
                <string>{480,450}</string>
                <key>textureRect</key>
                <string>{{1,389},{118,390}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>garenA_R_effup/0002</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,11}</string>
                <key>spriteSize</key>
                <string>{160,390}</string>
                <key>spriteSourceSize</key>
                <string>{480,450}</string>
                <key>textureRect</key>
                <string>{{579,181},{160,390}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>garenA_R_effup/0003</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,11}</string>
                <key>spriteSize</key>
                <string>{160,390}</string>
                <key>spriteSourceSize</key>
                <string>{480,450}</string>
                <key>textureRect</key>
                <string>{{579,181},{160,390}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>garenA_R_effup/0004</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,11}</string>
                <key>spriteSize</key>
                <string>{174,388}</string>
                <key>spriteSourceSize</key>
                <string>{480,450}</string>
                <key>textureRect</key>
                <string>{{189,181},{174,388}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>garenA_R_effup/0005</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,11}</string>
                <key>spriteSize</key>
                <string>{174,388}</string>
                <key>spriteSourceSize</key>
                <string>{480,450}</string>
                <key>textureRect</key>
                <string>{{189,181},{174,388}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>garenA_R_effup/0006</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,9}</string>
                <key>spriteSize</key>
                <string>{186,386}</string>
                <key>spriteSourceSize</key>
                <string>{480,450}</string>
                <key>textureRect</key>
                <string>{{1,1},{186,386}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>garenA_R_effup/0007</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,9}</string>
                <key>spriteSize</key>
                <string>{186,386}</string>
                <key>spriteSourceSize</key>
                <string>{480,450}</string>
                <key>textureRect</key>
                <string>{{1,1},{186,386}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>garenA_R_effup/0008</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,11}</string>
                <key>spriteSize</key>
                <string>{178,388}</string>
                <key>spriteSourceSize</key>
                <string>{480,450}</string>
                <key>textureRect</key>
                <string>{{189,1},{178,388}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>garenA_R_effup/0009</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,11}</string>
                <key>spriteSize</key>
                <string>{178,388}</string>
                <key>spriteSourceSize</key>
                <string>{480,450}</string>
                <key>textureRect</key>
                <string>{{189,1},{178,388}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>garenA_R_effup/0010</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,11}</string>
                <key>spriteSize</key>
                <string>{160,390}</string>
                <key>spriteSourceSize</key>
                <string>{480,450}</string>
                <key>textureRect</key>
                <string>{{579,181},{160,390}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>garenA_R_effup/0011</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,11}</string>
                <key>spriteSize</key>
                <string>{160,390}</string>
                <key>spriteSourceSize</key>
                <string>{480,450}</string>
                <key>textureRect</key>
                <string>{{579,181},{160,390}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>garenA_R_effup/0012</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,11}</string>
                <key>spriteSize</key>
                <string>{174,388}</string>
                <key>spriteSourceSize</key>
                <string>{480,450}</string>
                <key>textureRect</key>
                <string>{{189,181},{174,388}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>garenA_R_effup/0013</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,11}</string>
                <key>spriteSize</key>
                <string>{174,388}</string>
                <key>spriteSourceSize</key>
                <string>{480,450}</string>
                <key>textureRect</key>
                <string>{{189,181},{174,388}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>garenA_R_effup/0014</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,9}</string>
                <key>spriteSize</key>
                <string>{186,386}</string>
                <key>spriteSourceSize</key>
                <string>{480,450}</string>
                <key>textureRect</key>
                <string>{{1,1},{186,386}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>garenA_R_effup/0015</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,9}</string>
                <key>spriteSize</key>
                <string>{186,386}</string>
                <key>spriteSourceSize</key>
                <string>{480,450}</string>
                <key>textureRect</key>
                <string>{{1,1},{186,386}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>garenA_R_effup/0016</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,11}</string>
                <key>spriteSize</key>
                <string>{178,388}</string>
                <key>spriteSourceSize</key>
                <string>{480,450}</string>
                <key>textureRect</key>
                <string>{{189,1},{178,388}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>garenA_R_effup/0017</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,11}</string>
                <key>spriteSize</key>
                <string>{178,388}</string>
                <key>spriteSourceSize</key>
                <string>{480,450}</string>
                <key>textureRect</key>
                <string>{{189,1},{178,388}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>garenA_R_effup/0018</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,11}</string>
                <key>spriteSize</key>
                <string>{160,390}</string>
                <key>spriteSourceSize</key>
                <string>{480,450}</string>
                <key>textureRect</key>
                <string>{{579,181},{160,390}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>garenA_R_effup/0019</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,11}</string>
                <key>spriteSize</key>
                <string>{160,390}</string>
                <key>spriteSourceSize</key>
                <string>{480,450}</string>
                <key>textureRect</key>
                <string>{{579,181},{160,390}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>garenA_R_effup/0020</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,11}</string>
                <key>spriteSize</key>
                <string>{174,388}</string>
                <key>spriteSourceSize</key>
                <string>{480,450}</string>
                <key>textureRect</key>
                <string>{{189,181},{174,388}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>garenA_R_effup/0021</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,11}</string>
                <key>spriteSize</key>
                <string>{174,388}</string>
                <key>spriteSourceSize</key>
                <string>{480,450}</string>
                <key>textureRect</key>
                <string>{{189,181},{174,388}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>garenA_R_effup/0022</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,9}</string>
                <key>spriteSize</key>
                <string>{186,386}</string>
                <key>spriteSourceSize</key>
                <string>{480,450}</string>
                <key>textureRect</key>
                <string>{{1,1},{186,386}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>garenA_R_effup/0023</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,9}</string>
                <key>spriteSize</key>
                <string>{186,386}</string>
                <key>spriteSourceSize</key>
                <string>{480,450}</string>
                <key>textureRect</key>
                <string>{{1,1},{186,386}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>garenA_R_effup/0024</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,11}</string>
                <key>spriteSize</key>
                <string>{178,388}</string>
                <key>spriteSourceSize</key>
                <string>{480,450}</string>
                <key>textureRect</key>
                <string>{{189,1},{178,388}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>garenA_R_effup/0025</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,11}</string>
                <key>spriteSize</key>
                <string>{178,388}</string>
                <key>spriteSourceSize</key>
                <string>{480,450}</string>
                <key>textureRect</key>
                <string>{{189,1},{178,388}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>garenA_R_effup/0026</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,11}</string>
                <key>spriteSize</key>
                <string>{160,390}</string>
                <key>spriteSourceSize</key>
                <string>{480,450}</string>
                <key>textureRect</key>
                <string>{{579,181},{160,390}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>garenA_R_effup/0027</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,11}</string>
                <key>spriteSize</key>
                <string>{160,390}</string>
                <key>spriteSourceSize</key>
                <string>{480,450}</string>
                <key>textureRect</key>
                <string>{{579,181},{160,390}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>garenA_R_effup/0028</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-10}</string>
                <key>spriteSize</key>
                <string>{186,348}</string>
                <key>spriteSourceSize</key>
                <string>{480,450}</string>
                <key>textureRect</key>
                <string>{{971,1},{186,348}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>garenA_R_effup/0029</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-10}</string>
                <key>spriteSize</key>
                <string>{186,348}</string>
                <key>spriteSourceSize</key>
                <string>{480,450}</string>
                <key>textureRect</key>
                <string>{{971,1},{186,348}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>garenA_R_effup/0030</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,5}</string>
                <key>spriteSize</key>
                <string>{178,376}</string>
                <key>spriteSourceSize</key>
                <string>{480,450}</string>
                <key>textureRect</key>
                <string>{{579,1},{178,376}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>garenA_R_effup/0031</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,5}</string>
                <key>spriteSize</key>
                <string>{178,376}</string>
                <key>spriteSourceSize</key>
                <string>{480,450}</string>
                <key>textureRect</key>
                <string>{{579,1},{178,376}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>garenA_R_effup/0032</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-18}</string>
                <key>spriteSize</key>
                <string>{168,326}</string>
                <key>spriteSourceSize</key>
                <string>{480,450}</string>
                <key>textureRect</key>
                <string>{{579,343},{168,326}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>garenA_R_effup/0033</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-18}</string>
                <key>spriteSize</key>
                <string>{168,326}</string>
                <key>spriteSourceSize</key>
                <string>{480,450}</string>
                <key>textureRect</key>
                <string>{{579,343},{168,326}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>garenA_R_effup/0034</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-40}</string>
                <key>spriteSize</key>
                <string>{132,260}</string>
                <key>spriteSourceSize</key>
                <string>{480,450}</string>
                <key>textureRect</key>
                <string>{{907,351},{132,260}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>garenA_R_effup/0035</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-102}</string>
                <key>spriteSize</key>
                <string>{132,132}</string>
                <key>spriteSourceSize</key>
                <string>{480,450}</string>
                <key>textureRect</key>
                <string>{{393,357},{132,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>garenA_R_effup/0036</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-102}</string>
                <key>spriteSize</key>
                <string>{132,132}</string>
                <key>spriteSourceSize</key>
                <string>{480,450}</string>
                <key>textureRect</key>
                <string>{{393,357},{132,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>garenA_R_effup/0037</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-133}</string>
                <key>spriteSize</key>
                <string>{114,36}</string>
                <key>spriteSourceSize</key>
                <string>{480,450}</string>
                <key>textureRect</key>
                <string>{{527,357},{114,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>garenA_R_effup/0038</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-133}</string>
                <key>spriteSize</key>
                <string>{114,36}</string>
                <key>spriteSourceSize</key>
                <string>{480,450}</string>
                <key>textureRect</key>
                <string>{{527,357},{114,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>garenA_R_effup.png</string>
            <key>size</key>
            <string>{1168,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1dadb665034518ad6d952218ba8d2c19:a4bb76168fe31bf4d941583e8886e05a:b377b172935268453070a91a01f795c6$</string>
            <key>textureFileName</key>
            <string>garenA_R_effup.png</string>
        </dict>
    </dict>
</plist>
