<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shaco_W_role/0000</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-109}</string>
                <key>spriteSize</key>
                <string>{22,24}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{297,963},{22,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shaco_W_role/0001</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-110}</string>
                <key>spriteSize</key>
                <string>{30,28}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{267,963},{30,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shaco_W_role/0002</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-112}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{401,853},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shaco_W_role/0003</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-114}</string>
                <key>spriteSize</key>
                <string>{34,36}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{401,817},{34,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shaco_W_role/0004</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-112}</string>
                <key>spriteSize</key>
                <string>{46,42}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{333,775},{46,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shaco_W_role/0005</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-109}</string>
                <key>spriteSize</key>
                <string>{50,48}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{377,943},{50,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shaco_W_role/0006</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-106}</string>
                <key>spriteSize</key>
                <string>{46,52}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{427,943},{46,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shaco_W_role/0007</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-107}</string>
                <key>spriteSize</key>
                <string>{48,52}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{415,889},{48,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shaco_W_role/0008</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-106}</string>
                <key>spriteSize</key>
                <string>{48,54}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{439,833},{48,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shaco_W_role/0009</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-105}</string>
                <key>spriteSize</key>
                <string>{48,56}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{351,819},{48,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shaco_W_role/0010</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-105}</string>
                <key>spriteSize</key>
                <string>{48,56}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{439,775},{48,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shaco_W_role/0011</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-104}</string>
                <key>spriteSize</key>
                <string>{48,58}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{309,883},{48,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shaco_W_role/0012</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-103}</string>
                <key>spriteSize</key>
                <string>{48,60}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{301,821},{48,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shaco_W_role/0013</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-102}</string>
                <key>spriteSize</key>
                <string>{48,62}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{201,821},{48,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shaco_W_role/0014</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-102}</string>
                <key>spriteSize</key>
                <string>{48,62}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{251,821},{48,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shaco_W_role/0015</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-102}</string>
                <key>spriteSize</key>
                <string>{48,62}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{251,821},{48,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shaco_W_role/0016</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-106}</string>
                <key>spriteSize</key>
                <string>{52,54}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{359,889},{52,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shaco_W_role/0017</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-106}</string>
                <key>spriteSize</key>
                <string>{52,54}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{359,889},{52,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shaco_W_role/0018</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-113}</string>
                <key>spriteSize</key>
                <string>{56,40}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{381,775},{56,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shaco_W_role/0019</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-113}</string>
                <key>spriteSize</key>
                <string>{56,40}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{381,775},{56,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shaco_W_role/0020</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-107}</string>
                <key>spriteSize</key>
                <string>{54,50}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{321,943},{54,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shaco_W_role/0021</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-107}</string>
                <key>spriteSize</key>
                <string>{54,50}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{321,943},{54,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shaco_W_role/0022</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-81}</string>
                <key>spriteSize</key>
                <string>{76,100}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{165,897},{76,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shaco_W_role/0023</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-40}</string>
                <key>spriteSize</key>
                <string>{76,182}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{185,287},{76,182}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shaco_W_role/0024</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-42}</string>
                <key>spriteSize</key>
                <string>{110,186}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1,91},{110,186}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shaco_W_role/0025</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,-48}</string>
                <key>spriteSize</key>
                <string>{104,174}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1,387},{104,174}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shaco_W_role/0026</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-34,-47}</string>
                <key>spriteSize</key>
                <string>{116,172}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{369,341},{116,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shaco_W_role/0027</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-34,-47}</string>
                <key>spriteSize</key>
                <string>{116,172}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1,493},{116,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shaco_W_role/0028</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-41,-55}</string>
                <key>spriteSize</key>
                <string>{132,156}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{347,617},{132,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shaco_W_role/0029</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-41,-55}</string>
                <key>spriteSize</key>
                <string>{132,156}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{347,617},{132,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shaco_W_role/0030</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-55}</string>
                <key>spriteSize</key>
                <string>{94,156}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1,801},{94,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shaco_W_role/0031</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-55}</string>
                <key>spriteSize</key>
                <string>{94,156}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1,801},{94,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shaco_W_role/0032</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-51}</string>
                <key>spriteSize</key>
                <string>{90,164}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1,709},{90,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shaco_W_role/0033</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-51}</string>
                <key>spriteSize</key>
                <string>{90,164}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{167,729},{90,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shaco_W_role/0034</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-53}</string>
                <key>spriteSize</key>
                <string>{96,168}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1,611},{96,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shaco_W_role/0035</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-47}</string>
                <key>spriteSize</key>
                <string>{90,180}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1,295},{90,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shaco_W_role/0036</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-48}</string>
                <key>spriteSize</key>
                <string>{90,182}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1,203},{90,182}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shaco_W_role/0037</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-48}</string>
                <key>spriteSize</key>
                <string>{90,182}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1,203},{90,182}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shaco_W_role/0038</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-48}</string>
                <key>spriteSize</key>
                <string>{88,190}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1,1},{88,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shaco_W_role/0039</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-48}</string>
                <key>spriteSize</key>
                <string>{88,190}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{193,1},{88,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shaco_W_role/0040</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-48}</string>
                <key>spriteSize</key>
                <string>{88,190}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{193,1},{88,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shaco_W_role/0041</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-51}</string>
                <key>spriteSize</key>
                <string>{96,184}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{189,91},{96,184}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shaco_W_role/0042</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-51}</string>
                <key>spriteSize</key>
                <string>{96,184}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{189,189},{96,184}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shaco_W_role/0043</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-51}</string>
                <key>spriteSize</key>
                <string>{96,184}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{189,189},{96,184}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shaco_W_role/0044</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-51}</string>
                <key>spriteSize</key>
                <string>{96,184}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{189,189},{96,184}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shaco_W_role/0045</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-55}</string>
                <key>spriteSize</key>
                <string>{84,176}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{183,365},{84,176}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shaco_W_role/0046</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-55}</string>
                <key>spriteSize</key>
                <string>{84,176}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{183,365},{84,176}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shaco_W_role/0047</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-55}</string>
                <key>spriteSize</key>
                <string>{84,176}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{183,365},{84,176}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shaco_W_role/0048</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-59}</string>
                <key>spriteSize</key>
                <string>{102,168}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{385,1},{102,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shaco_W_role/0049</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-59}</string>
                <key>spriteSize</key>
                <string>{102,168}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{385,1},{102,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shaco_W_role/0050</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-59}</string>
                <key>spriteSize</key>
                <string>{102,168}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{385,1},{102,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shaco_W_role/0051</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-59}</string>
                <key>spriteSize</key>
                <string>{108,168}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{375,171},{108,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shaco_W_role/0052</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-59}</string>
                <key>spriteSize</key>
                <string>{108,168}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{375,171},{108,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shaco_W_role/0053</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-59}</string>
                <key>spriteSize</key>
                <string>{108,168}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{375,171},{108,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shaco_W_role/0054</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-58}</string>
                <key>spriteSize</key>
                <string>{96,170}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{175,537},{96,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shaco_W_role/0055</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-58}</string>
                <key>spriteSize</key>
                <string>{96,170}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{175,537},{96,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shaco_W_role/0056</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-58}</string>
                <key>spriteSize</key>
                <string>{96,170}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{175,537},{96,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shaco_W_role/0057</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-56}</string>
                <key>spriteSize</key>
                <string>{84,174}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{177,451},{84,174}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shaco_W_role/0058</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-56}</string>
                <key>spriteSize</key>
                <string>{84,174}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{177,451},{84,174}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shaco_W_role/0059</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-56}</string>
                <key>spriteSize</key>
                <string>{84,174}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{177,451},{84,174}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shaco_W_role/0060</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-59}</string>
                <key>spriteSize</key>
                <string>{92,168}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{171,635},{92,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shaco_W_role/0061</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-59}</string>
                <key>spriteSize</key>
                <string>{92,168}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{171,635},{92,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shaco_W_role/0062</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-59}</string>
                <key>spriteSize</key>
                <string>{92,168}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{171,635},{92,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shaco_W_role/0063</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-76}</string>
                <key>spriteSize</key>
                <string>{100,134}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{353,515},{100,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shaco_W_role/0064</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-76}</string>
                <key>spriteSize</key>
                <string>{100,134}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{353,515},{100,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shaco_W_role/0065</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-117}</string>
                <key>spriteSize</key>
                <string>{84,52}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1,897},{84,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shaco_W_role/0066</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-111}</string>
                <key>spriteSize</key>
                <string>{74,40}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{159,821},{74,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shaco_W_role/0067</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-111}</string>
                <key>spriteSize</key>
                <string>{74,40}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{159,821},{74,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shaco_W_role/0068</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-110}</string>
                <key>spriteSize</key>
                <string>{76,40}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{267,885},{76,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shaco_W_role/0069</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-110}</string>
                <key>spriteSize</key>
                <string>{76,40}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{267,885},{76,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shaco_W_role/0070</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-110}</string>
                <key>spriteSize</key>
                <string>{76,40}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{267,885},{76,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shaco_W_role/0071</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-110}</string>
                <key>spriteSize</key>
                <string>{82,38}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{55,897},{82,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shaco_W_role/0072</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-110}</string>
                <key>spriteSize</key>
                <string>{82,38}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{55,897},{82,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shaco_W_role/0073</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-110}</string>
                <key>spriteSize</key>
                <string>{82,38}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{55,897},{82,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shaco_W_role/0074</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-110}</string>
                <key>spriteSize</key>
                <string>{80,36}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{95,897},{80,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shaco_W_role/0075</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-110}</string>
                <key>spriteSize</key>
                <string>{80,36}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{95,897},{80,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shaco_W_role/0076</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-110}</string>
                <key>spriteSize</key>
                <string>{80,36}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{95,897},{80,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shaco_W_role/0077</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-111}</string>
                <key>spriteSize</key>
                <string>{80,30}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{133,897},{80,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shaco_W_role/0078</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-111}</string>
                <key>spriteSize</key>
                <string>{80,30}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{133,897},{80,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shaco_W_role/0079</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-111}</string>
                <key>spriteSize</key>
                <string>{80,30}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{133,897},{80,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>shaco_W_role.png</string>
            <key>size</key>
            <string>{488,994}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ac91b3646a05f45ded94ea75188a971b:284b0c65e21726449a6bb7cfc10bd16d:3600ea1728abaca871afd2a85760cc6d$</string>
            <key>textureFileName</key>
            <string>shaco_W_role.png</string>
        </dict>
    </dict>
</plist>
