<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baoxiang_kai.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,562},{66,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,78}}</string>
                <key>sourceSize</key>
                <string>{66,78}</string>
            </dict>
            <key>guang_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,518},{113,103}}</string>
                <key>offset</key>
                <string>{-13,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,78},{113,103}}</string>
                <key>sourceSize</key>
                <string>{303,245}</string>
            </dict>
            <key>guang_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{215,187}}</string>
                <key>offset</key>
                <string>{3,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,40},{215,187}}</string>
                <key>sourceSize</key>
                <string>{303,245}</string>
            </dict>
            <key>guang_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,215},{177,127}}</string>
                <key>offset</key>
                <string>{-10,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,52},{177,127}}</string>
                <key>sourceSize</key>
                <string>{303,245}</string>
            </dict>
            <key>guang_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,621},{207,111}}</string>
                <key>offset</key>
                <string>{-9,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,66},{207,111}}</string>
                <key>sourceSize</key>
                <string>{303,245}</string>
            </dict>
            <key>guang_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,342},{173,99}}</string>
                <key>offset</key>
                <string>{-9,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,79},{173,99}}</string>
                <key>sourceSize</key>
                <string>{303,245}</string>
            </dict>
            <key>guang_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,441},{149,77}}</string>
                <key>offset</key>
                <string>{-10,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,94},{149,77}}</string>
                <key>sourceSize</key>
                <string>{303,245}</string>
            </dict>
            <key>jinbi0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,441},{53,38}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,18},{53,38}}</string>
                <key>sourceSize</key>
                <string>{137,84}</string>
            </dict>
            <key>jinbi0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,518},{67,44}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,14},{67,44}}</string>
                <key>sourceSize</key>
                <string>{137,84}</string>
            </dict>
            <key>jinbi0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,640},{91,52}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,9},{91,52}}</string>
                <key>sourceSize</key>
                <string>{137,84}</string>
            </dict>
            <key>jinbi0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,731},{107,48}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,18},{107,48}}</string>
                <key>sourceSize</key>
                <string>{137,84}</string>
            </dict>
            <key>jinbi0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,828},{89,46}}</string>
                <key>offset</key>
                <string>{6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,26},{89,46}}</string>
                <key>sourceSize</key>
                <string>{137,84}</string>
            </dict>
            <key>jinbi0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,215},{7,6}}</string>
                <key>offset</key>
                <string>{-39,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,71},{7,6}}</string>
                <key>sourceSize</key>
                <string>{137,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>baoxiang_za.png</string>
            <key>size</key>
            <string>{187,874}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:083244e4728e41fdbebd4e5b838df214:201d842f096b04404003ea7ce5815696:c7c58717afeb9b7a0f20fc0f718dfd89$</string>
            <key>textureFileName</key>
            <string>baoxiang_za.png</string>
        </dict>
    </dict>
</plist>
