<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tianshi cemian0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1684,160},{80,124}}</string>
                <key>offset</key>
                <string>{2,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{442,241},{80,124}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tianshi cemian0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1616,0},{80,124}}</string>
                <key>offset</key>
                <string>{2,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{442,241},{80,124}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tianshi cemian0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1604,124},{80,124}}</string>
                <key>offset</key>
                <string>{3,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{443,241},{80,124}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tianshi cemian0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1536,0},{80,124}}</string>
                <key>offset</key>
                <string>{3,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{443,241},{80,124}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tianshi cemian0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1524,124},{80,124}}</string>
                <key>offset</key>
                <string>{3,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{443,241},{80,124}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tianshi cemian0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,128},{80,126}}</string>
                <key>offset</key>
                <string>{3,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{443,240},{80,126}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tianshi cemian0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,128},{80,126}}</string>
                <key>offset</key>
                <string>{3,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{443,240},{80,126}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tianshi cemian0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,128},{80,126}}</string>
                <key>offset</key>
                <string>{4,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{444,240},{80,126}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tianshi cemian0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,128},{80,126}}</string>
                <key>offset</key>
                <string>{4,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{444,240},{80,126}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tianshi cemian0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,128},{80,126}}</string>
                <key>offset</key>
                <string>{4,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{444,240},{80,126}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tianshi cemian0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1378,0},{78,128}}</string>
                <key>offset</key>
                <string>{5,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{446,239},{78,128}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tianshi cemian0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1298,0},{80,128}}</string>
                <key>offset</key>
                <string>{5,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{445,239},{80,128}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tianshi cemian0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1218,0},{80,128}}</string>
                <key>offset</key>
                <string>{5,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{445,239},{80,128}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tianshi cemian0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1138,0},{80,128}}</string>
                <key>offset</key>
                <string>{5,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{445,239},{80,128}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tianshi cemian0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1058,0},{80,128}}</string>
                <key>offset</key>
                <string>{5,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{445,239},{80,128}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tianshi cemian0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,0},{80,128}}</string>
                <key>offset</key>
                <string>{6,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{446,238},{80,128}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tianshi cemian0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,0},{80,128}}</string>
                <key>offset</key>
                <string>{6,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{446,238},{80,128}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tianshi cemian0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,0},{82,128}}</string>
                <key>offset</key>
                <string>{5,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{444,238},{82,128}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tianshi cemian0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,0},{80,128}}</string>
                <key>offset</key>
                <string>{6,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{446,238},{80,128}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tianshi cemian0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,0},{80,128}}</string>
                <key>offset</key>
                <string>{6,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{446,238},{80,128}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tianshi cemian0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,0},{82,128}}</string>
                <key>offset</key>
                <string>{6,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{445,237},{82,128}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tianshi cemian0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,0},{82,128}}</string>
                <key>offset</key>
                <string>{6,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{445,237},{82,128}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tianshi cemian0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,0},{82,128}}</string>
                <key>offset</key>
                <string>{6,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{445,237},{82,128}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tianshi cemian0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,0},{82,128}}</string>
                <key>offset</key>
                <string>{6,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{445,237},{82,128}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tianshi cemian0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{84,130}}</string>
                <key>offset</key>
                <string>{6,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{444,235},{84,130}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tianshi cemian0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,0},{82,128}}</string>
                <key>offset</key>
                <string>{6,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{445,236},{82,128}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tianshi cemian0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,0},{82,128}}</string>
                <key>offset</key>
                <string>{6,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{445,236},{82,128}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tianshi cemian0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,0},{80,128}}</string>
                <key>offset</key>
                <string>{7,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{447,236},{80,128}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tianshi cemian0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,128},{80,126}}</string>
                <key>offset</key>
                <string>{6,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{446,238},{80,126}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tianshi cemian0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,128},{80,126}}</string>
                <key>offset</key>
                <string>{6,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{446,238},{80,126}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tianshi cemian0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,128},{82,126}}</string>
                <key>offset</key>
                <string>{5,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{444,237},{82,126}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tianshi cemian0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{1456,0},{80,124}}</string>
                <key>offset</key>
                <string>{6,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{446,239},{80,124}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tianshi cemian0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{1444,128},{80,124}}</string>
                <key>offset</key>
                <string>{5,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{445,239},{80,124}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tianshi cemian0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{1364,128},{80,124}}</string>
                <key>offset</key>
                <string>{5,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{445,239},{80,124}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tianshi cemian0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,128},{80,124}}</string>
                <key>offset</key>
                <string>{5,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{445,239},{80,124}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tianshi cemian0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,130},{82,124}}</string>
                <key>offset</key>
                <string>{4,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{443,239},{82,124}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tianshi cemian0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{1204,128},{80,124}}</string>
                <key>offset</key>
                <string>{4,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{444,239},{80,124}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tianshi cemian0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{1124,128},{80,124}}</string>
                <key>offset</key>
                <string>{4,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{444,239},{80,124}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tianshi cemian0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{1696,80},{80,122}}</string>
                <key>offset</key>
                <string>{4,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{444,241},{80,122}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tianshi cemian0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{1696,0},{80,122}}</string>
                <key>offset</key>
                <string>{3,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{443,241},{80,122}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tianshi cemian0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{1044,128},{80,124}}</string>
                <key>offset</key>
                <string>{3,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{443,241},{80,124}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tianshi cemian0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,128},{80,124}}</string>
                <key>offset</key>
                <string>{3,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{443,241},{80,124}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tianshi cemian0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,128},{80,124}}</string>
                <key>offset</key>
                <string>{3,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{443,241},{80,124}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tianshi cemian0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,128},{80,124}}</string>
                <key>offset</key>
                <string>{2,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{442,241},{80,124}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tianshi cemian0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,130},{80,124}}</string>
                <key>offset</key>
                <string>{2,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{442,241},{80,124}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>2101.png</string>
            <key>size</key>
            <string>{1818,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4f7d0858bde0b47b845031dc063ca6fb:a22970a41ebbe4957f6fbb8c3275e197:0accc033983ec955af15cad5cf72be49$</string>
            <key>textureFileName</key>
            <string>2101.png</string>
        </dict>
    </dict>
</plist>
