<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>emo cemian0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,190},{64,88}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{444,276},{64,88}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>emo cemian0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,190},{64,88}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{444,276},{64,88}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>emo cemian0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,190},{64,88}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{444,276},{64,88}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>emo cemian0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,126},{64,88}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{444,276},{64,88}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>emo cemian0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,126},{64,88}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{444,276},{64,88}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>emo cemian0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,124},{64,88}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{444,276},{64,88}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>emo cemian0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,188},{64,90}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{444,274},{64,90}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>emo cemian0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,188},{64,90}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{444,274},{64,90}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>emo cemian0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,188},{64,90}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{444,274},{64,90}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>emo cemian0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,124},{64,90}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{444,274},{64,90}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>emo cemian0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,0},{62,92}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{446,275},{62,92}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>emo cemian0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,0},{62,92}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{446,275},{62,92}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>emo cemian0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{62,92}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{446,275},{62,92}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>emo cemian0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{62,92}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{446,275},{62,92}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>emo cemian0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{62,92}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{446,275},{62,92}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>emo cemian0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,0},{62,96}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{448,275},{62,96}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>emo cemian0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,0},{62,96}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{448,275},{62,96}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>emo cemian0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,0},{62,96}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{448,275},{62,96}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>emo cemian0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,0},{62,96}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{448,275},{62,96}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>emo cemian0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,0},{62,96}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{448,275},{62,96}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>emo cemian0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,0},{62,96}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{448,275},{62,96}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>emo cemian0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,62},{62,98}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{448,273},{62,98}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>emo cemian0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,62},{62,98}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{448,273},{62,98}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>emo cemian0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,62},{62,98}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{448,273},{62,98}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>emo cemian0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,62},{62,100}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{448,271},{62,100}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>emo cemian0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,62},{62,98}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{447,271},{62,98}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>emo cemian0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,62},{62,98}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{447,271},{62,98}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>emo cemian0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,62},{62,98}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{447,271},{62,98}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>emo cemian0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,62},{62,98}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{447,271},{62,98}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>emo cemian0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,62},{62,98}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{447,271},{62,98}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>emo cemian0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,124},{64,88}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{445,278},{64,88}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>emo cemian0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,124},{64,88}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{445,278},{64,88}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>emo cemian0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,124},{64,88}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{445,278},{64,88}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>emo cemian0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,188},{64,92}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{445,274},{64,92}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>emo cemian0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,188},{64,92}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{445,274},{64,92}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>emo cemian0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,124},{64,90}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{445,273},{64,90}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>emo cemian0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,126},{64,84}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{445,279},{64,84}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>emo cemian0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,126},{64,84}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{445,279},{64,84}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>emo cemian0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,126},{64,84}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{445,279},{64,84}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>emo cemian0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,188},{64,86}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{445,277},{64,86}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>emo cemian0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,188},{64,86}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{444,278},{64,86}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>emo cemian0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,188},{64,86}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{444,278},{64,86}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>emo cemian0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,62},{64,88}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{444,276},{64,88}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>emo cemian0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,62},{64,88}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{444,276},{64,88}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>emo cemian0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,62},{64,88}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{444,276},{64,88}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>2102.png</string>
            <key>size</key>
            <string>{508,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6c27ad62c47741a1addcc757652b8b5e:0a7b7c82dbd0ce929187eb7f94f1f158:9f6998ad886b34f6e6dade1aa4eb8023$</string>
            <key>textureFileName</key>
            <string>2102.png</string>
        </dict>
    </dict>
</plist>
