<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lanlong cemian0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,0},{128,108}}</string>
                <key>offset</key>
                <string>{-18,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{398,272},{128,108}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>lanlong cemian0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1096,0},{136,106}}</string>
                <key>offset</key>
                <string>{-14,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{398,274},{136,106}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>lanlong cemian0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,0},{144,108}}</string>
                <key>offset</key>
                <string>{-10,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{398,272},{144,108}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>lanlong cemian0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{146,108}}</string>
                <key>offset</key>
                <string>{-9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{398,269},{146,108}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>lanlong cemian0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,0},{140,108}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{404,266},{140,108}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>lanlong cemian0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,0},{136,108}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{408,263},{136,108}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>lanlong cemian0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,0},{140,106}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{404,264},{140,106}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>lanlong cemian0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,0},{144,108}}</string>
                <key>offset</key>
                <string>{-9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{399,264},{144,108}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>lanlong cemian0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,0},{118,108}}</string>
                <key>offset</key>
                <string>{-23,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{398,267},{118,108}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>2103.png</string>
            <key>size</key>
            <string>{1232,108}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4a44860123bd36ef1d6f7055f69cc68e:fb83d2d39fe1cff18e62fc4bd76c5c7e:6a8d8bcfa8011a243560a9e94c7f724d$</string>
            <key>textureFileName</key>
            <string>2103.png</string>
        </dict>
    </dict>
</plist>
