<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fengjingling cemian0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,994},{106,76}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{422,283},{106,76}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>fengjingling cemian0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,918},{106,76}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{422,283},{106,76}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>fengjingling cemian0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,842},{106,76}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{422,283},{106,76}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>fengjingling cemian0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,766},{108,76}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{421,283},{108,76}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>fengjingling cemian0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,690},{108,76}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{421,283},{108,76}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>fengjingling cemian0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1410},{100,98}}</string>
                <key>offset</key>
                <string>{-12,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{418,262},{100,98}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>fengjingling cemian0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1410},{100,98}}</string>
                <key>offset</key>
                <string>{-12,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{418,262},{100,98}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>fengjingling cemian0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1410},{100,98}}</string>
                <key>offset</key>
                <string>{-12,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{418,262},{100,98}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>fengjingling cemian0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1410},{100,98}}</string>
                <key>offset</key>
                <string>{-12,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{418,262},{100,98}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>fengjingling cemian0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1410},{100,98}}</string>
                <key>offset</key>
                <string>{-12,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{418,262},{100,98}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>fengjingling cemian0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1508},{100,76}}</string>
                <key>offset</key>
                <string>{-14,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{416,286},{100,76}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>fengjingling cemian0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1508},{100,76}}</string>
                <key>offset</key>
                <string>{-14,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{416,286},{100,76}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>fengjingling cemian0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1508},{100,76}}</string>
                <key>offset</key>
                <string>{-14,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{416,286},{100,76}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>fengjingling cemian0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1508},{100,76}}</string>
                <key>offset</key>
                <string>{-14,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{416,286},{100,76}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>fengjingling cemian0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1508},{100,76}}</string>
                <key>offset</key>
                <string>{-14,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{416,286},{100,76}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>fengjingling cemian0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,620},{112,70}}</string>
                <key>offset</key>
                <string>{-6,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{418,293},{112,70}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>fengjingling cemian0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,550},{112,70}}</string>
                <key>offset</key>
                <string>{-6,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{418,293},{112,70}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>fengjingling cemian0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,480},{112,70}}</string>
                <key>offset</key>
                <string>{-6,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{418,293},{112,70}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>fengjingling cemian0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,410},{112,70}}</string>
                <key>offset</key>
                <string>{-6,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{418,293},{112,70}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>fengjingling cemian0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,340},{112,70}}</string>
                <key>offset</key>
                <string>{-6,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{418,293},{112,70}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>fengjingling cemian0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,272},{124,68}}</string>
                <key>offset</key>
                <string>{3,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{421,295},{124,68}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>fengjingling cemian0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,204},{124,68}}</string>
                <key>offset</key>
                <string>{3,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{421,295},{124,68}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>fengjingling cemian0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,136},{124,68}}</string>
                <key>offset</key>
                <string>{3,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{421,295},{124,68}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>fengjingling cemian0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,68},{124,68}}</string>
                <key>offset</key>
                <string>{3,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{421,295},{124,68}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>fengjingling cemian0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{124,68}}</string>
                <key>offset</key>
                <string>{3,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{421,295},{124,68}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>fengjingling cemian0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1342},{106,68}}</string>
                <key>offset</key>
                <string>{-6,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{421,294},{106,68}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>fengjingling cemian0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1274},{106,68}}</string>
                <key>offset</key>
                <string>{-6,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{421,294},{106,68}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>fengjingling cemian0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1206},{106,68}}</string>
                <key>offset</key>
                <string>{-6,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{421,294},{106,68}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>fengjingling cemian0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1138},{106,68}}</string>
                <key>offset</key>
                <string>{-6,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{421,294},{106,68}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>fengjingling cemian0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1070},{106,68}}</string>
                <key>offset</key>
                <string>{-5,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{422,294},{106,68}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>2105.png</string>
            <key>size</key>
            <string>{124,1584}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:946dada18478e6a5294f87edc2fe3c9c:aa85b62e548b1d316745b859322ca74b:3dab5afdd579348315650b4b88813774$</string>
            <key>textureFileName</key>
            <string>2105.png</string>
        </dict>
    </dict>
</plist>
