<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shandiangou_xiao0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,1008},{184,126}}</string>
                <key>offset</key>
                <string>{-5,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{383,282},{184,126}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>shandiangou_xiao0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,882},{184,126}}</string>
                <key>offset</key>
                <string>{-5,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{383,282},{184,126}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>shandiangou_xiao0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,756},{184,126}}</string>
                <key>offset</key>
                <string>{-5,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{383,282},{184,126}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>shandiangou_xiao0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,1746},{186,126}}</string>
                <key>offset</key>
                <string>{-5,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{382,282},{186,126}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>shandiangou_xiao0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,1702},{186,126}}</string>
                <key>offset</key>
                <string>{-5,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{382,282},{186,126}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>shandiangou_xiao0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,1134},{188,126}}</string>
                <key>offset</key>
                <string>{-5,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{381,283},{188,126}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>shandiangou_xiao0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,1888},{188,122}}</string>
                <key>offset</key>
                <string>{-5,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{381,287},{188,122}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>shandiangou_xiao0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,1820},{190,122}}</string>
                <key>offset</key>
                <string>{-5,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{380,288},{190,122}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>shandiangou_xiao0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1820},{190,122}}</string>
                <key>offset</key>
                <string>{-5,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{380,288},{190,122}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>shandiangou_xiao0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,566},{190,128}}</string>
                <key>offset</key>
                <string>{-5,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{380,283},{190,128}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>shandiangou_xiao0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,376},{190,128}}</string>
                <key>offset</key>
                <string>{-5,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{380,283},{190,128}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>shandiangou_xiao0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,0},{192,130}}</string>
                <key>offset</key>
                <string>{-5,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{379,282},{192,130}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>shandiangou_xiao0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,1626},{190,120}}</string>
                <key>offset</key>
                <string>{-5,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{380,290},{190,120}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>shandiangou_xiao0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,1382},{188,122}}</string>
                <key>offset</key>
                <string>{-3,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{383,289},{188,122}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>shandiangou_xiao0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,1260},{188,122}}</string>
                <key>offset</key>
                <string>{-3,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{383,289},{188,122}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>shandiangou_xiao0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,1578},{190,124}}</string>
                <key>offset</key>
                <string>{-3,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{382,289},{190,124}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>shandiangou_xiao0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1698},{190,122}}</string>
                <key>offset</key>
                <string>{-3,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{382,290},{190,122}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>shandiangou_xiao0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,1454},{192,124}}</string>
                <key>offset</key>
                <string>{-3,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{381,289},{192,124}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>shandiangou_xiao0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1454},{192,124}}</string>
                <key>offset</key>
                <string>{-4,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{380,289},{192,124}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>shandiangou_xiao0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1088},{194,126}}</string>
                <key>offset</key>
                <string>{-4,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{379,288},{194,126}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>shandiangou_xiao0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,1334},{194,120}}</string>
                <key>offset</key>
                <string>{-4,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{379,288},{194,120}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>shandiangou_xiao0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,1214},{194,120}}</string>
                <key>offset</key>
                <string>{-4,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{379,289},{194,120}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>shandiangou_xiao0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1336},{194,118}}</string>
                <key>offset</key>
                <string>{-5,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{378,290},{194,118}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>shandiangou_xiao0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,1504},{192,122}}</string>
                <key>offset</key>
                <string>{-7,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{377,287},{192,122}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>shandiangou_xiao0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1578},{192,120}}</string>
                <key>offset</key>
                <string>{-7,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{377,288},{192,120}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>shandiangou_xiao0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1214},{194,122}}</string>
                <key>offset</key>
                <string>{-7,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{376,287},{194,122}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>shandiangou_xiao0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,1092},{194,122}}</string>
                <key>offset</key>
                <string>{-7,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{376,287},{194,122}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>shandiangou_xiao0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,978},{196,114}}</string>
                <key>offset</key>
                <string>{-7,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{375,288},{196,114}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>shandiangou_xiao0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,974},{196,114}}</string>
                <key>offset</key>
                <string>{-7,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{375,288},{196,114}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>shandiangou_xiao0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,498},{198,122}}</string>
                <key>offset</key>
                <string>{-7,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{374,281},{198,122}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>shandiangou_xiao0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,738},{196,122}}</string>
                <key>offset</key>
                <string>{-7,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{375,281},{196,122}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>shandiangou_xiao0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,376},{198,122}}</string>
                <key>offset</key>
                <string>{-7,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{374,281},{198,122}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>shandiangou_xiao0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,734},{196,122}}</string>
                <key>offset</key>
                <string>{-7,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{375,281},{196,122}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>shandiangou_xiao0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,376},{198,122}}</string>
                <key>offset</key>
                <string>{-7,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{374,282},{198,122}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>shandiangou_xiao0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,620},{198,114}}</string>
                <key>offset</key>
                <string>{-7,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{374,281},{198,114}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>shandiangou_xiao0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,860},{196,118}}</string>
                <key>offset</key>
                <string>{-6,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{376,277},{196,118}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>shandiangou_xiao0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,856},{196,118}}</string>
                <key>offset</key>
                <string>{-7,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{375,277},{196,118}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>shandiangou_xiao0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,618},{198,120}}</string>
                <key>offset</key>
                <string>{-7,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{374,277},{198,120}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>shandiangou_xiao0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,498},{198,120}}</string>
                <key>offset</key>
                <string>{-7,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{374,276},{198,120}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>shandiangou_xiao0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,126},{200,126}}</string>
                <key>offset</key>
                <string>{-7,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{373,276},{200,126}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>shandiangou_xiao0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,126},{200,126}}</string>
                <key>offset</key>
                <string>{-7,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{373,276},{200,126}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>shandiangou_xiao0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,252},{200,124}}</string>
                <key>offset</key>
                <string>{-7,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{373,279},{200,124}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>shandiangou_xiao0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,252},{200,124}}</string>
                <key>offset</key>
                <string>{-7,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{373,279},{200,124}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>shandiangou_xiao0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{202,126}}</string>
                <key>offset</key>
                <string>{-7,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{372,278},{202,126}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>shandiangou_xiao0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,0},{200,126}}</string>
                <key>offset</key>
                <string>{-7,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{373,278},{200,126}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>shandiangou_xiao0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,192},{184,130}}</string>
                <key>offset</key>
                <string>{-5,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{383,278},{184,130}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>2106.png</string>
            <key>size</key>
            <string>{576,2010}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:86ee028eea176631dee64425e745b195:698cba21e106a3c06bc9d1bc4f6aa7ff:b803619c49a81477979673faa2ec9d03$</string>
            <key>textureFileName</key>
            <string>2106.png</string>
        </dict>
    </dict>
</plist>
