<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lanlong0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1130,0},{280,242}}</string>
                <key>offset</key>
                <string>{10,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{350,204},{280,242}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>lanlong0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,0},{262,242}}</string>
                <key>offset</key>
                <string>{10,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{359,204},{262,242}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>lanlong0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,0},{280,242}}</string>
                <key>offset</key>
                <string>{10,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{350,203},{280,242}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>lanlong0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,242},{308,242}}</string>
                <key>offset</key>
                <string>{10,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{336,197},{308,242}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>lanlong0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,242},{324,242}}</string>
                <key>offset</key>
                <string>{10,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{328,190},{324,242}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>lanlong0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,242},{328,242}}</string>
                <key>offset</key>
                <string>{10,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{326,183},{328,242}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>lanlong0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,242},{324,242}}</string>
                <key>offset</key>
                <string>{10,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{328,181},{324,242}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>lanlong0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,0},{308,242}}</string>
                <key>offset</key>
                <string>{10,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{336,185},{308,242}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>lanlong0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{280,242}}</string>
                <key>offset</key>
                <string>{10,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{350,191},{280,242}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lanlong.png</string>
            <key>size</key>
            <string>{1410,484}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c8051015f43b75e6a1c6ec370b2489e6:8010e6d83de8af81d92e327f2910a29f:1395e77202a82a2e2295bddb5e7abdd7$</string>
            <key>textureFileName</key>
            <string>lanlong.png</string>
        </dict>
    </dict>
</plist>
