<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shandiangou_da0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,1834},{202,186}}</string>
                <key>offset</key>
                <string>{6,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{384,221},{202,186}}</string>
                <key>sourceSize</key>
                <string>{958,640}</string>
            </dict>
            <key>shandiangou_da0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,1834},{202,186}}</string>
                <key>offset</key>
                <string>{6,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{384,221},{202,186}}</string>
                <key>sourceSize</key>
                <string>{958,640}</string>
            </dict>
            <key>shandiangou_da0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,1834},{202,186}}</string>
                <key>offset</key>
                <string>{6,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{384,221},{202,186}}</string>
                <key>sourceSize</key>
                <string>{958,640}</string>
            </dict>
            <key>shandiangou_da0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1294},{206,186}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{380,221},{206,186}}</string>
                <key>sourceSize</key>
                <string>{958,640}</string>
            </dict>
            <key>shandiangou_da0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1294},{206,186}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{380,221},{206,186}}</string>
                <key>sourceSize</key>
                <string>{958,640}</string>
            </dict>
            <key>shandiangou_da0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1480},{204,186}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{380,221},{204,186}}</string>
                <key>sourceSize</key>
                <string>{958,640}</string>
            </dict>
            <key>shandiangou_da0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,738},{210,186}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{374,221},{210,186}}</string>
                <key>sourceSize</key>
                <string>{958,640}</string>
            </dict>
            <key>shandiangou_da0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,738},{210,186}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{374,221},{210,186}}</string>
                <key>sourceSize</key>
                <string>{958,640}</string>
            </dict>
            <key>shandiangou_da0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,738},{210,186}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{374,221},{210,186}}</string>
                <key>sourceSize</key>
                <string>{958,640}</string>
            </dict>
            <key>shandiangou_da0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{216,186}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{368,221},{216,186}}</string>
                <key>sourceSize</key>
                <string>{958,640}</string>
            </dict>
            <key>shandiangou_da0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,0},{216,184}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{369,223},{216,184}}</string>
                <key>sourceSize</key>
                <string>{958,640}</string>
            </dict>
            <key>shandiangou_da0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,0},{216,184}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{369,223},{216,184}}</string>
                <key>sourceSize</key>
                <string>{958,640}</string>
            </dict>
            <key>shandiangou_da0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,186},{216,184}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{369,223},{216,184}}</string>
                <key>sourceSize</key>
                <string>{958,640}</string>
            </dict>
            <key>shandiangou_da0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,186},{216,184}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{369,223},{216,184}}</string>
                <key>sourceSize</key>
                <string>{958,640}</string>
            </dict>
            <key>shandiangou_da0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,186},{216,184}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{369,223},{216,184}}</string>
                <key>sourceSize</key>
                <string>{958,640}</string>
            </dict>
            <key>shandiangou_da0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,1430},{202,184}}</string>
                <key>offset</key>
                <string>{7,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{385,223},{202,184}}</string>
                <key>sourceSize</key>
                <string>{958,640}</string>
            </dict>
            <key>shandiangou_da0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,1430},{202,184}}</string>
                <key>offset</key>
                <string>{7,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{385,223},{202,184}}</string>
                <key>sourceSize</key>
                <string>{958,640}</string>
            </dict>
            <key>shandiangou_da0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,1430},{202,184}}</string>
                <key>offset</key>
                <string>{7,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{385,223},{202,184}}</string>
                <key>sourceSize</key>
                <string>{958,640}</string>
            </dict>
            <key>shandiangou_da0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,216},{202,184}}</string>
                <key>offset</key>
                <string>{7,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{385,223},{202,184}}</string>
                <key>sourceSize</key>
                <string>{958,640}</string>
            </dict>
            <key>shandiangou_da0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,216},{202,184}}</string>
                <key>offset</key>
                <string>{7,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{385,223},{202,184}}</string>
                <key>sourceSize</key>
                <string>{958,640}</string>
            </dict>
            <key>shandiangou_da0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,1632},{202,186}}</string>
                <key>offset</key>
                <string>{7,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{385,221},{202,186}}</string>
                <key>sourceSize</key>
                <string>{958,640}</string>
            </dict>
            <key>shandiangou_da0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1108},{206,186}}</string>
                <key>offset</key>
                <string>{10,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{386,221},{206,186}}</string>
                <key>sourceSize</key>
                <string>{958,640}</string>
            </dict>
            <key>shandiangou_da0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1108},{206,186}}</string>
                <key>offset</key>
                <string>{10,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{386,221},{206,186}}</string>
                <key>sourceSize</key>
                <string>{958,640}</string>
            </dict>
            <key>shandiangou_da0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1108},{206,186}}</string>
                <key>offset</key>
                <string>{10,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{386,221},{206,186}}</string>
                <key>sourceSize</key>
                <string>{958,640}</string>
            </dict>
            <key>shandiangou_da0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,1024},{202,186}}</string>
                <key>offset</key>
                <string>{7,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{385,221},{202,186}}</string>
                <key>sourceSize</key>
                <string>{958,640}</string>
            </dict>
            <key>shandiangou_da0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,822},{202,188}}</string>
                <key>offset</key>
                <string>{8,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{386,218},{202,188}}</string>
                <key>sourceSize</key>
                <string>{958,640}</string>
            </dict>
            <key>shandiangou_da0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,822},{202,188}}</string>
                <key>offset</key>
                <string>{8,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{386,218},{202,188}}</string>
                <key>sourceSize</key>
                <string>{958,640}</string>
            </dict>
            <key>shandiangou_da0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1666},{202,188}}</string>
                <key>offset</key>
                <string>{8,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{386,218},{202,188}}</string>
                <key>sourceSize</key>
                <string>{958,640}</string>
            </dict>
            <key>shandiangou_da0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1666},{202,188}}</string>
                <key>offset</key>
                <string>{8,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{386,218},{202,188}}</string>
                <key>sourceSize</key>
                <string>{958,640}</string>
            </dict>
            <key>shandiangou_da0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1666},{202,188}}</string>
                <key>offset</key>
                <string>{8,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{386,218},{202,188}}</string>
                <key>sourceSize</key>
                <string>{958,640}</string>
            </dict>
            <key>shandiangou_da0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,924},{210,184}}</string>
                <key>offset</key>
                <string>{5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{379,222},{210,184}}</string>
                <key>sourceSize</key>
                <string>{958,640}</string>
            </dict>
            <key>shandiangou_da0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,924},{210,184}}</string>
                <key>offset</key>
                <string>{5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{379,222},{210,184}}</string>
                <key>sourceSize</key>
                <string>{958,640}</string>
            </dict>
            <key>shandiangou_da0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,924},{210,184}}</string>
                <key>offset</key>
                <string>{5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{379,222},{210,184}}</string>
                <key>sourceSize</key>
                <string>{958,640}</string>
            </dict>
            <key>shandiangou_da0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,554},{214,184}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{375,222},{214,184}}</string>
                <key>sourceSize</key>
                <string>{958,640}</string>
            </dict>
            <key>shandiangou_da0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,554},{214,184}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{375,222},{214,184}}</string>
                <key>sourceSize</key>
                <string>{958,640}</string>
            </dict>
            <key>shandiangou_da0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,370},{214,184}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{375,222},{214,184}}</string>
                <key>sourceSize</key>
                <string>{958,640}</string>
            </dict>
            <key>shandiangou_da0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,1226},{204,184}}</string>
                <key>offset</key>
                <string>{8,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{385,222},{204,184}}</string>
                <key>sourceSize</key>
                <string>{958,640}</string>
            </dict>
            <key>shandiangou_da0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,1226},{204,184}}</string>
                <key>offset</key>
                <string>{8,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{385,222},{204,184}}</string>
                <key>sourceSize</key>
                <string>{958,640}</string>
            </dict>
            <key>shandiangou_da0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,1226},{204,184}}</string>
                <key>offset</key>
                <string>{8,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{385,222},{204,184}}</string>
                <key>sourceSize</key>
                <string>{958,640}</string>
            </dict>
            <key>shandiangou_da0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1854},{204,184}}</string>
                <key>offset</key>
                <string>{8,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{385,222},{204,184}}</string>
                <key>sourceSize</key>
                <string>{958,640}</string>
            </dict>
            <key>shandiangou_da0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,620},{202,186}}</string>
                <key>offset</key>
                <string>{6,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{384,221},{202,186}}</string>
                <key>sourceSize</key>
                <string>{958,640}</string>
            </dict>
            <key>shandiangou_da0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,620},{202,186}}</string>
                <key>offset</key>
                <string>{6,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{384,221},{202,186}}</string>
                <key>sourceSize</key>
                <string>{958,640}</string>
            </dict>
            <key>shandiangou_da0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,418},{202,186}}</string>
                <key>offset</key>
                <string>{6,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{384,221},{202,186}}</string>
                <key>sourceSize</key>
                <string>{958,640}</string>
            </dict>
            <key>shandiangou_da0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,418},{202,186}}</string>
                <key>offset</key>
                <string>{6,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{384,221},{202,186}}</string>
                <key>sourceSize</key>
                <string>{958,640}</string>
            </dict>
            <key>shandiangou_da0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,418},{202,186}}</string>
                <key>offset</key>
                <string>{6,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{384,221},{202,186}}</string>
                <key>sourceSize</key>
                <string>{958,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>piligou.png</string>
            <key>size</key>
            <string>{401,2038}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:788873d3993c171ecf82d1fbc29b7fc0:d7b991bde61e1d35e59346eb00c69576:508a0334254be66f3836417eae50193e$</string>
            <key>textureFileName</key>
            <string>piligou.png</string>
        </dict>
    </dict>
</plist>
