<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tianshi0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1216,500},{178,296}}</string>
                <key>offset</key>
                <string>{-8,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{383,159},{178,296}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tianshi0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1158,1698},{180,298}}</string>
                <key>offset</key>
                <string>{-8,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{382,157},{180,298}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tianshi0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,1700},{180,296}}</string>
                <key>offset</key>
                <string>{-8,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{382,159},{180,296}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tianshi0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,1700},{180,296}}</string>
                <key>offset</key>
                <string>{-7,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{383,159},{180,296}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tianshi0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1700},{180,296}}</string>
                <key>offset</key>
                <string>{-7,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{383,159},{180,296}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tianshi0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1198,1398},{180,300}}</string>
                <key>offset</key>
                <string>{-6,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{384,159},{180,300}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tianshi0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,1388},{180,300}}</string>
                <key>offset</key>
                <string>{-6,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{384,159},{180,300}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tianshi0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,1386},{182,300}}</string>
                <key>offset</key>
                <string>{-6,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{383,159},{182,300}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tianshi0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,1206},{182,300}}</string>
                <key>offset</key>
                <string>{-6,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{383,159},{182,300}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tianshi0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1212,796},{182,300}}</string>
                <key>offset</key>
                <string>{-5,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{384,159},{182,300}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tianshi0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,1398},{184,302}}</string>
                <key>offset</key>
                <string>{-4,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{384,158},{184,302}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tianshi0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,1398},{186,302}}</string>
                <key>offset</key>
                <string>{-4,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{383,158},{186,302}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tianshi0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,1096},{186,302}}</string>
                <key>offset</key>
                <string>{-4,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{383,158},{186,302}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tianshi0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1398},{188,302}}</string>
                <key>offset</key>
                <string>{-4,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{382,158},{188,302}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tianshi0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,1196},{190,302}}</string>
                <key>offset</key>
                <string>{-3,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{382,158},{190,302}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tianshi0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,1206},{190,298}}</string>
                <key>offset</key>
                <string>{-4,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{381,160},{190,298}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tianshi0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1206},{192,300}}</string>
                <key>offset</key>
                <string>{-4,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{380,158},{192,300}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tianshi0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,1014},{192,302}}</string>
                <key>offset</key>
                <string>{-4,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{380,156},{192,302}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tianshi0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,1002},{194,302}}</string>
                <key>offset</key>
                <string>{-4,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{379,156},{194,302}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tianshi0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,402},{194,304}}</string>
                <key>offset</key>
                <string>{-4,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{379,154},{194,304}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tianshi0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1008},{196,302}}</string>
                <key>offset</key>
                <string>{-4,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{378,153},{196,302}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tianshi0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,204},{198,304}}</string>
                <key>offset</key>
                <string>{-3,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{378,151},{198,304}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tianshi0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,402},{198,304}}</string>
                <key>offset</key>
                <string>{-4,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{377,151},{198,304}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tianshi0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,0},{200,306}}</string>
                <key>offset</key>
                <string>{-5,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{375,149},{200,306}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tianshi0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{200,308}}</string>
                <key>offset</key>
                <string>{-4,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{376,147},{200,308}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tianshi0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,204},{200,304}}</string>
                <key>offset</key>
                <string>{-4,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{376,148},{200,304}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tianshi0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,200},{200,304}}</string>
                <key>offset</key>
                <string>{-4,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{376,148},{200,304}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tianshi0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,200},{202,304}}</string>
                <key>offset</key>
                <string>{-3,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{376,148},{202,304}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tianshi0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,0},{204,304}}</string>
                <key>offset</key>
                <string>{-4,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{374,148},{204,304}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tianshi0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,0},{204,304}}</string>
                <key>offset</key>
                <string>{-4,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{374,148},{204,304}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tianshi0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,806},{202,302}}</string>
                <key>offset</key>
                <string>{-2,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{377,148},{202,302}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tianshi0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,596},{206,302}}</string>
                <key>offset</key>
                <string>{-4,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{373,149},{206,302}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tianshi0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,804},{202,302}}</string>
                <key>offset</key>
                <string>{-2,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{377,149},{202,302}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tianshi0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,404},{208,302}}</string>
                <key>offset</key>
                <string>{-4,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{372,150},{208,302}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tianshi0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,612},{204,302}}</string>
                <key>offset</key>
                <string>{-2,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{376,151},{204,302}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tianshi0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,600},{206,302}}</string>
                <key>offset</key>
                <string>{-3,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{374,152},{206,302}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tianshi0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,598},{206,302}}</string>
                <key>offset</key>
                <string>{-2,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{375,153},{206,302}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tianshi0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,1006},{198,302}}</string>
                <key>offset</key>
                <string>{2,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{383,154},{198,302}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tianshi0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,400},{198,304}}</string>
                <key>offset</key>
                <string>{2,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{383,153},{198,304}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tianshi0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,816},{198,302}}</string>
                <key>offset</key>
                <string>{3,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{384,155},{198,302}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tianshi0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,802},{200,302}}</string>
                <key>offset</key>
                <string>{2,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{382,156},{200,302}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tianshi0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,1698},{200,298}}</string>
                <key>offset</key>
                <string>{3,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{383,157},{200,298}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tianshi0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,1698},{200,298}}</string>
                <key>offset</key>
                <string>{2,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{382,157},{200,298}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tianshi0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,1698},{200,298}}</string>
                <key>offset</key>
                <string>{3,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{383,157},{200,298}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tianshi0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{1216,204},{178,296}}</string>
                <key>offset</key>
                <string>{-8,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{383,159},{178,296}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tianshi.png</string>
            <key>size</key>
            <string>{1394,1996}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8746585b2b686c16dba762470fb9eaec:893f23d2da48d6940d8935b084a21c00:4d11da58ca43d5d08608af645a3817aa$</string>
            <key>textureFileName</key>
            <string>tianshi.png</string>
        </dict>
    </dict>
</plist>
