<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1043atk01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1220,1374},{172,272}}</string>
                <key>offset</key>
                <string>{-32,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{362,160},{172,272}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1043atk02.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,1731},{182,254}}</string>
                <key>offset</key>
                <string>{-11,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{378,178},{182,254}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1043atk03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1093,546},{206,278}}</string>
                <key>offset</key>
                <string>{45,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{422,153},{206,278}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1043atk04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1287,824},{184,290}}</string>
                <key>offset</key>
                <string>{36,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{424,140},{184,290}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1043atk05.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,1167},{178,286}}</string>
                <key>offset</key>
                <string>{33,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{424,144},{178,286}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1043atk06.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,1719},{176,260}}</string>
                <key>offset</key>
                <string>{32,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{424,170},{176,260}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1043atk07.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,832},{204,286}}</string>
                <key>offset</key>
                <string>{21,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{399,145},{204,286}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1043atk08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1186,1114},{202,260}}</string>
                <key>offset</key>
                <string>{19,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{398,171},{202,260}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1043atk09.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,546},{204,286}}</string>
                <key>offset</key>
                <string>{21,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{399,145},{204,286}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1043atk10.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,1453},{180,278}}</string>
                <key>offset</key>
                <string>{13,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{403,153},{180,278}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1043atk11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1046,1118},{140,310}}</string>
                <key>offset</key>
                <string>{0,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{410,122},{140,310}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1043atk12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1093,824},{194,288}}</string>
                <key>offset</key>
                <string>{-37,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{346,144},{194,288}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1043atk13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1052,1700},{172,272}}</string>
                <key>offset</key>
                <string>{-32,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{362,160},{172,272}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1043idle01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1220,1374},{172,272}}</string>
                <key>offset</key>
                <string>{-32,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{362,160},{172,272}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1043idle02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1299,546},{172,274}}</string>
                <key>offset</key>
                <string>{-32,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{362,158},{172,274}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1043idle03.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,1443},{174,276}}</string>
                <key>offset</key>
                <string>{-33,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{360,156},{174,276}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1043idle04.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,1167},{174,276}}</string>
                <key>offset</key>
                <string>{-33,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{360,156},{174,276}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1043idle05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1048,1428},{172,272}}</string>
                <key>offset</key>
                <string>{-32,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{362,160},{172,272}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1043idle06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1224,1646},{170,270}}</string>
                <key>offset</key>
                <string>{-31,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{364,162},{170,270}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>taoistshow0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1305,327},{158,201}}</string>
                <key>offset</key>
                <string>{-127,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{477,146},{158,201}}</string>
                <key>sourceSize</key>
                <string>{1366,447}</string>
            </dict>
            <key>taoistshow0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1392,1313},{78,175}}</string>
                <key>offset</key>
                <string>{-90,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{554,189},{78,175}}</string>
                <key>sourceSize</key>
                <string>{1366,447}</string>
            </dict>
            <key>taoistshow0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1388,1114},{78,199}}</string>
                <key>offset</key>
                <string>{-96,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{548,166},{78,199}}</string>
                <key>sourceSize</key>
                <string>{1366,447}</string>
            </dict>
            <key>taoistshow0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,327},{416,219}}</string>
                <key>offset</key>
                <string>{-1,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{474,146},{416,219}}</string>
                <key>sourceSize</key>
                <string>{1366,447}</string>
            </dict>
            <key>taoistshow0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,0},{570,327}}</string>
                <key>offset</key>
                <string>{65,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{463,77},{570,327}}</string>
                <key>sourceSize</key>
                <string>{1366,447}</string>
            </dict>
            <key>taoistshow0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{858,351}}</string>
                <key>offset</key>
                <string>{188,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{442,63},{858,351}}</string>
                <key>sourceSize</key>
                <string>{1366,447}</string>
            </dict>
            <key>taoistshow0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,351},{866,343}}</string>
                <key>offset</key>
                <string>{193,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{443,70},{866,343}}</string>
                <key>sourceSize</key>
                <string>{1366,447}</string>
            </dict>
            <key>taoistshow0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,351},{816,219}}</string>
                <key>offset</key>
                <string>{199,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{474,146},{816,219}}</string>
                <key>sourceSize</key>
                <string>{1366,447}</string>
            </dict>
            <key>taoistshow0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,351},{820,327}}</string>
                <key>offset</key>
                <string>{191,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{464,77},{820,327}}</string>
                <key>sourceSize</key>
                <string>{1366,447}</string>
            </dict>
            <key>taoistshow0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{858,351}}</string>
                <key>offset</key>
                <string>{188,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{442,63},{858,351}}</string>
                <key>sourceSize</key>
                <string>{1366,447}</string>
            </dict>
            <key>taoistshow0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,351},{866,343}}</string>
                <key>offset</key>
                <string>{193,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{443,70},{866,343}}</string>
                <key>sourceSize</key>
                <string>{1366,447}</string>
            </dict>
            <key>taoistshow0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,351},{816,219}}</string>
                <key>offset</key>
                <string>{199,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{474,146},{816,219}}</string>
                <key>sourceSize</key>
                <string>{1366,447}</string>
            </dict>
            <key>taoistshow0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,351},{820,327}}</string>
                <key>offset</key>
                <string>{191,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{464,77},{820,327}}</string>
                <key>sourceSize</key>
                <string>{1366,447}</string>
            </dict>
            <key>taoistshow0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{858,351}}</string>
                <key>offset</key>
                <string>{188,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{442,63},{858,351}}</string>
                <key>sourceSize</key>
                <string>{1366,447}</string>
            </dict>
            <key>taoistshow0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,351},{866,343}}</string>
                <key>offset</key>
                <string>{193,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{443,70},{866,343}}</string>
                <key>sourceSize</key>
                <string>{1366,447}</string>
            </dict>
            <key>taoistshow0052.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,351},{816,219}}</string>
                <key>offset</key>
                <string>{199,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{474,146},{816,219}}</string>
                <key>sourceSize</key>
                <string>{1366,447}</string>
            </dict>
            <key>taoistshow0055.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,351},{820,327}}</string>
                <key>offset</key>
                <string>{191,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{464,77},{820,327}}</string>
                <key>sourceSize</key>
                <string>{1366,447}</string>
            </dict>
            <key>taoistshow0058.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1217},{746,351}}</string>
                <key>offset</key>
                <string>{133,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{443,63},{746,351}}</string>
                <key>sourceSize</key>
                <string>{1366,447}</string>
            </dict>
            <key>taoistshow0061.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,1171},{786,343}}</string>
                <key>offset</key>
                <string>{153,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{443,70},{786,343}}</string>
                <key>sourceSize</key>
                <string>{1366,447}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skin_1043.png</string>
            <key>size</key>
            <string>{1471,1985}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3a2c78fd288588ced12663e0c75dcb00:a662ff9f0d7d68d644c0e61226f8ac7a:1fccaab87e53fa033168836738aae3c3$</string>
            <key>textureFileName</key>
            <string>skin_1043.png</string>
        </dict>
    </dict>
</plist>
