<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10090001.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,1690},{306,146}}</string>
                <key>offset</key>
                <string>{-19,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{308,287},{306,146}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10090002.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,1690},{306,146}}</string>
                <key>offset</key>
                <string>{-19,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{308,287},{306,146}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10090003.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,686},{452,232}}</string>
                <key>offset</key>
                <string>{88,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{342,215},{452,232}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10090004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,604},{452,248}}</string>
                <key>offset</key>
                <string>{120,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{374,204},{452,248}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10090005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{556,250}}</string>
                <key>offset</key>
                <string>{32,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,192},{556,250}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10090006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1156},{420,240}}</string>
                <key>offset</key>
                <string>{-139,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,204},{420,240}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10090007.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,918},{442,236}}</string>
                <key>offset</key>
                <string>{-115,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,209},{442,236}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10090008.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,686},{452,232}}</string>
                <key>offset</key>
                <string>{88,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{342,215},{452,232}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10090009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,604},{452,248}}</string>
                <key>offset</key>
                <string>{120,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{374,204},{452,248}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10090010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{556,250}}</string>
                <key>offset</key>
                <string>{32,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,192},{556,250}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10090011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1156},{420,240}}</string>
                <key>offset</key>
                <string>{-139,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,204},{420,240}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10090012.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,918},{442,236}}</string>
                <key>offset</key>
                <string>{-115,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,209},{442,236}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10090013.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,686},{452,232}}</string>
                <key>offset</key>
                <string>{88,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{342,215},{452,232}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10090014.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,604},{452,248}}</string>
                <key>offset</key>
                <string>{120,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{374,204},{452,248}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10090015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{556,250}}</string>
                <key>offset</key>
                <string>{32,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,192},{556,250}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10090016.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1156},{420,240}}</string>
                <key>offset</key>
                <string>{-139,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,204},{420,240}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10090017.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,918},{442,236}}</string>
                <key>offset</key>
                <string>{-115,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,209},{442,236}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10090018.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,686},{452,232}}</string>
                <key>offset</key>
                <string>{88,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{342,215},{452,232}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10090019.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,604},{452,248}}</string>
                <key>offset</key>
                <string>{120,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{374,204},{452,248}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10090020.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{556,250}}</string>
                <key>offset</key>
                <string>{32,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,192},{556,250}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10090021.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1156},{420,240}}</string>
                <key>offset</key>
                <string>{-139,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,204},{420,240}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10090022.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,918},{442,236}}</string>
                <key>offset</key>
                <string>{-115,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,209},{442,236}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10090023.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,686},{452,232}}</string>
                <key>offset</key>
                <string>{88,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{342,215},{452,232}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10090024.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,604},{452,248}}</string>
                <key>offset</key>
                <string>{120,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{374,204},{452,248}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10090025.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{556,250}}</string>
                <key>offset</key>
                <string>{32,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,192},{556,250}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10090026.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1156},{420,240}}</string>
                <key>offset</key>
                <string>{-139,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,204},{420,240}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10090027.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,918},{442,236}}</string>
                <key>offset</key>
                <string>{-115,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,209},{442,236}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10090028.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,686},{452,232}}</string>
                <key>offset</key>
                <string>{88,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{342,215},{452,232}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10090029.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,604},{452,248}}</string>
                <key>offset</key>
                <string>{120,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{374,204},{452,248}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10090030.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{556,250}}</string>
                <key>offset</key>
                <string>{32,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,192},{556,250}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10090031.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1156},{420,240}}</string>
                <key>offset</key>
                <string>{-139,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,204},{420,240}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10090032.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,918},{442,236}}</string>
                <key>offset</key>
                <string>{-115,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,209},{442,236}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10090033.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,686},{452,232}}</string>
                <key>offset</key>
                <string>{88,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{342,215},{452,232}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10090034.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,604},{452,248}}</string>
                <key>offset</key>
                <string>{120,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{374,204},{452,248}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10090035.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{556,250}}</string>
                <key>offset</key>
                <string>{32,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,192},{556,250}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10090036.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1156},{420,240}}</string>
                <key>offset</key>
                <string>{-139,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,204},{420,240}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10090037.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,918},{442,236}}</string>
                <key>offset</key>
                <string>{-115,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,209},{442,236}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10090038.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,686},{452,232}}</string>
                <key>offset</key>
                <string>{88,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{342,215},{452,232}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10090039.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,604},{452,248}}</string>
                <key>offset</key>
                <string>{120,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{374,204},{452,248}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10090040.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{556,250}}</string>
                <key>offset</key>
                <string>{32,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,192},{556,250}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10090041.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1156},{420,240}}</string>
                <key>offset</key>
                <string>{-139,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,204},{420,240}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10090042.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,918},{442,236}}</string>
                <key>offset</key>
                <string>{-115,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,209},{442,236}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10090043.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,686},{452,232}}</string>
                <key>offset</key>
                <string>{88,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{342,215},{452,232}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10090044.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,604},{452,248}}</string>
                <key>offset</key>
                <string>{120,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{374,204},{452,248}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10090045.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{556,250}}</string>
                <key>offset</key>
                <string>{32,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,192},{556,250}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10090046.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1156},{420,240}}</string>
                <key>offset</key>
                <string>{-139,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,204},{420,240}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10090047.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,918},{442,236}}</string>
                <key>offset</key>
                <string>{-115,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,209},{442,236}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10090048.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,686},{452,232}}</string>
                <key>offset</key>
                <string>{88,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{342,215},{452,232}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10090049.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,604},{452,248}}</string>
                <key>offset</key>
                <string>{120,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{374,204},{452,248}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10090050.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{556,250}}</string>
                <key>offset</key>
                <string>{32,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,192},{556,250}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10090051.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1156},{420,240}}</string>
                <key>offset</key>
                <string>{-139,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,204},{420,240}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10090052.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,918},{442,236}}</string>
                <key>offset</key>
                <string>{-115,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,209},{442,236}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10090053.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,686},{452,232}}</string>
                <key>offset</key>
                <string>{88,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{342,215},{452,232}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10090054.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,604},{452,248}}</string>
                <key>offset</key>
                <string>{120,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{374,204},{452,248}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10090055.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1396},{402,298}}</string>
                <key>offset</key>
                <string>{-15,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{264,143},{402,298}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10090056.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,1154},{422,300}}</string>
                <key>offset</key>
                <string>{-26,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,141},{422,300}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10090057.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,852},{442,304}}</string>
                <key>offset</key>
                <string>{-34,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,133},{442,304}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10090058.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,352},{498,334}}</string>
                <key>offset</key>
                <string>{-23,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,102},{498,334}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10090059.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,0},{504,352}}</string>
                <key>offset</key>
                <string>{-24,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,98},{504,352}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10090060.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,250},{502,354}}</string>
                <key>offset</key>
                <string>{-23,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,96},{502,354}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10090061.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,1694},{322,240}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{318,209},{322,240}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10090062.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1694},{328,240}}</string>
                <key>offset</key>
                <string>{-4,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{312,209},{328,240}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10090063.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,1462},{336,246}}</string>
                <key>offset</key>
                <string>{-8,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{304,203},{336,246}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10090064.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,1154},{308,242}}</string>
                <key>offset</key>
                <string>{-12,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{314,202},{308,242}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10090065.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,1154},{308,242}}</string>
                <key>offset</key>
                <string>{-12,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{314,202},{308,242}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10090066.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,1462},{228,242}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{360,199},{228,242}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10090067.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,1462},{228,242}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{360,199},{228,242}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10090068.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,1692},{330,158}}</string>
                <key>offset</key>
                <string>{-2,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{313,274},{330,158}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10090069.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,1692},{330,158}}</string>
                <key>offset</key>
                <string>{-2,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{313,274},{330,158}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1009a0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,918},{236,172}}</string>
                <key>offset</key>
                <string>{-14,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{348,261},{236,172}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1009a0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,918},{236,172}}</string>
                <key>offset</key>
                <string>{-14,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{348,261},{236,172}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1009a0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,918},{236,172}}</string>
                <key>offset</key>
                <string>{-14,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{348,261},{236,172}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1009a0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,918},{236,172}}</string>
                <key>offset</key>
                <string>{-14,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{348,261},{236,172}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1009a0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,918},{236,172}}</string>
                <key>offset</key>
                <string>{-14,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{348,261},{236,172}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1009a0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,918},{236,172}}</string>
                <key>offset</key>
                <string>{-14,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{348,261},{236,172}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1009a0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,686},{232,180}}</string>
                <key>offset</key>
                <string>{-8,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{356,254},{232,180}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1009a0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,686},{232,180}}</string>
                <key>offset</key>
                <string>{-8,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{356,254},{232,180}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1009a0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,686},{232,180}}</string>
                <key>offset</key>
                <string>{-8,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{356,254},{232,180}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1009a0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,686},{232,180}}</string>
                <key>offset</key>
                <string>{-8,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{356,254},{232,180}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1009a0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,686},{232,180}}</string>
                <key>offset</key>
                <string>{-8,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{356,254},{232,180}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1009a0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,686},{232,180}}</string>
                <key>offset</key>
                <string>{-8,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{356,254},{232,180}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1009a0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,686},{232,180}}</string>
                <key>offset</key>
                <string>{-8,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{356,254},{232,180}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1009a0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,1454},{238,170}}</string>
                <key>offset</key>
                <string>{-1,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{360,262},{238,170}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1009a0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,1454},{238,170}}</string>
                <key>offset</key>
                <string>{-1,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{360,262},{238,170}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1009a0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,1454},{238,170}}</string>
                <key>offset</key>
                <string>{-1,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{360,262},{238,170}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1009a0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,1454},{238,170}}</string>
                <key>offset</key>
                <string>{-1,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{360,262},{238,170}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1009a0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,1454},{238,170}}</string>
                <key>offset</key>
                <string>{-1,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{360,262},{238,170}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1009a0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,1454},{238,170}}</string>
                <key>offset</key>
                <string>{-1,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{360,262},{238,170}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1009a0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,1454},{238,170}}</string>
                <key>offset</key>
                <string>{-1,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{360,262},{238,170}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1009a0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,1798},{234,170}}</string>
                <key>offset</key>
                <string>{-9,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{354,261},{234,170}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1009a0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,1798},{234,170}}</string>
                <key>offset</key>
                <string>{-9,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{354,261},{234,170}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1009a0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,1798},{234,170}}</string>
                <key>offset</key>
                <string>{-9,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{354,261},{234,170}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1009a0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,1798},{234,170}}</string>
                <key>offset</key>
                <string>{-9,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{354,261},{234,170}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1009a0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,1798},{234,170}}</string>
                <key>offset</key>
                <string>{-9,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{354,261},{234,170}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1009a0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,1798},{234,170}}</string>
                <key>offset</key>
                <string>{-9,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{354,261},{234,170}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1009a0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,1798},{234,170}}</string>
                <key>offset</key>
                <string>{-9,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{354,261},{234,170}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skin_1009.png</string>
            <key>size</key>
            <string>{1106,2022}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:810fc74e9e2830e71cd47ae1fd204ac7:1822b019d2d8de1ad0063b170a0c1ebe:6f514f33aac0a8e02c9bfe989357aac1$</string>
            <key>textureFileName</key>
            <string>skin_1009.png</string>
        </dict>
    </dict>
</plist>
