<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1015 (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{912,1536},{216,252}}</string>
                <key>offset</key>
                <string>{31,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{403,176},{216,252}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015 (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{944,1004},{226,274}}</string>
                <key>offset</key>
                <string>{39,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{406,154},{226,274}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015 (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{416,1536},{244,258}}</string>
                <key>offset</key>
                <string>{48,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{406,170},{244,258}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015 (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{660,1470},{226,252}}</string>
                <key>offset</key>
                <string>{38,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{405,179},{226,252}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10150001.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,1752},{202,194}}</string>
                <key>offset</key>
                <string>{-23,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{356,220},{202,194}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10150002.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,1752},{202,194}}</string>
                <key>offset</key>
                <string>{-23,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{356,220},{202,194}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10150003.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,1752},{202,194}}</string>
                <key>offset</key>
                <string>{-23,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{356,220},{202,194}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10150004.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,1794},{212,188}}</string>
                <key>offset</key>
                <string>{-28,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{346,226},{212,188}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10150005.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,1794},{212,188}}</string>
                <key>offset</key>
                <string>{-28,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{346,226},{212,188}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10150006.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,1794},{212,188}}</string>
                <key>offset</key>
                <string>{-28,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{346,226},{212,188}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10150007.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,252},{182,212}}</string>
                <key>offset</key>
                <string>{-13,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{376,202},{182,212}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10150008.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,252},{182,212}}</string>
                <key>offset</key>
                <string>{-13,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{376,202},{182,212}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10150009.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,752},{494,252}}</string>
                <key>offset</key>
                <string>{6,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,162},{494,252}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10150010.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,752},{494,252}}</string>
                <key>offset</key>
                <string>{6,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,162},{494,252}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10150011.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,494},{494,258}}</string>
                <key>offset</key>
                <string>{6,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,153},{494,258}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10150012.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,494},{494,258}}</string>
                <key>offset</key>
                <string>{6,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,153},{494,258}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10150013.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,1004},{472,258}}</string>
                <key>offset</key>
                <string>{11,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,154},{472,258}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10150014.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,1004},{472,258}}</string>
                <key>offset</key>
                <string>{11,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,154},{472,258}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10150015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,450},{494,258}}</string>
                <key>offset</key>
                <string>{6,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,154},{494,258}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10150016.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,450},{494,258}}</string>
                <key>offset</key>
                <string>{6,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,154},{494,258}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10150017.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,708},{494,252}}</string>
                <key>offset</key>
                <string>{6,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,162},{494,252}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10150018.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,708},{494,252}}</string>
                <key>offset</key>
                <string>{6,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,162},{494,252}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10150019.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,960},{472,258}}</string>
                <key>offset</key>
                <string>{11,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,153},{472,258}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10150020.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,960},{472,258}}</string>
                <key>offset</key>
                <string>{11,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,153},{472,258}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10150021.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,450},{494,258}}</string>
                <key>offset</key>
                <string>{6,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,154},{494,258}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10150022.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,450},{494,258}}</string>
                <key>offset</key>
                <string>{6,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,154},{494,258}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10150023.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,236},{494,258}}</string>
                <key>offset</key>
                <string>{6,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,154},{494,258}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10150024.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,236},{494,258}}</string>
                <key>offset</key>
                <string>{6,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,154},{494,258}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10150025.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1218},{472,252}}</string>
                <key>offset</key>
                <string>{11,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,162},{472,252}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10150026.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1218},{472,252}}</string>
                <key>offset</key>
                <string>{11,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,162},{472,252}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10150027.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,192},{494,258}}</string>
                <key>offset</key>
                <string>{6,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,153},{494,258}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10150028.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,192},{494,258}}</string>
                <key>offset</key>
                <string>{6,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,153},{494,258}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10150029.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,236},{494,258}}</string>
                <key>offset</key>
                <string>{6,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,154},{494,258}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10150030.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,236},{494,258}}</string>
                <key>offset</key>
                <string>{6,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,154},{494,258}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10150031.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,1004},{472,258}}</string>
                <key>offset</key>
                <string>{11,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,154},{472,258}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10150032.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,1004},{472,258}}</string>
                <key>offset</key>
                <string>{11,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,154},{472,258}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10150033.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,0},{498,236}}</string>
                <key>offset</key>
                <string>{5,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,179},{498,236}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10150034.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,0},{498,236}}</string>
                <key>offset</key>
                <string>{5,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,179},{498,236}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10150035.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{504,192}}</string>
                <key>offset</key>
                <string>{54,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{282,222},{504,192}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10150036.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{504,192}}</string>
                <key>offset</key>
                <string>{54,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{282,222},{504,192}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10150037.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,1536},{444,208}}</string>
                <key>offset</key>
                <string>{100,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{358,205},{444,208}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10150038.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,1536},{444,208}}</string>
                <key>offset</key>
                <string>{100,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{358,205},{444,208}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10150039.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1536},{444,208}}</string>
                <key>offset</key>
                <string>{100,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{358,205},{444,208}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10150040.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,1262},{456,208}}</string>
                <key>offset</key>
                <string>{94,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{346,205},{456,208}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10150041.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,464},{268,158}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{346,255},{268,158}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10150042.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,464},{268,158}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{346,255},{268,158}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10150043.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,464},{268,158}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{346,255},{268,158}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10150044.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,464},{268,158}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{346,255},{268,158}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10150045.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,464},{268,158}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{346,255},{268,158}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10150046.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,464},{268,158}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{346,255},{268,158}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10150047.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,464},{268,158}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{346,255},{268,158}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10150048.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,464},{268,158}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{346,255},{268,158}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10150049.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,0},{252,164}}</string>
                <key>offset</key>
                <string>{24,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{378,249},{252,164}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10150050.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,0},{252,164}}</string>
                <key>offset</key>
                <string>{24,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{378,249},{252,164}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10150051.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,0},{252,164}}</string>
                <key>offset</key>
                <string>{24,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{378,249},{252,164}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10150052.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,1752},{202,212}}</string>
                <key>offset</key>
                <string>{47,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{426,201},{202,212}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10150053.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,1752},{202,212}}</string>
                <key>offset</key>
                <string>{47,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{426,201},{202,212}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10150054.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,1752},{202,212}}</string>
                <key>offset</key>
                <string>{47,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{426,201},{202,212}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10150055.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,1278},{228,258}}</string>
                <key>offset</key>
                <string>{68,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{434,155},{228,258}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10150056.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,1278},{228,258}}</string>
                <key>offset</key>
                <string>{68,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{434,155},{228,258}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10150057.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,1278},{228,258}}</string>
                <key>offset</key>
                <string>{68,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{434,155},{228,258}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10150058.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,1278},{228,258}}</string>
                <key>offset</key>
                <string>{68,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{434,155},{228,258}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skin_1015.png</string>
            <key>size</key>
            <string>{1170,1982}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cad0e2a46350c5be2fcc9d945f429a05:a22e586564bc9d7084014df82f77ce08:a481cbe1e6105c9a02c4ff39583aaf93$</string>
            <key>textureFileName</key>
            <string>skin_1015.png</string>
        </dict>
    </dict>
</plist>
