<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1036 (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{536,1792},{184,220}}</string>
                <key>offset</key>
                <string>{-40,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{348,208},{184,220}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1036 (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{1046,1538},{188,220}}</string>
                <key>offset</key>
                <string>{-42,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{344,208},{188,220}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1036 (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{610,1572},{188,220}}</string>
                <key>offset</key>
                <string>{-42,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{344,208},{188,220}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1036 (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{350,1768},{186,220}}</string>
                <key>offset</key>
                <string>{-41,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{346,208},{186,220}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1036 (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{1142,1178},{182,220}}</string>
                <key>offset</key>
                <string>{-39,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{350,208},{182,220}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1036 (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{1234,1524},{178,220}}</string>
                <key>offset</key>
                <string>{-37,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{354,208},{178,220}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1036 (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{1412,1470},{176,218}}</string>
                <key>offset</key>
                <string>{-36,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{356,210},{176,218}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1036 (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{1560,1254},{182,218}}</string>
                <key>offset</key>
                <string>{-39,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{350,210},{182,218}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1036 (9).png</key>
            <dict>
                <key>frame</key>
                <string>{{390,1584},{184,220}}</string>
                <key>offset</key>
                <string>{-40,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{348,208},{184,220}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10360001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1142,1398},{126,220}}</string>
                <key>offset</key>
                <string>{-24,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{393,216},{126,220}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10360002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,772},{446,240}}</string>
                <key>offset</key>
                <string>{36,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{293,210},{446,240}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10360003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,772},{446,240}}</string>
                <key>offset</key>
                <string>{36,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{293,210},{446,240}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10360004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1252},{446,202}}</string>
                <key>offset</key>
                <string>{35,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{292,248},{446,202}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10360005.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,1252},{440,188}}</string>
                <key>offset</key>
                <string>{38,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{298,262},{440,188}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10360006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1138,442},{324,188}}</string>
                <key>offset</key>
                <string>{10,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{328,262},{324,188}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10360007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1302,884},{258,190}}</string>
                <key>offset</key>
                <string>{-21,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{330,260},{258,190}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10360008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1560,1072},{250,182}}</string>
                <key>offset</key>
                <string>{-17,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{338,260},{250,182}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10360009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1560,890},{250,182}}</string>
                <key>offset</key>
                <string>{-17,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{338,260},{250,182}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10360010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1560,890},{250,182}}</string>
                <key>offset</key>
                <string>{-17,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{338,260},{250,182}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10360011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1560,1072},{250,182}}</string>
                <key>offset</key>
                <string>{-17,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{338,260},{250,182}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10360012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1560,1072},{250,182}}</string>
                <key>offset</key>
                <string>{-17,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{338,260},{250,182}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10360013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1234,1744},{170,158}}</string>
                <key>offset</key>
                <string>{188,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{583,290},{170,158}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10360014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1362,1074},{198,188}}</string>
                <key>offset</key>
                <string>{190,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{571,268},{198,188}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10360015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1362,1262},{198,208}}</string>
                <key>offset</key>
                <string>{190,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{571,248},{198,208}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10360016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1362,1262},{198,208}}</string>
                <key>offset</key>
                <string>{190,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{571,248},{198,208}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10360017.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,1538},{248,220}}</string>
                <key>offset</key>
                <string>{157,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{513,228},{248,220}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10360018.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,1538},{248,220}}</string>
                <key>offset</key>
                <string>{157,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{513,228},{248,220}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10360019.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,442},{280,338}}</string>
                <key>offset</key>
                <string>{141,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{481,110},{280,338}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10360020.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,442},{280,338}}</string>
                <key>offset</key>
                <string>{141,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{481,110},{280,338}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10360021.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,732},{280,322}}</string>
                <key>offset</key>
                <string>{141,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{481,109},{280,322}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10360022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1326,562},{280,322}}</string>
                <key>offset</key>
                <string>{141,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{481,109},{280,322}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10360023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1326,240},{280,322}}</string>
                <key>offset</key>
                <string>{141,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{481,109},{280,322}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10360024.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,722},{242,320}}</string>
                <key>offset</key>
                <string>{160,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{519,111},{242,320}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10360025.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,386},{298,346}}</string>
                <key>offset</key>
                <string>{146,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{477,82},{298,346}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10360026.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,0},{310,386}}</string>
                <key>offset</key>
                <string>{140,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{465,42},{310,386}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10360027.png</key>
            <dict>
                <key>frame</key>
                <string>{{1066,1022},{156,228}}</string>
                <key>offset</key>
                <string>{64,163}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{466,43},{156,228}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10360028.png</key>
            <dict>
                <key>frame</key>
                <string>{{1066,1022},{156,228}}</string>
                <key>offset</key>
                <string>{64,163}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{466,43},{156,228}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10360029.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,1792},{212,156}}</string>
                <key>offset</key>
                <string>{76,173}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{450,69},{212,156}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10360030.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1698},{292,194}}</string>
                <key>offset</key>
                <string>{116,188}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{450,35},{292,194}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10360031.png</key>
            <dict>
                <key>frame</key>
                <string>{{1606,566},{324,192}}</string>
                <key>offset</key>
                <string>{101,167}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{419,57},{324,192}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10360032.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,1042},{322,180}}</string>
                <key>offset</key>
                <string>{100,161}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{419,69},{322,180}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10360033.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,1222},{316,180}}</string>
                <key>offset</key>
                <string>{96,161}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{418,69},{316,180}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10360034.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,1222},{316,178}}</string>
                <key>offset</key>
                <string>{96,160}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{418,71},{316,178}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10360035.png</key>
            <dict>
                <key>frame</key>
                <string>{{1588,1436},{190,178}}</string>
                <key>offset</key>
                <string>{34,160}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{419,71},{190,178}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10360036.png</key>
            <dict>
                <key>frame</key>
                <string>{{1588,1614},{190,174}}</string>
                <key>offset</key>
                <string>{34,158}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{419,75},{190,174}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10360037.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,242},{420,200}}</string>
                <key>offset</key>
                <string>{149,171}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{419,49},{420,200}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10360038.png</key>
            <dict>
                <key>frame</key>
                <string>{{1266,0},{424,240}}</string>
                <key>offset</key>
                <string>{151,191}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{419,9},{424,240}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10360039.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1012},{430,240}}</string>
                <key>offset</key>
                <string>{154,191}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{419,9},{430,240}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10360040.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,0},{432,242}}</string>
                <key>offset</key>
                <string>{153,191}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{417,8},{432,242}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10360041.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,1012},{284,236}}</string>
                <key>offset</key>
                <string>{231,198}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,4},{284,236}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10360042.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,1012},{284,236}}</string>
                <key>offset</key>
                <string>{231,198}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,4},{284,236}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10360043.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,1252},{332,214}}</string>
                <key>offset</key>
                <string>{252,188}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{566,25},{332,214}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10360044.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,1252},{332,214}}</string>
                <key>offset</key>
                <string>{252,188}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{566,25},{332,214}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10360045.png</key>
            <dict>
                <key>frame</key>
                <string>{{1606,240},{326,204}}</string>
                <key>offset</key>
                <string>{250,183}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{567,35},{326,204}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10360046.png</key>
            <dict>
                <key>frame</key>
                <string>{{1606,240},{326,204}}</string>
                <key>offset</key>
                <string>{250,183}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{567,35},{326,204}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10360047.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,1248},{324,180}}</string>
                <key>offset</key>
                <string>{251,192}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{569,38},{324,180}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10360048.png</key>
            <dict>
                <key>frame</key>
                <string>{{1412,1688},{196,172}}</string>
                <key>offset</key>
                <string>{315,191}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{697,43},{196,172}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10360049.png</key>
            <dict>
                <key>frame</key>
                <string>{{1412,1688},{196,172}}</string>
                <key>offset</key>
                <string>{315,191}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{697,43},{196,172}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10360050.png</key>
            <dict>
                <key>frame</key>
                <string>{{1584,1788},{196,168}}</string>
                <key>offset</key>
                <string>{315,189}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{697,47},{196,168}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10360051.png</key>
            <dict>
                <key>frame</key>
                <string>{{1584,1788},{196,168}}</string>
                <key>offset</key>
                <string>{315,189}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{697,47},{196,168}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10360052.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,386},{502,386}}</string>
                <key>offset</key>
                <string>{163,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{392,50},{502,386}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10360053.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{524,386}}</string>
                <key>offset</key>
                <string>{152,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{370,50},{524,386}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10360054.png</key>
            <dict>
                <key>frame</key>
                <string>{{1066,766},{236,256}}</string>
                <key>offset</key>
                <string>{13,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{375,180},{236,256}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10360055.png</key>
            <dict>
                <key>frame</key>
                <string>{{1066,766},{236,256}}</string>
                <key>offset</key>
                <string>{13,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{375,180},{236,256}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10360056.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,1758},{220,246}}</string>
                <key>offset</key>
                <string>{11,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{381,190},{220,246}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10360057.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,1758},{220,246}}</string>
                <key>offset</key>
                <string>{11,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{381,190},{220,246}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10360058.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,1758},{210,246}}</string>
                <key>offset</key>
                <string>{16,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{391,190},{210,246}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10360059.png</key>
            <dict>
                <key>frame</key>
                <string>{{1142,1398},{126,220}}</string>
                <key>offset</key>
                <string>{-26,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{391,216},{126,220}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skin_1036.png</string>
            <key>size</key>
            <string>{1810,2004}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d95e245e9af9070a12ab869f17b07d5a:6bb387dc5c13448cba49de36bc308fe8:d31dda12f14fc334aa9bed65dd1e0c40$</string>
            <key>textureFileName</key>
            <string>skin_1036.png</string>
        </dict>
    </dict>
</plist>
