<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1004 (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{1572,510},{198,266}}</string>
                <key>offset</key>
                <string>{-15,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{366,168},{198,266}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1004 (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{1838,510},{204,264}}</string>
                <key>offset</key>
                <string>{-16,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{362,170},{204,264}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1004 (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{1756,1004},{206,262}}</string>
                <key>offset</key>
                <string>{-16,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{361,172},{206,262}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1004 (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{1832,1210},{200,260}}</string>
                <key>offset</key>
                <string>{-13,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{367,174},{200,260}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1004 (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{1830,1470},{192,258}}</string>
                <key>offset</key>
                <string>{-10,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{374,176},{192,258}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1004 (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{1350,1780},{188,258}}</string>
                <key>offset</key>
                <string>{-10,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{376,176},{188,258}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1004 (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{1092,1780},{188,258}}</string>
                <key>offset</key>
                <string>{-11,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{375,176},{188,258}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10040001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1608,1728},{228,242}}</string>
                <key>offset</key>
                <string>{4,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{370,192},{228,242}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10040002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1602,1456},{228,242}}</string>
                <key>offset</key>
                <string>{5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{371,192},{228,242}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10040003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,422},{272,220}}</string>
                <key>offset</key>
                <string>{27,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{371,215},{272,220}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10040004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1694},{274,220}}</string>
                <key>offset</key>
                <string>{28,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{371,215},{274,220}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10040005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1758,774},{264,230}}</string>
                <key>offset</key>
                <string>{26,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{374,204},{264,230}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10040006.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,1684},{264,230}}</string>
                <key>offset</key>
                <string>{25,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{373,204},{264,230}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10040007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1498,964},{258,244}}</string>
                <key>offset</key>
                <string>{17,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{368,191},{258,244}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10040008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1314,420},{258,258}}</string>
                <key>offset</key>
                <string>{18,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{369,177},{258,258}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10040009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1498,708},{260,256}}</string>
                <key>offset</key>
                <string>{17,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{367,178},{260,256}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10040010.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,1684},{260,270}}</string>
                <key>offset</key>
                <string>{17,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{367,164},{260,270}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10040011.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,1694},{270,348}}</string>
                <key>offset</key>
                <string>{21,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{366,86},{270,348}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10040012.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,1264},{546,420}}</string>
                <key>offset</key>
                <string>{9,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,39},{546,420}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10040013.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,422},{548,422}}</string>
                <key>offset</key>
                <string>{5,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,37},{548,422}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10040014.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1270},{546,424}}</string>
                <key>offset</key>
                <string>{5,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,37},{546,424}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10040015.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,844},{546,420}}</string>
                <key>offset</key>
                <string>{9,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,39},{546,420}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10040016.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,844},{546,420}}</string>
                <key>offset</key>
                <string>{9,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,39},{546,420}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10040017.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,0},{548,422}}</string>
                <key>offset</key>
                <string>{5,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,37},{548,422}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10040018.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,846},{546,424}}</string>
                <key>offset</key>
                <string>{5,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,37},{546,424}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10040019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1096,0},{546,420}}</string>
                <key>offset</key>
                <string>{9,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,39},{546,420}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10040020.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{548,422}}</string>
                <key>offset</key>
                <string>{5,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,37},{548,422}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10040021.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,422},{546,424}}</string>
                <key>offset</key>
                <string>{5,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,37},{546,424}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10040022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1092,844},{536,406}}</string>
                <key>offset</key>
                <string>{1,74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,43},{536,406}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10040023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1092,1380},{510,400}}</string>
                <key>offset</key>
                <string>{8,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,43},{510,400}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10040024.png</key>
            <dict>
                <key>frame</key>
                <string>{{1642,0},{510,400}}</string>
                <key>offset</key>
                <string>{8,77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,43},{510,400}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10040025.png</key>
            <dict>
                <key>frame</key>
                <string>{{1602,1210},{230,246}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{363,188},{230,246}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skin_1004.png</string>
            <key>size</key>
            <string>{2043,1968}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d2fe677f61bdc7260bde6e262b5db2b0:f807682ef70a5987ba2db25bf5f375e2:e6b5a6e61ac55da80a5fb4d9be75ef62$</string>
            <key>textureFileName</key>
            <string>skin_1004.png</string>
        </dict>
    </dict>
</plist>
