<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tmshow_20042.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,308},{80,84}}</string>
                <key>offset</key>
                <string>{8,76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{448,202},{80,84}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tmshow_20043.png</key>
            <dict>
                <key>frame</key>
                <string>{{1880,294},{84,84}}</string>
                <key>offset</key>
                <string>{7,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{445,201},{84,84}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tmshow_20044.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,308},{76,84}}</string>
                <key>offset</key>
                <string>{5,79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{447,199},{76,84}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tmshow_20045.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,300},{82,94}}</string>
                <key>offset</key>
                <string>{6,75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{445,198},{82,94}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tmshow_20046.png</key>
            <dict>
                <key>frame</key>
                <string>{{1900,208},{86,86}}</string>
                <key>offset</key>
                <string>{6,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{443,202},{86,86}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tmshow_20047.png</key>
            <dict>
                <key>frame</key>
                <string>{{1178,300},{90,84}}</string>
                <key>offset</key>
                <string>{5,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{440,200},{90,84}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tmshow_20048.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,308},{108,80}}</string>
                <key>offset</key>
                <string>{6,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{432,199},{108,80}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tmshow_20049.png</key>
            <dict>
                <key>frame</key>
                <string>{{1900,104},{108,104}}</string>
                <key>offset</key>
                <string>{6,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{432,198},{108,104}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tmshow_20050.png</key>
            <dict>
                <key>frame</key>
                <string>{{1900,0},{110,104}}</string>
                <key>offset</key>
                <string>{5,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{430,194},{110,104}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tmshow_20051.png</key>
            <dict>
                <key>frame</key>
                <string>{{1646,286},{110,100}}</string>
                <key>offset</key>
                <string>{4,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{429,193},{110,100}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tmshow_20052.png</key>
            <dict>
                <key>frame</key>
                <string>{{1410,292},{98,92}}</string>
                <key>offset</key>
                <string>{2,83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{433,191},{98,92}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tmshow_20053.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,322},{66,90}}</string>
                <key>offset</key>
                <string>{2,85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{449,190},{66,90}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tmshow_20054.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,322},{64,82}}</string>
                <key>offset</key>
                <string>{1,86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{449,193},{64,82}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tmshow_20055.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,322},{66,80}}</string>
                <key>offset</key>
                <string>{0,87}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{447,193},{66,80}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tmshow_20056.png</key>
            <dict>
                <key>frame</key>
                <string>{{1756,314},{68,86}}</string>
                <key>offset</key>
                <string>{0,89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{446,188},{68,86}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tmshow_20057.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{284,322}}</string>
                <key>offset</key>
                <string>{-110,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,185},{284,322}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tmshow_20058.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,0},{266,316}}</string>
                <key>offset</key>
                <string>{-106,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,180},{266,316}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tmshow_20059.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,0},{258,314}}</string>
                <key>offset</key>
                <string>{-100,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{251,172},{258,314}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tmshow_20060.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,0},{248,308}}</string>
                <key>offset</key>
                <string>{-94,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{262,169},{248,308}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tmshow_20061.png</key>
            <dict>
                <key>frame</key>
                <string>{{1056,0},{240,300}}</string>
                <key>offset</key>
                <string>{-89,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{271,167},{240,300}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tmshow_20062.png</key>
            <dict>
                <key>frame</key>
                <string>{{1296,0},{230,292}}</string>
                <key>offset</key>
                <string>{-82,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{283,165},{230,292}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tmshow_20063.png</key>
            <dict>
                <key>frame</key>
                <string>{{1526,0},{232,286}}</string>
                <key>offset</key>
                <string>{-81,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{283,169},{232,286}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tmshow_20064.png</key>
            <dict>
                <key>frame</key>
                <string>{{1758,0},{142,122}}</string>
                <key>offset</key>
                <string>{-126,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{283,331},{142,122}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tmshow_20065.png</key>
            <dict>
                <key>frame</key>
                <string>{{1758,122},{142,106}}</string>
                <key>offset</key>
                <string>{-126,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{283,340},{142,106}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tmshow_20066.png</key>
            <dict>
                <key>frame</key>
                <string>{{1526,286},{120,102}}</string>
                <key>offset</key>
                <string>{-117,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{303,349},{120,102}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tmshow_20067.png</key>
            <dict>
                <key>frame</key>
                <string>{{1296,292},{114,92}}</string>
                <key>offset</key>
                <string>{-114,-85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{309,359},{114,92}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tmshow_20068.png</key>
            <dict>
                <key>frame</key>
                <string>{{1758,228},{122,86}}</string>
                <key>offset</key>
                <string>{-109,-88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{310,365},{122,86}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tmshow_20069.png</key>
            <dict>
                <key>frame</key>
                <string>{{1758,228},{122,86}}</string>
                <key>offset</key>
                <string>{-109,-88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{310,365},{122,86}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skin_1040t.png</string>
            <key>size</key>
            <string>{2011,388}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1aba407aa94f19934a95b0a42253895c:20087875123de68baf5e951947e62087:2ba1f63e30bb7a8529e33746eb039f54$</string>
            <key>textureFileName</key>
            <string>skin_1040t.png</string>
        </dict>
    </dict>
</plist>
