<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1013 (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{1452,1242},{124,232}}</string>
                <key>offset</key>
                <string>{7,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{425,196},{124,232}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1013 (10).png</key>
            <dict>
                <key>frame</key>
                <string>{{1220,1242},{124,232}}</string>
                <key>offset</key>
                <string>{7,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{425,196},{124,232}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1013 (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{1046,1114},{124,232}}</string>
                <key>offset</key>
                <string>{7,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{425,196},{124,232}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1013 (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{666,836},{124,234}}</string>
                <key>offset</key>
                <string>{9,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{427,194},{124,234}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1013 (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{1306,876},{120,236}}</string>
                <key>offset</key>
                <string>{12,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{432,192},{120,236}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1013 (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{1512,1126},{116,234}}</string>
                <key>offset</key>
                <string>{16,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{438,194},{116,234}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1013 (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{1780,902},{118,232}}</string>
                <key>offset</key>
                <string>{16,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{437,196},{118,232}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1013 (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{1278,1120},{116,234}}</string>
                <key>offset</key>
                <string>{16,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{438,194},{116,234}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1013 (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{1068,874},{118,238}}</string>
                <key>offset</key>
                <string>{14,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{435,190},{118,238}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1013 (9).png</key>
            <dict>
                <key>frame</key>
                <string>{{1058,992},{122,236}}</string>
                <key>offset</key>
                <string>{9,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{428,192},{122,236}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10130001.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,1096},{126,174}}</string>
                <key>offset</key>
                <string>{-57,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{360,244},{126,174}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10130002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1046,1238},{128,174}}</string>
                <key>offset</key>
                <string>{-55,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{361,244},{128,174}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10130003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1746,1134},{170,182}}</string>
                <key>offset</key>
                <string>{-11,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{384,236},{170,182}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10130004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1746,1134},{170,182}}</string>
                <key>offset</key>
                <string>{-11,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{384,236},{170,182}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10130005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,690},{464,212}}</string>
                <key>offset</key>
                <string>{56,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{304,209},{464,212}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10130006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,690},{464,212}}</string>
                <key>offset</key>
                <string>{56,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{304,209},{464,212}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10130007.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,0},{460,220}}</string>
                <key>offset</key>
                <string>{80,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{330,201},{460,220}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10130008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,230},{460,220}}</string>
                <key>offset</key>
                <string>{80,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{330,201},{460,220}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10130009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{452,230}}</string>
                <key>offset</key>
                <string>{87,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{341,191},{452,230}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10130010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{452,230}}</string>
                <key>offset</key>
                <string>{87,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{341,191},{452,230}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10130011.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,230},{404,236}}</string>
                <key>offset</key>
                <string>{110,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{388,185},{404,236}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10130012.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,230},{404,236}}</string>
                <key>offset</key>
                <string>{110,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{388,185},{404,236}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10130013.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,0},{404,238}}</string>
                <key>offset</key>
                <string>{109,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{387,183},{404,238}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10130014.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,0},{404,238}}</string>
                <key>offset</key>
                <string>{109,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{387,183},{404,238}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10130015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1316,0},{378,226}}</string>
                <key>offset</key>
                <string>{119,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{410,194},{378,226}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10130016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1316,0},{378,226}}</string>
                <key>offset</key>
                <string>{119,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{410,194},{378,226}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10130017.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,690},{378,196}}</string>
                <key>offset</key>
                <string>{119,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{410,224},{378,196}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10130018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1886,602},{132,222}}</string>
                <key>offset</key>
                <string>{5,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{419,199},{132,222}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10130019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1886,602},{132,222}}</string>
                <key>offset</key>
                <string>{5,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{419,199},{132,222}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10130020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1886,602},{132,222}}</string>
                <key>offset</key>
                <string>{5,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{419,199},{132,222}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10130021.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,1096},{124,232}}</string>
                <key>offset</key>
                <string>{7,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{425,186},{124,232}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10130022.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,1072},{194,164}}</string>
                <key>offset</key>
                <string>{19,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{402,255},{194,164}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10130023.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,1072},{194,164}}</string>
                <key>offset</key>
                <string>{19,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{402,255},{194,164}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10130024.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,1072},{198,200}}</string>
                <key>offset</key>
                <string>{61,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{442,220},{198,200}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10130025.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,1072},{198,200}}</string>
                <key>offset</key>
                <string>{61,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{442,220},{198,200}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10130026.png</key>
            <dict>
                <key>frame</key>
                <string>{{1096,238},{310,336}}</string>
                <key>offset</key>
                <string>{101,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{426,84},{310,336}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10130027.png</key>
            <dict>
                <key>frame</key>
                <string>{{1096,238},{310,336}}</string>
                <key>offset</key>
                <string>{101,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{426,84},{310,336}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10130028.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,220},{318,356}}</string>
                <key>offset</key>
                <string>{105,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{426,64},{318,356}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10130029.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,220},{318,356}}</string>
                <key>offset</key>
                <string>{105,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{426,64},{318,356}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10130030.png</key>
            <dict>
                <key>frame</key>
                <string>{{1694,0},{322,344}}</string>
                <key>offset</key>
                <string>{106,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{425,76},{322,344}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10130031.png</key>
            <dict>
                <key>frame</key>
                <string>{{1694,0},{322,344}}</string>
                <key>offset</key>
                <string>{106,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{425,76},{322,344}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10130032.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,238},{322,330}}</string>
                <key>offset</key>
                <string>{106,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{425,90},{322,330}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10130033.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,238},{322,330}}</string>
                <key>offset</key>
                <string>{106,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{425,90},{322,330}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10130034.png</key>
            <dict>
                <key>frame</key>
                <string>{{1068,574},{314,300}}</string>
                <key>offset</key>
                <string>{102,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{425,120},{314,300}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10130035.png</key>
            <dict>
                <key>frame</key>
                <string>{{1580,602},{306,300}}</string>
                <key>offset</key>
                <string>{106,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{433,120},{306,300}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10130036.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,1006},{90,256}}</string>
                <key>offset</key>
                <string>{-3,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{432,164},{90,256}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10130037.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,1006},{90,256}}</string>
                <key>offset</key>
                <string>{-3,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{432,164},{90,256}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10130038.png</key>
            <dict>
                <key>frame</key>
                <string>{{1542,902},{100,238}}</string>
                <key>offset</key>
                <string>{-4,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{426,181},{100,238}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10130039.png</key>
            <dict>
                <key>frame</key>
                <string>{{1542,902},{100,238}}</string>
                <key>offset</key>
                <string>{-4,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{426,181},{100,238}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10130040.png</key>
            <dict>
                <key>frame</key>
                <string>{{1542,902},{100,238}}</string>
                <key>offset</key>
                <string>{-4,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{426,181},{100,238}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10130041.png</key>
            <dict>
                <key>frame</key>
                <string>{{1526,1002},{124,232}}</string>
                <key>offset</key>
                <string>{7,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{425,186},{124,232}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10130042.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,884},{122,268}}</string>
                <key>offset</key>
                <string>{-4,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{415,151},{122,268}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10130043.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,884},{122,268}}</string>
                <key>offset</key>
                <string>{-4,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{415,151},{122,268}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10130044.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,836},{236,258}}</string>
                <key>offset</key>
                <string>{37,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{399,163},{236,258}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10130045.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,836},{236,258}}</string>
                <key>offset</key>
                <string>{37,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{399,163},{236,258}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10130046.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,568},{316,258}}</string>
                <key>offset</key>
                <string>{80,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{402,163},{316,258}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10130047.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,568},{316,258}}</string>
                <key>offset</key>
                <string>{80,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{402,163},{316,258}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10130048.png</key>
            <dict>
                <key>frame</key>
                <string>{{1406,226},{348,260}}</string>
                <key>offset</key>
                <string>{96,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{402,161},{348,260}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10130049.png</key>
            <dict>
                <key>frame</key>
                <string>{{1406,226},{348,260}}</string>
                <key>offset</key>
                <string>{96,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{402,161},{348,260}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10130050.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,576},{354,260}}</string>
                <key>offset</key>
                <string>{98,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{401,161},{354,260}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10130051.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,576},{354,260}}</string>
                <key>offset</key>
                <string>{98,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{401,161},{354,260}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10130052.png</key>
            <dict>
                <key>frame</key>
                <string>{{1666,344},{340,258}}</string>
                <key>offset</key>
                <string>{91,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{401,163},{340,258}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10130053.png</key>
            <dict>
                <key>frame</key>
                <string>{{1666,344},{340,258}}</string>
                <key>offset</key>
                <string>{91,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{401,163},{340,258}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10130054.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1154},{326,206}}</string>
                <key>offset</key>
                <string>{84,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{401,215},{326,206}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10130055.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1154},{326,206}}</string>
                <key>offset</key>
                <string>{84,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{401,215},{326,206}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10130056.png</key>
            <dict>
                <key>frame</key>
                <string>{{1382,574},{302,198}}</string>
                <key>offset</key>
                <string>{84,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{413,222},{302,198}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10130057.png</key>
            <dict>
                <key>frame</key>
                <string>{{1382,574},{302,198}}</string>
                <key>offset</key>
                <string>{84,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{413,222},{302,198}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10130058.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,1220},{146,194}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{413,226},{146,194}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10130059.png</key>
            <dict>
                <key>frame</key>
                <string>{{1898,824},{120,222}}</string>
                <key>offset</key>
                <string>{3,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{423,197},{120,222}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10130060.png</key>
            <dict>
                <key>frame</key>
                <string>{{1898,824},{120,222}}</string>
                <key>offset</key>
                <string>{3,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{423,197},{120,222}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10130061.png</key>
            <dict>
                <key>frame</key>
                <string>{{1898,824},{120,222}}</string>
                <key>offset</key>
                <string>{3,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{423,197},{120,222}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10130062.png</key>
            <dict>
                <key>frame</key>
                <string>{{1294,996},{124,232}}</string>
                <key>offset</key>
                <string>{7,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{425,186},{124,232}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skin_1013.png</string>
            <key>size</key>
            <string>{2018,1366}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e8e0188eca6cdb3316a340151d7bc65c:bc5233f9d4118ea7a77203f1d6d97590:a14aeb05bae7242c332c2b957eb420e3$</string>
            <key>textureFileName</key>
            <string>skin_1013.png</string>
        </dict>
    </dict>
</plist>
