<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1002 (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{1828,540},{166,204}}</string>
                <key>offset</key>
                <string>{-14,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{383,229},{166,204}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1002 (10).png</key>
            <dict>
                <key>frame</key>
                <string>{{1362,848},{170,202}}</string>
                <key>offset</key>
                <string>{-16,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{379,231},{170,202}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1002 (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,848},{172,202}}</string>
                <key>offset</key>
                <string>{-11,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{383,231},{172,202}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1002 (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{284,834},{176,200}}</string>
                <key>offset</key>
                <string>{-8,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{384,233},{176,200}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1002 (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{842,848},{178,202}}</string>
                <key>offset</key>
                <string>{-8,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{383,231},{178,202}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1002 (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{664,818},{178,204}}</string>
                <key>offset</key>
                <string>{-9,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{382,229},{178,204}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1002 (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{1652,562},{176,206}}</string>
                <key>offset</key>
                <string>{-11,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{381,227},{176,206}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1002 (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{1702,768},{170,204}}</string>
                <key>offset</key>
                <string>{-13,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{382,229},{170,204}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1002 (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{1192,848},{170,202}}</string>
                <key>offset</key>
                <string>{-16,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{379,231},{170,202}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1002 (9).png</key>
            <dict>
                <key>frame</key>
                <string>{{1532,848},{170,200}}</string>
                <key>offset</key>
                <string>{-17,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{378,233},{170,200}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10020001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1702,972},{56,72}}</string>
                <key>offset</key>
                <string>{-6,-84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{446,368},{56,72}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10020002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1702,972},{56,72}}</string>
                <key>offset</key>
                <string>{-6,-84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{446,368},{56,72}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10020003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1872,744},{124,158}}</string>
                <key>offset</key>
                <string>{-7,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{411,290},{124,158}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10020004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1872,744},{124,158}}</string>
                <key>offset</key>
                <string>{-7,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{411,290},{124,158}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10020005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1314,562},{338,286}}</string>
                <key>offset</key>
                <string>{24,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{335,156},{338,286}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10020006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1314,562},{338,286}}</string>
                <key>offset</key>
                <string>{24,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{335,156},{338,286}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10020007.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,568},{428,250}}</string>
                <key>offset</key>
                <string>{-26,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,181},{428,250}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10020008.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,568},{428,250}}</string>
                <key>offset</key>
                <string>{-26,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,181},{428,250}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10020009.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,550},{408,272}}</string>
                <key>offset</key>
                <string>{-35,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,159},{408,272}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10020010.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,550},{408,272}}</string>
                <key>offset</key>
                <string>{-35,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,159},{408,272}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10020011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,556},{460,278}}</string>
                <key>offset</key>
                <string>{-5,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{245,163},{460,278}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10020012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,556},{460,278}}</string>
                <key>offset</key>
                <string>{-5,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{245,163},{460,278}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10020013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1374,0},{408,274}}</string>
                <key>offset</key>
                <string>{-35,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,159},{408,274}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10020014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1374,0},{408,274}}</string>
                <key>offset</key>
                <string>{-35,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,159},{408,274}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10020015.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,0},{460,278}}</string>
                <key>offset</key>
                <string>{-5,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{245,163},{460,278}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10020016.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,0},{460,278}}</string>
                <key>offset</key>
                <string>{-5,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{245,163},{460,278}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10020017.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,278},{426,272}}</string>
                <key>offset</key>
                <string>{-26,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,159},{426,272}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10020018.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,278},{426,272}}</string>
                <key>offset</key>
                <string>{-26,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,159},{426,272}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10020019.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,278},{460,278}}</string>
                <key>offset</key>
                <string>{-5,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{245,163},{460,278}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10020020.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,278},{460,278}}</string>
                <key>offset</key>
                <string>{-5,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{245,163},{460,278}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10020021.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,550},{408,272}}</string>
                <key>offset</key>
                <string>{-35,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,159},{408,272}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10020022.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,550},{408,272}}</string>
                <key>offset</key>
                <string>{-35,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,159},{408,272}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10020023.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,556},{460,278}}</string>
                <key>offset</key>
                <string>{-5,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{245,163},{460,278}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10020024.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,556},{460,278}}</string>
                <key>offset</key>
                <string>{-5,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{245,163},{460,278}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10020025.png</key>
            <dict>
                <key>frame</key>
                <string>{{1374,0},{408,274}}</string>
                <key>offset</key>
                <string>{-35,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,159},{408,274}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10020026.png</key>
            <dict>
                <key>frame</key>
                <string>{{1374,0},{408,274}}</string>
                <key>offset</key>
                <string>{-35,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,159},{408,274}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10020027.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,0},{460,278}}</string>
                <key>offset</key>
                <string>{-5,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{245,163},{460,278}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10020028.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,0},{460,278}}</string>
                <key>offset</key>
                <string>{-5,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{245,163},{460,278}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10020029.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,278},{426,272}}</string>
                <key>offset</key>
                <string>{-26,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,159},{426,272}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10020030.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,278},{426,272}}</string>
                <key>offset</key>
                <string>{-26,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,159},{426,272}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10020031.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,568},{428,250}}</string>
                <key>offset</key>
                <string>{-26,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,181},{428,250}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10020032.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,568},{428,250}}</string>
                <key>offset</key>
                <string>{-26,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,181},{428,250}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10020033.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,550},{408,272}}</string>
                <key>offset</key>
                <string>{-35,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,159},{408,272}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10020034.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,550},{408,272}}</string>
                <key>offset</key>
                <string>{-35,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,159},{408,272}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10020035.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,556},{460,278}}</string>
                <key>offset</key>
                <string>{-5,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{245,163},{460,278}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10020036.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,556},{460,278}}</string>
                <key>offset</key>
                <string>{-5,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{245,163},{460,278}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10020037.png</key>
            <dict>
                <key>frame</key>
                <string>{{1374,0},{408,274}}</string>
                <key>offset</key>
                <string>{-35,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,159},{408,274}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10020038.png</key>
            <dict>
                <key>frame</key>
                <string>{{1374,0},{408,274}}</string>
                <key>offset</key>
                <string>{-35,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,159},{408,274}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10020039.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{468,278}}</string>
                <key>offset</key>
                <string>{-4,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,154},{468,278}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10020040.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{468,278}}</string>
                <key>offset</key>
                <string>{-4,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,154},{468,278}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10020041.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{468,278}}</string>
                <key>offset</key>
                <string>{-4,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,154},{468,278}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10020042.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,0},{446,278}}</string>
                <key>offset</key>
                <string>{3,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{260,154},{446,278}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10020043.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,0},{446,278}}</string>
                <key>offset</key>
                <string>{3,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{260,154},{446,278}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10020044.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,278},{446,290}}</string>
                <key>offset</key>
                <string>{3,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{260,153},{446,290}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10020045.png</key>
            <dict>
                <key>frame</key>
                <string>{{1374,274},{356,288}}</string>
                <key>offset</key>
                <string>{3,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{305,155},{356,288}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10020046.png</key>
            <dict>
                <key>frame</key>
                <string>{{1374,274},{356,288}}</string>
                <key>offset</key>
                <string>{3,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{305,155},{356,288}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10020047.png</key>
            <dict>
                <key>frame</key>
                <string>{{1374,274},{356,288}}</string>
                <key>offset</key>
                <string>{3,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{305,155},{356,288}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10020048.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,834},{200,284}}</string>
                <key>offset</key>
                <string>{-14,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{366,159},{200,284}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10020049.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,834},{200,284}}</string>
                <key>offset</key>
                <string>{-14,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{366,159},{200,284}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10020050.png</key>
            <dict>
                <key>frame</key>
                <string>{{1702,972},{56,72}}</string>
                <key>offset</key>
                <string>{-6,-84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{446,368},{56,72}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10020051.png</key>
            <dict>
                <key>frame</key>
                <string>{{1702,972},{56,72}}</string>
                <key>offset</key>
                <string>{-6,-84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{446,368},{56,72}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10020052.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,818},{204,214}}</string>
                <key>offset</key>
                <string>{-1,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{377,240},{204,214}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10020053.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,818},{204,214}}</string>
                <key>offset</key>
                <string>{-1,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{377,240},{204,214}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10020054.png</key>
            <dict>
                <key>frame</key>
                <string>{{1730,280},{254,260}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{358,190},{254,260}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10020055.png</key>
            <dict>
                <key>frame</key>
                <string>{{1730,280},{254,260}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{358,190},{254,260}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10020056.png</key>
            <dict>
                <key>frame</key>
                <string>{{1782,0},{220,280}}</string>
                <key>offset</key>
                <string>{17,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{387,166},{220,280}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10020057.png</key>
            <dict>
                <key>frame</key>
                <string>{{1782,0},{220,280}}</string>
                <key>offset</key>
                <string>{17,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{387,166},{220,280}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skin_1002.png</string>
            <key>size</key>
            <string>{2002,1050}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d40a9ecb3b41e064d46b4b7cf8b5f999:085428d81c64186a1aa73e35e394f6d3:6869638cc885be6d511dcc6dc927d451$</string>
            <key>textureFileName</key>
            <string>skin_1002.png</string>
        </dict>
    </dict>
</plist>
