<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1003A0169.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,1390},{168,48}}</string>
                <key>offset</key>
                <string>{10,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{406,347},{168,48}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1003A0170.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,1390},{168,48}}</string>
                <key>offset</key>
                <string>{10,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{406,347},{168,48}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1003A0171.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,1570},{258,104}}</string>
                <key>offset</key>
                <string>{-47,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{304,313},{258,104}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1003A0172.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,446},{400,106}}</string>
                <key>offset</key>
                <string>{30,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{310,310},{400,106}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1003A0173.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,1032},{366,118}}</string>
                <key>offset</key>
                <string>{15,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{312,293},{366,118}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1003A0174.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,0},{366,144}}</string>
                <key>offset</key>
                <string>{15,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{312,292},{366,144}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1003A0175.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1068},{350,122}}</string>
                <key>offset</key>
                <string>{24,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{329,315},{350,122}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1003A0176.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1318},{312,122}}</string>
                <key>offset</key>
                <string>{6,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{330,313},{312,122}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1003A0177.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,940},{366,128}}</string>
                <key>offset</key>
                <string>{47,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{344,303},{366,128}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1003A0178.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,1622},{278,152}}</string>
                <key>offset</key>
                <string>{-23,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{318,302},{278,152}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1003A0179.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,258},{402,190}}</string>
                <key>offset</key>
                <string>{-7,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{272,249},{402,190}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1003A0180.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,552},{396,194}}</string>
                <key>offset</key>
                <string>{-10,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{272,249},{396,194}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1003A0181.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,746},{388,194}}</string>
                <key>offset</key>
                <string>{-16,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{270,247},{388,194}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1003A0182.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,878},{388,154}}</string>
                <key>offset</key>
                <string>{-13,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{273,247},{388,154}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1003A0183.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,706},{390,172}}</string>
                <key>offset</key>
                <string>{-12,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{273,248},{390,172}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1003A0184.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,248},{436,198}}</string>
                <key>offset</key>
                <string>{-4,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{258,205},{436,198}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1003A0185.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,0},{438,258}}</string>
                <key>offset</key>
                <string>{87,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{348,197},{438,258}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1003A0186.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,448},{396,258}}</string>
                <key>offset</key>
                <string>{104,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{386,197},{396,258}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1003A0187.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,878},{382,254}}</string>
                <key>offset</key>
                <string>{105,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{394,198},{382,254}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1003A0188.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{446,248}}</string>
                <key>offset</key>
                <string>{47,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{304,208},{446,248}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1003A0189.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,1150},{348,160}}</string>
                <key>offset</key>
                <string>{57,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{363,283},{348,160}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1003A0190.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,1310},{324,132}}</string>
                <key>offset</key>
                <string>{50,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{368,306},{324,132}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1003A0191.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1190},{328,128}}</string>
                <key>offset</key>
                <string>{52,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{368,308},{328,128}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1003A0192.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,1260},{328,130}}</string>
                <key>offset</key>
                <string>{52,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{368,308},{328,130}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1003A0193.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,768},{240,110}}</string>
                <key>offset</key>
                <string>{8,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{368,307},{240,110}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1003A0194.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,1908},{208,110}}</string>
                <key>offset</key>
                <string>{-9,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{367,307},{208,110}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1003A0195.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,1912},{210,110}}</string>
                <key>offset</key>
                <string>{-8,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{367,307},{210,110}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1003A0196.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,658},{210,110}}</string>
                <key>offset</key>
                <string>{-8,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{367,307},{210,110}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1003A0197.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,1674},{202,110}}</string>
                <key>offset</key>
                <string>{-11,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{368,307},{202,110}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1003A0198.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,1674},{202,110}}</string>
                <key>offset</key>
                <string>{-11,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{368,307},{202,110}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1003A0199.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1916},{154,106}}</string>
                <key>offset</key>
                <string>{-11,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{392,310},{154,106}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1003A0200.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1916},{154,106}}</string>
                <key>offset</key>
                <string>{-11,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{392,310},{154,106}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1003A0201.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,1916},{136,106}}</string>
                <key>offset</key>
                <string>{-2,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{410,310},{136,106}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1003A0202.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,1876},{130,110}}</string>
                <key>offset</key>
                <string>{-3,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{412,305},{130,110}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1003A0203.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,1876},{130,110}}</string>
                <key>offset</key>
                <string>{-3,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{412,305},{130,110}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1003A0204.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,1876},{130,110}}</string>
                <key>offset</key>
                <string>{-3,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{412,305},{130,110}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1003A0205.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,1876},{128,158}}</string>
                <key>offset</key>
                <string>{-6,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{410,257},{128,158}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1003A0206.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,1876},{128,158}}</string>
                <key>offset</key>
                <string>{-6,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{410,257},{128,158}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1003A0207.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,1876},{128,158}}</string>
                <key>offset</key>
                <string>{-6,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{410,257},{128,158}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>R_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,1442},{180,296}}</string>
                <key>offset</key>
                <string>{-5,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{385,138},{180,296}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>R_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1440},{182,296}}</string>
                <key>offset</key>
                <string>{-6,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{383,138},{182,296}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>R_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1622},{184,294}}</string>
                <key>offset</key>
                <string>{-7,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{381,140},{184,294}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>R_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,366},{186,292}}</string>
                <key>offset</key>
                <string>{-8,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{379,142},{186,292}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>R_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,1622},{186,286}}</string>
                <key>offset</key>
                <string>{-8,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{379,148},{186,286}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>R_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,1622},{186,290}}</string>
                <key>offset</key>
                <string>{-8,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{379,144},{186,290}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>R_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,1390},{180,296}}</string>
                <key>offset</key>
                <string>{-5,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{385,138},{180,296}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skin_1003A.png</string>
            <key>size</key>
            <string>{1030,2022}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1a37b6dc26be29fdf0874d095dba88e8:7f63c11ca8780f3655fbf0e8be940d75:ce8897d40375a5f69b787a13df2c6366$</string>
            <key>textureFileName</key>
            <string>skin_1003A.png</string>
        </dict>
    </dict>
</plist>
