<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shamanyingxiong0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,0},{154,246}}</string>
                <key>offset</key>
                <string>{-7,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{396,182},{154,246}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>shamanyingxiong0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,0},{154,246}}</string>
                <key>offset</key>
                <string>{-7,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{396,182},{154,246}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>shamanyingxiong0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,0},{154,246}}</string>
                <key>offset</key>
                <string>{-7,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{396,182},{154,246}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>shamanyingxiong0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,0},{154,246}}</string>
                <key>offset</key>
                <string>{-7,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{396,182},{154,246}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>shamanyingxiong0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,0},{160,244}}</string>
                <key>offset</key>
                <string>{-10,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{390,184},{160,244}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>shamanyingxiong0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,0},{160,244}}</string>
                <key>offset</key>
                <string>{-10,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{390,184},{160,244}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>shamanyingxiong0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,0},{160,244}}</string>
                <key>offset</key>
                <string>{-10,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{390,184},{160,244}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>shamanyingxiong0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,0},{160,244}}</string>
                <key>offset</key>
                <string>{-10,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{390,184},{160,244}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>shamanyingxiong0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,0},{164,240}}</string>
                <key>offset</key>
                <string>{-12,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{386,188},{164,240}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>shamanyingxiong0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,0},{164,240}}</string>
                <key>offset</key>
                <string>{-12,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{386,188},{164,240}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>shamanyingxiong0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,0},{164,240}}</string>
                <key>offset</key>
                <string>{-12,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{386,188},{164,240}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>shamanyingxiong0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,0},{164,240}}</string>
                <key>offset</key>
                <string>{-12,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{386,188},{164,240}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>shamanyingxiong0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,0},{162,240}}</string>
                <key>offset</key>
                <string>{-11,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{388,188},{162,240}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>shamanyingxiong0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,0},{162,240}}</string>
                <key>offset</key>
                <string>{-11,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{388,188},{162,240}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>shamanyingxiong0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,0},{162,240}}</string>
                <key>offset</key>
                <string>{-11,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{388,188},{162,240}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>shamanyingxiong0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,0},{162,240}}</string>
                <key>offset</key>
                <string>{-11,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{388,188},{162,240}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>shamanyingxiong0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,0},{156,242}}</string>
                <key>offset</key>
                <string>{-8,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{394,186},{156,242}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>shamanyingxiong0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,0},{156,242}}</string>
                <key>offset</key>
                <string>{-8,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{394,186},{156,242}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>shamanyingxiong0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,0},{156,242}}</string>
                <key>offset</key>
                <string>{-8,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{394,186},{156,242}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>shamanyingxiong0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,0},{156,242}}</string>
                <key>offset</key>
                <string>{-8,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{394,186},{156,242}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>shamanyingxiong0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,0},{152,244}}</string>
                <key>offset</key>
                <string>{-6,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{398,184},{152,244}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>shamanyingxiong0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,0},{152,244}}</string>
                <key>offset</key>
                <string>{-6,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{398,184},{152,244}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>shamanyingxiong0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,0},{152,244}}</string>
                <key>offset</key>
                <string>{-6,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{398,184},{152,244}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>shamanyingxiong0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,0},{152,244}}</string>
                <key>offset</key>
                <string>{-6,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{398,184},{152,244}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>shamanyingxiong0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,246},{164,220}}</string>
                <key>offset</key>
                <string>{-9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{389,208},{164,220}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>shamanyingxiong0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,246},{164,220}}</string>
                <key>offset</key>
                <string>{-9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{389,208},{164,220}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>shamanyingxiong0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{1108,134},{168,178}}</string>
                <key>offset</key>
                <string>{-14,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{382,250},{168,178}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>shamanyingxiong0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{1108,134},{168,178}}</string>
                <key>offset</key>
                <string>{-14,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{382,250},{168,178}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>shamanyingxiong0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{1108,134},{168,178}}</string>
                <key>offset</key>
                <string>{-14,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{382,250},{168,178}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>shamanyingxiong0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,258},{202,224}}</string>
                <key>offset</key>
                <string>{5,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{384,177},{202,224}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>shamanyingxiong0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,258},{202,224}}</string>
                <key>offset</key>
                <string>{5,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{384,177},{202,224}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>shamanyingxiong0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,258},{202,224}}</string>
                <key>offset</key>
                <string>{5,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{384,177},{202,224}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>shamanyingxiong0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,258},{202,224}}</string>
                <key>offset</key>
                <string>{5,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{384,176},{202,224}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>shamanyingxiong0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,258},{202,224}}</string>
                <key>offset</key>
                <string>{5,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{384,176},{202,224}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>shamanyingxiong0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,258},{202,224}}</string>
                <key>offset</key>
                <string>{5,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{384,176},{202,224}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>shamanyingxiong0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,244},{200,224}}</string>
                <key>offset</key>
                <string>{6,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{386,167},{200,224}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>shamanyingxiong0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,244},{200,224}}</string>
                <key>offset</key>
                <string>{6,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{386,159},{200,224}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>shamanyingxiong0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,244},{200,224}}</string>
                <key>offset</key>
                <string>{6,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{386,159},{200,224}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>shamanyingxiong0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,244},{200,224}}</string>
                <key>offset</key>
                <string>{6,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{386,153},{200,224}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>shamanyingxiong0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,244},{200,224}}</string>
                <key>offset</key>
                <string>{6,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{386,153},{200,224}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>shamanyingxiong0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,244},{200,224}}</string>
                <key>offset</key>
                <string>{6,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{386,153},{200,224}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>shamanyingxiong0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,244},{200,224}}</string>
                <key>offset</key>
                <string>{6,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{386,151},{200,224}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>shamanyingxiong0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,244},{200,224}}</string>
                <key>offset</key>
                <string>{6,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{386,151},{200,224}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>shamanyingxiong0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,244},{200,224}}</string>
                <key>offset</key>
                <string>{6,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{386,151},{200,224}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>shamanyingxiong0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,242},{198,226}}</string>
                <key>offset</key>
                <string>{6,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{387,141},{198,226}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>shamanyingxiong0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{160,258}}</string>
                <key>offset</key>
                <string>{7,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{407,126},{160,258}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>shamanyingxiong0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{160,258}}</string>
                <key>offset</key>
                <string>{7,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{407,126},{160,258}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>shamanyingxiong0048.png</key>
            <dict>
                <key>frame</key>
                <string>{{1108,0},{134,184}}</string>
                <key>offset</key>
                <string>{3,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{416,244},{134,184}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>shamanyingxiong0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{1108,0},{134,184}}</string>
                <key>offset</key>
                <string>{3,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{416,244},{134,184}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>shamanyingxiong0050.png</key>
            <dict>
                <key>frame</key>
                <string>{{1108,0},{134,184}}</string>
                <key>offset</key>
                <string>{3,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{416,244},{134,184}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>shamanyingxiong0051.png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,302},{132,176}}</string>
                <key>offset</key>
                <string>{4,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{418,252},{132,176}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>shamanyingxiong0052.png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,302},{132,176}}</string>
                <key>offset</key>
                <string>{4,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{418,252},{132,176}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>shamanyingxiong0053.png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,302},{132,176}}</string>
                <key>offset</key>
                <string>{4,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{418,252},{132,176}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>shamanyingxiong0054.png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,302},{132,176}}</string>
                <key>offset</key>
                <string>{4,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{418,252},{132,176}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>shamanyingxiong0055.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,244},{142,200}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{408,227},{142,200}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>shamanyingxiong0056.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,244},{142,200}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{408,227},{142,200}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>shamanyingxiong0057.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,244},{142,200}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{408,227},{142,200}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>shamanyingxiong0058.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,240},{166,226}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{398,202},{166,226}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>shamanyingxiong0059.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,240},{166,226}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{398,202},{166,226}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>shamanyingxiong0060.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,240},{166,226}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{398,202},{166,226}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skin_1039.png</string>
            <key>size</key>
            <string>{1306,468}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:881982582e8c96d59062fd780b1431dd:a1fea960c3c329e66935e4c697ac3a6e:713186c4ed65708dccbd7906a2707acb$</string>
            <key>textureFileName</key>
            <string>skin_1039.png</string>
        </dict>
    </dict>
</plist>
