<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1011 (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{1792,1086},{236,230}}</string>
                <key>offset</key>
                <string>{-36,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{326,199},{236,230}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1011 (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1676},{240,230}}</string>
                <key>offset</key>
                <string>{-38,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{322,199},{240,230}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1011 (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{1340,1628},{240,228}}</string>
                <key>offset</key>
                <string>{-40,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{320,201},{240,228}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1011 (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{1580,1628},{230,216}}</string>
                <key>offset</key>
                <string>{-38,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{327,213},{230,216}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1011 (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{1796,1546},{224,216}}</string>
                <key>offset</key>
                <string>{-35,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{333,213},{224,216}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1011 (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{1736,1322},{230,224}}</string>
                <key>offset</key>
                <string>{-36,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{329,205},{230,224}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10110001.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,692},{500,218}}</string>
                <key>offset</key>
                <string>{207,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{437,212},{500,218}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10110002.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,692},{500,218}}</string>
                <key>offset</key>
                <string>{207,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{437,212},{500,218}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10110003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1264,194},{498,218}}</string>
                <key>offset</key>
                <string>{207,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{438,212},{498,218}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10110004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1264,412},{456,154}}</string>
                <key>offset</key>
                <string>{228,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{480,254},{456,154}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10110005.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,1592},{458,154}}</string>
                <key>offset</key>
                <string>{142,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{393,286},{458,154}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10110006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{702,312}}</string>
                <key>offset</key>
                <string>{72,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,122},{702,312}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10110007.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,430},{520,262}}</string>
                <key>offset</key>
                <string>{-20,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,172},{520,262}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10110008.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,430},{520,262}}</string>
                <key>offset</key>
                <string>{-20,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,172},{520,262}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10110009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1336,1410},{392,218}}</string>
                <key>offset</key>
                <string>{-38,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,207},{392,218}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10110010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1344,1192},{392,218}}</string>
                <key>offset</key>
                <string>{24,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{308,214},{392,218}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10110011.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,1328},{462,264}}</string>
                <key>offset</key>
                <string>{87,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{336,165},{462,264}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10110012.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,1328},{462,264}}</string>
                <key>offset</key>
                <string>{87,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{336,165},{462,264}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10110013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1080,910},{414,264}}</string>
                <key>offset</key>
                <string>{101,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{374,165},{414,264}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10110014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1580,778},{414,212}}</string>
                <key>offset</key>
                <string>{101,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{374,216},{414,212}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10110015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1200,566},{414,212}}</string>
                <key>offset</key>
                <string>{139,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{412,207},{414,212}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10110016.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,1640},{398,232}}</string>
                <key>offset</key>
                <string>{121,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{402,197},{398,232}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10110017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1344,778},{414,236}}</string>
                <key>offset</key>
                <string>{152,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{425,223},{414,236}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10110018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1344,778},{414,236}}</string>
                <key>offset</key>
                <string>{152,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{425,223},{414,236}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10110019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1720,426},{352,238}}</string>
                <key>offset</key>
                <string>{172,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{476,224},{352,238}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10110020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1098,1324},{352,238}}</string>
                <key>offset</key>
                <string>{106,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{410,199},{352,238}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10110021.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,192},{562,238}}</string>
                <key>offset</key>
                <string>{13,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,197},{562,238}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10110022.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,0},{720,192}}</string>
                <key>offset</key>
                <string>{67,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,237},{720,192}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10110023.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,312},{720,214}}</string>
                <key>offset</key>
                <string>{67,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,215},{720,214}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10110024.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1032},{644,214}}</string>
                <key>offset</key>
                <string>{29,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,215},{644,214}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10110025.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1032},{644,214}}</string>
                <key>offset</key>
                <string>{29,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,215},{644,214}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10110026.png</key>
            <dict>
                <key>frame</key>
                <string>{{1422,0},{592,194}}</string>
                <key>offset</key>
                <string>{7,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,235},{592,194}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10110027.png</key>
            <dict>
                <key>frame</key>
                <string>{{1422,0},{592,194}}</string>
                <key>offset</key>
                <string>{7,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,235},{592,194}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10110028.png</key>
            <dict>
                <key>frame</key>
                <string>{{1792,778},{308,226}}</string>
                <key>offset</key>
                <string>{38,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{364,213},{308,226}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10110029.png</key>
            <dict>
                <key>frame</key>
                <string>{{1792,778},{308,226}}</string>
                <key>offset</key>
                <string>{38,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{364,213},{308,226}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10110030.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,770},{430,432}}</string>
                <key>offset</key>
                <string>{48,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{313,11},{430,432}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10110031.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,770},{430,432}}</string>
                <key>offset</key>
                <string>{48,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{313,11},{430,432}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10110032.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,312},{466,458}}</string>
                <key>offset</key>
                <string>{22,91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{269,0},{466,458}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10110033.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,312},{466,458}}</string>
                <key>offset</key>
                <string>{22,91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{269,0},{466,458}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10110034.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,910},{418,436}}</string>
                <key>offset</key>
                <string>{14,94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{285,8},{418,436}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10110035.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,910},{418,436}}</string>
                <key>offset</key>
                <string>{14,94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{285,8},{418,436}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10110036.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,1202},{422,438}}</string>
                <key>offset</key>
                <string>{9,83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{278,18},{422,438}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10110037.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,1202},{422,438}}</string>
                <key>offset</key>
                <string>{9,83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{278,18},{422,438}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10110038.png</key>
            <dict>
                <key>frame</key>
                <string>{{1762,194},{232,242}}</string>
                <key>offset</key>
                <string>{30,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{394,186},{232,242}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10110039.png</key>
            <dict>
                <key>frame</key>
                <string>{{1762,194},{232,242}}</string>
                <key>offset</key>
                <string>{30,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{394,186},{232,242}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10110040.png</key>
            <dict>
                <key>frame</key>
                <string>{{1762,194},{232,242}}</string>
                <key>offset</key>
                <string>{30,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{394,186},{232,242}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10110041.png</key>
            <dict>
                <key>frame</key>
                <string>{{1762,194},{232,242}}</string>
                <key>offset</key>
                <string>{30,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{394,186},{232,242}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10110042.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,1746},{156,224}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{399,203},{156,224}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10110043.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,1746},{156,224}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{399,203},{156,224}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10110044.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,1746},{156,224}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{399,203},{156,224}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10110045.png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,1676},{178,246}}</string>
                <key>offset</key>
                <string>{-4,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{387,180},{178,246}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10110046.png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,1676},{178,246}}</string>
                <key>offset</key>
                <string>{-4,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{387,180},{178,246}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10110047.png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,1676},{178,246}}</string>
                <key>offset</key>
                <string>{-4,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{387,180},{178,246}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skin_1011.png</string>
            <key>size</key>
            <string>{2027,1917}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5cae8b93b09644f7aa1b34261520c827:2c8e9ea80aac8d616915e4d2d3f08a9a:a24d67e2075576b29ee531d8ca5de73a$</string>
            <key>textureFileName</key>
            <string>skin_1011.png</string>
        </dict>
    </dict>
</plist>
