<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1006 (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{1706,536},{130,192}}</string>
                <key>offset</key>
                <string>{7,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{422,238},{130,192}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1006 (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{1386,182},{122,198}}</string>
                <key>offset</key>
                <string>{11,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{430,232},{122,198}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1006 (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{1508,298},{116,204}}</string>
                <key>offset</key>
                <string>{14,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{436,226},{116,204}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1006 (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{1586,414},{120,202}}</string>
                <key>offset</key>
                <string>{16,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{436,228},{120,202}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1006 (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{1394,414},{122,192}}</string>
                <key>offset</key>
                <string>{17,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{436,238},{122,192}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1006 (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{1700,728},{120,200}}</string>
                <key>offset</key>
                <string>{16,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{436,230},{120,200}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1006 (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{1508,182},{116,204}}</string>
                <key>offset</key>
                <string>{14,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{436,226},{116,204}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1006 (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{1394,536},{128,202}}</string>
                <key>offset</key>
                <string>{8,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{424,228},{128,202}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1006 (9).png</key>
            <dict>
                <key>frame</key>
                <string>{{1712,344},{130,192}}</string>
                <key>offset</key>
                <string>{7,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{422,238},{130,192}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10060001.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,850},{144,146}}</string>
                <key>offset</key>
                <string>{16,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{424,284},{144,146}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10060002.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,850},{144,146}}</string>
                <key>offset</key>
                <string>{16,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{424,284},{144,146}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10060003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1270,752},{218,220}}</string>
                <key>offset</key>
                <string>{14,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{385,223},{218,220}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10060004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1270,752},{218,220}}</string>
                <key>offset</key>
                <string>{14,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{385,223},{218,220}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10060005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,776},{226,186}}</string>
                <key>offset</key>
                <string>{3,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{370,244},{226,186}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10060006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,776},{226,186}}</string>
                <key>offset</key>
                <string>{3,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{370,244},{226,186}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10060007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1488,770},{194,160}}</string>
                <key>offset</key>
                <string>{-3,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{380,270},{194,160}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10060008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1488,770},{194,160}}</string>
                <key>offset</key>
                <string>{-3,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{380,270},{194,160}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10060009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1522,616},{154,178}}</string>
                <key>offset</key>
                <string>{17,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{420,252},{154,178}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10060010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1522,616},{154,178}}</string>
                <key>offset</key>
                <string>{17,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{420,252},{154,178}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10060011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,850},{150,160}}</string>
                <key>offset</key>
                <string>{19,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{424,270},{150,160}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10060012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,850},{150,160}}</string>
                <key>offset</key>
                <string>{19,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{424,270},{150,160}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10060013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1712,182},{162,136}}</string>
                <key>offset</key>
                <string>{17,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{416,293},{162,136}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10060014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1712,182},{162,136}}</string>
                <key>offset</key>
                <string>{17,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{416,293},{162,136}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10060015.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,832},{248,170}}</string>
                <key>offset</key>
                <string>{53,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{409,259},{248,170}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10060016.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,832},{248,170}}</string>
                <key>offset</key>
                <string>{53,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{409,259},{248,170}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10060017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1488,0},{314,182}}</string>
                <key>offset</key>
                <string>{87,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{410,247},{314,182}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10060018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1488,0},{314,182}}</string>
                <key>offset</key>
                <string>{87,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{410,247},{314,182}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10060019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1202,0},{362,184}}</string>
                <key>offset</key>
                <string>{90,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{389,245},{362,184}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10060020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1202,0},{362,184}}</string>
                <key>offset</key>
                <string>{90,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{389,245},{362,184}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10060021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,0},{380,202}}</string>
                <key>offset</key>
                <string>{95,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{385,227},{380,202}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10060022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,0},{380,202}}</string>
                <key>offset</key>
                <string>{95,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{385,227},{380,202}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10060023.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,410},{394,212}}</string>
                <key>offset</key>
                <string>{113,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{396,217},{394,212}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10060024.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,410},{394,212}}</string>
                <key>offset</key>
                <string>{113,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{396,217},{394,212}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10060025.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,0},{394,208}}</string>
                <key>offset</key>
                <string>{118,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{401,221},{394,208}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10060026.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,0},{394,208}}</string>
                <key>offset</key>
                <string>{118,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{401,221},{394,208}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10060027.png</key>
            <dict>
                <key>frame</key>
                <string>{{1192,380},{372,202}}</string>
                <key>offset</key>
                <string>{107,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{401,227},{372,202}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10060028.png</key>
            <dict>
                <key>frame</key>
                <string>{{1192,380},{372,202}}</string>
                <key>offset</key>
                <string>{107,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{401,227},{372,202}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10060029.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,394},{382,200}}</string>
                <key>offset</key>
                <string>{111,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{400,229},{382,200}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10060030.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,394},{382,200}}</string>
                <key>offset</key>
                <string>{111,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{400,229},{382,200}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10060031.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,0},{410,206}}</string>
                <key>offset</key>
                <string>{118,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{393,223},{410,206}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10060032.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,0},{410,206}}</string>
                <key>offset</key>
                <string>{118,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{393,223},{410,206}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10060033.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,430},{420,208}}</string>
                <key>offset</key>
                <string>{116,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{386,221},{420,208}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10060034.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,430},{420,208}}</string>
                <key>offset</key>
                <string>{116,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{386,221},{420,208}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10060035.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{430,202}}</string>
                <key>offset</key>
                <string>{113,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{378,227},{430,202}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10060036.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{430,202}}</string>
                <key>offset</key>
                <string>{113,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{378,227},{430,202}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10060037.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,416},{416,192}}</string>
                <key>offset</key>
                <string>{134,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{406,237},{416,192}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10060038.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,0},{416,192}}</string>
                <key>offset</key>
                <string>{134,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{406,237},{416,192}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10060039.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,416},{416,192}}</string>
                <key>offset</key>
                <string>{137,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{409,237},{416,192}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10060040.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,0},{416,192}}</string>
                <key>offset</key>
                <string>{137,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{409,237},{416,192}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10060041.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,814},{404,188}}</string>
                <key>offset</key>
                <string>{132,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{410,241},{404,188}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10060042.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,410},{404,188}}</string>
                <key>offset</key>
                <string>{132,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{410,241},{404,188}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10060043.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,832},{170,128}}</string>
                <key>offset</key>
                <string>{15,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{410,301},{170,128}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10060044.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,832},{170,128}}</string>
                <key>offset</key>
                <string>{15,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{410,301},{170,128}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skin_1006.png</string>
            <key>size</key>
            <string>{1848,1002}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:482ee635fcbf70f841f67a0f5fb595aa:caf67d8c0995f90397884fb9fc506e6b:3e4cd979924ca80a270bd9cf409a5f41$</string>
            <key>textureFileName</key>
            <string>skin_1006.png</string>
        </dict>
    </dict>
</plist>
