<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1015zs0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1036,1686},{186,218}}</string>
                <key>offset</key>
                <string>{-16,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{371,213},{186,218}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015zs0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1036,1686},{186,218}}</string>
                <key>offset</key>
                <string>{-16,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{371,213},{186,218}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015zs0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1036,1686},{186,218}}</string>
                <key>offset</key>
                <string>{-16,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{371,213},{186,218}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015zs0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1366,1290},{198,230}}</string>
                <key>offset</key>
                <string>{-22,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{359,203},{198,230}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015zs0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1366,1290},{198,230}}</string>
                <key>offset</key>
                <string>{-22,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{359,203},{198,230}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015zs0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1366,1290},{198,230}}</string>
                <key>offset</key>
                <string>{-22,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{359,203},{198,230}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015zs0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1408,0},{172,238}}</string>
                <key>offset</key>
                <string>{-4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{390,193},{172,238}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015zs0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1408,0},{172,238}}</string>
                <key>offset</key>
                <string>{-4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{390,193},{172,238}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015zs0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1220},{582,234}}</string>
                <key>offset</key>
                <string>{19,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,202},{582,234}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015zs0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1220},{582,234}}</string>
                <key>offset</key>
                <string>{19,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,202},{582,234}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015zs0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,234},{582,232}}</string>
                <key>offset</key>
                <string>{19,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,201},{582,232}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015zs0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,234},{582,232}}</string>
                <key>offset</key>
                <string>{19,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,201},{582,232}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015zs0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,934},{558,234}}</string>
                <key>offset</key>
                <string>{25,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,197},{558,234}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015zs0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,934},{558,234}}</string>
                <key>offset</key>
                <string>{25,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,197},{558,234}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015zs0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,986},{582,234}}</string>
                <key>offset</key>
                <string>{19,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,199},{582,234}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015zs0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,986},{582,234}}</string>
                <key>offset</key>
                <string>{19,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,199},{582,234}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015zs0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,752},{582,234}}</string>
                <key>offset</key>
                <string>{19,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,202},{582,234}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015zs0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,752},{582,234}}</string>
                <key>offset</key>
                <string>{19,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,202},{582,234}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015zs0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,1168},{558,232}}</string>
                <key>offset</key>
                <string>{25,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,201},{558,232}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015zs0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,1168},{558,232}}</string>
                <key>offset</key>
                <string>{25,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,201},{558,232}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015zs0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,518},{582,234}}</string>
                <key>offset</key>
                <string>{19,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,197},{582,234}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015zs0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,518},{582,234}}</string>
                <key>offset</key>
                <string>{19,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,197},{582,234}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015zs0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,0},{582,234}}</string>
                <key>offset</key>
                <string>{19,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,199},{582,234}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015zs0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,0},{582,234}}</string>
                <key>offset</key>
                <string>{19,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,199},{582,234}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015zs0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,700},{558,234}}</string>
                <key>offset</key>
                <string>{25,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,202},{558,234}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015zs0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,700},{558,234}}</string>
                <key>offset</key>
                <string>{25,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,202},{558,234}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015zs0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1454},{582,232}}</string>
                <key>offset</key>
                <string>{19,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,201},{582,232}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015zs0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1454},{582,232}}</string>
                <key>offset</key>
                <string>{19,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,201},{582,232}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015zs0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,284},{582,234}}</string>
                <key>offset</key>
                <string>{19,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,197},{582,234}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015zs0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,284},{582,234}}</string>
                <key>offset</key>
                <string>{19,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,197},{582,234}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015zs0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,466},{558,234}}</string>
                <key>offset</key>
                <string>{25,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,199},{558,234}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015zs0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,466},{558,234}}</string>
                <key>offset</key>
                <string>{25,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,199},{558,234}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015zs0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{588,284}}</string>
                <key>offset</key>
                <string>{18,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,151},{588,284}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015zs0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{588,284}}</string>
                <key>offset</key>
                <string>{18,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,151},{588,284}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015zs0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1686},{592,210}}</string>
                <key>offset</key>
                <string>{74,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{258,220},{592,210}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015zs0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1686},{592,210}}</string>
                <key>offset</key>
                <string>{74,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{258,220},{592,210}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015zs0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,494},{494,238}}</string>
                <key>offset</key>
                <string>{146,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{379,198},{494,238}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015zs0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,494},{494,238}}</string>
                <key>offset</key>
                <string>{146,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{379,198},{494,238}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015zs0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{1170,0},{494,238}}</string>
                <key>offset</key>
                <string>{146,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{379,198},{494,238}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015zs0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,1400},{502,240}}</string>
                <key>offset</key>
                <string>{142,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{371,198},{502,240}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015zs0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,1260},{228,226}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{370,212},{228,226}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015zs0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,1260},{228,226}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{370,212},{228,226}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015zs0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,1260},{228,226}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{370,212},{228,226}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015zs0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,1260},{228,226}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{370,212},{228,226}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015zs0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,1260},{228,226}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{370,212},{228,226}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015zs0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,1260},{228,226}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{370,212},{228,226}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015zs0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,1260},{228,226}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{370,212},{228,226}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015zs0048.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,1260},{228,226}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{370,212},{228,226}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015zs0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{1324,1520},{230,222}}</string>
                <key>offset</key>
                <string>{30,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{395,216},{230,222}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015zs0050.png</key>
            <dict>
                <key>frame</key>
                <string>{{1324,1520},{230,222}}</string>
                <key>offset</key>
                <string>{30,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{395,216},{230,222}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015zs0051.png</key>
            <dict>
                <key>frame</key>
                <string>{{1324,1520},{230,222}}</string>
                <key>offset</key>
                <string>{30,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{395,216},{230,222}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015zs0052.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,1488},{198,240}}</string>
                <key>offset</key>
                <string>{29,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{410,200},{198,240}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015zs0053.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,1488},{198,240}}</string>
                <key>offset</key>
                <string>{29,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{410,200},{198,240}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015zs0054.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,1488},{198,240}}</string>
                <key>offset</key>
                <string>{29,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{410,200},{198,240}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015zs0055.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,988},{226,272}}</string>
                <key>offset</key>
                <string>{33,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{400,165},{226,272}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015zs0056.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,988},{226,272}}</string>
                <key>offset</key>
                <string>{33,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{400,165},{226,272}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015zs0057.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,988},{226,272}}</string>
                <key>offset</key>
                <string>{33,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{400,165},{226,272}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015zs0058.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,988},{226,272}}</string>
                <key>offset</key>
                <string>{33,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{400,165},{226,272}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015zs0059.png</key>
            <dict>
                <key>frame</key>
                <string>{{1378,760},{202,256}}</string>
                <key>offset</key>
                <string>{14,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{393,175},{202,256}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015zs0060.png</key>
            <dict>
                <key>frame</key>
                <string>{{1378,760},{202,256}}</string>
                <key>offset</key>
                <string>{14,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{393,175},{202,256}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015zs0061.png</key>
            <dict>
                <key>frame</key>
                <string>{{1378,760},{202,256}}</string>
                <key>offset</key>
                <string>{14,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{393,175},{202,256}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015zs0062.png</key>
            <dict>
                <key>frame</key>
                <string>{{1378,760},{202,256}}</string>
                <key>offset</key>
                <string>{14,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{393,175},{202,256}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015zs0063.png</key>
            <dict>
                <key>frame</key>
                <string>{{1378,760},{202,256}}</string>
                <key>offset</key>
                <string>{14,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{393,175},{202,256}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015zs0064.png</key>
            <dict>
                <key>frame</key>
                <string>{{1366,1016},{214,274}}</string>
                <key>offset</key>
                <string>{20,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{393,157},{214,274}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015zs0065.png</key>
            <dict>
                <key>frame</key>
                <string>{{1366,1016},{214,274}}</string>
                <key>offset</key>
                <string>{20,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{393,157},{214,274}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015zs0066.png</key>
            <dict>
                <key>frame</key>
                <string>{{1366,1016},{214,274}}</string>
                <key>offset</key>
                <string>{20,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{393,157},{214,274}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015zs0067.png</key>
            <dict>
                <key>frame</key>
                <string>{{1366,1016},{214,274}}</string>
                <key>offset</key>
                <string>{20,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{393,157},{214,274}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015zs0068.png</key>
            <dict>
                <key>frame</key>
                <string>{{1366,1016},{214,274}}</string>
                <key>offset</key>
                <string>{20,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{393,157},{214,274}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015zs0069.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,1640},{228,256}}</string>
                <key>offset</key>
                <string>{31,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{397,175},{228,256}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015zs0070.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,1640},{228,256}}</string>
                <key>offset</key>
                <string>{31,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{397,175},{228,256}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015zs0071.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,1640},{228,256}}</string>
                <key>offset</key>
                <string>{31,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{397,175},{228,256}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015zs0072.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,1640},{228,256}}</string>
                <key>offset</key>
                <string>{31,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{397,175},{228,256}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015zs0073.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,1640},{228,256}}</string>
                <key>offset</key>
                <string>{31,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{397,175},{228,256}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015zs0074.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,1640},{216,248}}</string>
                <key>offset</key>
                <string>{19,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{391,183},{216,248}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015zs0075.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,1640},{216,248}}</string>
                <key>offset</key>
                <string>{19,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{391,183},{216,248}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015zs0076.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,1640},{216,248}}</string>
                <key>offset</key>
                <string>{19,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{391,183},{216,248}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015zs0077.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,1640},{216,248}}</string>
                <key>offset</key>
                <string>{19,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{391,183},{216,248}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015zs0078.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,1640},{216,248}}</string>
                <key>offset</key>
                <string>{19,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{391,183},{216,248}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015zs0079.png</key>
            <dict>
                <key>frame</key>
                <string>{{1378,494},{202,266}}</string>
                <key>offset</key>
                <string>{13,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{392,165},{202,266}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015zs0080.png</key>
            <dict>
                <key>frame</key>
                <string>{{1378,494},{202,266}}</string>
                <key>offset</key>
                <string>{13,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{392,165},{202,266}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015zs0081.png</key>
            <dict>
                <key>frame</key>
                <string>{{1378,494},{202,266}}</string>
                <key>offset</key>
                <string>{13,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{392,165},{202,266}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015zs0082.png</key>
            <dict>
                <key>frame</key>
                <string>{{1378,494},{202,266}}</string>
                <key>offset</key>
                <string>{13,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{392,165},{202,266}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015zs0083.png</key>
            <dict>
                <key>frame</key>
                <string>{{1378,494},{202,266}}</string>
                <key>offset</key>
                <string>{13,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{392,165},{202,266}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skin_1015A.png</string>
            <key>size</key>
            <string>{1580,1897}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9c551d321cabc3de59d4ddc849fa0afc:a6b34eef6eed610a6076add1b0001ffc:2b37037c5eaea6d02dfecbd7e3f4cabd$</string>
            <key>textureFileName</key>
            <string>skin_1015A.png</string>
        </dict>
    </dict>
</plist>
