<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1012A0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,459},{174,178}}</string>
                <key>offset</key>
                <string>{-12,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{381,228},{174,178}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1012A0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,459},{174,178}}</string>
                <key>offset</key>
                <string>{-12,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{381,228},{174,178}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1012A0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,459},{174,178}}</string>
                <key>offset</key>
                <string>{-12,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{381,228},{174,178}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1012A0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,459},{174,178}}</string>
                <key>offset</key>
                <string>{-12,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{381,228},{174,178}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1012A0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1077,459},{166,172}}</string>
                <key>offset</key>
                <string>{-16,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{381,233},{166,172}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1012A0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1077,459},{166,172}}</string>
                <key>offset</key>
                <string>{-16,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{381,233},{166,172}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1012A0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1077,459},{166,172}}</string>
                <key>offset</key>
                <string>{-16,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{381,233},{166,172}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1012A0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1077,459},{166,172}}</string>
                <key>offset</key>
                <string>{-16,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{381,233},{166,172}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1012A0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,623},{158,164}}</string>
                <key>offset</key>
                <string>{-8,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{393,243},{158,164}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1012A0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,623},{158,164}}</string>
                <key>offset</key>
                <string>{-8,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{393,243},{158,164}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1012A0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,623},{158,164}}</string>
                <key>offset</key>
                <string>{-8,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{393,243},{158,164}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1012A0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,627},{154,174}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{413,233},{154,174}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1012A0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,627},{154,174}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{413,233},{154,174}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1012A0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,1},{384,204}}</string>
                <key>offset</key>
                <string>{84,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{372,203},{384,204}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1012A0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,1},{384,204}}</string>
                <key>offset</key>
                <string>{84,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{372,203},{384,204}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1012A0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,431},{364,210}}</string>
                <key>offset</key>
                <string>{99,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{397,197},{364,210}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1012A0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,431},{364,210}}</string>
                <key>offset</key>
                <string>{99,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{397,197},{364,210}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1012A0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,643},{344,212}}</string>
                <key>offset</key>
                <string>{110,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{418,195},{344,212}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1012A0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,643},{344,212}}</string>
                <key>offset</key>
                <string>{110,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{418,195},{344,212}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1012A0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,217},{378,212}}</string>
                <key>offset</key>
                <string>{99,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{390,195},{378,212}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1012A0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,217},{378,212}}</string>
                <key>offset</key>
                <string>{99,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{390,195},{378,212}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1012A0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{380,214}}</string>
                <key>offset</key>
                <string>{101,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{391,193},{380,214}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1012A0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{380,214}}</string>
                <key>offset</key>
                <string>{101,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{391,193},{380,214}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1012A0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,627},{126,174}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{432,233},{126,174}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1012A0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,207},{210,268}}</string>
                <key>offset</key>
                <string>{-27,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{348,138},{210,268}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1012A0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,207},{210,268}}</string>
                <key>offset</key>
                <string>{-27,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{348,138},{210,268}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1012A0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{1067,1},{180,276}}</string>
                <key>offset</key>
                <string>{-26,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{364,130},{180,276}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1012A0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{1067,1},{180,276}}</string>
                <key>offset</key>
                <string>{-26,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{364,130},{180,276}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1012A0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{1067,1},{180,276}}</string>
                <key>offset</key>
                <string>{-26,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{364,130},{180,276}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1012A0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,1},{204,296}}</string>
                <key>offset</key>
                <string>{-26,62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{352,110},{204,296}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1012A0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,1},{204,296}}</string>
                <key>offset</key>
                <string>{-26,62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{352,110},{204,296}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1012A0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,207},{210,296}}</string>
                <key>offset</key>
                <string>{-39,62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{336,110},{210,296}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1012A0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,419},{206,260}}</string>
                <key>offset</key>
                <string>{-11,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{366,146},{206,260}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1012A0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,419},{206,260}}</string>
                <key>offset</key>
                <string>{-11,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{366,146},{206,260}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1012A0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,419},{202,252}}</string>
                <key>offset</key>
                <string>{-15,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{364,154},{202,252}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1012A0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,279},{178,280}}</string>
                <key>offset</key>
                <string>{-16,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{375,126},{178,280}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1012A0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,279},{178,280}}</string>
                <key>offset</key>
                <string>{-16,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{375,126},{178,280}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1012A0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,857},{126,280}}</string>
                <key>offset</key>
                <string>{2,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{419,126},{126,280}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1012A0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,643},{94,204}}</string>
                <key>offset</key>
                <string>{4,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{437,202},{94,204}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1012A0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,643},{94,204}}</string>
                <key>offset</key>
                <string>{4,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{437,202},{94,204}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1012A0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,643},{94,204}}</string>
                <key>offset</key>
                <string>{4,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{437,202},{94,204}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1012A0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,803},{96,198}}</string>
                <key>offset</key>
                <string>{8,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{440,208},{96,198}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1012A0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,803},{96,198}}</string>
                <key>offset</key>
                <string>{8,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{440,208},{96,198}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1012Adj0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,635},{122,192}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{419,214},{122,192}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1012Adj0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1081,627},{122,192}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{418,214},{122,192}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1012Adj0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,759},{122,192}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{418,214},{122,192}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1012Adj0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,803},{120,192}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{420,214},{120,192}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1012Adj0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,883},{120,190}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{420,216},{120,190}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1012Adj0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1011,883},{120,190}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{420,216},{120,190}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1012Adj0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,803},{120,192}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{420,214},{120,192}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1012Adj0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,883},{122,192}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{419,214},{122,192}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1012Apifu.png</string>
            <key>size</key>
            <string>{1250,1006}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1f7e008f811baf9cb9294ea98dd87e6a:1a945ceb39739e63737312f259c11bd1:1ea3d6cd92a16f9b2a1890f087e3575b$</string>
            <key>textureFileName</key>
            <string>skin_1012A.png</string>
        </dict>
    </dict>
</plist>
