<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1015Bdaiji0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,1756},{208,290}}</string>
                <key>offset</key>
                <string>{35,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{411,135},{208,290}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015Bdaiji0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,1782},{228,272}}</string>
                <key>offset</key>
                <string>{43,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{409,153},{228,272}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015Bdaiji0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1806},{210,262}}</string>
                <key>offset</key>
                <string>{34,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{409,163},{210,262}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015Bdaiji0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1238,194},{194,282}}</string>
                <key>offset</key>
                <string>{29,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{412,143},{194,282}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015Bzhanshi0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1234,1290},{190,204}}</string>
                <key>offset</key>
                <string>{-19,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{366,217},{190,204}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015Bzhanshi0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1234,1290},{190,204}}</string>
                <key>offset</key>
                <string>{-19,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{366,217},{190,204}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015Bzhanshi0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1234,1290},{190,204}}</string>
                <key>offset</key>
                <string>{-19,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{366,217},{190,204}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015Bzhanshi0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,1800},{200,190}}</string>
                <key>offset</key>
                <string>{-24,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{356,231},{200,190}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015Bzhanshi0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,1800},{200,190}}</string>
                <key>offset</key>
                <string>{-24,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{356,231},{200,190}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015Bzhanshi0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,1800},{200,190}}</string>
                <key>offset</key>
                <string>{-24,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{356,231},{200,190}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015Bzhanshi0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1268,1744},{176,220}}</string>
                <key>offset</key>
                <string>{-8,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{384,200},{176,220}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015Bzhanshi0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1268,1744},{176,220}}</string>
                <key>offset</key>
                <string>{-8,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{384,200},{176,220}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015Bzhanshi0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,506},{518,262}}</string>
                <key>offset</key>
                <string>{15,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,158},{518,262}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015Bzhanshi0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,506},{518,262}}</string>
                <key>offset</key>
                <string>{15,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,158},{518,262}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015Bzhanshi0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,240},{518,268}}</string>
                <key>offset</key>
                <string>{15,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,149},{518,268}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015Bzhanshi0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,240},{518,268}}</string>
                <key>offset</key>
                <string>{15,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,149},{518,268}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015Bzhanshi0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,1024},{498,266}}</string>
                <key>offset</key>
                <string>{22,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,151},{498,266}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015Bzhanshi0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,1024},{498,266}}</string>
                <key>offset</key>
                <string>{22,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,151},{498,266}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015Bzhanshi0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,774},{518,266}}</string>
                <key>offset</key>
                <string>{15,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,153},{518,266}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015Bzhanshi0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,774},{518,266}}</string>
                <key>offset</key>
                <string>{15,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,153},{518,266}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015Bzhanshi0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,1538},{518,262}}</string>
                <key>offset</key>
                <string>{15,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,158},{518,262}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015Bzhanshi0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,1538},{518,262}}</string>
                <key>offset</key>
                <string>{15,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,158},{518,262}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015Bzhanshi0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,1040},{498,268}}</string>
                <key>offset</key>
                <string>{22,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{253,149},{498,268}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015Bzhanshi0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,1040},{498,268}}</string>
                <key>offset</key>
                <string>{22,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{253,149},{498,268}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015Bzhanshi0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,240},{518,266}}</string>
                <key>offset</key>
                <string>{15,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,151},{518,266}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015Bzhanshi0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,240},{518,266}}</string>
                <key>offset</key>
                <string>{15,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,151},{518,266}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015Bzhanshi0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,508},{518,266}}</string>
                <key>offset</key>
                <string>{15,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,153},{518,266}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015Bzhanshi0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,508},{518,266}}</string>
                <key>offset</key>
                <string>{15,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,153},{518,266}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015Bzhanshi0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{1048,506},{498,262}}</string>
                <key>offset</key>
                <string>{22,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{253,158},{498,262}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015Bzhanshi0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{1048,506},{498,262}}</string>
                <key>offset</key>
                <string>{22,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{253,158},{498,262}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015Bzhanshi0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,524},{518,268}}</string>
                <key>offset</key>
                <string>{15,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,149},{518,268}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015Bzhanshi0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,524},{518,268}}</string>
                <key>offset</key>
                <string>{15,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,149},{518,268}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015Bzhanshi0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1042},{518,266}}</string>
                <key>offset</key>
                <string>{15,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,151},{518,266}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015Bzhanshi0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1042},{518,266}}</string>
                <key>offset</key>
                <string>{15,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,151},{518,266}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015Bzhanshi0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1308},{498,266}}</string>
                <key>offset</key>
                <string>{22,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{253,153},{498,266}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015Bzhanshi0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1308},{498,266}}</string>
                <key>offset</key>
                <string>{22,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{253,153},{498,266}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015Bzhanshi0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,0},{522,240}}</string>
                <key>offset</key>
                <string>{14,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,179},{522,240}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015Bzhanshi0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,0},{522,240}}</string>
                <key>offset</key>
                <string>{14,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,179},{522,240}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015Bzhanshi0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{524,202}}</string>
                <key>offset</key>
                <string>{65,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{283,217},{524,202}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015Bzhanshi0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{524,202}}</string>
                <key>offset</key>
                <string>{65,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{283,217},{524,202}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015Bzhanshi0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,1290},{448,212}}</string>
                <key>offset</key>
                <string>{124,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{380,206},{448,212}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015Bzhanshi0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,1290},{448,212}}</string>
                <key>offset</key>
                <string>{124,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{380,206},{448,212}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015Bzhanshi0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,1308},{448,212}}</string>
                <key>offset</key>
                <string>{124,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{380,206},{448,212}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015Bzhanshi0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,0},{460,210}}</string>
                <key>offset</key>
                <string>{118,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{368,207},{460,210}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015Bzhanshi0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,1800},{254,180}}</string>
                <key>offset</key>
                <string>{15,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{368,237},{254,180}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015Bzhanshi0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,1800},{254,180}}</string>
                <key>offset</key>
                <string>{15,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{368,237},{254,180}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015Bzhanshi0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,1800},{254,180}}</string>
                <key>offset</key>
                <string>{15,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{368,237},{254,180}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015Bzhanshi0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,1800},{254,180}}</string>
                <key>offset</key>
                <string>{15,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{368,237},{254,180}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015Bzhanshi0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,1800},{254,180}}</string>
                <key>offset</key>
                <string>{15,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{368,237},{254,180}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015Bzhanshi0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,1800},{254,180}}</string>
                <key>offset</key>
                <string>{15,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{368,237},{254,180}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015Bzhanshi0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,1800},{254,180}}</string>
                <key>offset</key>
                <string>{15,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{368,237},{254,180}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015Bzhanshi0048.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,1800},{254,180}}</string>
                <key>offset</key>
                <string>{15,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{368,237},{254,180}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015Bzhanshi0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{1222,1502},{242,192}}</string>
                <key>offset</key>
                <string>{29,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{388,225},{242,192}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015Bzhanshi0050.png</key>
            <dict>
                <key>frame</key>
                <string>{{1222,1502},{242,192}}</string>
                <key>offset</key>
                <string>{29,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{388,225},{242,192}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015Bzhanshi0051.png</key>
            <dict>
                <key>frame</key>
                <string>{{1222,1502},{242,192}}</string>
                <key>offset</key>
                <string>{29,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{388,225},{242,192}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015Bzhanshi0052.png</key>
            <dict>
                <key>frame</key>
                <string>{{1184,0},{194,242}}</string>
                <key>offset</key>
                <string>{42,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{425,176},{194,242}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015Bzhanshi0053.png</key>
            <dict>
                <key>frame</key>
                <string>{{1184,0},{194,242}}</string>
                <key>offset</key>
                <string>{42,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{425,176},{194,242}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015Bzhanshi0054.png</key>
            <dict>
                <key>frame</key>
                <string>{{1184,0},{194,242}}</string>
                <key>offset</key>
                <string>{42,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{425,176},{194,242}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015Bzhanshi0055.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,1502},{226,280}}</string>
                <key>offset</key>
                <string>{60,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{427,139},{226,280}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015Bzhanshi0056.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,1502},{226,280}}</string>
                <key>offset</key>
                <string>{60,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{427,139},{226,280}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015Bzhanshi0057.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,1502},{226,280}}</string>
                <key>offset</key>
                <string>{60,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{427,139},{226,280}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1015Bzhanshi0058.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,1502},{226,280}}</string>
                <key>offset</key>
                <string>{60,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{427,139},{226,280}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skin_1015B.png</string>
            <key>size</key>
            <string>{1444,2046}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7fdd9b5b3454821035830164394f270f:be4fb2205f4bea67cd33d7fae0fd43f9:f41dfefb303e82f090fdf31f3b26ec50$</string>
            <key>textureFileName</key>
            <string>skin_1015B.png</string>
        </dict>
    </dict>
</plist>
