<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1011A01.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,0},{444,484}}</string>
                <key>offset</key>
                <string>{-8,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,0},{444,484}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1011A02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{450,484}}</string>
                <key>offset</key>
                <string>{-6,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,0},{450,484}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1011A03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,484},{450,482}}</string>
                <key>offset</key>
                <string>{-5,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,0},{450,482}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1011A04.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,0},{426,478}}</string>
                <key>offset</key>
                <string>{-18,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,0},{426,478}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1011A05.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,484},{426,480}}</string>
                <key>offset</key>
                <string>{-18,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,0},{426,480}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1011A06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1320,0},{426,476}}</string>
                <key>offset</key>
                <string>{-18,82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,0},{426,476}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1011A07.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,484},{426,472}}</string>
                <key>offset</key>
                <string>{-18,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,8},{426,472}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1011A08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1746,0},{240,452}}</string>
                <key>offset</key>
                <string>{7,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{367,31},{240,452}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1011A09.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,964},{188,224}}</string>
                <key>offset</key>
                <string>{17,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{403,209},{188,224}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>a0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1770,670},{250,222}}</string>
                <key>offset</key>
                <string>{-9,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{346,207},{250,222}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>a0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1520,476},{248,224}}</string>
                <key>offset</key>
                <string>{-9,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{347,205},{248,224}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>a0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,966},{250,224}}</string>
                <key>offset</key>
                <string>{-11,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{344,205},{250,224}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>a0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1184,956},{248,224}}</string>
                <key>offset</key>
                <string>{-11,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{345,205},{248,224}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>a0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,956},{248,224}}</string>
                <key>offset</key>
                <string>{-12,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{344,205},{248,224}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>a0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,966},{248,224}}</string>
                <key>offset</key>
                <string>{-11,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{345,205},{248,224}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>a0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1302,728},{248,222}}</string>
                <key>offset</key>
                <string>{-11,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{345,207},{248,222}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>a0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1550,724},{248,220}}</string>
                <key>offset</key>
                <string>{-10,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{346,209},{248,220}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>a0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1746,452},{246,218}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{348,211},{246,218}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>a0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1682,972},{248,218}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{347,211},{248,218}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>a0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1302,478},{250,218}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{346,211},{250,218}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>a0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1432,972},{250,220}}</string>
                <key>offset</key>
                <string>{-9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{346,209},{250,220}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>a0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,964},{250,222}}</string>
                <key>offset</key>
                <string>{-9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{346,207},{250,222}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skin_1011A.png</string>
            <key>size</key>
            <string>{1993,1192}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6d13d4bf5e672eacdf3a453cb3478580:14c20e45c1bdb45fd1b9cc11e4772b06:10def45ede2f8e75d7eb94d977a292d6$</string>
            <key>textureFileName</key>
            <string>skin_1011A.png</string>
        </dict>
    </dict>
</plist>
