<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1003 (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{314,1556},{196,292}}</string>
                <key>offset</key>
                <string>{-13,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{369,142},{196,292}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1003 (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{674,1480},{198,292}}</string>
                <key>offset</key>
                <string>{-14,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{367,142},{198,292}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1003 (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{388,1752},{196,290}}</string>
                <key>offset</key>
                <string>{-13,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{369,144},{196,290}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1003 (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{584,1752},{196,282}}</string>
                <key>offset</key>
                <string>{-13,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{369,152},{196,282}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1003 (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{780,940},{198,284}}</string>
                <key>offset</key>
                <string>{-14,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{367,150},{198,284}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1003 (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{194,1752},{194,292}}</string>
                <key>offset</key>
                <string>{-12,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{371,142},{194,292}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1003 (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1752},{194,292}}</string>
                <key>offset</key>
                <string>{-12,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{371,142},{194,292}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10030001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1088},{366,118}}</string>
                <key>offset</key>
                <string>{50,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{347,332},{366,118}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10030002.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,854},{384,124}}</string>
                <key>offset</key>
                <string>{50,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{338,327},{384,124}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10030003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1348},{348,132}}</string>
                <key>offset</key>
                <string>{-72,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,283},{348,132}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10030004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,180},{574,138}}</string>
                <key>offset</key>
                <string>{-9,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,306},{574,138}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10030005.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,578},{512,168}}</string>
                <key>offset</key>
                <string>{-13,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,269},{512,168}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10030006.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,578},{512,168}}</string>
                <key>offset</key>
                <string>{-13,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,269},{512,168}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10030007.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,250},{484,126}}</string>
                <key>offset</key>
                <string>{-6,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,323},{484,126}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10030008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,660},{480,86}}</string>
                <key>offset</key>
                <string>{-7,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,355},{480,86}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10030009.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,0},{436,142}}</string>
                <key>offset</key>
                <string>{148,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{410,298},{436,142}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10030010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,970},{376,118}}</string>
                <key>offset</key>
                <string>{1,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{293,329},{376,118}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10030011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1206},{360,142}}</string>
                <key>offset</key>
                <string>{-11,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{289,298},{360,142}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10030012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1206},{360,142}}</string>
                <key>offset</key>
                <string>{-11,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{289,298},{360,142}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10030013.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,746},{388,108}}</string>
                <key>offset</key>
                <string>{-26,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{260,307},{388,108}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10030014.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,142},{422,108}}</string>
                <key>offset</key>
                <string>{-35,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,310},{422,108}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10030015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,318},{566,146}}</string>
                <key>offset</key>
                <string>{-21,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,295},{566,146}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10030016.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{600,180}}</string>
                <key>offset</key>
                <string>{-59,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,261},{600,180}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10030017.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,746},{396,224}}</string>
                <key>offset</key>
                <string>{41,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{323,218},{396,224}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10030018.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,746},{396,224}}</string>
                <key>offset</key>
                <string>{41,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{323,218},{396,224}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10030019.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,1156},{360,232}}</string>
                <key>offset</key>
                <string>{33,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{333,216},{360,232}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10030020.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,376},{496,202}}</string>
                <key>offset</key>
                <string>{-35,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,244},{496,202}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10030021.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,464},{552,196}}</string>
                <key>offset</key>
                <string>{90,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{294,248},{552,196}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10030022.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,978},{370,178}}</string>
                <key>offset</key>
                <string>{4,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{299,266},{370,178}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10030023.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,1306},{336,174}}</string>
                <key>offset</key>
                <string>{-20,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{292,265},{336,174}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10030024.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,1306},{336,174}}</string>
                <key>offset</key>
                <string>{-20,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{292,265},{336,174}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10030025.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,1388},{326,168}}</string>
                <key>offset</key>
                <string>{-16,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{301,266},{326,168}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10030026.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,1388},{326,168}}</string>
                <key>offset</key>
                <string>{-16,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{301,266},{326,168}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10030027.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1480},{314,168}}</string>
                <key>offset</key>
                <string>{-23,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{300,266},{314,168}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10030028.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,1138},{314,168}}</string>
                <key>offset</key>
                <string>{-23,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{300,266},{314,168}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10030029.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,1138},{314,168}}</string>
                <key>offset</key>
                <string>{-23,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{300,266},{314,168}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10030030.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,1138},{314,168}}</string>
                <key>offset</key>
                <string>{-23,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{300,266},{314,168}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10030031.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,1678},{214,166}}</string>
                <key>offset</key>
                <string>{-9,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{364,266},{214,166}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10030032.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,1678},{214,166}}</string>
                <key>offset</key>
                <string>{-9,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{364,266},{214,166}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10030033.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,1678},{214,166}}</string>
                <key>offset</key>
                <string>{-9,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{364,266},{214,166}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10030034.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,1844},{194,160}}</string>
                <key>offset</key>
                <string>{-5,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{378,272},{194,160}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10030035.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,1844},{194,160}}</string>
                <key>offset</key>
                <string>{-5,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{378,272},{194,160}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10030036.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,1844},{194,160}}</string>
                <key>offset</key>
                <string>{-5,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{378,272},{194,160}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10030037.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,746},{194,236}}</string>
                <key>offset</key>
                <string>{-10,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{373,195},{194,236}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10030038.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,746},{194,236}}</string>
                <key>offset</key>
                <string>{-10,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{373,195},{194,236}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10030039.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,746},{194,236}}</string>
                <key>offset</key>
                <string>{-10,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{373,195},{194,236}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skin_1003.png</string>
            <key>size</key>
            <string>{1064,2044}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a814454aee914a3b71f004e118eed8af:7915298179fa5d0b97da10ec5592ba0f:d60fd13bad9aaaa2f6cf80f8c4624afa$</string>
            <key>textureFileName</key>
            <string>skin_1003.png</string>
        </dict>
    </dict>
</plist>
