<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1005A0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,1826},{202,168}}</string>
                <key>offset</key>
                <string>{12,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{391,268},{202,168}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1005A0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,1826},{202,168}}</string>
                <key>offset</key>
                <string>{12,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{391,268},{202,168}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1005A0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,1568},{166,258}}</string>
                <key>offset</key>
                <string>{21,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{418,182},{166,258}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1005A0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1650,982},{156,282}}</string>
                <key>offset</key>
                <string>{26,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{428,153},{156,282}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1005A0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1440,1232},{156,292}}</string>
                <key>offset</key>
                <string>{26,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{428,132},{156,292}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1005A0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1200,1588},{160,306}}</string>
                <key>offset</key>
                <string>{19,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{419,117},{160,306}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1005A0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1360,1588},{156,314}}</string>
                <key>offset</key>
                <string>{21,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{423,97},{156,314}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1005A0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,1240},{156,348}}</string>
                <key>offset</key>
                <string>{21,83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{423,63},{156,348}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1005A0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1834,702},{186,332}}</string>
                <key>offset</key>
                <string>{40,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{427,69},{186,332}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1005A0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1500,702},{280,334}}</string>
                <key>offset</key>
                <string>{-1,87}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{339,66},{280,334}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1005A0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,1568},{258,346}}</string>
                <key>offset</key>
                <string>{7,117}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{358,30},{258,346}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1005A0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1074,994},{246,358}}</string>
                <key>offset</key>
                <string>{19,123}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{376,18},{246,358}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1005A0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,1566},{228,322}}</string>
                <key>offset</key>
                <string>{18,116}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{384,43},{228,322}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1005A0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,1826},{170,308}}</string>
                <key>offset</key>
                <string>{16,109}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{411,57},{170,308}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1005A0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,1888},{128,220}}</string>
                <key>offset</key>
                <string>{11,149}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{427,61},{128,220}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1005A0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1596,1264},{152,224}}</string>
                <key>offset</key>
                <string>{2,168}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{406,40},{152,224}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1005A0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1806,1034},{218,238}}</string>
                <key>offset</key>
                <string>{35,161}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{406,40},{218,238}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1005A0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1432,994},{218,238}}</string>
                <key>offset</key>
                <string>{35,161}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{406,40},{218,238}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1005A0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,1240},{316,326}}</string>
                <key>offset</key>
                <string>{33,137}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{355,20},{316,326}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1005A0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1692,0},{316,328}}</string>
                <key>offset</key>
                <string>{33,138}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{355,18},{316,328}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1005A0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1112,608},{386,388}}</string>
                <key>offset</key>
                <string>{68,115}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{355,11},{386,388}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1005A0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1620,316},{386,398}}</string>
                <key>offset</key>
                <string>{68,120}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{355,1},{386,398}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1005A0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1202},{460,396}}</string>
                <key>offset</key>
                <string>{105,117}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{355,5},{460,396}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1005A0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1598},{458,358}}</string>
                <key>offset</key>
                <string>{106,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{357,43},{458,358}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1005A0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,1220},{508,348}}</string>
                <key>offset</key>
                <string>{130,103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{356,43},{508,348}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1005A0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{1114,294},{506,314}}</string>
                <key>offset</key>
                <string>{131,86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{358,77},{506,314}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1005A0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,686},{542,302}}</string>
                <key>offset</key>
                <string>{150,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{359,76},{542,302}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1005A0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,988},{538,232}}</string>
                <key>offset</key>
                <string>{152,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{363,146},{538,232}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1005A0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{1114,0},{578,294}}</string>
                <key>offset</key>
                <string>{174,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{365,118},{578,294}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1005A0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,366},{566,320}}</string>
                <key>offset</key>
                <string>{180,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{377,118},{566,320}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1005A0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,0},{568,366}}</string>
                <key>offset</key>
                <string>{182,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{378,72},{568,366}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1005A0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,0},{568,366}}</string>
                <key>offset</key>
                <string>{182,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{378,72},{568,366}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1005A0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,806},{536,396}}</string>
                <key>offset</key>
                <string>{185,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{397,42},{536,396}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1005A0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,806},{536,396}}</string>
                <key>offset</key>
                <string>{185,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{397,42},{536,396}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1005A0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,406},{546,400}}</string>
                <key>offset</key>
                <string>{189,82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{396,38},{546,400}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1005A0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,406},{546,400}}</string>
                <key>offset</key>
                <string>{189,82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{396,38},{546,400}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1005A0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{546,406}}</string>
                <key>offset</key>
                <string>{207,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{414,32},{546,406}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1005A0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{546,406}}</string>
                <key>offset</key>
                <string>{207,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{414,32},{546,406}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1005A0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{1348,1902},{126,168}}</string>
                <key>offset</key>
                <string>{-3,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{414,270},{126,168}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1005A0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{1348,1902},{126,168}}</string>
                <key>offset</key>
                <string>{-3,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{414,270},{126,168}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1005A0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{1154,1902},{126,194}}</string>
                <key>offset</key>
                <string>{-6,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{411,243},{126,194}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1005A0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{1154,1902},{126,194}}</string>
                <key>offset</key>
                <string>{-6,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{411,243},{126,194}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1005A0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{1154,1902},{126,194}}</string>
                <key>offset</key>
                <string>{-6,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{411,243},{126,194}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1005A0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{1154,1902},{126,194}}</string>
                <key>offset</key>
                <string>{-6,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{411,243},{126,194}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1005A0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{1516,1734},{162,208}}</string>
                <key>offset</key>
                <string>{18,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{417,233},{162,208}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1005A0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{1516,1734},{162,208}}</string>
                <key>offset</key>
                <string>{18,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{417,233},{162,208}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1005A0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{1516,1734},{162,208}}</string>
                <key>offset</key>
                <string>{18,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{417,233},{162,208}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1005A0048.png</key>
            <dict>
                <key>frame</key>
                <string>{{1516,1734},{162,208}}</string>
                <key>offset</key>
                <string>{18,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{417,233},{162,208}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1005A0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{1516,1734},{162,208}}</string>
                <key>offset</key>
                <string>{18,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{417,233},{162,208}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1005A0050.png</key>
            <dict>
                <key>frame</key>
                <string>{{1748,1272},{168,206}}</string>
                <key>offset</key>
                <string>{16,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{412,235},{168,206}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1005A0051.png</key>
            <dict>
                <key>frame</key>
                <string>{{1748,1272},{168,206}}</string>
                <key>offset</key>
                <string>{16,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{412,235},{168,206}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1005A0052.png</key>
            <dict>
                <key>frame</key>
                <string>{{1748,1272},{168,206}}</string>
                <key>offset</key>
                <string>{16,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{412,235},{168,206}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1005A0053.png</key>
            <dict>
                <key>frame</key>
                <string>{{1748,1272},{168,206}}</string>
                <key>offset</key>
                <string>{16,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{412,235},{168,206}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1005A0054.png</key>
            <dict>
                <key>frame</key>
                <string>{{1748,1272},{168,206}}</string>
                <key>offset</key>
                <string>{16,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{412,235},{168,206}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1005A0055.png</key>
            <dict>
                <key>frame</key>
                <string>{{1678,1696},{166,206}}</string>
                <key>offset</key>
                <string>{15,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{412,235},{166,206}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1005A0056.png</key>
            <dict>
                <key>frame</key>
                <string>{{1678,1696},{166,206}}</string>
                <key>offset</key>
                <string>{15,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{412,235},{166,206}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1005A0057.png</key>
            <dict>
                <key>frame</key>
                <string>{{1678,1696},{166,206}}</string>
                <key>offset</key>
                <string>{15,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{412,235},{166,206}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1005A0058.png</key>
            <dict>
                <key>frame</key>
                <string>{{1678,1696},{166,206}}</string>
                <key>offset</key>
                <string>{15,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{412,235},{166,206}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1005A0059.png</key>
            <dict>
                <key>frame</key>
                <string>{{1678,1696},{166,206}}</string>
                <key>offset</key>
                <string>{15,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{412,235},{166,206}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1005A0060.png</key>
            <dict>
                <key>frame</key>
                <string>{{1818,1478},{160,206}}</string>
                <key>offset</key>
                <string>{17,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{417,235},{160,206}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1005A0061.png</key>
            <dict>
                <key>frame</key>
                <string>{{1818,1478},{160,206}}</string>
                <key>offset</key>
                <string>{17,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{417,235},{160,206}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1005A0062.png</key>
            <dict>
                <key>frame</key>
                <string>{{1818,1478},{160,206}}</string>
                <key>offset</key>
                <string>{17,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{417,235},{160,206}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1005A0063.png</key>
            <dict>
                <key>frame</key>
                <string>{{1818,1478},{160,206}}</string>
                <key>offset</key>
                <string>{17,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{417,235},{160,206}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1005A0064.png</key>
            <dict>
                <key>frame</key>
                <string>{{1818,1478},{160,206}}</string>
                <key>offset</key>
                <string>{17,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{417,235},{160,206}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1005A0065.png</key>
            <dict>
                <key>frame</key>
                <string>{{1844,1684},{152,206}}</string>
                <key>offset</key>
                <string>{19,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{423,235},{152,206}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1005A0066.png</key>
            <dict>
                <key>frame</key>
                <string>{{1844,1684},{152,206}}</string>
                <key>offset</key>
                <string>{19,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{423,235},{152,206}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1005A0067.png</key>
            <dict>
                <key>frame</key>
                <string>{{1844,1684},{152,206}}</string>
                <key>offset</key>
                <string>{19,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{423,235},{152,206}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1005A0068.png</key>
            <dict>
                <key>frame</key>
                <string>{{1844,1684},{152,206}}</string>
                <key>offset</key>
                <string>{19,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{423,235},{152,206}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1005A0069.png</key>
            <dict>
                <key>frame</key>
                <string>{{1844,1684},{152,206}}</string>
                <key>offset</key>
                <string>{19,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{423,235},{152,206}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1005A0070.png</key>
            <dict>
                <key>frame</key>
                <string>{{1668,1488},{150,208}}</string>
                <key>offset</key>
                <string>{21,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{426,233},{150,208}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1005A0071.png</key>
            <dict>
                <key>frame</key>
                <string>{{1668,1488},{150,208}}</string>
                <key>offset</key>
                <string>{21,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{426,233},{150,208}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1005A0072.png</key>
            <dict>
                <key>frame</key>
                <string>{{1668,1488},{150,208}}</string>
                <key>offset</key>
                <string>{21,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{426,233},{150,208}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1005A0073.png</key>
            <dict>
                <key>frame</key>
                <string>{{1668,1488},{150,208}}</string>
                <key>offset</key>
                <string>{21,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{426,233},{150,208}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1005A0074.png</key>
            <dict>
                <key>frame</key>
                <string>{{1668,1488},{150,208}}</string>
                <key>offset</key>
                <string>{21,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{426,233},{150,208}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1005A0075.png</key>
            <dict>
                <key>frame</key>
                <string>{{1516,1524},{152,210}}</string>
                <key>offset</key>
                <string>{20,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{424,231},{152,210}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1005A0076.png</key>
            <dict>
                <key>frame</key>
                <string>{{1516,1524},{152,210}}</string>
                <key>offset</key>
                <string>{20,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{424,231},{152,210}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1005A0077.png</key>
            <dict>
                <key>frame</key>
                <string>{{1516,1524},{152,210}}</string>
                <key>offset</key>
                <string>{20,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{424,231},{152,210}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1005A0078.png</key>
            <dict>
                <key>frame</key>
                <string>{{1516,1524},{152,210}}</string>
                <key>offset</key>
                <string>{20,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{424,231},{152,210}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1005A0079.png</key>
            <dict>
                <key>frame</key>
                <string>{{1516,1524},{152,210}}</string>
                <key>offset</key>
                <string>{20,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{424,231},{152,210}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skin_1005A.png</string>
            <key>size</key>
            <string>{2027,2028}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:735f4b2209267b178a6a3a2cc98809af:7ba523a6b7841250a4f5614488da5b31:9ac75ea53387e46c92ceed7c262bd688$</string>
            <key>textureFileName</key>
            <string>skin_1005A.png</string>
        </dict>
    </dict>
</plist>
