<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tmshow_ren0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1162,130},{104,128}}</string>
                <key>offset</key>
                <string>{-4,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{424,300},{104,128}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tmshow_ren0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1162,130},{104,128}}</string>
                <key>offset</key>
                <string>{-4,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{424,300},{104,128}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tmshow_ren0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1162,130},{104,128}}</string>
                <key>offset</key>
                <string>{-4,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{424,300},{104,128}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tmshow_ren0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1162,130},{104,128}}</string>
                <key>offset</key>
                <string>{-4,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{424,300},{104,128}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tmshow_ren0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,132},{100,130}}</string>
                <key>offset</key>
                <string>{-2,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{428,298},{100,130}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tmshow_ren0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,132},{100,130}}</string>
                <key>offset</key>
                <string>{-2,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{428,298},{100,130}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tmshow_ren0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,132},{100,130}}</string>
                <key>offset</key>
                <string>{-2,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{428,298},{100,130}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tmshow_ren0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,132},{100,130}}</string>
                <key>offset</key>
                <string>{-2,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{428,298},{100,130}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tmshow_ren0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,232},{96,132}}</string>
                <key>offset</key>
                <string>{1,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{433,296},{96,132}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tmshow_ren0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,232},{96,132}}</string>
                <key>offset</key>
                <string>{1,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{433,296},{96,132}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tmshow_ren0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,232},{96,132}}</string>
                <key>offset</key>
                <string>{1,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{433,296},{96,132}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tmshow_ren0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,232},{96,132}}</string>
                <key>offset</key>
                <string>{1,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{433,296},{96,132}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tmshow_ren0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,0},{96,132}}</string>
                <key>offset</key>
                <string>{0,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{432,296},{96,132}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tmshow_ren0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,0},{96,132}}</string>
                <key>offset</key>
                <string>{0,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{432,296},{96,132}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tmshow_ren0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,0},{96,132}}</string>
                <key>offset</key>
                <string>{0,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{432,296},{96,132}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tmshow_ren0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,0},{100,132}}</string>
                <key>offset</key>
                <string>{-1,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{429,296},{100,132}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tmshow_ren0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,0},{100,132}}</string>
                <key>offset</key>
                <string>{-1,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{429,296},{100,132}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tmshow_ren0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,0},{100,132}}</string>
                <key>offset</key>
                <string>{-1,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{429,296},{100,132}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tmshow_ren0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,0},{100,132}}</string>
                <key>offset</key>
                <string>{-1,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{429,296},{100,132}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tmshow_ren0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1092,0},{104,130}}</string>
                <key>offset</key>
                <string>{-2,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{426,298},{104,130}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tmshow_ren0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1092,0},{104,130}}</string>
                <key>offset</key>
                <string>{-2,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{426,298},{104,130}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tmshow_ren0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1092,0},{104,130}}</string>
                <key>offset</key>
                <string>{-2,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{426,298},{104,130}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tmshow_ren0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1092,0},{104,130}}</string>
                <key>offset</key>
                <string>{-2,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{426,298},{104,130}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tmshow_ren0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{1054,232},{108,128}}</string>
                <key>offset</key>
                <string>{-3,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{423,300},{108,128}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tmshow_ren0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{1054,232},{108,128}}</string>
                <key>offset</key>
                <string>{-3,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{423,300},{108,128}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tmshow_ren0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{1054,232},{108,128}}</string>
                <key>offset</key>
                <string>{-3,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{423,300},{108,128}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tmshow_ren0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{1054,232},{108,128}}</string>
                <key>offset</key>
                <string>{-3,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{423,300},{108,128}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tmshow_ren0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,364},{106,126}}</string>
                <key>offset</key>
                <string>{-3,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{424,302},{106,126}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tmshow_ren0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,364},{106,126}}</string>
                <key>offset</key>
                <string>{-3,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{424,302},{106,126}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tmshow_ren0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,364},{106,126}}</string>
                <key>offset</key>
                <string>{-3,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{424,302},{106,126}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tmshow_ren0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,232},{108,140}}</string>
                <key>offset</key>
                <string>{10,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{436,287},{108,140}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tmshow_ren0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,232},{108,140}}</string>
                <key>offset</key>
                <string>{10,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{436,287},{108,140}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tmshow_ren0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{1162,258},{102,126}}</string>
                <key>offset</key>
                <string>{8,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{437,303},{102,126}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tmshow_ren0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{1162,258},{102,126}}</string>
                <key>offset</key>
                <string>{8,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{437,303},{102,126}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tmshow_ren0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{1162,258},{102,126}}</string>
                <key>offset</key>
                <string>{8,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{437,303},{102,126}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tmshow_ren0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,132},{100,124}}</string>
                <key>offset</key>
                <string>{9,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{439,305},{100,124}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tmshow_ren0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,132},{100,124}}</string>
                <key>offset</key>
                <string>{9,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{439,305},{100,124}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tmshow_ren0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,132},{100,124}}</string>
                <key>offset</key>
                <string>{9,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{439,305},{100,124}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tmshow_ren0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,132},{100,124}}</string>
                <key>offset</key>
                <string>{9,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{439,305},{100,124}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tmshow_ren0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,232},{102,140}}</string>
                <key>offset</key>
                <string>{10,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{439,288},{102,140}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tmshow_ren0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,232},{102,140}}</string>
                <key>offset</key>
                <string>{10,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{439,288},{102,140}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tmshow_ren0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,0},{232,180}}</string>
                <key>offset</key>
                <string>{-54,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{310,246},{232,180}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tmshow_ren0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,0},{232,180}}</string>
                <key>offset</key>
                <string>{-54,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{310,246},{232,180}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tmshow_ren0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,238},{238,202}}</string>
                <key>offset</key>
                <string>{-60,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{301,224},{238,202}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tmshow_ren0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,238},{238,202}}</string>
                <key>offset</key>
                <string>{-60,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{301,224},{238,202}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tmshow_ren0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,250},{240,206}}</string>
                <key>offset</key>
                <string>{-60,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{300,220},{240,206}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tmshow_ren0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,250},{240,206}}</string>
                <key>offset</key>
                <string>{-60,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{300,220},{240,206}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tmshow_ren0048.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,250},{240,206}}</string>
                <key>offset</key>
                <string>{-60,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{300,220},{240,206}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tmshow_ren0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,0},{238,206}}</string>
                <key>offset</key>
                <string>{-59,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{302,220},{238,206}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tmshow_ren0050.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,0},{240,194}}</string>
                <key>offset</key>
                <string>{-58,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{302,232},{240,194}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tmshow_ren0051.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,244},{242,194}}</string>
                <key>offset</key>
                <string>{-59,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{300,232},{242,194}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tmshow_ren0052.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,244},{242,194}}</string>
                <key>offset</key>
                <string>{-59,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{300,232},{242,194}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tmshow_ren0053.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{250,170}}</string>
                <key>offset</key>
                <string>{-59,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{296,256},{250,170}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tmshow_ren0054.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{250,170}}</string>
                <key>offset</key>
                <string>{-59,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{296,256},{250,170}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tmshow_ren0055.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,0},{244,146}}</string>
                <key>offset</key>
                <string>{-61,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{297,281},{244,146}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tmshow_ren0056.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,240},{240,146}}</string>
                <key>offset</key>
                <string>{-59,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{301,281},{240,146}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tmshow_ren0057.png</key>
            <dict>
                <key>frame</key>
                <string>{{1112,384},{102,122}}</string>
                <key>offset</key>
                <string>{11,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{440,306},{102,122}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tmshow_ren0058.png</key>
            <dict>
                <key>frame</key>
                <string>{{1112,384},{102,122}}</string>
                <key>offset</key>
                <string>{11,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{440,306},{102,122}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tmshow_ren0059.png</key>
            <dict>
                <key>frame</key>
                <string>{{1112,384},{102,122}}</string>
                <key>offset</key>
                <string>{11,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{440,306},{102,122}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tmshow_ren0060.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,372},{114,128}}</string>
                <key>offset</key>
                <string>{4,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{427,300},{114,128}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tmshow_ren0061.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,372},{114,128}}</string>
                <key>offset</key>
                <string>{4,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{427,300},{114,128}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tmshow_ren0062.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,372},{114,128}}</string>
                <key>offset</key>
                <string>{4,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{427,300},{114,128}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tmshow_ren0063.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,372},{114,130}}</string>
                <key>offset</key>
                <string>{-1,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{422,298},{114,130}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tmshow_ren0064.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,372},{114,130}}</string>
                <key>offset</key>
                <string>{-1,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{422,298},{114,130}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tmshow_ren0065.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,372},{114,130}}</string>
                <key>offset</key>
                <string>{-1,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{422,298},{114,130}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tmshow_ren0066.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,372},{114,130}}</string>
                <key>offset</key>
                <string>{-1,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{422,298},{114,130}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tmshow_ren0067.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,372},{114,130}}</string>
                <key>offset</key>
                <string>{-1,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{422,298},{114,130}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tmshow_ren0068.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,372},{114,130}}</string>
                <key>offset</key>
                <string>{-1,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{422,298},{114,130}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>tmshow_ren0069.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,372},{114,130}}</string>
                <key>offset</key>
                <string>{-1,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{422,298},{114,130}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skin_1040.png</string>
            <key>size</key>
            <string>{1266,490}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a4f3a86afb77c08cafd3ef6b7a90e53b:ebcb0c346fba747c3686de1a8e24bd20:0fd091d3d330676abf8d782b79640d28$</string>
            <key>textureFileName</key>
            <string>skin_1040.png</string>
        </dict>
    </dict>
</plist>
