<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1020Ashow0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,136},{314,228}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{322,277},{314,228}}</string>
                <key>sourceSize</key>
                <string>{960,800}</string>
            </dict>
            <key>1020Ashow0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,136},{314,228}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{322,277},{314,228}}</string>
                <key>sourceSize</key>
                <string>{960,800}</string>
            </dict>
            <key>1020Ashow0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,136},{314,228}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{322,277},{314,228}}</string>
                <key>sourceSize</key>
                <string>{960,800}</string>
            </dict>
            <key>1020Ashow0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,136},{314,228}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{322,277},{314,228}}</string>
                <key>sourceSize</key>
                <string>{960,800}</string>
            </dict>
            <key>1020Ashow0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,136},{314,228}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{322,277},{314,228}}</string>
                <key>sourceSize</key>
                <string>{960,800}</string>
            </dict>
            <key>1020Ashow0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,136},{314,228}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{322,277},{314,228}}</string>
                <key>sourceSize</key>
                <string>{960,800}</string>
            </dict>
            <key>1020Ashow0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1038},{306,226}}</string>
                <key>offset</key>
                <string>{-6,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{321,280},{306,226}}</string>
                <key>sourceSize</key>
                <string>{960,800}</string>
            </dict>
            <key>1020Ashow0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1038},{306,226}}</string>
                <key>offset</key>
                <string>{-6,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{321,280},{306,226}}</string>
                <key>sourceSize</key>
                <string>{960,800}</string>
            </dict>
            <key>1020Ashow0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1038},{306,226}}</string>
                <key>offset</key>
                <string>{-6,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{321,280},{306,226}}</string>
                <key>sourceSize</key>
                <string>{960,800}</string>
            </dict>
            <key>1020Ashow0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1038},{306,226}}</string>
                <key>offset</key>
                <string>{-6,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{321,280},{306,226}}</string>
                <key>sourceSize</key>
                <string>{960,800}</string>
            </dict>
            <key>1020Ashow0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1038},{306,226}}</string>
                <key>offset</key>
                <string>{-6,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{321,280},{306,226}}</string>
                <key>sourceSize</key>
                <string>{960,800}</string>
            </dict>
            <key>1020Ashow0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1038},{306,226}}</string>
                <key>offset</key>
                <string>{-6,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{321,280},{306,226}}</string>
                <key>sourceSize</key>
                <string>{960,800}</string>
            </dict>
            <key>1020Ashow0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,814},{312,224}}</string>
                <key>offset</key>
                <string>{-5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{319,282},{312,224}}</string>
                <key>sourceSize</key>
                <string>{960,800}</string>
            </dict>
            <key>1020Ashow0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,814},{312,224}}</string>
                <key>offset</key>
                <string>{-5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{319,282},{312,224}}</string>
                <key>sourceSize</key>
                <string>{960,800}</string>
            </dict>
            <key>1020Ashow0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,814},{312,224}}</string>
                <key>offset</key>
                <string>{-5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{319,282},{312,224}}</string>
                <key>sourceSize</key>
                <string>{960,800}</string>
            </dict>
            <key>1020Ashow0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,814},{312,224}}</string>
                <key>offset</key>
                <string>{-5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{319,282},{312,224}}</string>
                <key>sourceSize</key>
                <string>{960,800}</string>
            </dict>
            <key>1020Ashow0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,814},{312,224}}</string>
                <key>offset</key>
                <string>{-5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{319,282},{312,224}}</string>
                <key>sourceSize</key>
                <string>{960,800}</string>
            </dict>
            <key>1020Ashow0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,814},{312,224}}</string>
                <key>offset</key>
                <string>{-5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{319,282},{312,224}}</string>
                <key>sourceSize</key>
                <string>{960,800}</string>
            </dict>
            <key>1020Ashow0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,364},{314,226}}</string>
                <key>offset</key>
                <string>{-7,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{316,280},{314,226}}</string>
                <key>sourceSize</key>
                <string>{960,800}</string>
            </dict>
            <key>1020Ashow0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,364},{314,226}}</string>
                <key>offset</key>
                <string>{-7,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{316,280},{314,226}}</string>
                <key>sourceSize</key>
                <string>{960,800}</string>
            </dict>
            <key>1020Ashow0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,364},{314,226}}</string>
                <key>offset</key>
                <string>{-7,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{316,280},{314,226}}</string>
                <key>sourceSize</key>
                <string>{960,800}</string>
            </dict>
            <key>1020Ashow0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,364},{314,226}}</string>
                <key>offset</key>
                <string>{-7,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{316,280},{314,226}}</string>
                <key>sourceSize</key>
                <string>{960,800}</string>
            </dict>
            <key>1020Ashow0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,364},{314,226}}</string>
                <key>offset</key>
                <string>{-7,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{316,280},{314,226}}</string>
                <key>sourceSize</key>
                <string>{960,800}</string>
            </dict>
            <key>1020Ashow0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,364},{314,226}}</string>
                <key>offset</key>
                <string>{-7,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{316,280},{314,226}}</string>
                <key>sourceSize</key>
                <string>{960,800}</string>
            </dict>
            <key>1020Ashow0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,1918},{60,80}}</string>
                <key>offset</key>
                <string>{12,360}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{462,0},{60,80}}</string>
                <key>sourceSize</key>
                <string>{960,800}</string>
            </dict>
            <key>1020Ashow0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,1918},{76,160}}</string>
                <key>offset</key>
                <string>{3,320}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{445,0},{76,160}}</string>
                <key>sourceSize</key>
                <string>{960,800}</string>
            </dict>
            <key>1020Ashow0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1650},{106,348}}</string>
                <key>offset</key>
                <string>{-1,215}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{426,11},{106,348}}</string>
                <key>sourceSize</key>
                <string>{960,800}</string>
            </dict>
            <key>1020Ashow0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{136,316}}</string>
                <key>offset</key>
                <string>{12,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{424,183},{136,316}}</string>
                <key>sourceSize</key>
                <string>{960,800}</string>
            </dict>
            <key>1020Ashow0048.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{136,316}}</string>
                <key>offset</key>
                <string>{12,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{424,183},{136,316}}</string>
                <key>sourceSize</key>
                <string>{960,800}</string>
            </dict>
            <key>1020Ashow0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,1650},{268,200}}</string>
                <key>offset</key>
                <string>{14,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{360,325},{268,200}}</string>
                <key>sourceSize</key>
                <string>{960,800}</string>
            </dict>
            <key>1020Ashow0050.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,1650},{268,200}}</string>
                <key>offset</key>
                <string>{14,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{360,325},{268,200}}</string>
                <key>sourceSize</key>
                <string>{960,800}</string>
            </dict>
            <key>1020Ashow0051.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,1650},{268,200}}</string>
                <key>offset</key>
                <string>{14,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{360,325},{268,200}}</string>
                <key>sourceSize</key>
                <string>{960,800}</string>
            </dict>
            <key>1020Ashow0052.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,1650},{268,200}}</string>
                <key>offset</key>
                <string>{14,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{360,325},{268,200}}</string>
                <key>sourceSize</key>
                <string>{960,800}</string>
            </dict>
            <key>1020Ashow0053.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,1650},{268,200}}</string>
                <key>offset</key>
                <string>{14,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{360,325},{268,200}}</string>
                <key>sourceSize</key>
                <string>{960,800}</string>
            </dict>
            <key>1020Ashow0054.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,1650},{268,200}}</string>
                <key>offset</key>
                <string>{14,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{360,325},{268,200}}</string>
                <key>sourceSize</key>
                <string>{960,800}</string>
            </dict>
            <key>1020Ashow0055.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,1650},{268,200}}</string>
                <key>offset</key>
                <string>{14,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{360,325},{268,200}}</string>
                <key>sourceSize</key>
                <string>{960,800}</string>
            </dict>
            <key>1020Ashow0056.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,1650},{268,200}}</string>
                <key>offset</key>
                <string>{14,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{360,325},{268,200}}</string>
                <key>sourceSize</key>
                <string>{960,800}</string>
            </dict>
            <key>1020Ashow0057.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,1650},{268,200}}</string>
                <key>offset</key>
                <string>{14,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{360,325},{268,200}}</string>
                <key>sourceSize</key>
                <string>{960,800}</string>
            </dict>
            <key>1020Ashow0058.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,1650},{268,200}}</string>
                <key>offset</key>
                <string>{14,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{360,325},{268,200}}</string>
                <key>sourceSize</key>
                <string>{960,800}</string>
            </dict>
            <key>1020Ashow0059.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,1650},{268,200}}</string>
                <key>offset</key>
                <string>{14,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{360,325},{268,200}}</string>
                <key>sourceSize</key>
                <string>{960,800}</string>
            </dict>
            <key>1020Ashow0060.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,1650},{268,200}}</string>
                <key>offset</key>
                <string>{14,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{360,325},{268,200}}</string>
                <key>sourceSize</key>
                <string>{960,800}</string>
            </dict>
            <key>1020Ashow0061.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,1650},{268,200}}</string>
                <key>offset</key>
                <string>{14,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{360,325},{268,200}}</string>
                <key>sourceSize</key>
                <string>{960,800}</string>
            </dict>
            <key>1020Ashow0062.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,1650},{268,200}}</string>
                <key>offset</key>
                <string>{14,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{360,325},{268,200}}</string>
                <key>sourceSize</key>
                <string>{960,800}</string>
            </dict>
            <key>1020Ashow0063.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1468},{286,182}}</string>
                <key>offset</key>
                <string>{15,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{352,328},{286,182}}</string>
                <key>sourceSize</key>
                <string>{960,800}</string>
            </dict>
            <key>1020Ashow0064.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1468},{286,182}}</string>
                <key>offset</key>
                <string>{15,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{352,328},{286,182}}</string>
                <key>sourceSize</key>
                <string>{960,800}</string>
            </dict>
            <key>1020Ashow0065.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1468},{286,182}}</string>
                <key>offset</key>
                <string>{15,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{352,328},{286,182}}</string>
                <key>sourceSize</key>
                <string>{960,800}</string>
            </dict>
            <key>1020Ashow0066.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1264},{306,204}}</string>
                <key>offset</key>
                <string>{18,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{345,297},{306,204}}</string>
                <key>sourceSize</key>
                <string>{960,800}</string>
            </dict>
            <key>1020Ashow0067.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1264},{306,204}}</string>
                <key>offset</key>
                <string>{18,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{345,297},{306,204}}</string>
                <key>sourceSize</key>
                <string>{960,800}</string>
            </dict>
            <key>1020Ashow0068.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1264},{306,204}}</string>
                <key>offset</key>
                <string>{18,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{345,297},{306,204}}</string>
                <key>sourceSize</key>
                <string>{960,800}</string>
            </dict>
            <key>1020Ashow0069.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,590},{314,224}}</string>
                <key>offset</key>
                <string>{15,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{338,279},{314,224}}</string>
                <key>sourceSize</key>
                <string>{960,800}</string>
            </dict>
            <key>1020Ashow0070.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,590},{314,224}}</string>
                <key>offset</key>
                <string>{15,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{338,279},{314,224}}</string>
                <key>sourceSize</key>
                <string>{960,800}</string>
            </dict>
            <key>1020Ashow0071.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,590},{314,224}}</string>
                <key>offset</key>
                <string>{15,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{338,279},{314,224}}</string>
                <key>sourceSize</key>
                <string>{960,800}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skin_1020A.png</string>
            <key>size</key>
            <string>{326,1998}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4493d35c276809c0243fa92b7fb2f87c:5d3853413138730ae0fbce527d393b5d:344e0daab6c08213231a89e32ce15fd8$</string>
            <key>textureFileName</key>
            <string>skin_1020A.png</string>
        </dict>
    </dict>
</plist>
