<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jian_heijian0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,587},{145,422}}</string>
                <key>offset</key>
                <string>{84,133}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{579,248},{145,422}}</string>
                <key>sourceSize</key>
                <string>{1135,1184}</string>
            </dict>
            <key>jian_heijian0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,587},{145,422}}</string>
                <key>offset</key>
                <string>{84,133}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{579,248},{145,422}}</string>
                <key>sourceSize</key>
                <string>{1135,1184}</string>
            </dict>
            <key>jian_heijian0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,442},{145,422}}</string>
                <key>offset</key>
                <string>{84,139}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{579,242},{145,422}}</string>
                <key>sourceSize</key>
                <string>{1135,1184}</string>
            </dict>
            <key>jian_heijian0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,442},{145,422}}</string>
                <key>offset</key>
                <string>{84,139}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{579,242},{145,422}}</string>
                <key>sourceSize</key>
                <string>{1135,1184}</string>
            </dict>
            <key>jian_heijian0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,587},{145,420}}</string>
                <key>offset</key>
                <string>{84,145}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{579,237},{145,420}}</string>
                <key>sourceSize</key>
                <string>{1135,1184}</string>
            </dict>
            <key>jian_heijian0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,587},{145,420}}</string>
                <key>offset</key>
                <string>{84,145}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{579,237},{145,420}}</string>
                <key>sourceSize</key>
                <string>{1135,1184}</string>
            </dict>
            <key>jian_heijian0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,315},{145,422}}</string>
                <key>offset</key>
                <string>{84,152}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{579,229},{145,422}}</string>
                <key>sourceSize</key>
                <string>{1135,1184}</string>
            </dict>
            <key>jian_heijian0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,315},{145,422}}</string>
                <key>offset</key>
                <string>{84,152}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{579,229},{145,422}}</string>
                <key>sourceSize</key>
                <string>{1135,1184}</string>
            </dict>
            <key>jian_heijian0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,170},{145,422}}</string>
                <key>offset</key>
                <string>{84,158}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{579,223},{145,422}}</string>
                <key>sourceSize</key>
                <string>{1135,1184}</string>
            </dict>
            <key>jian_heijian0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,460},{145,372}}</string>
                <key>offset</key>
                <string>{84,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{579,468},{145,372}}</string>
                <key>sourceSize</key>
                <string>{1135,1184}</string>
            </dict>
            <key>jian_heijian0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,587},{145,372}}</string>
                <key>offset</key>
                <string>{84,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{579,468},{145,372}}</string>
                <key>sourceSize</key>
                <string>{1135,1184}</string>
            </dict>
            <key>jian_heijian0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,832},{145,210}}</string>
                <key>offset</key>
                <string>{84,-143}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{579,630},{145,210}}</string>
                <key>sourceSize</key>
                <string>{1135,1184}</string>
            </dict>
            <key>jian_heijian0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,832},{145,210}}</string>
                <key>offset</key>
                <string>{84,-143}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{579,630},{145,210}}</string>
                <key>sourceSize</key>
                <string>{1135,1184}</string>
            </dict>
            <key>jian_heijian0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,832},{145,210}}</string>
                <key>offset</key>
                <string>{84,-143}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{579,630},{145,210}}</string>
                <key>sourceSize</key>
                <string>{1135,1184}</string>
            </dict>
            <key>jian_heijian0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,832},{145,210}}</string>
                <key>offset</key>
                <string>{84,-143}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{579,630},{145,210}}</string>
                <key>sourceSize</key>
                <string>{1135,1184}</string>
            </dict>
            <key>jian_heijian0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,832},{145,210}}</string>
                <key>offset</key>
                <string>{84,-143}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{579,630},{145,210}}</string>
                <key>sourceSize</key>
                <string>{1135,1184}</string>
            </dict>
            <key>jian_heijian0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,832},{145,210}}</string>
                <key>offset</key>
                <string>{84,-143}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{579,630},{145,210}}</string>
                <key>sourceSize</key>
                <string>{1135,1184}</string>
            </dict>
            <key>jian_heijian0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,832},{145,210}}</string>
                <key>offset</key>
                <string>{84,-143}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{579,630},{145,210}}</string>
                <key>sourceSize</key>
                <string>{1135,1184}</string>
            </dict>
            <key>jian_heijian0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,832},{145,210}}</string>
                <key>offset</key>
                <string>{84,-143}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{579,630},{145,210}}</string>
                <key>sourceSize</key>
                <string>{1135,1184}</string>
            </dict>
            <key>jian_heijian0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,832},{145,210}}</string>
                <key>offset</key>
                <string>{84,-143}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{579,630},{145,210}}</string>
                <key>sourceSize</key>
                <string>{1135,1184}</string>
            </dict>
            <key>jian_heijian0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,832},{145,210}}</string>
                <key>offset</key>
                <string>{84,-143}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{579,630},{145,210}}</string>
                <key>sourceSize</key>
                <string>{1135,1184}</string>
            </dict>
            <key>jian_heijian0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,603},{143,210}}</string>
                <key>offset</key>
                <string>{84,-143}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{580,630},{143,210}}</string>
                <key>sourceSize</key>
                <string>{1135,1184}</string>
            </dict>
            <key>jian_heijian0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,603},{143,210}}</string>
                <key>offset</key>
                <string>{84,-143}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{580,630},{143,210}}</string>
                <key>sourceSize</key>
                <string>{1135,1184}</string>
            </dict>
            <key>jian_heijian0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,460},{143,210}}</string>
                <key>offset</key>
                <string>{84,-143}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{580,630},{143,210}}</string>
                <key>sourceSize</key>
                <string>{1135,1184}</string>
            </dict>
            <key>jian_heijian0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,460},{143,210}}</string>
                <key>offset</key>
                <string>{84,-143}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{580,630},{143,210}}</string>
                <key>sourceSize</key>
                <string>{1135,1184}</string>
            </dict>
            <key>jian_heijian0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,813},{141,208}}</string>
                <key>offset</key>
                <string>{84,-144}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{581,632},{141,208}}</string>
                <key>sourceSize</key>
                <string>{1135,1184}</string>
            </dict>
            <key>jian_heijian0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,813},{141,208}}</string>
                <key>offset</key>
                <string>{84,-144}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{581,632},{141,208}}</string>
                <key>sourceSize</key>
                <string>{1135,1184}</string>
            </dict>
            <key>jian_heijian0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,815},{139,206}}</string>
                <key>offset</key>
                <string>{84,-145}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,634},{139,206}}</string>
                <key>sourceSize</key>
                <string>{1135,1184}</string>
            </dict>
            <key>jian_heijian0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,815},{139,206}}</string>
                <key>offset</key>
                <string>{84,-145}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{582,634},{139,206}}</string>
                <key>sourceSize</key>
                <string>{1135,1184}</string>
            </dict>
            <key>jianguang0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,0},{447,170}}</string>
                <key>offset</key>
                <string>{-306,-355}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,862},{447,170}}</string>
                <key>sourceSize</key>
                <string>{1135,1184}</string>
            </dict>
            <key>jianguang0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,0},{447,170}}</string>
                <key>offset</key>
                <string>{-306,-355}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,862},{447,170}}</string>
                <key>sourceSize</key>
                <string>{1135,1184}</string>
            </dict>
            <key>jianguang0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,232},{501,210}}</string>
                <key>offset</key>
                <string>{-285,-343}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,830},{501,210}}</string>
                <key>sourceSize</key>
                <string>{1135,1184}</string>
            </dict>
            <key>jianguang0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,232},{501,210}}</string>
                <key>offset</key>
                <string>{-285,-343}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,830},{501,210}}</string>
                <key>sourceSize</key>
                <string>{1135,1184}</string>
            </dict>
            <key>jianguang0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{529,232}}</string>
                <key>offset</key>
                <string>{-274,-338}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,814},{529,232}}</string>
                <key>sourceSize</key>
                <string>{1135,1184}</string>
            </dict>
            <key>jianguang0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{529,232}}</string>
                <key>offset</key>
                <string>{-274,-338}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,814},{529,232}}</string>
                <key>sourceSize</key>
                <string>{1135,1184}</string>
            </dict>
            <key>jianguang0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,460},{355,194}}</string>
                <key>offset</key>
                <string>{-161,-306}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,801},{355,194}}</string>
                <key>sourceSize</key>
                <string>{1135,1184}</string>
            </dict>
            <key>jianguang0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,460},{355,194}}</string>
                <key>offset</key>
                <string>{-161,-306}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,801},{355,194}}</string>
                <key>sourceSize</key>
                <string>{1135,1184}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skin_1042j.png</string>
            <key>size</key>
            <string>{996,1021}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ab7826bcae786ae809be7634be841200:7992544300b928abc0618cf38699d70c:0db90bea831511454300877b157e0abe$</string>
            <key>textureFileName</key>
            <string>skin_1042j.png</string>
        </dict>
    </dict>
</plist>
