<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1001A0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1274,692},{162,238}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{411,201},{162,238}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1001A0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1562,854},{156,234}}</string>
                <key>offset</key>
                <string>{11,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{413,205},{156,234}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1001A0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1512,696},{158,232}}</string>
                <key>offset</key>
                <string>{12,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{413,207},{158,232}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1001A0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1690,1376},{156,230}}</string>
                <key>offset</key>
                <string>{13,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{415,209},{156,230}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1001A0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1594,1156},{156,230}}</string>
                <key>offset</key>
                <string>{12,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{414,209},{156,230}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1001A0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1536,1316},{154,234}}</string>
                <key>offset</key>
                <string>{11,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{414,205},{154,234}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1001Ashow0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,268},{188,246}}</string>
                <key>offset</key>
                <string>{13,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{399,193},{188,246}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1001Ashow0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,268},{188,246}}</string>
                <key>offset</key>
                <string>{13,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{399,193},{188,246}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1001Ashow0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1274,854},{234,288}}</string>
                <key>offset</key>
                <string>{62,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{425,185},{234,288}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1001Ashow0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1274,854},{234,288}}</string>
                <key>offset</key>
                <string>{62,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{425,185},{234,288}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1001Ashow0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1718,928},{228,298}}</string>
                <key>offset</key>
                <string>{65,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{431,174},{228,298}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1001Ashow0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1718,928},{228,298}}</string>
                <key>offset</key>
                <string>{65,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{431,174},{228,298}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1001Ashow0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1304,1088},{228,290}}</string>
                <key>offset</key>
                <string>{65,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{431,173},{228,290}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1001Ashow0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1304,1088},{228,290}}</string>
                <key>offset</key>
                <string>{65,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{431,173},{228,290}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1001Ashow0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1304,1088},{228,290}}</string>
                <key>offset</key>
                <string>{65,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{431,173},{228,290}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1001Ashow0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1304,1316},{232,278}}</string>
                <key>offset</key>
                <string>{53,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{417,168},{232,278}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1001Ashow0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1304,1316},{232,278}}</string>
                <key>offset</key>
                <string>{53,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{417,168},{232,278}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1001Ashow0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1744,696},{232,290}}</string>
                <key>offset</key>
                <string>{53,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{417,168},{232,290}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1001Ashow0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1744,696},{232,290}}</string>
                <key>offset</key>
                <string>{53,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{417,168},{232,290}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1001Ashow0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,1120},{466,444}}</string>
                <key>offset</key>
                <string>{7,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{254,66},{466,444}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1001Ashow0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,1120},{466,444}}</string>
                <key>offset</key>
                <string>{7,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{254,66},{466,444}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1001Ashow0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,696},{524,400}}</string>
                <key>offset</key>
                <string>{-23,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,92},{524,400}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1001Ashow0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,696},{524,400}}</string>
                <key>offset</key>
                <string>{-23,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,92},{524,400}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1001Ashow0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,618},{618,406}}</string>
                <key>offset</key>
                <string>{8,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,93},{618,406}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1001Ashow0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{618,406}}</string>
                <key>offset</key>
                <string>{8,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,93},{618,406}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1001Ashow0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,346},{550,346}}</string>
                <key>offset</key>
                <string>{-24,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,147},{550,346}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1001Ashow0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,0},{550,346}}</string>
                <key>offset</key>
                <string>{-24,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,147},{550,346}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1001Ashow0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,560},{560,344}}</string>
                <key>offset</key>
                <string>{-20,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,147},{560,344}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1001Ashow0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,0},{560,344}}</string>
                <key>offset</key>
                <string>{-20,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,147},{560,344}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1001Ashow0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{1516,348},{518,348}}</string>
                <key>offset</key>
                <string>{8,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,143},{518,348}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1001Ashow0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{1516,0},{518,348}}</string>
                <key>offset</key>
                <string>{8,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,143},{518,348}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1001Ashow0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1236},{522,350}}</string>
                <key>offset</key>
                <string>{8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,141},{522,350}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1001Ashow0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1236},{522,350}}</string>
                <key>offset</key>
                <string>{8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,141},{522,350}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1001Ashow0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,1096},{524,338}}</string>
                <key>offset</key>
                <string>{8,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,142},{524,338}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1001Ashow0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,1096},{524,338}}</string>
                <key>offset</key>
                <string>{8,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,142},{524,338}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1001Ashow0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,0},{268,196}}</string>
                <key>offset</key>
                <string>{-39,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{307,240},{268,196}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1001Ashow0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,0},{268,196}}</string>
                <key>offset</key>
                <string>{-39,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{307,240},{268,196}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1001Ashow0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{1824,1156},{184,220}}</string>
                <key>offset</key>
                <string>{-6,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{382,218},{184,220}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1001Ashow0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{1824,1156},{184,220}}</string>
                <key>offset</key>
                <string>{-6,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{382,218},{184,220}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skin_1001A.png</string>
            <key>size</key>
            <string>{2034,1628}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8663fb8ed20aaa7fc331b40138863b39:f51b7fc415264e26c0cab4f613da2d18:1481598cba50daf2828208d0cd46b851$</string>
            <key>textureFileName</key>
            <string>skin_1001A.png</string>
        </dict>
    </dict>
</plist>
