<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jian_guang0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1074,0},{451,426}}</string>
                <key>offset</key>
                <string>{100,133}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{442,246},{451,426}}</string>
                <key>sourceSize</key>
                <string>{1135,1184}</string>
            </dict>
            <key>jian_guang0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1074,0},{451,426}}</string>
                <key>offset</key>
                <string>{100,133}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{442,246},{451,426}}</string>
                <key>sourceSize</key>
                <string>{1135,1184}</string>
            </dict>
            <key>jian_guang0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1240},{515,530}}</string>
                <key>offset</key>
                <string>{104,136}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{414,191},{515,530}}</string>
                <key>sourceSize</key>
                <string>{1135,1184}</string>
            </dict>
            <key>jian_guang0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1240},{515,530}}</string>
                <key>offset</key>
                <string>{104,136}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{414,191},{515,530}}</string>
                <key>sourceSize</key>
                <string>{1135,1184}</string>
            </dict>
            <key>jian_guang0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,582},{521,548}}</string>
                <key>offset</key>
                <string>{107,136}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{414,182},{521,548}}</string>
                <key>sourceSize</key>
                <string>{1135,1184}</string>
            </dict>
            <key>jian_guang0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,582},{521,548}}</string>
                <key>offset</key>
                <string>{107,136}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{414,182},{521,548}}</string>
                <key>sourceSize</key>
                <string>{1135,1184}</string>
            </dict>
            <key>jian_guang0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,0},{531,582}}</string>
                <key>offset</key>
                <string>{107,139}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{409,162},{531,582}}</string>
                <key>sourceSize</key>
                <string>{1135,1184}</string>
            </dict>
            <key>jian_guang0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,0},{531,582}}</string>
                <key>offset</key>
                <string>{107,139}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{409,162},{531,582}}</string>
                <key>sourceSize</key>
                <string>{1135,1184}</string>
            </dict>
            <key>jian_guang0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,632},{543,608}}</string>
                <key>offset</key>
                <string>{107,140}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{403,148},{543,608}}</string>
                <key>sourceSize</key>
                <string>{1135,1184}</string>
            </dict>
            <key>jian_guang0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,632},{543,608}}</string>
                <key>offset</key>
                <string>{107,140}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{403,148},{543,608}}</string>
                <key>sourceSize</key>
                <string>{1135,1184}</string>
            </dict>
            <key>jian_guang0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{543,632}}</string>
                <key>offset</key>
                <string>{112,141}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{408,135},{543,632}}</string>
                <key>sourceSize</key>
                <string>{1135,1184}</string>
            </dict>
            <key>jian_guang0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,1446},{309,378}}</string>
                <key>offset</key>
                <string>{102,-79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{515,482},{309,378}}</string>
                <key>sourceSize</key>
                <string>{1135,1184}</string>
            </dict>
            <key>jian_guang0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1503,990},{363,324}}</string>
                <key>offset</key>
                <string>{104,-106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{490,536},{363,324}}</string>
                <key>sourceSize</key>
                <string>{1135,1184}</string>
            </dict>
            <key>jian_guang0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1533,660},{407,330}}</string>
                <key>offset</key>
                <string>{107,-100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{471,527},{407,330}}</string>
                <key>sourceSize</key>
                <string>{1135,1184}</string>
            </dict>
            <key>jian_guang0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1064,756},{439,324}}</string>
                <key>offset</key>
                <string>{108,-103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{456,533},{439,324}}</string>
                <key>sourceSize</key>
                <string>{1135,1184}</string>
            </dict>
            <key>jian_guang0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1074,426},{459,330}}</string>
                <key>offset</key>
                <string>{109,-100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{447,527},{459,330}}</string>
                <key>sourceSize</key>
                <string>{1135,1184}</string>
            </dict>
            <key>jian_guang0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1525,0},{475,318}}</string>
                <key>offset</key>
                <string>{105,-106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{435,539},{475,318}}</string>
                <key>sourceSize</key>
                <string>{1135,1184}</string>
            </dict>
            <key>jian_guang0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,1130},{437,316}}</string>
                <key>offset</key>
                <string>{84,-107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{433,541},{437,316}}</string>
                <key>sourceSize</key>
                <string>{1135,1184}</string>
            </dict>
            <key>jian_guang0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{1533,318},{419,342}}</string>
                <key>offset</key>
                <string>{79,-94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{437,515},{419,342}}</string>
                <key>sourceSize</key>
                <string>{1135,1184}</string>
            </dict>
            <key>jian_guang0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,1130},{267,320}}</string>
                <key>offset</key>
                <string>{99,-106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{533,538},{267,320}}</string>
                <key>sourceSize</key>
                <string>{1135,1184}</string>
            </dict>
            <key>jian_guang0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{1230,1450},{267,304}}</string>
                <key>offset</key>
                <string>{99,-114}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{533,554},{267,304}}</string>
                <key>sourceSize</key>
                <string>{1135,1184}</string>
            </dict>
            <key>jian_guang0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,1450},{271,322}}</string>
                <key>offset</key>
                <string>{99,-106}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{531,537},{271,322}}</string>
                <key>sourceSize</key>
                <string>{1135,1184}</string>
            </dict>
            <key>jian_guang0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{1497,1314},{271,266}}</string>
                <key>offset</key>
                <string>{99,-134}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{531,593},{271,266}}</string>
                <key>sourceSize</key>
                <string>{1135,1184}</string>
            </dict>
            <key>jian_guang0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{1768,1314},{273,260}}</string>
                <key>offset</key>
                <string>{99,-138}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{530,600},{273,260}}</string>
                <key>sourceSize</key>
                <string>{1135,1184}</string>
            </dict>
            <key>jian_guang0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{1768,1574},{273,172}}</string>
                <key>offset</key>
                <string>{99,-182}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{530,688},{273,172}}</string>
                <key>sourceSize</key>
                <string>{1135,1184}</string>
            </dict>
            <key>jian_guang0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{1866,990},{275,174}}</string>
                <key>offset</key>
                <string>{100,-182}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{530,687},{275,174}}</string>
                <key>sourceSize</key>
                <string>{1135,1184}</string>
            </dict>
            <key>jian_guang0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{1866,990},{275,174}}</string>
                <key>offset</key>
                <string>{100,-182}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{530,687},{275,174}}</string>
                <key>sourceSize</key>
                <string>{1135,1184}</string>
            </dict>
            <key>jian_guang0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{1247,1080},{277,180}}</string>
                <key>offset</key>
                <string>{100,-180}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{529,682},{277,180}}</string>
                <key>sourceSize</key>
                <string>{1135,1184}</string>
            </dict>
            <key>jian_guang0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{1247,1080},{277,180}}</string>
                <key>offset</key>
                <string>{100,-180}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{529,682},{277,180}}</string>
                <key>sourceSize</key>
                <string>{1135,1184}</string>
            </dict>
            <key>jian_guang0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{1497,1580},{241,152}}</string>
                <key>offset</key>
                <string>{92,-192}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{539,708},{241,152}}</string>
                <key>sourceSize</key>
                <string>{1135,1184}</string>
            </dict>
            <key>jian_guang0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{1497,1580},{241,152}}</string>
                <key>offset</key>
                <string>{92,-192}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{539,708},{241,152}}</string>
                <key>sourceSize</key>
                <string>{1135,1184}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skin_1042g.png</string>
            <key>size</key>
            <string>{2041,1755}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2b67379fbe8f294fdf34b712f08c13d1:8cf2fd4db0cd4dfec1fc2f1123f2d100:57e6385894a937e949f5d961e2359593$</string>
            <key>textureFileName</key>
            <string>skin_1042g.png</string>
        </dict>
    </dict>
</plist>
