<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1045showtx0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1568,498},{204,228}}</string>
                <key>offset</key>
                <string>{-23,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{355,205},{204,228}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1045showtx0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1568,498},{204,228}}</string>
                <key>offset</key>
                <string>{-23,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{355,205},{204,228}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1045showtx0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1568,498},{204,228}}</string>
                <key>offset</key>
                <string>{-23,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{355,205},{204,228}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1045showtx0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1568,498},{204,228}}</string>
                <key>offset</key>
                <string>{-23,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{355,205},{204,228}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1045showtx0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1568,498},{204,228}}</string>
                <key>offset</key>
                <string>{-23,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{355,205},{204,228}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1045showtx0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,808},{198,230}}</string>
                <key>offset</key>
                <string>{-19,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{362,203},{198,230}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1045showtx0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,808},{198,230}}</string>
                <key>offset</key>
                <string>{-19,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{362,203},{198,230}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1045showtx0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,808},{198,230}}</string>
                <key>offset</key>
                <string>{-19,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{362,203},{198,230}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1045showtx0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,808},{198,230}}</string>
                <key>offset</key>
                <string>{-19,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{362,203},{198,230}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1045showtx0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,808},{198,230}}</string>
                <key>offset</key>
                <string>{-19,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{362,203},{198,230}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1045showtx0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1318,808},{196,232}}</string>
                <key>offset</key>
                <string>{-18,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{364,201},{196,232}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1045showtx0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1318,808},{196,232}}</string>
                <key>offset</key>
                <string>{-18,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{364,201},{196,232}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1045showtx0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1318,808},{196,232}}</string>
                <key>offset</key>
                <string>{-18,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{364,201},{196,232}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1045showtx0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1318,808},{196,232}}</string>
                <key>offset</key>
                <string>{-18,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{364,201},{196,232}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1045showtx0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1318,808},{196,232}}</string>
                <key>offset</key>
                <string>{-18,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{364,201},{196,232}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1045showtx0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1236,268},{204,232}}</string>
                <key>offset</key>
                <string>{-23,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{355,201},{204,232}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1045showtx0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1236,268},{204,232}}</string>
                <key>offset</key>
                <string>{-23,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{355,201},{204,232}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1045showtx0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1236,268},{204,232}}</string>
                <key>offset</key>
                <string>{-23,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{355,201},{204,232}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1045showtx0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1236,268},{204,232}}</string>
                <key>offset</key>
                <string>{-23,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{355,201},{204,232}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1045showtx0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1236,268},{204,232}}</string>
                <key>offset</key>
                <string>{-23,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{355,201},{204,232}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1045showtx0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1440,268},{210,230}}</string>
                <key>offset</key>
                <string>{-25,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{350,203},{210,230}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1045showtx0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1440,268},{210,230}}</string>
                <key>offset</key>
                <string>{-25,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{350,203},{210,230}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1045showtx0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1440,268},{210,230}}</string>
                <key>offset</key>
                <string>{-25,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{350,203},{210,230}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1045showtx0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{1440,268},{210,230}}</string>
                <key>offset</key>
                <string>{-25,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{350,203},{210,230}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1045showtx0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{1440,268},{210,230}}</string>
                <key>offset</key>
                <string>{-25,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{350,203},{210,230}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1045showtx0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{1550,802},{204,228}}</string>
                <key>offset</key>
                <string>{-23,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{355,205},{204,228}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1045showtx0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{1550,802},{204,228}}</string>
                <key>offset</key>
                <string>{-23,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{355,205},{204,228}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1045showtx0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{1550,802},{204,228}}</string>
                <key>offset</key>
                <string>{-23,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{355,205},{204,228}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1045showtx0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{1550,802},{204,228}}</string>
                <key>offset</key>
                <string>{-23,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{355,205},{204,228}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1045showtx0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{1550,802},{204,228}}</string>
                <key>offset</key>
                <string>{-23,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{355,205},{204,228}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1045showtx0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{1550,0},{240,268}}</string>
                <key>offset</key>
                <string>{-10,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{350,155},{240,268}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1045showtx0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{1550,0},{240,268}}</string>
                <key>offset</key>
                <string>{-10,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{350,155},{240,268}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1045showtx0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{1364,500},{302,204}}</string>
                <key>offset</key>
                <string>{-20,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{309,171},{302,204}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1045showtx0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{1364,500},{302,204}}</string>
                <key>offset</key>
                <string>{-20,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{309,171},{302,204}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1045showtx0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{1364,500},{302,204}}</string>
                <key>offset</key>
                <string>{-20,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{309,171},{302,204}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1045showtx0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,508},{138,318}}</string>
                <key>offset</key>
                <string>{3,143}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{414,18},{138,318}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1045showtx0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,508},{138,318}}</string>
                <key>offset</key>
                <string>{3,143}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{414,18},{138,318}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1045showtx0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,502},{306,276}}</string>
                <key>offset</key>
                <string>{104,148}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{431,34},{306,276}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1045showtx0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,502},{306,276}}</string>
                <key>offset</key>
                <string>{104,148}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{431,34},{306,276}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1045showtx0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{508,362}}</string>
                <key>offset</key>
                <string>{223,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{449,112},{508,362}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1045showtx0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{508,362}}</string>
                <key>offset</key>
                <string>{223,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{449,112},{508,362}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1045showtx0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,0},{502,280}}</string>
                <key>offset</key>
                <string>{229,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{458,190},{502,280}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1045showtx0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,0},{502,280}}</string>
                <key>offset</key>
                <string>{229,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{458,190},{502,280}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1045showtx0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,502},{502,282}}</string>
                <key>offset</key>
                <string>{229,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{458,217},{502,282}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1045showtx0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,502},{502,282}}</string>
                <key>offset</key>
                <string>{229,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{458,217},{502,282}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1045showtx0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,0},{502,286}}</string>
                <key>offset</key>
                <string>{229,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{458,214},{502,286}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1045showtx0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,0},{502,286}}</string>
                <key>offset</key>
                <string>{229,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{458,214},{502,286}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1045showtx0048.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,0},{502,308}}</string>
                <key>offset</key>
                <string>{229,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{458,211},{502,308}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1045showtx0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,508},{502,308}}</string>
                <key>offset</key>
                <string>{229,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{458,211},{502,308}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1045showtx0050.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,508},{490,166}}</string>
                <key>offset</key>
                <string>{223,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{458,274},{490,166}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1045showtx0051.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,508},{490,166}}</string>
                <key>offset</key>
                <string>{223,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{458,274},{490,166}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1045showtx0052.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,816},{262,168}}</string>
                <key>offset</key>
                <string>{102,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{451,273},{262,168}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1045showtx0053.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,816},{262,168}}</string>
                <key>offset</key>
                <string>{102,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{451,273},{262,168}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1045showtx0054.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,816},{158,186}}</string>
                <key>offset</key>
                <string>{54,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{455,247},{158,186}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1045showtx0055.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,816},{158,186}}</string>
                <key>offset</key>
                <string>{54,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{455,247},{158,186}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1045showtx0056.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,816},{158,186}}</string>
                <key>offset</key>
                <string>{54,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{455,247},{158,186}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1045showtx0057.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,826},{180,206}}</string>
                <key>offset</key>
                <string>{39,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{429,227},{180,206}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1045showtx0058.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,826},{180,206}}</string>
                <key>offset</key>
                <string>{39,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{429,227},{180,206}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1045showtx0059.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,826},{180,206}}</string>
                <key>offset</key>
                <string>{39,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{429,227},{180,206}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1045showtx0060.png</key>
            <dict>
                <key>frame</key>
                <string>{{1236,0},{210,218}}</string>
                <key>offset</key>
                <string>{30,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{405,215},{210,218}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1045showtx0061.png</key>
            <dict>
                <key>frame</key>
                <string>{{1236,0},{210,218}}</string>
                <key>offset</key>
                <string>{30,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{405,215},{210,218}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1045showtx0062.png</key>
            <dict>
                <key>frame</key>
                <string>{{1236,0},{210,218}}</string>
                <key>offset</key>
                <string>{30,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{405,215},{210,218}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skin_1045.png</string>
            <key>size</key>
            <string>{1802,1006}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:27258659828ad65637d972ce6375a6a4:b681a93e31a83de9cb22254d13ff2a30:86f02ef9553073e5124e8716dae43b16$</string>
            <key>textureFileName</key>
            <string>skin_1045.png</string>
        </dict>
    </dict>
</plist>
