<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1035 (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{450,1232},{150,224}}</string>
                <key>offset</key>
                <string>{-24,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{381,209},{150,224}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1035 (10).png</key>
            <dict>
                <key>frame</key>
                <string>{{1100,1748},{150,222}}</string>
                <key>offset</key>
                <string>{-24,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{381,211},{150,222}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1035 (11).png</key>
            <dict>
                <key>frame</key>
                <string>{{300,1232},{150,224}}</string>
                <key>offset</key>
                <string>{-24,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{381,209},{150,224}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1035 (12).png</key>
            <dict>
                <key>frame</key>
                <string>{{150,1232},{150,224}}</string>
                <key>offset</key>
                <string>{-24,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{381,209},{150,224}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1035 (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1232},{150,224}}</string>
                <key>offset</key>
                <string>{-24,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{381,209},{150,224}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1035 (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{1306,224},{150,224}}</string>
                <key>offset</key>
                <string>{-24,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{381,209},{150,224}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1035 (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{1306,0},{150,224}}</string>
                <key>offset</key>
                <string>{-24,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{381,209},{150,224}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1035 (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{950,1748},{150,222}}</string>
                <key>offset</key>
                <string>{-24,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{381,211},{150,222}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1035 (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{1050,1190},{150,222}}</string>
                <key>offset</key>
                <string>{-24,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{381,211},{150,222}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1035 (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{900,1190},{150,222}}</string>
                <key>offset</key>
                <string>{-24,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{381,211},{150,222}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1035 (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{750,1190},{150,222}}</string>
                <key>offset</key>
                <string>{-24,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{381,211},{150,222}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1035 (9).png</key>
            <dict>
                <key>frame</key>
                <string>{{600,1190},{150,222}}</string>
                <key>offset</key>
                <string>{-24,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{381,211},{150,222}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10350001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1250,1894},{146,220}}</string>
                <key>offset</key>
                <string>{-23,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{384,224},{146,220}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10350002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1250,1894},{146,220}}</string>
                <key>offset</key>
                <string>{-23,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{384,224},{146,220}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10350003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1304,448},{180,198}}</string>
                <key>offset</key>
                <string>{54,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{444,235},{180,198}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10350004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1304,448},{180,198}}</string>
                <key>offset</key>
                <string>{54,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{444,235},{180,198}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10350005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1278,752},{388,184}}</string>
                <key>offset</key>
                <string>{27,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{313,257},{388,184}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10350006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1222,1140},{318,226}}</string>
                <key>offset</key>
                <string>{-14,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{307,216},{318,226}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10350007.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,1458},{518,290}}</string>
                <key>offset</key>
                <string>{77,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{298,160},{518,290}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10350008.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,1458},{564,284}}</string>
                <key>offset</key>
                <string>{97,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{295,161},{564,284}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10350009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,640},{614,296}}</string>
                <key>offset</key>
                <string>{124,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{297,158},{614,296}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10350010.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,896},{608,294}}</string>
                <key>offset</key>
                <string>{125,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{301,152},{608,294}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10350011.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,300},{646,314}}</string>
                <key>offset</key>
                <string>{125,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{282,132},{646,314}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10350012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{658,348}}</string>
                <key>offset</key>
                <string>{127,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{278,103},{658,348}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10350013.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,614},{634,282}}</string>
                <key>offset</key>
                <string>{131,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{294,162},{634,282}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10350014.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,0},{648,300}}</string>
                <key>offset</key>
                <string>{132,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{288,144},{648,300}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10350015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,348},{644,292}}</string>
                <key>offset</key>
                <string>{158,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{316,152},{644,292}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10350016.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,1458},{524,318}}</string>
                <key>offset</key>
                <string>{186,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{404,132},{524,318}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10350017.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1458},{576,348}}</string>
                <key>offset</key>
                <string>{168,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{360,103},{576,348}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10350018.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,936},{594,296}}</string>
                <key>offset</key>
                <string>{152,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{335,158},{594,296}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10350019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1278,646},{106,188}}</string>
                <key>offset</key>
                <string>{14,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{441,250},{106,188}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10350020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1278,646},{106,188}}</string>
                <key>offset</key>
                <string>{14,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{441,250},{106,188}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10350021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1250,1748},{146,220}}</string>
                <key>offset</key>
                <string>{-23,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{384,224},{146,220}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10350022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1250,1748},{146,220}}</string>
                <key>offset</key>
                <string>{-23,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{384,224},{146,220}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skin_1035.png</string>
            <key>size</key>
            <string>{1484,2040}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:413578ca9a9dc4bd9b91150329152308:42dc131140a43200a61680067ab03f03:20610afecdc27d439389fcb02e9a046c$</string>
            <key>textureFileName</key>
            <string>skin_1035.png</string>
        </dict>
    </dict>
</plist>
