<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1020Ashowup0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1940,696},{58,60}}</string>
                <key>offset</key>
                <string>{54,87}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{505,283},{58,60}}</string>
                <key>sourceSize</key>
                <string>{960,800}</string>
            </dict>
            <key>1020Ashowup0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1942,634},{62,62}}</string>
                <key>offset</key>
                <string>{54,87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{503,282},{62,62}}</string>
                <key>sourceSize</key>
                <string>{960,800}</string>
            </dict>
            <key>1020Ashowup0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1946,570},{64,66}}</string>
                <key>offset</key>
                <string>{54,88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{502,279},{64,66}}</string>
                <key>sourceSize</key>
                <string>{960,800}</string>
            </dict>
            <key>1020Ashowup0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1880,444},{68,70}}</string>
                <key>offset</key>
                <string>{54,89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{500,276},{68,70}}</string>
                <key>sourceSize</key>
                <string>{960,800}</string>
            </dict>
            <key>1020Ashowup0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1956,374},{70,72}}</string>
                <key>offset</key>
                <string>{54,89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{499,275},{70,72}}</string>
                <key>sourceSize</key>
                <string>{960,800}</string>
            </dict>
            <key>1020Ashowup0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1958,302},{72,74}}</string>
                <key>offset</key>
                <string>{54,90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{498,273},{72,74}}</string>
                <key>sourceSize</key>
                <string>{960,800}</string>
            </dict>
            <key>1020Ashowup0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1958,228},{74,74}}</string>
                <key>offset</key>
                <string>{54,90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{497,273},{74,74}}</string>
                <key>sourceSize</key>
                <string>{960,800}</string>
            </dict>
            <key>1020Ashowup0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1960,152},{76,76}}</string>
                <key>offset</key>
                <string>{54,91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{496,271},{76,76}}</string>
                <key>sourceSize</key>
                <string>{960,800}</string>
            </dict>
            <key>1020Ashowup0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1962,76},{76,78}}</string>
                <key>offset</key>
                <string>{54,92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{496,269},{76,78}}</string>
                <key>sourceSize</key>
                <string>{960,800}</string>
            </dict>
            <key>1020Ashowup0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1884,76},{76,78}}</string>
                <key>offset</key>
                <string>{54,92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{496,269},{76,78}}</string>
                <key>sourceSize</key>
                <string>{960,800}</string>
            </dict>
            <key>1020Ashowup0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1958,512},{58,76}}</string>
                <key>offset</key>
                <string>{45,93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{496,269},{58,76}}</string>
                <key>sourceSize</key>
                <string>{960,800}</string>
            </dict>
            <key>1020Ashowup0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2004,682},{48,38}}</string>
                <key>offset</key>
                <string>{50,100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{506,281},{48,38}}</string>
                <key>sourceSize</key>
                <string>{960,800}</string>
            </dict>
            <key>1020Ashowup0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1880,696},{58,60}}</string>
                <key>offset</key>
                <string>{54,96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{505,274},{58,60}}</string>
                <key>sourceSize</key>
                <string>{960,800}</string>
            </dict>
            <key>1020Ashowup0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1880,634},{62,62}}</string>
                <key>offset</key>
                <string>{54,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{503,275},{62,62}}</string>
                <key>sourceSize</key>
                <string>{960,800}</string>
            </dict>
            <key>1020Ashowup0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1880,570},{64,66}}</string>
                <key>offset</key>
                <string>{54,93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{502,274},{64,66}}</string>
                <key>sourceSize</key>
                <string>{960,800}</string>
            </dict>
            <key>1020Ashowup0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1950,444},{68,68}}</string>
                <key>offset</key>
                <string>{54,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{500,274},{68,68}}</string>
                <key>sourceSize</key>
                <string>{960,800}</string>
            </dict>
            <key>1020Ashowup0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1884,374},{70,72}}</string>
                <key>offset</key>
                <string>{54,91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{499,273},{70,72}}</string>
                <key>sourceSize</key>
                <string>{960,800}</string>
            </dict>
            <key>1020Ashowup0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1884,302},{72,74}}</string>
                <key>offset</key>
                <string>{54,90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{498,273},{72,74}}</string>
                <key>sourceSize</key>
                <string>{960,800}</string>
            </dict>
            <key>1020Ashowup0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1884,228},{74,74}}</string>
                <key>offset</key>
                <string>{54,89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{497,274},{74,74}}</string>
                <key>sourceSize</key>
                <string>{960,800}</string>
            </dict>
            <key>1020Ashowup0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1884,152},{76,76}}</string>
                <key>offset</key>
                <string>{54,88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{496,274},{76,76}}</string>
                <key>sourceSize</key>
                <string>{960,800}</string>
            </dict>
            <key>1020Ashowup0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1962,0},{76,78}}</string>
                <key>offset</key>
                <string>{54,87}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{496,274},{76,78}}</string>
                <key>sourceSize</key>
                <string>{960,800}</string>
            </dict>
            <key>1020Ashowup0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1884,0},{76,78}}</string>
                <key>offset</key>
                <string>{54,86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{496,275},{76,78}}</string>
                <key>sourceSize</key>
                <string>{960,800}</string>
            </dict>
            <key>1020Ashowup0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1880,512},{58,78}}</string>
                <key>offset</key>
                <string>{45,86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{496,275},{58,78}}</string>
                <key>sourceSize</key>
                <string>{960,800}</string>
            </dict>
            <key>1020Ashowup0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2004,634},{48,38}}</string>
                <key>offset</key>
                <string>{50,91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{506,290},{48,38}}</string>
                <key>sourceSize</key>
                <string>{960,800}</string>
            </dict>
            <key>1020Ashowup0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,1472},{244,372}}</string>
                <key>offset</key>
                <string>{8,204}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{366,10},{244,372}}</string>
                <key>sourceSize</key>
                <string>{960,800}</string>
            </dict>
            <key>1020Ashowup0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{1564,786},{480,560}}</string>
                <key>offset</key>
                <string>{18,120}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{258,0},{480,560}}</string>
                <key>sourceSize</key>
                <string>{960,800}</string>
            </dict>
            <key>1020Ashowup0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,410},{718,506}}</string>
                <key>offset</key>
                <string>{18,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,71},{718,506}}</string>
                <key>sourceSize</key>
                <string>{960,800}</string>
            </dict>
            <key>1020Ashowup0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,410},{718,506}}</string>
                <key>offset</key>
                <string>{18,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,71},{718,506}}</string>
                <key>sourceSize</key>
                <string>{960,800}</string>
            </dict>
            <key>1020Ashowup0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,1472},{682,460}}</string>
                <key>offset</key>
                <string>{17,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,103},{682,460}}</string>
                <key>sourceSize</key>
                <string>{960,800}</string>
            </dict>
            <key>1020Ashowup0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,1472},{682,460}}</string>
                <key>offset</key>
                <string>{17,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,103},{682,460}}</string>
                <key>sourceSize</key>
                <string>{960,800}</string>
            </dict>
            <key>1020Ashowup0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,410},{646,222}}</string>
                <key>offset</key>
                <string>{18,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,348},{646,222}}</string>
                <key>sourceSize</key>
                <string>{960,800}</string>
            </dict>
            <key>1020Ashowup0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,410},{646,222}}</string>
                <key>offset</key>
                <string>{18,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,348},{646,222}}</string>
                <key>sourceSize</key>
                <string>{960,800}</string>
            </dict>
            <key>1020Ashowup0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,786},{624,220}}</string>
                <key>offset</key>
                <string>{18,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,349},{624,220}}</string>
                <key>sourceSize</key>
                <string>{960,800}</string>
            </dict>
            <key>1020Ashowup0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,786},{624,220}}</string>
                <key>offset</key>
                <string>{18,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,349},{624,220}}</string>
                <key>sourceSize</key>
                <string>{960,800}</string>
            </dict>
            <key>1020Ashowup0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{1776,1346},{620,186}}</string>
                <key>offset</key>
                <string>{18,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,348},{620,186}}</string>
                <key>sourceSize</key>
                <string>{960,800}</string>
            </dict>
            <key>1020Ashowup0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{1776,1346},{620,186}}</string>
                <key>offset</key>
                <string>{18,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,348},{620,186}}</string>
                <key>sourceSize</key>
                <string>{960,800}</string>
            </dict>
            <key>1020Ashowup0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1816},{334,186}}</string>
                <key>offset</key>
                <string>{12,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{325,348},{334,186}}</string>
                <key>sourceSize</key>
                <string>{960,800}</string>
            </dict>
            <key>1020Ashowup0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1816},{334,186}}</string>
                <key>offset</key>
                <string>{12,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{325,348},{334,186}}</string>
                <key>sourceSize</key>
                <string>{960,800}</string>
            </dict>
            <key>1020Ashowup0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1816},{334,186}}</string>
                <key>offset</key>
                <string>{12,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{325,348},{334,186}}</string>
                <key>sourceSize</key>
                <string>{960,800}</string>
            </dict>
            <key>1020Ashowup0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1816},{334,186}}</string>
                <key>offset</key>
                <string>{12,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{325,348},{334,186}}</string>
                <key>sourceSize</key>
                <string>{960,800}</string>
            </dict>
            <key>1020Ashowup0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1816},{334,186}}</string>
                <key>offset</key>
                <string>{12,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{325,348},{334,186}}</string>
                <key>sourceSize</key>
                <string>{960,800}</string>
            </dict>
            <key>1020Ashowup0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1816},{334,186}}</string>
                <key>offset</key>
                <string>{12,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{325,348},{334,186}}</string>
                <key>sourceSize</key>
                <string>{960,800}</string>
            </dict>
            <key>1020Ashowup0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1816},{334,186}}</string>
                <key>offset</key>
                <string>{12,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{325,348},{334,186}}</string>
                <key>sourceSize</key>
                <string>{960,800}</string>
            </dict>
            <key>1020Ashowup0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1816},{334,186}}</string>
                <key>offset</key>
                <string>{12,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{325,348},{334,186}}</string>
                <key>sourceSize</key>
                <string>{960,800}</string>
            </dict>
            <key>1020Ashowup0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1816},{334,186}}</string>
                <key>offset</key>
                <string>{12,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{325,348},{334,186}}</string>
                <key>sourceSize</key>
                <string>{960,800}</string>
            </dict>
            <key>1020Ashowup0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1816},{334,186}}</string>
                <key>offset</key>
                <string>{12,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{325,348},{334,186}}</string>
                <key>sourceSize</key>
                <string>{960,800}</string>
            </dict>
            <key>1020Ashowup0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,916},{814,294}}</string>
                <key>offset</key>
                <string>{10,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,241},{814,294}}</string>
                <key>sourceSize</key>
                <string>{960,800}</string>
            </dict>
            <key>1020Ashowup0048.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,916},{814,294}}</string>
                <key>offset</key>
                <string>{10,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,241},{814,294}}</string>
                <key>sourceSize</key>
                <string>{960,800}</string>
            </dict>
            <key>1020Ashowup0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,916},{900,378}}</string>
                <key>offset</key>
                <string>{10,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,182},{900,378}}</string>
                <key>sourceSize</key>
                <string>{960,800}</string>
            </dict>
            <key>1020Ashowup0050.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,916},{900,378}}</string>
                <key>offset</key>
                <string>{10,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,182},{900,378}}</string>
                <key>sourceSize</key>
                <string>{960,800}</string>
            </dict>
            <key>1020Ashowup0051.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,398},{938,388}}</string>
                <key>offset</key>
                <string>{9,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,178},{938,388}}</string>
                <key>sourceSize</key>
                <string>{960,800}</string>
            </dict>
            <key>1020Ashowup0052.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,398},{938,388}}</string>
                <key>offset</key>
                <string>{9,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,178},{938,388}}</string>
                <key>sourceSize</key>
                <string>{960,800}</string>
            </dict>
            <key>1020Ashowup0053.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,0},{942,398}}</string>
                <key>offset</key>
                <string>{9,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,173},{942,398}}</string>
                <key>sourceSize</key>
                <string>{960,800}</string>
            </dict>
            <key>1020Ashowup0054.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,0},{942,398}}</string>
                <key>offset</key>
                <string>{9,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,173},{942,398}}</string>
                <key>sourceSize</key>
                <string>{960,800}</string>
            </dict>
            <key>1020Ashowup0055.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{942,410}}</string>
                <key>offset</key>
                <string>{9,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,164},{942,410}}</string>
                <key>sourceSize</key>
                <string>{960,800}</string>
            </dict>
            <key>1020Ashowup0056.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{942,410}}</string>
                <key>offset</key>
                <string>{9,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,164},{942,410}}</string>
                <key>sourceSize</key>
                <string>{960,800}</string>
            </dict>
            <key>1020Ashowup0057.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,1056},{756,416}}</string>
                <key>offset</key>
                <string>{31,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,159},{756,416}}</string>
                <key>sourceSize</key>
                <string>{960,800}</string>
            </dict>
            <key>1020Ashowup0058.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,1056},{756,416}}</string>
                <key>offset</key>
                <string>{31,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,159},{756,416}}</string>
                <key>sourceSize</key>
                <string>{960,800}</string>
            </dict>
            <key>1020Ashowup0059.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,1730},{716,312}}</string>
                <key>offset</key>
                <string>{10,86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,158},{716,312}}</string>
                <key>sourceSize</key>
                <string>{960,800}</string>
            </dict>
            <key>1020Ashowup0060.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,1730},{716,312}}</string>
                <key>offset</key>
                <string>{10,86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,158},{716,312}}</string>
                <key>sourceSize</key>
                <string>{960,800}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skin_1020At.png</string>
            <key>size</key>
            <string>{2044,2044}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1be6f72fddc8f3b37016b646a79c5ea4:d1cc5dedf1077e41bc5ec89ee93ffe64:e2a213abb023bd57783b727b6d4b355f$</string>
            <key>textureFileName</key>
            <string>skin_1020At.png</string>
        </dict>
    </dict>
</plist>
