<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>101620059.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,1564},{156,444}}</string>
                <key>offset</key>
                <string>{-15,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{387,6},{156,444}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>101620060.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1564},{184,444}}</string>
                <key>offset</key>
                <string>{-5,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{383,6},{184,444}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>101620061.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1114},{522,334}}</string>
                <key>offset</key>
                <string>{-31,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,102},{522,334}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>101620062.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,1112},{528,368}}</string>
                <key>offset</key>
                <string>{-20,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,72},{528,368}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>101620063.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,0},{552,374}}</string>
                <key>offset</key>
                <string>{-8,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,65},{552,374}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>101620064.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,0},{552,374}}</string>
                <key>offset</key>
                <string>{-8,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,65},{552,374}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>101620065.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,744},{530,370}}</string>
                <key>offset</key>
                <string>{-20,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,71},{530,370}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>101620066.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,744},{530,370}}</string>
                <key>offset</key>
                <string>{-20,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,71},{530,370}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>101620067.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,374},{542,370}}</string>
                <key>offset</key>
                <string>{-13,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,71},{542,370}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>101620068.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,374},{542,370}}</string>
                <key>offset</key>
                <string>{-13,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,71},{542,370}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>101620069.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,374},{532,370}}</string>
                <key>offset</key>
                <string>{-18,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,71},{532,370}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>101620070.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,374},{532,370}}</string>
                <key>offset</key>
                <string>{-18,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,71},{532,370}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>101620071.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,744},{530,370}}</string>
                <key>offset</key>
                <string>{-20,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,71},{530,370}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>101620072.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,744},{530,370}}</string>
                <key>offset</key>
                <string>{-20,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,71},{530,370}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>101620073.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,744},{530,370}}</string>
                <key>offset</key>
                <string>{-20,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,71},{530,370}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>101620074.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{552,374}}</string>
                <key>offset</key>
                <string>{-8,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,65},{552,374}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>101620075.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{552,374}}</string>
                <key>offset</key>
                <string>{-8,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,65},{552,374}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>101620076.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,744},{528,368}}</string>
                <key>offset</key>
                <string>{-20,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,72},{528,368}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>101620077.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,744},{528,368}}</string>
                <key>offset</key>
                <string>{-20,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,72},{528,368}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>101620078.png</key>
            <dict>
                <key>frame</key>
                <string>{{1104,0},{522,282}}</string>
                <key>offset</key>
                <string>{-31,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,154},{522,282}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>101620079.png</key>
            <dict>
                <key>frame</key>
                <string>{{1104,0},{522,282}}</string>
                <key>offset</key>
                <string>{-31,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,154},{522,282}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>101620080.png</key>
            <dict>
                <key>frame</key>
                <string>{{1258,1772},{162,258}}</string>
                <key>offset</key>
                <string>{-8,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{391,154},{162,258}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>101620081.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,1614},{160,258}}</string>
                <key>offset</key>
                <string>{-8,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{392,155},{160,258}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>101620082.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,1614},{166,352}}</string>
                <key>offset</key>
                <string>{-9,86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{388,58},{166,352}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>101620083.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,1448},{166,344}}</string>
                <key>offset</key>
                <string>{-9,78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{388,70},{166,344}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>101620084.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,1448},{166,344}}</string>
                <key>offset</key>
                <string>{-9,78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{388,70},{166,344}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>101620085.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,1448},{166,344}}</string>
                <key>offset</key>
                <string>{-9,78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{388,70},{166,344}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>101620086.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,1448},{166,344}}</string>
                <key>offset</key>
                <string>{-9,78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{388,70},{166,344}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>101620087.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,1448},{166,344}}</string>
                <key>offset</key>
                <string>{-9,78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{388,70},{166,344}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>101620088.png</key>
            <dict>
                <key>frame</key>
                <string>{{1036,1772},{260,222}}</string>
                <key>offset</key>
                <string>{26,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{376,189},{260,222}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>101620089.png</key>
            <dict>
                <key>frame</key>
                <string>{{1036,1772},{260,222}}</string>
                <key>offset</key>
                <string>{26,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{376,189},{260,222}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>101620090.png</key>
            <dict>
                <key>frame</key>
                <string>{{1074,732},{350,202}}</string>
                <key>offset</key>
                <string>{39,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{344,208},{350,202}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1016a0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1058,1354},{354,210}}</string>
                <key>offset</key>
                <string>{52,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{355,217},{354,210}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1016a0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,1480},{354,206}}</string>
                <key>offset</key>
                <string>{51,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{354,221},{354,206}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1016a0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,1686},{352,206}}</string>
                <key>offset</key>
                <string>{50,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{354,221},{352,206}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1016a0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1038,1564},{352,208}}</string>
                <key>offset</key>
                <string>{48,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{352,219},{352,208}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1016a0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1074,522},{350,210}}</string>
                <key>offset</key>
                <string>{48,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{353,217},{350,210}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1016a0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1058,1144},{354,210}}</string>
                <key>offset</key>
                <string>{49,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{352,217},{354,210}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1016a0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1058,934},{360,210}}</string>
                <key>offset</key>
                <string>{51,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{351,217},{360,210}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skin_1016A.png</string>
            <key>size</key>
            <string>{1424,2034}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:54cd42c6182c0487ec2fec5119448518:06d6e45bc8ce38879a303908fca1f313:f421d18738d4e36f228cc6b9b9601b45$</string>
            <key>textureFileName</key>
            <string>skin_1016A.png</string>
        </dict>
    </dict>
</plist>
