<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1020 (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1804},{314,222}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{322,208},{314,222}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1020 (10).png</key>
            <dict>
                <key>frame</key>
                <string>{{1650,1596},{304,238}}</string>
                <key>offset</key>
                <string>{-6,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{322,193},{304,238}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1020 (11).png</key>
            <dict>
                <key>frame</key>
                <string>{{314,1804},{304,222}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{322,209},{304,222}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1020 (12).png</key>
            <dict>
                <key>frame</key>
                <string>{{1440,1112},{304,224}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{322,207},{304,224}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1020 (13).png</key>
            <dict>
                <key>frame</key>
                <string>{{1604,594},{312,232}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{319,199},{312,232}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1020 (14).png</key>
            <dict>
                <key>frame</key>
                <string>{{1604,362},{312,232}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{319,199},{312,232}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1020 (15).png</key>
            <dict>
                <key>frame</key>
                <string>{{1372,482},{312,232}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{319,199},{312,232}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1020 (16).png</key>
            <dict>
                <key>frame</key>
                <string>{{1418,1416},{312,232}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{319,199},{312,232}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1020 (17).png</key>
            <dict>
                <key>frame</key>
                <string>{{510,1010},{312,234}}</string>
                <key>offset</key>
                <string>{-5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{319,197},{312,234}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1020 (18).png</key>
            <dict>
                <key>frame</key>
                <string>{{510,776},{312,234}}</string>
                <key>offset</key>
                <string>{-5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{319,197},{312,234}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1020 (19).png</key>
            <dict>
                <key>frame</key>
                <string>{{1104,1350},{314,232}}</string>
                <key>offset</key>
                <string>{-7,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{316,198},{314,232}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1020 (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{822,1030},{314,224}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{322,206},{314,224}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1020 (20).png</key>
            <dict>
                <key>frame</key>
                <string>{{476,1244},{314,232}}</string>
                <key>offset</key>
                <string>{-7,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{316,198},{314,232}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1020 (21).png</key>
            <dict>
                <key>frame</key>
                <string>{{244,1288},{314,232}}</string>
                <key>offset</key>
                <string>{-7,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{316,198},{314,232}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1020 (22).png</key>
            <dict>
                <key>frame</key>
                <string>{{1136,798},{314,232}}</string>
                <key>offset</key>
                <string>{-7,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{316,198},{314,232}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1020 (23).png</key>
            <dict>
                <key>frame</key>
                <string>{{790,1482},{314,214}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{316,216},{314,214}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1020 (24).png</key>
            <dict>
                <key>frame</key>
                <string>{{476,1476},{314,214}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{316,216},{314,214}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1020 (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{1104,1582},{314,228}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{322,202},{314,228}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1020 (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{790,1254},{314,228}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{322,202},{314,228}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1020 (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{1368,798},{314,230}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{322,200},{314,230}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1020 (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{822,798},{314,232}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{322,198},{314,232}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1020 (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{1664,1062},{304,234}}</string>
                <key>offset</key>
                <string>{-6,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{322,197},{304,234}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1020 (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{1598,826},{304,236}}</string>
                <key>offset</key>
                <string>{-6,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{322,195},{304,236}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1020 (9).png</key>
            <dict>
                <key>frame</key>
                <string>{{1136,1112},{304,238}}</string>
                <key>offset</key>
                <string>{-6,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{322,193},{304,238}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10200001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1650,1416},{180,266}}</string>
                <key>offset</key>
                <string>{-4,108}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{386,79},{180,266}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10200002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1512,0},{370,362}}</string>
                <key>offset</key>
                <string>{7,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{302,97},{370,362}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10200003.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,482},{416,316}}</string>
                <key>offset</key>
                <string>{10,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{282,142},{416,316}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10200004.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,482},{416,316}}</string>
                <key>offset</key>
                <string>{10,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{282,142},{416,316}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10200005.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,246},{444,296}}</string>
                <key>offset</key>
                <string>{11,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{269,158},{444,296}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10200006.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,246},{444,296}}</string>
                <key>offset</key>
                <string>{11,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{269,158},{444,296}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10200007.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,786},{458,138}}</string>
                <key>offset</key>
                <string>{16,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{267,320},{458,138}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10200008.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,786},{458,138}}</string>
                <key>offset</key>
                <string>{16,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{267,320},{458,138}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10200009.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,822},{466,138}}</string>
                <key>offset</key>
                <string>{19,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{266,320},{466,138}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10200010.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,822},{466,138}}</string>
                <key>offset</key>
                <string>{19,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{266,320},{466,138}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10200011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1418,1728},{232,138}}</string>
                <key>offset</key>
                <string>{1,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{365,320},{232,138}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10200012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1418,1728},{232,138}}</string>
                <key>offset</key>
                <string>{1,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{365,320},{232,138}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10200013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1418,1728},{232,138}}</string>
                <key>offset</key>
                <string>{1,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{365,320},{232,138}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10200014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1418,1728},{232,138}}</string>
                <key>offset</key>
                <string>{1,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{365,320},{232,138}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10200015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1418,1728},{232,138}}</string>
                <key>offset</key>
                <string>{1,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{365,320},{232,138}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10200016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1418,1728},{232,138}}</string>
                <key>offset</key>
                <string>{1,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{365,320},{232,138}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10200017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1418,1728},{232,138}}</string>
                <key>offset</key>
                <string>{1,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{365,320},{232,138}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10200018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1418,1728},{232,138}}</string>
                <key>offset</key>
                <string>{1,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{365,320},{232,138}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10200019.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1346},{244,458}}</string>
                <key>offset</key>
                <string>{-5,91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{353,0},{244,458}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10200020.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,250},{232,458}}</string>
                <key>offset</key>
                <string>{1,91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{365,0},{232,458}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10200021.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,542},{234,456}}</string>
                <key>offset</key>
                <string>{0,90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{363,2},{234,456}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10200022.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,542},{234,456}}</string>
                <key>offset</key>
                <string>{0,90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{363,2},{234,456}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10200023.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{484,294}}</string>
                <key>offset</key>
                <string>{26,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{264,154},{484,294}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10200024.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{484,294}}</string>
                <key>offset</key>
                <string>{26,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{264,154},{484,294}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10200025.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,294},{492,256}}</string>
                <key>offset</key>
                <string>{23,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{257,182},{492,256}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10200026.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,294},{492,256}}</string>
                <key>offset</key>
                <string>{23,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{257,182},{492,256}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10200027.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,0},{508,250}}</string>
                <key>offset</key>
                <string>{21,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,182},{508,250}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10200028.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,0},{508,250}}</string>
                <key>offset</key>
                <string>{21,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,182},{508,250}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10200029.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,0},{520,246}}</string>
                <key>offset</key>
                <string>{20,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,182},{520,246}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10200030.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,0},{520,246}}</string>
                <key>offset</key>
                <string>{20,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,182},{520,246}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10200031.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,294},{528,244}}</string>
                <key>offset</key>
                <string>{18,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,182},{528,244}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10200032.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,294},{528,244}}</string>
                <key>offset</key>
                <string>{18,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,182},{528,244}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10200033.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,822},{524,234}}</string>
                <key>offset</key>
                <string>{18,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,182},{524,234}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10200034.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,822},{524,234}}</string>
                <key>offset</key>
                <string>{18,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,182},{524,234}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10200035.png</key>
            <dict>
                <key>frame</key>
                <string>{{1050,1810},{180,234}}</string>
                <key>offset</key>
                <string>{6,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{396,182},{180,234}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10200036.png</key>
            <dict>
                <key>frame</key>
                <string>{{1050,1810},{180,234}}</string>
                <key>offset</key>
                <string>{6,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{396,182},{180,234}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10200037.png</key>
            <dict>
                <key>frame</key>
                <string>{{1050,1810},{180,234}}</string>
                <key>offset</key>
                <string>{6,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{396,182},{180,234}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10200038.png</key>
            <dict>
                <key>frame</key>
                <string>{{1050,1810},{180,234}}</string>
                <key>offset</key>
                <string>{6,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{396,182},{180,234}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10200039.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,1696},{204,218}}</string>
                <key>offset</key>
                <string>{8,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{386,199},{204,218}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10200040.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,1696},{204,218}}</string>
                <key>offset</key>
                <string>{8,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{386,199},{204,218}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10200041.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,1696},{204,218}}</string>
                <key>offset</key>
                <string>{8,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{386,199},{204,218}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10200042.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,1602},{226,202}}</string>
                <key>offset</key>
                <string>{11,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{378,215},{226,202}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10200043.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,1602},{226,202}}</string>
                <key>offset</key>
                <string>{11,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{378,215},{226,202}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10200044.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,1602},{226,202}}</string>
                <key>offset</key>
                <string>{11,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{378,215},{226,202}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10200045.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,1810},{228,210}}</string>
                <key>offset</key>
                <string>{12,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{378,207},{228,210}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10200046.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,1810},{228,210}}</string>
                <key>offset</key>
                <string>{12,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{378,207},{228,210}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10200047.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,1810},{228,210}}</string>
                <key>offset</key>
                <string>{12,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{378,207},{228,210}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skin_1020.png</string>
            <key>size</key>
            <string>{1916,2026}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:75dec8609ed8f31f0eb46e5733506edf:4c46c3ac695fb8b281c8a151e6ce4252:9449d114be09e13961bdc380ecad6614$</string>
            <key>textureFileName</key>
            <string>skin_1020.png</string>
        </dict>
    </dict>
</plist>
