<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1010 (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{930,732},{226,200}}</string>
                <key>offset</key>
                <string>{29,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{396,230},{226,200}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1010 (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{1552,662},{222,198}}</string>
                <key>offset</key>
                <string>{26,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{395,232},{222,198}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1010 (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{1326,860},{224,192}}</string>
                <key>offset</key>
                <string>{26,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{394,239},{224,192}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1010 (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{1130,714},{228,196}}</string>
                <key>offset</key>
                <string>{33,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{399,235},{228,196}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1010 (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{308,842},{230,202}}</string>
                <key>offset</key>
                <string>{35,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{400,230},{230,202}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1010 (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{510,782},{228,196}}</string>
                <key>offset</key>
                <string>{39,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{405,236},{228,196}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1010 (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{1550,860},{222,200}}</string>
                <key>offset</key>
                <string>{40,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{409,233},{222,200}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1010 (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{1326,662},{226,198}}</string>
                <key>offset</key>
                <string>{36,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{403,233},{226,198}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10100028.png</key>
            <dict>
                <key>frame</key>
                <string>{{1772,860},{192,192}}</string>
                <key>offset</key>
                <string>{-8,178}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{376,46},{192,192}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10100029.png</key>
            <dict>
                <key>frame</key>
                <string>{{1308,324},{332,338}}</string>
                <key>offset</key>
                <string>{100,105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{414,46},{332,338}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10100030.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,0},{340,352}}</string>
                <key>offset</key>
                <string>{70,100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{380,44},{340,352}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10100031.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{460,404}}</string>
                <key>offset</key>
                <string>{48,102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{298,16},{460,404}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10100032.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,0},{402,360}}</string>
                <key>offset</key>
                <string>{47,131}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{326,9},{402,360}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10100033.png</key>
            <dict>
                <key>frame</key>
                <string>{{1568,0},{382,296}}</string>
                <key>offset</key>
                <string>{50,151}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{339,21},{382,296}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10100034.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,404},{410,438}}</string>
                <key>offset</key>
                <string>{109,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{384,9},{410,438}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10100035.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,404},{296,378}}</string>
                <key>offset</key>
                <string>{51,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{383,69},{296,378}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10100036.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,360},{298,372}}</string>
                <key>offset</key>
                <string>{53,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{384,75},{298,372}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10100037.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,352},{304,362}}</string>
                <key>offset</key>
                <string>{55,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{383,97},{304,362}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10100038.png</key>
            <dict>
                <key>frame</key>
                <string>{{1202,0},{324,366}}</string>
                <key>offset</key>
                <string>{65,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{383,93},{324,366}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10100039.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,842},{308,230}}</string>
                <key>offset</key>
                <string>{57,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{383,229},{308,230}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10100040.png</key>
            <dict>
                <key>frame</key>
                <string>{{1640,490},{278,172}}</string>
                <key>offset</key>
                <string>{43,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{384,287},{278,172}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10100041.png</key>
            <dict>
                <key>frame</key>
                <string>{{1640,490},{278,172}}</string>
                <key>offset</key>
                <string>{43,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{384,287},{278,172}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10100042.png</key>
            <dict>
                <key>frame</key>
                <string>{{1640,490},{278,172}}</string>
                <key>offset</key>
                <string>{43,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{384,287},{278,172}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10100043.png</key>
            <dict>
                <key>frame</key>
                <string>{{1640,490},{278,172}}</string>
                <key>offset</key>
                <string>{43,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{384,287},{278,172}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10100044.png</key>
            <dict>
                <key>frame</key>
                <string>{{1640,296},{292,194}}</string>
                <key>offset</key>
                <string>{50,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{384,267},{292,194}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10100045.png</key>
            <dict>
                <key>frame</key>
                <string>{{1640,296},{292,194}}</string>
                <key>offset</key>
                <string>{50,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{384,267},{292,194}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10100046.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,732},{224,220}}</string>
                <key>offset</key>
                <string>{48,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{416,237},{224,220}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10100047.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,732},{224,220}}</string>
                <key>offset</key>
                <string>{48,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{416,237},{224,220}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skin_1010.png</string>
            <key>size</key>
            <string>{1964,1072}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:67ce83731ce9c0205bc7d758b87d2dbc:938fd5dad0fb9d71cd7d68d6245ca199:344d84b18db2b26af1266f97a88ef451$</string>
            <key>textureFileName</key>
            <string>skin_1010.png</string>
        </dict>
    </dict>
</plist>
