<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1017 (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{624,1102},{252,186}}</string>
                <key>offset</key>
                <string>{13,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{367,243},{252,186}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1017 (10).png</key>
            <dict>
                <key>frame</key>
                <string>{{690,544},{262,184}}</string>
                <key>offset</key>
                <string>{11,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{360,245},{262,184}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1017 (11).png</key>
            <dict>
                <key>frame</key>
                <string>{{476,1288},{260,182}}</string>
                <key>offset</key>
                <string>{10,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{360,247},{260,182}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1017 (12).png</key>
            <dict>
                <key>frame</key>
                <string>{{890,730},{260,182}}</string>
                <key>offset</key>
                <string>{9,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{359,247},{260,182}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1017 (13).png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1842},{252,186}}</string>
                <key>offset</key>
                <string>{13,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{367,243},{252,186}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1017 (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{632,914},{254,188}}</string>
                <key>offset</key>
                <string>{13,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{366,241},{254,188}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1017 (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{670,1540},{250,190}}</string>
                <key>offset</key>
                <string>{16,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{371,239},{250,190}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1017 (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{848,1288},{248,190}}</string>
                <key>offset</key>
                <string>{18,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{374,239},{248,190}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1017 (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{252,1838},{250,190}}</string>
                <key>offset</key>
                <string>{19,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{374,239},{250,190}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1017 (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{658,1288},{252,190}}</string>
                <key>offset</key>
                <string>{18,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{372,239},{252,190}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1017 (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{482,1548},{254,188}}</string>
                <key>offset</key>
                <string>{17,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{370,241},{254,188}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1017 (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{632,728},{258,186}}</string>
                <key>offset</key>
                <string>{15,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{366,243},{258,186}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1017 (9).png</key>
            <dict>
                <key>frame</key>
                <string>{{952,544},{260,186}}</string>
                <key>offset</key>
                <string>{13,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{363,243},{260,186}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10170001.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,912},{230,148}}</string>
                <key>offset</key>
                <string>{20,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{385,262},{230,148}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10170002.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,1802},{224,168}}</string>
                <key>offset</key>
                <string>{15,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{383,245},{224,168}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10170003.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,1802},{224,168}}</string>
                <key>offset</key>
                <string>{15,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{383,245},{224,168}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10170004.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,1010},{212,278}}</string>
                <key>offset</key>
                <string>{64,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{438,132},{212,278}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10170005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1318},{272,268}}</string>
                <key>offset</key>
                <string>{58,175}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{402,11},{272,268}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10170006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,1728},{234,194}}</string>
                <key>offset</key>
                <string>{-53,206}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{310,17},{234,194}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10170007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,1728},{234,194}}</string>
                <key>offset</key>
                <string>{-53,206}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{310,17},{234,194}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10170008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,1536},{230,192}}</string>
                <key>offset</key>
                <string>{-40,224}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{325,0},{230,192}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10170009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,1536},{230,192}}</string>
                <key>offset</key>
                <string>{-40,224}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{325,0},{230,192}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10170010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,1536},{230,192}}</string>
                <key>offset</key>
                <string>{-40,224}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{325,0},{230,192}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10170011.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,1602},{236,246}}</string>
                <key>offset</key>
                <string>{-5,197}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{357,0},{236,246}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10170012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1586},{236,256}}</string>
                <key>offset</key>
                <string>{-5,192}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{357,0},{236,256}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10170013.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1586},{236,256}}</string>
                <key>offset</key>
                <string>{-5,192}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{357,0},{236,256}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10170014.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,1318},{204,284}}</string>
                <key>offset</key>
                <string>{68,178}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{446,0},{204,284}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10170015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1010},{412,308}}</string>
                <key>offset</key>
                <string>{107,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{381,142},{412,308}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10170016.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,272},{548,272}}</string>
                <key>offset</key>
                <string>{122,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{328,186},{548,272}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10170017.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,0},{548,272}}</string>
                <key>offset</key>
                <string>{122,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{328,186},{548,272}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10170018.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,686},{632,324}}</string>
                <key>offset</key>
                <string>{125,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{289,136},{632,324}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10170019.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,686},{632,324}}</string>
                <key>offset</key>
                <string>{125,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{289,136},{632,324}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10170020.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,686},{632,324}}</string>
                <key>offset</key>
                <string>{125,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{289,136},{632,324}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10170021.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,346},{690,340}}</string>
                <key>offset</key>
                <string>{118,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,119},{690,340}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10170022.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,346},{690,340}}</string>
                <key>offset</key>
                <string>{118,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,119},{690,340}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10170023.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,346},{690,340}}</string>
                <key>offset</key>
                <string>{118,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,119},{690,340}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10170024.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,346},{690,340}}</string>
                <key>offset</key>
                <string>{118,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,119},{690,340}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10170025.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{712,346}}</string>
                <key>offset</key>
                <string>{121,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{245,115},{712,346}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10170026.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{712,346}}</string>
                <key>offset</key>
                <string>{121,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{245,115},{712,346}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10170027.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{712,346}}</string>
                <key>offset</key>
                <string>{121,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{245,115},{712,346}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10170028.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,1782},{242,172}}</string>
                <key>offset</key>
                <string>{104,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{463,257},{242,172}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10170029.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,1536},{246,170}}</string>
                <key>offset</key>
                <string>{88,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{445,258},{246,170}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10170030.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,1536},{246,170}}</string>
                <key>offset</key>
                <string>{88,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{445,258},{246,170}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10170031.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,1536},{246,170}}</string>
                <key>offset</key>
                <string>{88,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{445,258},{246,170}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10170032.png</key>
            <dict>
                <key>frame</key>
                <string>{{1038,1118},{234,190}}</string>
                <key>offset</key>
                <string>{65,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{428,240},{234,190}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10170033.png</key>
            <dict>
                <key>frame</key>
                <string>{{1038,1118},{234,190}}</string>
                <key>offset</key>
                <string>{65,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{428,240},{234,190}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10170034.png</key>
            <dict>
                <key>frame</key>
                <string>{{1038,1118},{234,190}}</string>
                <key>offset</key>
                <string>{65,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{428,240},{234,190}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10170035.png</key>
            <dict>
                <key>frame</key>
                <string>{{1038,912},{222,206}}</string>
                <key>offset</key>
                <string>{44,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{413,218},{222,206}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10170036.png</key>
            <dict>
                <key>frame</key>
                <string>{{1038,912},{222,206}}</string>
                <key>offset</key>
                <string>{44,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{413,218},{222,206}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10170037.png</key>
            <dict>
                <key>frame</key>
                <string>{{1038,912},{222,206}}</string>
                <key>offset</key>
                <string>{44,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{413,218},{222,206}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10170038.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,1790},{238,192}}</string>
                <key>offset</key>
                <string>{37,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{398,218},{238,192}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10170039.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,1790},{238,192}}</string>
                <key>offset</key>
                <string>{37,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{398,218},{238,192}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10170040.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,1790},{238,192}}</string>
                <key>offset</key>
                <string>{37,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{398,218},{238,192}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skin_1017.png</string>
            <key>size</key>
            <string>{1260,2029}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:470ef8d701d593f46e493ecabe6d165f:cc03ca14fbb36f5611cc1ad7aa673116:e10e0863eaa8910c0e191eb2bec1a78d$</string>
            <key>textureFileName</key>
            <string>skin_1017.png</string>
        </dict>
    </dict>
</plist>
