<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1010A0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1102,992},{322,404}}</string>
                <key>offset</key>
                <string>{26,-92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{345,210},{322,404}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1010A0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1506,964},{338,404}}</string>
                <key>offset</key>
                <string>{23,-88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{334,206},{338,404}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1010A0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,1424},{354,406}}</string>
                <key>offset</key>
                <string>{21,-83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{324,200},{354,406}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1010A0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1488,592},{372,408}}</string>
                <key>offset</key>
                <string>{19,-79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{313,195},{372,408}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1010A0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,1424},{388,412}}</string>
                <key>offset</key>
                <string>{16,-73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{302,187},{388,412}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1010A0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,0},{532,478}}</string>
                <key>offset</key>
                <string>{-3,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,151},{532,478}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1010A0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{614,466}}</string>
                <key>offset</key>
                <string>{-6,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,105},{614,466}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1010A0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1102,478},{386,514}}</string>
                <key>offset</key>
                <string>{-10,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{277,90},{386,514}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1010A0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1146,0},{462,534}}</string>
                <key>offset</key>
                <string>{11,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{260,70},{462,534}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1010A0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,466},{512,532}}</string>
                <key>offset</key>
                <string>{-16,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,73},{512,532}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1010A0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,998},{554,472}}</string>
                <key>offset</key>
                <string>{2,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,132},{554,472}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1010A0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,1090},{570,334}}</string>
                <key>offset</key>
                <string>{9,-117}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,270},{570,334}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1010A0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,478},{590,316}}</string>
                <key>offset</key>
                <string>{15,-126}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,288},{590,316}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1010A0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,794},{590,296}}</string>
                <key>offset</key>
                <string>{15,-136}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,308},{590,296}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1010A0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1680,0},{592,292}}</string>
                <key>offset</key>
                <string>{16,-138}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,312},{592,292}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1010ADJ0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1552},{230,222}}</string>
                <key>offset</key>
                <string>{6,-153}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{371,362},{230,222}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1010ADJ0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1290,1550},{232,216}}</string>
                <key>offset</key>
                <string>{1,-156}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{365,368},{232,216}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1010ADJ0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1742,1302},{234,214}}</string>
                <key>offset</key>
                <string>{2,-157}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{365,370},{234,214}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1010ADJ0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,1552},{238,214}}</string>
                <key>offset</key>
                <string>{9,-157}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{370,370},{238,214}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1010ADJ0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1506,1302},{236,216}}</string>
                <key>offset</key>
                <string>{13,-156}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{375,368},{236,216}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1010ADJ0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1290,1314},{236,216}}</string>
                <key>offset</key>
                <string>{16,-156}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{378,368},{236,216}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1010ADJ0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1740,1536},{234,216}}</string>
                <key>offset</key>
                <string>{15,-156}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{378,368},{234,216}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1010ADJ0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1506,1518},{234,216}}</string>
                <key>offset</key>
                <string>{12,-156}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{375,368},{234,216}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skin_1010A.png</string>
            <key>size</key>
            <string>{1972,1812}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e5542c486fddc9d9b9091e571464e25c:8ba0bea17f3cc444ab2fa2624e07ecc1:83f9f52ad1cfb2c537f2b1bdeca3fe33$</string>
            <key>textureFileName</key>
            <string>skin_1010A.png</string>
        </dict>
    </dict>
</plist>
