<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1037 (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{1742,242},{218,234}}</string>
                <key>offset</key>
                <string>{-12,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{359,207},{218,234}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1037 (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{1696,0},{222,242}}</string>
                <key>offset</key>
                <string>{-23,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{346,204},{222,242}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1037 (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{1172,1230},{222,228}}</string>
                <key>offset</key>
                <string>{-23,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{346,208},{222,228}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1037 (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{800,1248},{218,218}}</string>
                <key>offset</key>
                <string>{-14,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{357,212},{218,218}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1037 (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{1796,642},{218,216}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{364,214},{218,216}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1037 (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{1564,1106},{214,232}}</string>
                <key>offset</key>
                <string>{-7,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{366,211},{214,232}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10370001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1564,872},{202,234}}</string>
                <key>offset</key>
                <string>{-20,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{359,230},{202,234}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10370002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1564,872},{202,234}}</string>
                <key>offset</key>
                <string>{-20,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{359,230},{202,234}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10370003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1564,872},{202,234}}</string>
                <key>offset</key>
                <string>{-20,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{359,230},{202,234}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10370004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1564,872},{202,234}}</string>
                <key>offset</key>
                <string>{-20,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{359,230},{202,234}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10370005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1240},{292,224}}</string>
                <key>offset</key>
                <string>{-62,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{272,139},{292,224}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10370006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1240},{292,224}}</string>
                <key>offset</key>
                <string>{-62,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{272,139},{292,224}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10370007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1240},{292,224}}</string>
                <key>offset</key>
                <string>{-62,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{272,139},{292,224}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10370008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1172,882},{348,392}}</string>
                <key>offset</key>
                <string>{-90,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,98},{348,392}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10370009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1172,882},{348,392}}</string>
                <key>offset</key>
                <string>{-90,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,98},{348,392}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10370010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1172,882},{348,392}}</string>
                <key>offset</key>
                <string>{-90,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,98},{348,392}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10370011.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,0},{442,376}}</string>
                <key>offset</key>
                <string>{41,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{300,120},{442,376}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10370012.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,0},{442,376}}</string>
                <key>offset</key>
                <string>{41,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{300,120},{442,376}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10370013.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,0},{442,376}}</string>
                <key>offset</key>
                <string>{41,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{300,120},{442,376}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10370014.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,818},{430,374}}</string>
                <key>offset</key>
                <string>{35,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{300,123},{430,374}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10370015.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,818},{430,374}}</string>
                <key>offset</key>
                <string>{35,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{300,123},{430,374}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10370016.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,818},{430,374}}</string>
                <key>offset</key>
                <string>{35,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{300,123},{430,374}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10370017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1188,442},{440,372}}</string>
                <key>offset</key>
                <string>{40,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{300,127},{440,372}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10370018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1188,442},{440,372}}</string>
                <key>offset</key>
                <string>{40,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{300,127},{440,372}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10370019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1188,442},{440,372}}</string>
                <key>offset</key>
                <string>{40,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{300,127},{440,372}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10370020.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,378},{442,370}}</string>
                <key>offset</key>
                <string>{41,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{300,127},{442,370}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10370021.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,378},{442,370}}</string>
                <key>offset</key>
                <string>{41,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{300,127},{442,370}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10370022.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,378},{442,370}}</string>
                <key>offset</key>
                <string>{41,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{300,127},{442,370}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10370023.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,0},{442,372}}</string>
                <key>offset</key>
                <string>{41,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{300,124},{442,372}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10370024.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,0},{442,372}}</string>
                <key>offset</key>
                <string>{41,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{300,124},{442,372}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10370025.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,0},{442,372}}</string>
                <key>offset</key>
                <string>{41,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{300,124},{442,372}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10370026.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,442},{440,376}}</string>
                <key>offset</key>
                <string>{40,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{300,121},{440,376}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10370027.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,442},{440,376}}</string>
                <key>offset</key>
                <string>{40,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{300,121},{440,376}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10370028.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,442},{440,376}}</string>
                <key>offset</key>
                <string>{40,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{300,121},{440,376}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10370029.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,378},{440,378}}</string>
                <key>offset</key>
                <string>{39,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{299,121},{440,378}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10370030.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,378},{440,378}}</string>
                <key>offset</key>
                <string>{39,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{299,121},{440,378}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10370031.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,378},{440,378}}</string>
                <key>offset</key>
                <string>{39,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{299,121},{440,378}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10370032.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{442,378}}</string>
                <key>offset</key>
                <string>{41,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{300,119},{442,378}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10370033.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{442,378}}</string>
                <key>offset</key>
                <string>{41,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{300,119},{442,378}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10370034.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{442,378}}</string>
                <key>offset</key>
                <string>{41,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{300,119},{442,378}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10370035.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,818},{430,372}}</string>
                <key>offset</key>
                <string>{35,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{300,124},{430,372}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10370036.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,818},{430,372}}</string>
                <key>offset</key>
                <string>{35,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{300,124},{430,372}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10370037.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,818},{430,372}}</string>
                <key>offset</key>
                <string>{35,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{300,124},{430,372}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10370038.png</key>
            <dict>
                <key>frame</key>
                <string>{{1256,0},{440,370}}</string>
                <key>offset</key>
                <string>{40,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{300,127},{440,370}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10370039.png</key>
            <dict>
                <key>frame</key>
                <string>{{1256,0},{440,370}}</string>
                <key>offset</key>
                <string>{40,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{300,127},{440,370}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10370040.png</key>
            <dict>
                <key>frame</key>
                <string>{{1256,0},{440,370}}</string>
                <key>offset</key>
                <string>{40,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{300,127},{440,370}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10370041.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,820},{420,314}}</string>
                <key>offset</key>
                <string>{30,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{300,174},{420,314}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10370042.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,820},{420,314}}</string>
                <key>offset</key>
                <string>{30,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{300,174},{420,314}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10370043.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,820},{420,314}}</string>
                <key>offset</key>
                <string>{30,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{300,174},{420,314}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10370044.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,1192},{278,344}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{342,144},{278,344}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10370045.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,1192},{278,344}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{342,144},{278,344}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10370046.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,1192},{278,344}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{342,144},{278,344}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10370047.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,1192},{276,142}}</string>
                <key>offset</key>
                <string>{14,119}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{356,130},{276,142}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10370048.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,1192},{276,142}}</string>
                <key>offset</key>
                <string>{14,119}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{356,130},{276,142}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10370049.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,1192},{276,142}}</string>
                <key>offset</key>
                <string>{14,119}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{356,130},{276,142}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10370050.png</key>
            <dict>
                <key>frame</key>
                <string>{{1742,476},{166,220}}</string>
                <key>offset</key>
                <string>{17,210}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{414,0},{166,220}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10370051.png</key>
            <dict>
                <key>frame</key>
                <string>{{1742,476},{166,220}}</string>
                <key>offset</key>
                <string>{17,210}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{414,0},{166,220}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10370052.png</key>
            <dict>
                <key>frame</key>
                <string>{{1742,476},{166,220}}</string>
                <key>offset</key>
                <string>{17,210}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{414,0},{166,220}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10370053.png</key>
            <dict>
                <key>frame</key>
                <string>{{1742,476},{166,220}}</string>
                <key>offset</key>
                <string>{17,210}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{414,0},{166,220}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10370054.png</key>
            <dict>
                <key>frame</key>
                <string>{{1560,370},{292,182}}</string>
                <key>offset</key>
                <string>{11,92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{345,137},{292,182}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10370055.png</key>
            <dict>
                <key>frame</key>
                <string>{{1560,370},{292,182}}</string>
                <key>offset</key>
                <string>{11,92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{345,137},{292,182}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10370056.png</key>
            <dict>
                <key>frame</key>
                <string>{{1560,370},{292,182}}</string>
                <key>offset</key>
                <string>{11,92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{345,137},{292,182}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10370057.png</key>
            <dict>
                <key>frame</key>
                <string>{{1766,872},{228,222}}</string>
                <key>offset</key>
                <string>{-12,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{354,186},{228,222}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10370058.png</key>
            <dict>
                <key>frame</key>
                <string>{{1766,872},{228,222}}</string>
                <key>offset</key>
                <string>{-12,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{354,186},{228,222}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10370059.png</key>
            <dict>
                <key>frame</key>
                <string>{{1560,662},{210,236}}</string>
                <key>offset</key>
                <string>{-26,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{349,233},{210,236}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10370060.png</key>
            <dict>
                <key>frame</key>
                <string>{{1560,662},{210,236}}</string>
                <key>offset</key>
                <string>{-26,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{349,233},{210,236}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10370061.png</key>
            <dict>
                <key>frame</key>
                <string>{{1560,662},{210,236}}</string>
                <key>offset</key>
                <string>{-26,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{349,233},{210,236}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skin_1037.png</string>
            <key>size</key>
            <string>{2012,1470}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:058bb4a876defc7ce24c4f50e9ee5df6:c549ed22275168537cb25d471025c026:44a2a0c30b9c1e01ba87a841850721f7$</string>
            <key>textureFileName</key>
            <string>skin_1037.png</string>
        </dict>
    </dict>
</plist>
