<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1033 (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{738,1822},{140,202}}</string>
                <key>offset</key>
                <string>{24,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{434,235},{140,202}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1033 (10).png</key>
            <dict>
                <key>frame</key>
                <string>{{1514,1556},{140,202}}</string>
                <key>offset</key>
                <string>{24,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{434,235},{140,202}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1033 (11).png</key>
            <dict>
                <key>frame</key>
                <string>{{1514,1354},{140,202}}</string>
                <key>offset</key>
                <string>{24,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{434,235},{140,202}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1033 (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{1374,1556},{140,202}}</string>
                <key>offset</key>
                <string>{24,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{434,235},{140,202}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1033 (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{1374,1354},{140,202}}</string>
                <key>offset</key>
                <string>{24,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{434,235},{140,202}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1033 (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{1234,1562},{140,204}}</string>
                <key>offset</key>
                <string>{23,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{433,233},{140,204}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1033 (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{600,1830},{138,204}}</string>
                <key>offset</key>
                <string>{23,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{434,233},{138,204}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1033 (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{462,1830},{138,204}}</string>
                <key>offset</key>
                <string>{23,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{434,233},{138,204}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1033 (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{1154,1766},{138,202}}</string>
                <key>offset</key>
                <string>{23,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{434,235},{138,202}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1033 (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,1798},{138,202}}</string>
                <key>offset</key>
                <string>{24,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{435,235},{138,202}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1033 (9).png</key>
            <dict>
                <key>frame</key>
                <string>{{878,1822},{138,202}}</string>
                <key>offset</key>
                <string>{24,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{435,235},{138,202}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10330001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1234,1358},{140,204}}</string>
                <key>offset</key>
                <string>{24,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{434,231},{140,204}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10330002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1234,1358},{140,204}}</string>
                <key>offset</key>
                <string>{24,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{434,231},{140,204}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10330003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1292,1766},{140,178}}</string>
                <key>offset</key>
                <string>{34,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{444,260},{140,178}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10330004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1292,1766},{140,178}}</string>
                <key>offset</key>
                <string>{34,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{444,260},{140,178}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10330005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1570,1758},{136,152}}</string>
                <key>offset</key>
                <string>{32,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{444,285},{136,152}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10330006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1570,1758},{136,152}}</string>
                <key>offset</key>
                <string>{32,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{444,285},{136,152}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10330007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1570,1758},{136,152}}</string>
                <key>offset</key>
                <string>{32,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{444,285},{136,152}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10330008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1106,1358},{128,408}}</string>
                <key>offset</key>
                <string>{-9,87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{407,29},{128,408}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10330009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1446,0},{256,416}}</string>
                <key>offset</key>
                <string>{5,82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{357,30},{256,416}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10330010.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,914},{404,444}}</string>
                <key>offset</key>
                <string>{1,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{279,0},{404,444}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10330011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1358,910},{404,444}}</string>
                <key>offset</key>
                <string>{1,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{279,0},{404,444}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10330012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1376},{462,460}}</string>
                <key>offset</key>
                <string>{-2,90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,0},{462,460}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10330013.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,0},{462,456}}</string>
                <key>offset</key>
                <string>{-2,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,0},{462,456}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10330014.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,0},{492,452}}</string>
                <key>offset</key>
                <string>{-7,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,1},{492,452}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10330015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{492,464}}</string>
                <key>offset</key>
                <string>{-7,88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,0},{492,464}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10330016.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,456},{404,458}}</string>
                <key>offset</key>
                <string>{1,91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{279,0},{404,458}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10330017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1358,456},{404,454}}</string>
                <key>offset</key>
                <string>{1,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{279,0},{404,454}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10330018.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,452},{462,460}}</string>
                <key>offset</key>
                <string>{-2,90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,0},{462,460}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10330019.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,912},{462,456}}</string>
                <key>offset</key>
                <string>{-2,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,0},{462,456}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10330020.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,926},{492,450}}</string>
                <key>offset</key>
                <string>{-7,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,1},{492,450}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10330021.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,464},{492,462}}</string>
                <key>offset</key>
                <string>{-7,89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,0},{492,462}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10330022.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,1376},{178,454}}</string>
                <key>offset</key>
                <string>{-13,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{378,0},{178,454}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10330023.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1836},{194,450}}</string>
                <key>offset</key>
                <string>{-10,95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{373,0},{194,450}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10330024.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,1368},{152,454}}</string>
                <key>offset</key>
                <string>{-13,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{391,1},{152,454}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10330025.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,1368},{160,452}}</string>
                <key>offset</key>
                <string>{-14,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{386,1},{160,452}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10330026.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,1368},{154,430}}</string>
                <key>offset</key>
                <string>{27,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{430,6},{154,430}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10330027.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,1368},{154,430}}</string>
                <key>offset</key>
                <string>{27,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{430,6},{154,430}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10330028.png</key>
            <dict>
                <key>frame</key>
                <string>{{1432,1758},{138,178}}</string>
                <key>offset</key>
                <string>{35,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{446,258},{138,178}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skin_1033.png</string>
            <key>size</key>
            <string>{1762,2034}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0f088c6341af8c6c99e089f136780597:9db99b31167ff0d9ae6ece26791b642c:71c13d8ec6e706a77a1a07cf9e0f561a$</string>
            <key>textureFileName</key>
            <string>skin_1033.png</string>
        </dict>
    </dict>
</plist>
