<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1005pifuzs0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1760,476},{226,220}}</string>
                <key>offset</key>
                <string>{-172,-115}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,245},{226,220}}</string>
                <key>sourceSize</key>
                <string>{620,480}</string>
            </dict>
            <key>1005pifuzs0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1760,476},{226,220}}</string>
                <key>offset</key>
                <string>{-172,-115}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,245},{226,220}}</string>
                <key>sourceSize</key>
                <string>{620,480}</string>
            </dict>
            <key>1005pifuzs0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,316},{220,288}}</string>
                <key>offset</key>
                <string>{-166,-83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,179},{220,288}}</string>
                <key>sourceSize</key>
                <string>{620,480}</string>
            </dict>
            <key>1005pifuzs0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,0},{220,316}}</string>
                <key>offset</key>
                <string>{-166,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,147},{220,316}}</string>
                <key>sourceSize</key>
                <string>{620,480}</string>
            </dict>
            <key>1005pifuzs0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,348},{220,332}}</string>
                <key>offset</key>
                <string>{-166,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,120},{220,332}}</string>
                <key>sourceSize</key>
                <string>{620,480}</string>
            </dict>
            <key>1005pifuzs0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,0},{216,348}}</string>
                <key>offset</key>
                <string>{-168,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,105},{216,348}}</string>
                <key>sourceSize</key>
                <string>{620,480}</string>
            </dict>
            <key>1005pifuzs0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,0},{216,356}}</string>
                <key>offset</key>
                <string>{-168,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,83},{216,356}}</string>
                <key>sourceSize</key>
                <string>{620,480}</string>
            </dict>
            <key>1005pifuzs0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,736},{216,366}}</string>
                <key>offset</key>
                <string>{-166,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,74},{216,366}}</string>
                <key>sourceSize</key>
                <string>{620,480}</string>
            </dict>
            <key>1005pifuzs0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,742},{244,354}}</string>
                <key>offset</key>
                <string>{-151,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,74},{244,354}}</string>
                <key>sourceSize</key>
                <string>{620,480}</string>
            </dict>
            <key>1005pifuzs0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{280,382}}</string>
                <key>offset</key>
                <string>{-163,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,46},{280,382}}</string>
                <key>sourceSize</key>
                <string>{620,480}</string>
            </dict>
            <key>1005pifuzs0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,382},{258,360}}</string>
                <key>offset</key>
                <string>{-155,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,43},{258,360}}</string>
                <key>sourceSize</key>
                <string>{620,480}</string>
            </dict>
            <key>1005pifuzs0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,742},{252,362}}</string>
                <key>offset</key>
                <string>{-146,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,41},{252,362}}</string>
                <key>sourceSize</key>
                <string>{620,480}</string>
            </dict>
            <key>1005pifuzs0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,382},{242,354}}</string>
                <key>offset</key>
                <string>{-151,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,37},{242,354}}</string>
                <key>sourceSize</key>
                <string>{620,480}</string>
            </dict>
            <key>1005pifuzs0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,1074},{212,354}}</string>
                <key>offset</key>
                <string>{-167,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,37},{212,354}}</string>
                <key>sourceSize</key>
                <string>{620,480}</string>
            </dict>
            <key>1005pifuzs0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,876},{198,272}}</string>
                <key>offset</key>
                <string>{-173,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,48},{198,272}}</string>
                <key>sourceSize</key>
                <string>{620,480}</string>
            </dict>
            <key>1005pifuzs0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,272},{230,272}}</string>
                <key>offset</key>
                <string>{-176,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,31},{230,272}}</string>
                <key>sourceSize</key>
                <string>{620,480}</string>
            </dict>
            <key>1005pifuzs0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,604},{230,272}}</string>
                <key>offset</key>
                <string>{-176,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,31},{230,272}}</string>
                <key>sourceSize</key>
                <string>{620,480}</string>
            </dict>
            <key>1005pifuzs0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,0},{230,272}}</string>
                <key>offset</key>
                <string>{-176,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,31},{230,272}}</string>
                <key>sourceSize</key>
                <string>{620,480}</string>
            </dict>
            <key>1005pifuzs0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1312,534},{220,264}}</string>
                <key>offset</key>
                <string>{-186,88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,20},{220,264}}</string>
                <key>sourceSize</key>
                <string>{620,480}</string>
            </dict>
            <key>1005pifuzs0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1134,810},{220,264}}</string>
                <key>offset</key>
                <string>{-186,86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,22},{220,264}}</string>
                <key>sourceSize</key>
                <string>{620,480}</string>
            </dict>
            <key>1005pifuzs0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1382,0},{220,264}}</string>
                <key>offset</key>
                <string>{-186,86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,22},{220,264}}</string>
                <key>sourceSize</key>
                <string>{620,480}</string>
            </dict>
            <key>1005pifuzs0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1162,0},{220,270}}</string>
                <key>offset</key>
                <string>{-186,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,24},{220,270}}</string>
                <key>sourceSize</key>
                <string>{620,480}</string>
            </dict>
            <key>1005pifuzs0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1092,544},{220,266}}</string>
                <key>offset</key>
                <string>{-186,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,28},{220,266}}</string>
                <key>sourceSize</key>
                <string>{620,480}</string>
            </dict>
            <key>1005pifuzs0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{1170,270},{220,264}}</string>
                <key>offset</key>
                <string>{-186,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,44},{220,264}}</string>
                <key>sourceSize</key>
                <string>{620,480}</string>
            </dict>
            <key>1005pifuzs0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{1170,270},{220,264}}</string>
                <key>offset</key>
                <string>{-186,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,44},{220,264}}</string>
                <key>sourceSize</key>
                <string>{620,480}</string>
            </dict>
            <key>1005pifuzs0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{1170,270},{220,264}}</string>
                <key>offset</key>
                <string>{-186,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,76},{220,264}}</string>
                <key>sourceSize</key>
                <string>{620,480}</string>
            </dict>
            <key>1005pifuzs0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{1170,270},{220,264}}</string>
                <key>offset</key>
                <string>{-186,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,76},{220,264}}</string>
                <key>sourceSize</key>
                <string>{620,480}</string>
            </dict>
            <key>1005pifuzs0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{1170,270},{220,264}}</string>
                <key>offset</key>
                <string>{-186,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,144},{220,264}}</string>
                <key>sourceSize</key>
                <string>{620,480}</string>
            </dict>
            <key>1005pifuzs0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{1170,270},{220,264}}</string>
                <key>offset</key>
                <string>{-186,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,184},{220,264}}</string>
                <key>sourceSize</key>
                <string>{620,480}</string>
            </dict>
            <key>1005pifuzs0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{1814,702},{200,212}}</string>
                <key>offset</key>
                <string>{-180,-128}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,262},{200,212}}</string>
                <key>sourceSize</key>
                <string>{620,480}</string>
            </dict>
            <key>1005pifuzs0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{1814,702},{200,212}}</string>
                <key>offset</key>
                <string>{-180,-128}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,262},{200,212}}</string>
                <key>sourceSize</key>
                <string>{620,480}</string>
            </dict>
            <key>1005pifuzs0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{1814,702},{200,212}}</string>
                <key>offset</key>
                <string>{-180,-128}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,262},{200,212}}</string>
                <key>sourceSize</key>
                <string>{620,480}</string>
            </dict>
            <key>1005pifuzs0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{1646,968},{200,216}}</string>
                <key>offset</key>
                <string>{-182,-126}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,258},{200,216}}</string>
                <key>sourceSize</key>
                <string>{620,480}</string>
            </dict>
            <key>1005pifuzs0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{1646,968},{200,216}}</string>
                <key>offset</key>
                <string>{-182,-126}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,258},{200,216}}</string>
                <key>sourceSize</key>
                <string>{620,480}</string>
            </dict>
            <key>1005pifuzs0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{1646,968},{200,216}}</string>
                <key>offset</key>
                <string>{-182,-126}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,258},{200,216}}</string>
                <key>sourceSize</key>
                <string>{620,480}</string>
            </dict>
            <key>1005pifuzs0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{1646,968},{200,216}}</string>
                <key>offset</key>
                <string>{-182,-126}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,258},{200,216}}</string>
                <key>sourceSize</key>
                <string>{620,480}</string>
            </dict>
            <key>1005pifuzs0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{1832,0},{198,226}}</string>
                <key>offset</key>
                <string>{-187,-120}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,247},{198,226}}</string>
                <key>sourceSize</key>
                <string>{620,480}</string>
            </dict>
            <key>1005pifuzs0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{1832,0},{198,226}}</string>
                <key>offset</key>
                <string>{-187,-120}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,247},{198,226}}</string>
                <key>sourceSize</key>
                <string>{620,480}</string>
            </dict>
            <key>1005pifuzs0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{1832,0},{198,226}}</string>
                <key>offset</key>
                <string>{-187,-120}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,247},{198,226}}</string>
                <key>sourceSize</key>
                <string>{620,480}</string>
            </dict>
            <key>1005pifuzs0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{1832,0},{198,226}}</string>
                <key>offset</key>
                <string>{-187,-120}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,247},{198,226}}</string>
                <key>sourceSize</key>
                <string>{620,480}</string>
            </dict>
            <key>1005pifuzs0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{1182,1074},{202,234}}</string>
                <key>offset</key>
                <string>{-198,-114}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,237},{202,234}}</string>
                <key>sourceSize</key>
                <string>{620,480}</string>
            </dict>
            <key>1005pifuzs0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{1182,1074},{202,234}}</string>
                <key>offset</key>
                <string>{-198,-114}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,237},{202,234}}</string>
                <key>sourceSize</key>
                <string>{620,480}</string>
            </dict>
            <key>1005pifuzs0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{1182,1074},{202,234}}</string>
                <key>offset</key>
                <string>{-198,-114}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,237},{202,234}}</string>
                <key>sourceSize</key>
                <string>{620,480}</string>
            </dict>
            <key>1005pifuzs0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{1182,1074},{202,234}}</string>
                <key>offset</key>
                <string>{-198,-114}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,237},{202,234}}</string>
                <key>sourceSize</key>
                <string>{620,480}</string>
            </dict>
            <key>1005pifuzs0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{1622,238},{226,238}}</string>
                <key>offset</key>
                <string>{-192,-112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,233},{226,238}}</string>
                <key>sourceSize</key>
                <string>{620,480}</string>
            </dict>
            <key>1005pifuzs0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{1622,238},{226,238}}</string>
                <key>offset</key>
                <string>{-192,-112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,233},{226,238}}</string>
                <key>sourceSize</key>
                <string>{620,480}</string>
            </dict>
            <key>1005pifuzs0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{1622,238},{226,238}}</string>
                <key>offset</key>
                <string>{-192,-112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,233},{226,238}}</string>
                <key>sourceSize</key>
                <string>{620,480}</string>
            </dict>
            <key>1005pifuzs0048.png</key>
            <dict>
                <key>frame</key>
                <string>{{1622,238},{226,238}}</string>
                <key>offset</key>
                <string>{-192,-112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,233},{226,238}}</string>
                <key>sourceSize</key>
                <string>{620,480}</string>
            </dict>
            <key>1005pifuzs0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{1622,238},{226,238}}</string>
                <key>offset</key>
                <string>{-192,-112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,233},{226,238}}</string>
                <key>sourceSize</key>
                <string>{620,480}</string>
            </dict>
            <key>1005pifuzs0050.png</key>
            <dict>
                <key>frame</key>
                <string>{{1602,0},{230,238}}</string>
                <key>offset</key>
                <string>{-191,-112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,233},{230,238}}</string>
                <key>sourceSize</key>
                <string>{620,480}</string>
            </dict>
            <key>1005pifuzs0051.png</key>
            <dict>
                <key>frame</key>
                <string>{{1602,0},{230,238}}</string>
                <key>offset</key>
                <string>{-191,-112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,233},{230,238}}</string>
                <key>sourceSize</key>
                <string>{620,480}</string>
            </dict>
            <key>1005pifuzs0052.png</key>
            <dict>
                <key>frame</key>
                <string>{{1602,0},{230,238}}</string>
                <key>offset</key>
                <string>{-191,-112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,233},{230,238}}</string>
                <key>sourceSize</key>
                <string>{620,480}</string>
            </dict>
            <key>1005pifuzs0053.png</key>
            <dict>
                <key>frame</key>
                <string>{{1602,0},{230,238}}</string>
                <key>offset</key>
                <string>{-191,-112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,233},{230,238}}</string>
                <key>sourceSize</key>
                <string>{620,480}</string>
            </dict>
            <key>1005pifuzs0054.png</key>
            <dict>
                <key>frame</key>
                <string>{{1602,0},{230,238}}</string>
                <key>offset</key>
                <string>{-191,-112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,233},{230,238}}</string>
                <key>sourceSize</key>
                <string>{620,480}</string>
            </dict>
            <key>1005pifuzs0055.png</key>
            <dict>
                <key>frame</key>
                <string>{{1390,264},{232,236}}</string>
                <key>offset</key>
                <string>{-191,-113}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,235},{232,236}}</string>
                <key>sourceSize</key>
                <string>{620,480}</string>
            </dict>
            <key>1005pifuzs0056.png</key>
            <dict>
                <key>frame</key>
                <string>{{1390,264},{232,236}}</string>
                <key>offset</key>
                <string>{-191,-113}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,235},{232,236}}</string>
                <key>sourceSize</key>
                <string>{620,480}</string>
            </dict>
            <key>1005pifuzs0057.png</key>
            <dict>
                <key>frame</key>
                <string>{{1390,264},{232,236}}</string>
                <key>offset</key>
                <string>{-191,-113}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,235},{232,236}}</string>
                <key>sourceSize</key>
                <string>{620,480}</string>
            </dict>
            <key>1005pifuzs0058.png</key>
            <dict>
                <key>frame</key>
                <string>{{1390,264},{232,236}}</string>
                <key>offset</key>
                <string>{-191,-113}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,235},{232,236}}</string>
                <key>sourceSize</key>
                <string>{620,480}</string>
            </dict>
            <key>1005pifuzs0059.png</key>
            <dict>
                <key>frame</key>
                <string>{{1390,264},{232,236}}</string>
                <key>offset</key>
                <string>{-191,-113}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,235},{232,236}}</string>
                <key>sourceSize</key>
                <string>{620,480}</string>
            </dict>
            <key>1005pifuzs0060.png</key>
            <dict>
                <key>frame</key>
                <string>{{1354,798},{232,232}}</string>
                <key>offset</key>
                <string>{-192,-115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,239},{232,232}}</string>
                <key>sourceSize</key>
                <string>{620,480}</string>
            </dict>
            <key>1005pifuzs0061.png</key>
            <dict>
                <key>frame</key>
                <string>{{1354,798},{232,232}}</string>
                <key>offset</key>
                <string>{-192,-115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,239},{232,232}}</string>
                <key>sourceSize</key>
                <string>{620,480}</string>
            </dict>
            <key>1005pifuzs0062.png</key>
            <dict>
                <key>frame</key>
                <string>{{1354,798},{232,232}}</string>
                <key>offset</key>
                <string>{-192,-115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,239},{232,232}}</string>
                <key>sourceSize</key>
                <string>{620,480}</string>
            </dict>
            <key>1005pifuzs0063.png</key>
            <dict>
                <key>frame</key>
                <string>{{1354,798},{232,232}}</string>
                <key>offset</key>
                <string>{-192,-115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,239},{232,232}}</string>
                <key>sourceSize</key>
                <string>{620,480}</string>
            </dict>
            <key>1005pifuzs0064.png</key>
            <dict>
                <key>frame</key>
                <string>{{1354,798},{232,232}}</string>
                <key>offset</key>
                <string>{-192,-115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,239},{232,232}}</string>
                <key>sourceSize</key>
                <string>{620,480}</string>
            </dict>
            <key>1005pifuzs0065.png</key>
            <dict>
                <key>frame</key>
                <string>{{1416,1030},{230,232}}</string>
                <key>offset</key>
                <string>{-193,-115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,239},{230,232}}</string>
                <key>sourceSize</key>
                <string>{620,480}</string>
            </dict>
            <key>1005pifuzs0066.png</key>
            <dict>
                <key>frame</key>
                <string>{{1416,1030},{230,232}}</string>
                <key>offset</key>
                <string>{-193,-115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,239},{230,232}}</string>
                <key>sourceSize</key>
                <string>{620,480}</string>
            </dict>
            <key>1005pifuzs0067.png</key>
            <dict>
                <key>frame</key>
                <string>{{1416,1030},{230,232}}</string>
                <key>offset</key>
                <string>{-193,-115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,239},{230,232}}</string>
                <key>sourceSize</key>
                <string>{620,480}</string>
            </dict>
            <key>1005pifuzs0068.png</key>
            <dict>
                <key>frame</key>
                <string>{{1416,1030},{230,232}}</string>
                <key>offset</key>
                <string>{-193,-115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,239},{230,232}}</string>
                <key>sourceSize</key>
                <string>{620,480}</string>
            </dict>
            <key>1005pifuzs0069.png</key>
            <dict>
                <key>frame</key>
                <string>{{1416,1030},{230,232}}</string>
                <key>offset</key>
                <string>{-193,-115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,239},{230,232}}</string>
                <key>sourceSize</key>
                <string>{620,480}</string>
            </dict>
            <key>1005pifuzs0070.png</key>
            <dict>
                <key>frame</key>
                <string>{{1586,736},{228,232}}</string>
                <key>offset</key>
                <string>{-193,-115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,239},{228,232}}</string>
                <key>sourceSize</key>
                <string>{620,480}</string>
            </dict>
            <key>1005pifuzs0071.png</key>
            <dict>
                <key>frame</key>
                <string>{{1586,736},{228,232}}</string>
                <key>offset</key>
                <string>{-193,-115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,239},{228,232}}</string>
                <key>sourceSize</key>
                <string>{620,480}</string>
            </dict>
            <key>1005pifuzs0072.png</key>
            <dict>
                <key>frame</key>
                <string>{{1586,736},{228,232}}</string>
                <key>offset</key>
                <string>{-193,-115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,239},{228,232}}</string>
                <key>sourceSize</key>
                <string>{620,480}</string>
            </dict>
            <key>1005pifuzs0073.png</key>
            <dict>
                <key>frame</key>
                <string>{{1586,736},{228,232}}</string>
                <key>offset</key>
                <string>{-193,-115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,239},{228,232}}</string>
                <key>sourceSize</key>
                <string>{620,480}</string>
            </dict>
            <key>1005pifuzs0074.png</key>
            <dict>
                <key>frame</key>
                <string>{{1586,736},{228,232}}</string>
                <key>offset</key>
                <string>{-193,-115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,239},{228,232}}</string>
                <key>sourceSize</key>
                <string>{620,480}</string>
            </dict>
            <key>1005pifuzs0075.png</key>
            <dict>
                <key>frame</key>
                <string>{{1532,500},{228,236}}</string>
                <key>offset</key>
                <string>{-194,-113}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,235},{228,236}}</string>
                <key>sourceSize</key>
                <string>{620,480}</string>
            </dict>
            <key>1005pifuzs0076.png</key>
            <dict>
                <key>frame</key>
                <string>{{1532,500},{228,236}}</string>
                <key>offset</key>
                <string>{-194,-113}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,235},{228,236}}</string>
                <key>sourceSize</key>
                <string>{620,480}</string>
            </dict>
            <key>1005pifuzs0077.png</key>
            <dict>
                <key>frame</key>
                <string>{{1532,500},{228,236}}</string>
                <key>offset</key>
                <string>{-194,-113}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,235},{228,236}}</string>
                <key>sourceSize</key>
                <string>{620,480}</string>
            </dict>
            <key>1005pifuzs0078.png</key>
            <dict>
                <key>frame</key>
                <string>{{1532,500},{228,236}}</string>
                <key>offset</key>
                <string>{-194,-113}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,235},{228,236}}</string>
                <key>sourceSize</key>
                <string>{620,480}</string>
            </dict>
            <key>1005pifuzs0079.png</key>
            <dict>
                <key>frame</key>
                <string>{{1532,500},{228,236}}</string>
                <key>offset</key>
                <string>{-194,-113}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,235},{228,236}}</string>
                <key>sourceSize</key>
                <string>{620,480}</string>
            </dict>
            <key>1005pifuzstx0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,952},{122,90}}</string>
                <key>offset</key>
                <string>{-44,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,237},{122,90}}</string>
                <key>sourceSize</key>
                <string>{620,480}</string>
            </dict>
            <key>1005pifuzstx0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,952},{122,90}}</string>
                <key>offset</key>
                <string>{-44,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,237},{122,90}}</string>
                <key>sourceSize</key>
                <string>{620,480}</string>
            </dict>
            <key>1005pifuzstx0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,1096},{142,98}}</string>
                <key>offset</key>
                <string>{-13,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,260},{142,98}}</string>
                <key>sourceSize</key>
                <string>{620,480}</string>
            </dict>
            <key>1005pifuzstx0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,1096},{142,98}}</string>
                <key>offset</key>
                <string>{-13,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,260},{142,98}}</string>
                <key>sourceSize</key>
                <string>{620,480}</string>
            </dict>
            <key>1005pifuzstx0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,1104},{204,114}}</string>
                <key>offset</key>
                <string>{38,-100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,283},{204,114}}</string>
                <key>sourceSize</key>
                <string>{620,480}</string>
            </dict>
            <key>1005pifuzstx0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,1104},{204,114}}</string>
                <key>offset</key>
                <string>{38,-100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,283},{204,114}}</string>
                <key>sourceSize</key>
                <string>{620,480}</string>
            </dict>
            <key>1005pifuzstx0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1104},{186,142}}</string>
                <key>offset</key>
                <string>{114,-84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{331,253},{186,142}}</string>
                <key>sourceSize</key>
                <string>{620,480}</string>
            </dict>
            <key>1005pifuzstx0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1104},{186,142}}</string>
                <key>offset</key>
                <string>{114,-84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{331,253},{186,142}}</string>
                <key>sourceSize</key>
                <string>{620,480}</string>
            </dict>
            <key>1005pifuzstx0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1846,902},{210,198}}</string>
                <key>offset</key>
                <string>{143,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{348,194},{210,198}}</string>
                <key>sourceSize</key>
                <string>{620,480}</string>
            </dict>
            <key>1005pifuzstx0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1846,902},{210,198}}</string>
                <key>offset</key>
                <string>{143,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{348,194},{210,198}}</string>
                <key>sourceSize</key>
                <string>{620,480}</string>
            </dict>
            <key>1005pifuzstx0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,1074},{208,244}}</string>
                <key>offset</key>
                <string>{170,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{376,138},{208,244}}</string>
                <key>sourceSize</key>
                <string>{620,480}</string>
            </dict>
            <key>1005pifuzstx0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,1074},{208,244}}</string>
                <key>offset</key>
                <string>{170,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{376,138},{208,244}}</string>
                <key>sourceSize</key>
                <string>{620,480}</string>
            </dict>
            <key>1005pifuzstx0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,1096},{96,146}}</string>
                <key>offset</key>
                <string>{262,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{524,92},{96,146}}</string>
                <key>sourceSize</key>
                <string>{620,480}</string>
            </dict>
            <key>1005pifuzstx0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,1096},{96,146}}</string>
                <key>offset</key>
                <string>{262,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{524,92},{96,146}}</string>
                <key>sourceSize</key>
                <string>{620,480}</string>
            </dict>
            <key>1005pifuzstx0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,952},{78,142}}</string>
                <key>offset</key>
                <string>{270,125}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{541,44},{78,142}}</string>
                <key>sourceSize</key>
                <string>{620,480}</string>
            </dict>
            <key>1005pifuzstx0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,952},{78,142}}</string>
                <key>offset</key>
                <string>{270,125}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{541,44},{78,142}}</string>
                <key>sourceSize</key>
                <string>{620,480}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skin_1005B.png</string>
            <key>size</key>
            <string>{2044,1286}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:53b69143a0121b9b7be44c4c003e5034:cf342a84c34e0dfb3ad25064d16cc4d7:126334093fa2dfbfaadf06dec45b6b1f$</string>
            <key>textureFileName</key>
            <string>skin_1005B.png</string>
        </dict>
    </dict>
</plist>
