<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10050001.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,1834},{202,168}}</string>
                <key>offset</key>
                <string>{17,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{396,265},{202,168}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10050002.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,1834},{202,168}}</string>
                <key>offset</key>
                <string>{17,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{396,265},{202,168}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10050003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1108,720},{166,258}}</string>
                <key>offset</key>
                <string>{26,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{423,179},{166,258}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10050004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1308,1644},{156,282}}</string>
                <key>offset</key>
                <string>{31,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{433,150},{156,282}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10050005.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,1542},{156,292}}</string>
                <key>offset</key>
                <string>{31,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{433,129},{156,292}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10050006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1664,892},{160,306}}</string>
                <key>offset</key>
                <string>{24,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{424,114},{160,306}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10050007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1308,1488},{156,314}}</string>
                <key>offset</key>
                <string>{26,69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{428,94},{156,314}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10050008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1366,550},{156,348}}</string>
                <key>offset</key>
                <string>{26,86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{428,60},{156,348}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10050009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1366,706},{186,330}}</string>
                <key>offset</key>
                <string>{45,87}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{432,68},{186,330}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10050010.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,1180},{280,334}}</string>
                <key>offset</key>
                <string>{4,90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{344,63},{280,334}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10050011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1108,376},{258,344}}</string>
                <key>offset</key>
                <string>{12,119}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{363,29},{258,344}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10050012.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,422},{248,356}}</string>
                <key>offset</key>
                <string>{24,125}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{380,17},{248,356}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10050013.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,858},{228,320}}</string>
                <key>offset</key>
                <string>{23,118}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{389,42},{228,320}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10050014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1656,1198},{170,308}}</string>
                <key>offset</key>
                <string>{21,112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{416,54},{170,308}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10050015.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,1514},{128,220}}</string>
                <key>offset</key>
                <string>{16,152}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{432,58},{128,220}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10050016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,1534},{152,224}}</string>
                <key>offset</key>
                <string>{7,171}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{411,37},{152,224}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10050017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,1382},{152,224}}</string>
                <key>offset</key>
                <string>{7,171}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{411,37},{152,224}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10050018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,1166},{216,260}}</string>
                <key>offset</key>
                <string>{39,153}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{411,37},{216,260}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10050019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1078,886},{266,280}}</string>
                <key>offset</key>
                <string>{14,163}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{361,17},{266,280}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10050020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1344,1190},{298,312}}</string>
                <key>offset</key>
                <string>{29,148}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{360,16},{298,312}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10050021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1344,892},{298,320}}</string>
                <key>offset</key>
                <string>{29,152}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{360,8},{298,320}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10050022.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,1180},{362,366}}</string>
                <key>offset</key>
                <string>{62,137}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{361,0},{362,366}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10050023.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,1542},{362,364}}</string>
                <key>offset</key>
                <string>{62,136}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{361,2},{362,364}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10050024.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,858},{412,322}}</string>
                <key>offset</key>
                <string>{87,117}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{361,42},{412,322}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10050025.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,858},{412,322}}</string>
                <key>offset</key>
                <string>{87,117}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{361,42},{412,322}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10050026.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1730},{438,286}}</string>
                <key>offset</key>
                <string>{103,102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{364,75},{438,286}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10050027.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1730},{438,286}}</string>
                <key>offset</key>
                <string>{103,102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{364,75},{438,286}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10050028.png</key>
            <dict>
                <key>frame</key>
                <string>{{1376,296},{454,254}}</string>
                <key>offset</key>
                <string>{115,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{368,112},{454,254}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10050029.png</key>
            <dict>
                <key>frame</key>
                <string>{{1376,0},{452,296}}</string>
                <key>offset</key>
                <string>{116,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{370,113},{452,296}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10050030.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,0},{468,376}}</string>
                <key>offset</key>
                <string>{136,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{382,59},{468,376}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10050031.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,0},{468,376}}</string>
                <key>offset</key>
                <string>{136,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{382,59},{468,376}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10050032.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{464,422}}</string>
                <key>offset</key>
                <string>{134,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{382,13},{464,422}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10050033.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,0},{444,422}}</string>
                <key>offset</key>
                <string>{144,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{402,13},{444,422}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10050034.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1294},{432,436}}</string>
                <key>offset</key>
                <string>{138,102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{402,0},{432,436}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10050035.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1294},{432,436}}</string>
                <key>offset</key>
                <string>{138,102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{402,0},{432,436}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10050036.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,858},{438,436}}</string>
                <key>offset</key>
                <string>{140,102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{401,0},{438,436}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10050037.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,422},{420,436}}</string>
                <key>offset</key>
                <string>{149,102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{419,0},{420,436}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10050038.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,422},{440,436}}</string>
                <key>offset</key>
                <string>{159,102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{419,0},{440,436}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10050039.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,422},{440,436}}</string>
                <key>offset</key>
                <string>{159,102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{419,0},{440,436}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10050040.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,1906},{126,168}}</string>
                <key>offset</key>
                <string>{2,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{419,267},{126,168}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10050041.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,1906},{126,194}}</string>
                <key>offset</key>
                <string>{-1,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{416,240},{126,194}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10050042.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,1906},{126,194}}</string>
                <key>offset</key>
                <string>{-1,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{416,240},{126,194}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10050043.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,1906},{126,194}}</string>
                <key>offset</key>
                <string>{-1,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{416,240},{126,194}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10050044.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,1906},{126,194}}</string>
                <key>offset</key>
                <string>{-1,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{416,240},{126,194}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10050045.png</key>
            <dict>
                <key>frame</key>
                <string>{{1622,1506},{162,208}}</string>
                <key>offset</key>
                <string>{15,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{414,228},{162,208}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10050046.png</key>
            <dict>
                <key>frame</key>
                <string>{{1622,1506},{162,208}}</string>
                <key>offset</key>
                <string>{15,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{414,228},{162,208}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10050047.png</key>
            <dict>
                <key>frame</key>
                <string>{{1622,1506},{162,208}}</string>
                <key>offset</key>
                <string>{15,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{414,228},{162,208}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10050048.png</key>
            <dict>
                <key>frame</key>
                <string>{{1622,1506},{162,208}}</string>
                <key>offset</key>
                <string>{15,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{414,228},{162,208}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10050049.png</key>
            <dict>
                <key>frame</key>
                <string>{{1622,1506},{162,208}}</string>
                <key>offset</key>
                <string>{15,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{414,228},{162,208}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10050050.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,1836},{168,206}}</string>
                <key>offset</key>
                <string>{13,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{409,230},{168,206}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10050051.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,1836},{168,206}}</string>
                <key>offset</key>
                <string>{13,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{409,230},{168,206}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10050052.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,1836},{168,206}}</string>
                <key>offset</key>
                <string>{13,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{409,230},{168,206}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10050053.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,1836},{168,206}}</string>
                <key>offset</key>
                <string>{13,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{409,230},{168,206}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10050054.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,1836},{168,206}}</string>
                <key>offset</key>
                <string>{13,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{409,230},{168,206}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10050055.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,1836},{166,206}}</string>
                <key>offset</key>
                <string>{12,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{409,230},{166,206}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10050056.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,1836},{166,206}}</string>
                <key>offset</key>
                <string>{12,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{409,230},{166,206}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10050057.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,1836},{166,206}}</string>
                <key>offset</key>
                <string>{12,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{409,230},{166,206}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10050058.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,1836},{166,206}}</string>
                <key>offset</key>
                <string>{12,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{409,230},{166,206}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10050059.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,1836},{166,206}}</string>
                <key>offset</key>
                <string>{12,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{409,230},{166,206}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10050060.png</key>
            <dict>
                <key>frame</key>
                <string>{{1414,1800},{160,206}}</string>
                <key>offset</key>
                <string>{14,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{414,230},{160,206}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10050061.png</key>
            <dict>
                <key>frame</key>
                <string>{{1414,1800},{160,206}}</string>
                <key>offset</key>
                <string>{14,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{414,230},{160,206}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10050062.png</key>
            <dict>
                <key>frame</key>
                <string>{{1414,1800},{160,206}}</string>
                <key>offset</key>
                <string>{14,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{414,230},{160,206}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10050063.png</key>
            <dict>
                <key>frame</key>
                <string>{{1414,1800},{160,206}}</string>
                <key>offset</key>
                <string>{14,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{414,230},{160,206}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10050064.png</key>
            <dict>
                <key>frame</key>
                <string>{{1414,1800},{160,206}}</string>
                <key>offset</key>
                <string>{14,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{414,230},{160,206}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10050065.png</key>
            <dict>
                <key>frame</key>
                <string>{{1574,1820},{152,206}}</string>
                <key>offset</key>
                <string>{16,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{420,230},{152,206}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10050066.png</key>
            <dict>
                <key>frame</key>
                <string>{{1574,1820},{152,206}}</string>
                <key>offset</key>
                <string>{16,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{420,230},{152,206}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10050067.png</key>
            <dict>
                <key>frame</key>
                <string>{{1574,1820},{152,206}}</string>
                <key>offset</key>
                <string>{16,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{420,230},{152,206}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10050068.png</key>
            <dict>
                <key>frame</key>
                <string>{{1574,1820},{152,206}}</string>
                <key>offset</key>
                <string>{16,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{420,230},{152,206}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10050069.png</key>
            <dict>
                <key>frame</key>
                <string>{{1574,1820},{152,206}}</string>
                <key>offset</key>
                <string>{16,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{420,230},{152,206}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10050070.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,1686},{150,208}}</string>
                <key>offset</key>
                <string>{18,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{423,228},{150,208}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10050071.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,1686},{150,208}}</string>
                <key>offset</key>
                <string>{18,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{423,228},{150,208}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10050072.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,1686},{150,208}}</string>
                <key>offset</key>
                <string>{18,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{423,228},{150,208}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10050073.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,1686},{150,208}}</string>
                <key>offset</key>
                <string>{18,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{423,228},{150,208}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10050074.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,1686},{150,208}}</string>
                <key>offset</key>
                <string>{18,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{423,228},{150,208}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10050075.png</key>
            <dict>
                <key>frame</key>
                <string>{{1590,1668},{152,210}}</string>
                <key>offset</key>
                <string>{17,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{421,226},{152,210}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10050076.png</key>
            <dict>
                <key>frame</key>
                <string>{{1590,1668},{152,210}}</string>
                <key>offset</key>
                <string>{17,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{421,226},{152,210}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10050077.png</key>
            <dict>
                <key>frame</key>
                <string>{{1590,1668},{152,210}}</string>
                <key>offset</key>
                <string>{17,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{421,226},{152,210}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10050078.png</key>
            <dict>
                <key>frame</key>
                <string>{{1590,1668},{152,210}}</string>
                <key>offset</key>
                <string>{17,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{421,226},{152,210}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10050079.png</key>
            <dict>
                <key>frame</key>
                <string>{{1590,1668},{152,210}}</string>
                <key>offset</key>
                <string>{17,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{421,226},{152,210}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skin_1005.png</string>
            <key>size</key>
            <string>{1836,2032}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f94dbac538ddd462be05b922231df396:01178478fa37edafbe2d3f1f8f122500:8359a666e4aab5b943758682fa99c661$</string>
            <key>textureFileName</key>
            <string>skin_1005.png</string>
        </dict>
    </dict>
</plist>
