<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1012 (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{1162,1578},{132,234}}</string>
                <key>offset</key>
                <string>{3,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{417,193},{132,234}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1012 (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{926,1570},{130,236}}</string>
                <key>offset</key>
                <string>{1,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{416,191},{130,236}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1012 (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{1294,1710},{128,236}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{416,191},{128,236}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1012 (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{1166,1710},{128,236}}</string>
                <key>offset</key>
                <string>{1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{417,191},{128,236}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1012 (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{922,1700},{136,232}}</string>
                <key>offset</key>
                <string>{3,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{415,195},{136,232}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>1012 (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{936,1836},{138,230}}</string>
                <key>offset</key>
                <string>{4,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{415,197},{138,230}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10120001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1206,1266},{200,156}}</string>
                <key>offset</key>
                <string>{16,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{396,247},{200,156}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10120002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1206,1422},{170,156}}</string>
                <key>offset</key>
                <string>{-7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{388,247},{170,156}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10120003.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,1222},{248,226}}</string>
                <key>offset</key>
                <string>{16,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{372,180},{248,226}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10120004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1206,998},{268,228}}</string>
                <key>offset</key>
                <string>{11,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{357,180},{268,228}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10120005.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,1432},{334,232}}</string>
                <key>offset</key>
                <string>{-5,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{308,168},{334,232}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10120006.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,1432},{334,232}}</string>
                <key>offset</key>
                <string>{-5,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{308,168},{334,232}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10120007.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,1222},{346,210}}</string>
                <key>offset</key>
                <string>{-7,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{300,193},{346,210}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10120008.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,1222},{346,210}}</string>
                <key>offset</key>
                <string>{-7,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{300,193},{346,210}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10120009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1228,0},{338,160}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{307,248},{338,160}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10120010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1228,0},{338,160}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{307,248},{338,160}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10120011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1206,668},{330,228}}</string>
                <key>offset</key>
                <string>{117,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{432,169},{330,228}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10120012.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,1664},{330,232}}</string>
                <key>offset</key>
                <string>{117,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{432,169},{330,232}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10120013.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,994},{592,228}}</string>
                <key>offset</key>
                <string>{169,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{353,169},{592,228}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10120014.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1646},{592,250}}</string>
                <key>offset</key>
                <string>{169,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{353,154},{592,250}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10120015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1014},{612,314}}</string>
                <key>offset</key>
                <string>{174,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{348,139},{612,314}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10120016.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,324},{612,314}}</string>
                <key>offset</key>
                <string>{174,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{348,139},{612,314}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10120017.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,690},{614,324}}</string>
                <key>offset</key>
                <string>{173,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{346,133},{614,324}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10120018.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,0},{614,324}}</string>
                <key>offset</key>
                <string>{173,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{346,133},{614,324}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10120019.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,362},{614,328}}</string>
                <key>offset</key>
                <string>{173,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{346,132},{614,328}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10120020.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{614,362}}</string>
                <key>offset</key>
                <string>{173,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{346,98},{614,362}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10120021.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1328},{528,318}}</string>
                <key>offset</key>
                <string>{216,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{432,99},{528,318}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10120022.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,638},{534,356}}</string>
                <key>offset</key>
                <string>{213,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{426,65},{534,356}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10120023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1226,338},{138,330}}</string>
                <key>offset</key>
                <string>{15,89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{426,66},{138,330}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10120024.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,1896},{132,334}}</string>
                <key>offset</key>
                <string>{14,92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{428,61},{132,334}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10120025.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,1896},{132,334}}</string>
                <key>offset</key>
                <string>{14,92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{428,61},{132,334}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10120026.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1896},{132,338}}</string>
                <key>offset</key>
                <string>{-3,94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{411,57},{132,338}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10120027.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1896},{132,338}}</string>
                <key>offset</key>
                <string>{-3,94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{411,57},{132,338}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10120028.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,1896},{124,264}}</string>
                <key>offset</key>
                <string>{-13,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{405,131},{124,264}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10120029.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,1896},{124,264}}</string>
                <key>offset</key>
                <string>{-13,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{405,131},{124,264}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10120030.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,1448},{122,250}}</string>
                <key>offset</key>
                <string>{-1,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{418,145},{122,250}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>10120031.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,1448},{122,250}}</string>
                <key>offset</key>
                <string>{-1,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{418,145},{122,250}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skin_1012.png</string>
            <key>size</key>
            <string>{1434,2035}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:43cebccb5b15ab017693bf79d03aa595:8502676aee605fe94a2b2e1807e61280:3c717b4e75e872b0231888abed5046ea$</string>
            <key>textureFileName</key>
            <string>skin_1012.png</string>
        </dict>
    </dict>
</plist>
