<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sbdshow0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1438},{252,222}}</string>
                <key>offset</key>
                <string>{-23,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{331,205},{252,222}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>sbdshow0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1438},{252,222}}</string>
                <key>offset</key>
                <string>{-23,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{331,205},{252,222}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>sbdshow0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1438},{252,222}}</string>
                <key>offset</key>
                <string>{-23,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{331,205},{252,222}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>sbdshow0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1438},{252,222}}</string>
                <key>offset</key>
                <string>{-23,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{331,205},{252,222}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>sbdshow0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1438},{252,222}}</string>
                <key>offset</key>
                <string>{-23,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{331,205},{252,222}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>sbdshow0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,1334},{248,224}}</string>
                <key>offset</key>
                <string>{-18,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{338,203},{248,224}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>sbdshow0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,1334},{248,224}}</string>
                <key>offset</key>
                <string>{-18,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{338,203},{248,224}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>sbdshow0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,1334},{248,224}}</string>
                <key>offset</key>
                <string>{-18,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{338,203},{248,224}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>sbdshow0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,1334},{248,224}}</string>
                <key>offset</key>
                <string>{-18,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{338,203},{248,224}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>sbdshow0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,1334},{248,224}}</string>
                <key>offset</key>
                <string>{-18,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{338,203},{248,224}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>sbdshow0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,1558},{238,232}}</string>
                <key>offset</key>
                <string>{-10,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{351,195},{238,232}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>sbdshow0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,1558},{238,232}}</string>
                <key>offset</key>
                <string>{-10,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{351,195},{238,232}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>sbdshow0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,1558},{238,232}}</string>
                <key>offset</key>
                <string>{-10,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{351,195},{238,232}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>sbdshow0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,1558},{238,232}}</string>
                <key>offset</key>
                <string>{-10,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{351,195},{238,232}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>sbdshow0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,1558},{238,232}}</string>
                <key>offset</key>
                <string>{-10,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{351,195},{238,232}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>sbdshow0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,1224},{226,240}}</string>
                <key>offset</key>
                <string>{-3,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{364,187},{226,240}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>sbdshow0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,1224},{226,240}}</string>
                <key>offset</key>
                <string>{-3,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{364,187},{226,240}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>sbdshow0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,1224},{226,240}}</string>
                <key>offset</key>
                <string>{-3,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{364,187},{226,240}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>sbdshow0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,1224},{226,240}}</string>
                <key>offset</key>
                <string>{-3,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{364,187},{226,240}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>sbdshow0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,1224},{226,240}}</string>
                <key>offset</key>
                <string>{-3,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{364,187},{226,240}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>sbdshow0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,1450},{226,242}}</string>
                <key>offset</key>
                <string>{-3,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{364,185},{226,242}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>sbdshow0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,1450},{226,242}}</string>
                <key>offset</key>
                <string>{-3,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{364,185},{226,242}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>sbdshow0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,1450},{226,242}}</string>
                <key>offset</key>
                <string>{-3,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{364,185},{226,242}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>sbdshow0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,1450},{226,242}}</string>
                <key>offset</key>
                <string>{-3,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{364,185},{226,242}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>sbdshow0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,1450},{226,242}}</string>
                <key>offset</key>
                <string>{-3,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{364,185},{226,242}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>sbdshow0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1660},{238,236}}</string>
                <key>offset</key>
                <string>{-12,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{349,191},{238,236}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>sbdshow0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1660},{238,236}}</string>
                <key>offset</key>
                <string>{-12,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{349,191},{238,236}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>sbdshow0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1660},{238,236}}</string>
                <key>offset</key>
                <string>{-12,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{349,191},{238,236}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>sbdshow0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1660},{238,236}}</string>
                <key>offset</key>
                <string>{-12,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{349,191},{238,236}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>sbdshow0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1660},{238,236}}</string>
                <key>offset</key>
                <string>{-12,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{349,191},{238,236}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>sbdshow0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,1454},{182,160}}</string>
                <key>offset</key>
                <string>{20,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{409,270},{182,160}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>sbdshow0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,1454},{182,160}}</string>
                <key>offset</key>
                <string>{20,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{409,270},{182,160}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>sbdshow0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,1454},{182,160}}</string>
                <key>offset</key>
                <string>{20,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{409,270},{182,160}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>sbdshow0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1224},{274,214}}</string>
                <key>offset</key>
                <string>{41,86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{384,127},{274,214}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>sbdshow0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1224},{274,214}}</string>
                <key>offset</key>
                <string>{41,86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{384,127},{274,214}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>sbdshow0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,1272},{120,182}}</string>
                <key>offset</key>
                <string>{-2,200}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{418,29},{120,182}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>sbdshow0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,1272},{120,182}}</string>
                <key>offset</key>
                <string>{-2,200}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{418,29},{120,182}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>sbdshow0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,1272},{120,182}}</string>
                <key>offset</key>
                <string>{-2,200}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{418,29},{120,182}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>sbdshow0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,1816},{186,206}}</string>
                <key>offset</key>
                <string>{7,212}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{394,5},{186,206}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>sbdshow0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,1816},{186,206}}</string>
                <key>offset</key>
                <string>{7,212}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{394,5},{186,206}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>sbdshow0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,1816},{186,206}}</string>
                <key>offset</key>
                <string>{7,212}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{394,5},{186,206}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>sbdshow0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,1816},{186,206}}</string>
                <key>offset</key>
                <string>{7,212}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{394,5},{186,206}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>sbdshow0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,1816},{186,206}}</string>
                <key>offset</key>
                <string>{7,212}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{394,5},{186,206}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>sbdshow0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,1084},{278,250}}</string>
                <key>offset</key>
                <string>{-12,144}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{329,51},{278,250}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>sbdshow0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,1084},{278,250}}</string>
                <key>offset</key>
                <string>{-12,144}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{329,51},{278,250}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>sbdshow0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,1636},{180,190}}</string>
                <key>offset</key>
                <string>{39,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{429,249},{180,190}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>sbdshow0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,1636},{180,190}}</string>
                <key>offset</key>
                <string>{39,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{429,249},{180,190}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>sbdshow0048.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,1636},{180,190}}</string>
                <key>offset</key>
                <string>{39,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{429,249},{180,190}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>sbdshow0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,1896},{194,134}}</string>
                <key>offset</key>
                <string>{31,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{414,299},{194,134}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>sbdshow0050.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,1896},{194,134}}</string>
                <key>offset</key>
                <string>{31,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{414,299},{194,134}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>sbdshow0051.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,1896},{194,134}}</string>
                <key>offset</key>
                <string>{31,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{414,299},{194,134}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>sbdshow0052.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,1896},{194,134}}</string>
                <key>offset</key>
                <string>{31,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{414,299},{194,134}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>sbdshow0053.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,1896},{194,134}}</string>
                <key>offset</key>
                <string>{31,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{414,299},{194,134}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>sbdshow0054.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,1896},{194,134}}</string>
                <key>offset</key>
                <string>{31,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{414,299},{194,134}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>sbdshow0055.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,1896},{194,134}}</string>
                <key>offset</key>
                <string>{31,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{414,299},{194,134}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>sbdshow0056.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,1896},{194,134}}</string>
                <key>offset</key>
                <string>{31,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{414,299},{194,134}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>sbdshow0057.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,1896},{194,134}}</string>
                <key>offset</key>
                <string>{31,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{414,299},{194,134}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>sbdshow0058.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,1896},{194,134}}</string>
                <key>offset</key>
                <string>{31,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{414,299},{194,134}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>sbdshow0059.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,1084},{188,126}}</string>
                <key>offset</key>
                <string>{31,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{417,306},{188,126}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>sbdshow0060.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,1084},{188,126}}</string>
                <key>offset</key>
                <string>{31,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{417,306},{188,126}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>sbdshow0061.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,1084},{188,126}}</string>
                <key>offset</key>
                <string>{31,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{417,306},{188,126}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>sbdshow0062.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1896},{184,142}}</string>
                <key>offset</key>
                <string>{28,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{416,288},{184,142}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>sbdshow0063.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1896},{184,142}}</string>
                <key>offset</key>
                <string>{28,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{416,288},{184,142}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>sbdshow0064.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1896},{184,142}}</string>
                <key>offset</key>
                <string>{28,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{416,288},{184,142}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>sbdshow0065.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,1816},{188,188}}</string>
                <key>offset</key>
                <string>{8,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{394,242},{188,188}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>sbdshow0066.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,1816},{188,188}}</string>
                <key>offset</key>
                <string>{8,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{394,242},{188,188}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>sbdshow0067.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,1816},{188,188}}</string>
                <key>offset</key>
                <string>{8,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{394,242},{188,188}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>sbdshow0068.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,1676},{214,218}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{365,210},{214,218}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>sbdshow0069.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,1676},{214,218}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{365,210},{214,218}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>sbdshow0070.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,1676},{214,218}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{365,210},{214,218}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>sbdshowtx0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,0},{290,354}}</string>
                <key>offset</key>
                <string>{61,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{396,113},{290,354}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>sbdshowtx0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,0},{290,354}}</string>
                <key>offset</key>
                <string>{61,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{396,113},{290,354}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>sbdshowtx0048.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,290},{316,282}}</string>
                <key>offset</key>
                <string>{66,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{388,188},{316,282}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>sbdshowtx0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,290},{316,282}}</string>
                <key>offset</key>
                <string>{66,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{388,188},{316,282}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>sbdshowtx0050.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,572},{512,406}}</string>
                <key>offset</key>
                <string>{78,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{302,66},{512,406}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>sbdshowtx0051.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,572},{512,406}}</string>
                <key>offset</key>
                <string>{78,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{302,66},{512,406}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>sbdshowtx0052.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,816},{514,408}}</string>
                <key>offset</key>
                <string>{77,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{300,61},{514,408}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>sbdshowtx0053.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,816},{514,408}}</string>
                <key>offset</key>
                <string>{77,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{300,61},{514,408}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>sbdshowtx0054.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,400},{516,416}}</string>
                <key>offset</key>
                <string>{78,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{300,56},{516,416}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>sbdshowtx0055.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,400},{516,416}}</string>
                <key>offset</key>
                <string>{78,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{300,56},{516,416}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>sbdshowtx0056.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{518,400}}</string>
                <key>offset</key>
                <string>{77,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{298,51},{518,400}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>sbdshowtx0057.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{518,400}}</string>
                <key>offset</key>
                <string>{77,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{298,51},{518,400}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skin_1038.png</string>
            <key>size</key>
            <string>{922,2038}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:257a27daef4ee46422771fb03d307b0f:f8fe0a8724da665c152d5bc2aa70039c:c265e8e96948ebceee37c03f573baca7$</string>
            <key>textureFileName</key>
            <string>skin_1038.png</string>
        </dict>
    </dict>
</plist>
