<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Crit_en0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{127,33}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,22},{127,33}}</string>
                <key>sourceSize</key>
                <string>{175,75}</string>
            </dict>
            <key>Crit_en0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{127,33}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,22},{127,33}}</string>
                <key>sourceSize</key>
                <string>{175,75}</string>
            </dict>
            <key>Crit_en0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{127,33}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,22},{127,33}}</string>
                <key>sourceSize</key>
                <string>{175,75}</string>
            </dict>
            <key>Crit_en0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{127,33}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,22},{127,33}}</string>
                <key>sourceSize</key>
                <string>{175,75}</string>
            </dict>
            <key>Crit_en0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{127,33}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,22},{127,33}}</string>
                <key>sourceSize</key>
                <string>{175,75}</string>
            </dict>
            <key>Crit_en0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{127,33}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,22},{127,33}}</string>
                <key>sourceSize</key>
                <string>{175,75}</string>
            </dict>
            <key>Crit_en0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{127,33}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,22},{127,33}}</string>
                <key>sourceSize</key>
                <string>{175,75}</string>
            </dict>
            <key>Crit_en0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{127,33}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,22},{127,33}}</string>
                <key>sourceSize</key>
                <string>{175,75}</string>
            </dict>
            <key>Crit_en0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,0},{125,33}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,22},{125,33}}</string>
                <key>sourceSize</key>
                <string>{175,75}</string>
            </dict>
            <key>Crit_en0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,0},{125,33}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,22},{125,33}}</string>
                <key>sourceSize</key>
                <string>{175,75}</string>
            </dict>
            <key>Crit_en0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,99},{119,35}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,21},{119,35}}</string>
                <key>sourceSize</key>
                <string>{175,75}</string>
            </dict>
            <key>Crit_en0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,99},{119,35}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,21},{119,35}}</string>
                <key>sourceSize</key>
                <string>{175,75}</string>
            </dict>
            <key>Crit_en0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,125},{113,37}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,20},{113,37}}</string>
                <key>sourceSize</key>
                <string>{175,75}</string>
            </dict>
            <key>Crit_en0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,125},{113,37}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,20},{113,37}}</string>
                <key>sourceSize</key>
                <string>{175,75}</string>
            </dict>
            <key>Crit_en0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,127},{99,41}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,17},{99,41}}</string>
                <key>sourceSize</key>
                <string>{175,75}</string>
            </dict>
            <key>Crit_en0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,127},{99,41}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,17},{99,41}}</string>
                <key>sourceSize</key>
                <string>{175,75}</string>
            </dict>
            <key>Crit_en0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,0},{99,47}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,13},{99,47}}</string>
                <key>sourceSize</key>
                <string>{175,75}</string>
            </dict>
            <key>Crit_en0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,0},{99,47}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,13},{99,47}}</string>
                <key>sourceSize</key>
                <string>{175,75}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>baoji.png</string>
            <key>size</key>
            <string>{113,238}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:68d9988b493e2723144293a8ef7db14f:ca1fc7675d3cc819c547d271ce924563:28355f43c368b67a3d144ec53e497e78$</string>
            <key>textureFileName</key>
            <string>baoji.png</string>
        </dict>
    </dict>
</plist>
