<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2204_R1_role/0000</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,44}</string>
                <key>spriteSize</key>
                <string>{350,124}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1200}</string>
                <key>textureRect</key>
                <string>{{319,1557},{350,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2204_R1_role/0001</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,139}</string>
                <key>spriteSize</key>
                <string>{660,316}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1200}</string>
                <key>textureRect</key>
                <string>{{1,1033},{660,316}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2204_R1_role/0002</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,139}</string>
                <key>spriteSize</key>
                <string>{660,316}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1200}</string>
                <key>textureRect</key>
                <string>{{1,1033},{660,316}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2204_R1_role/0003</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,200}</string>
                <key>spriteSize</key>
                <string>{888,442}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1200}</string>
                <key>textureRect</key>
                <string>{{1545,1},{888,442}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2204_R1_role/0004</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,200}</string>
                <key>spriteSize</key>
                <string>{888,442}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1200}</string>
                <key>textureRect</key>
                <string>{{1545,1},{888,442}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2204_R1_role/0005</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,235}</string>
                <key>spriteSize</key>
                <string>{1014,506}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1200}</string>
                <key>textureRect</key>
                <string>{{1037,1},{1014,506}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2204_R1_role/0006</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,235}</string>
                <key>spriteSize</key>
                <string>{1014,506}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1200}</string>
                <key>textureRect</key>
                <string>{{1037,1},{1014,506}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2204_R1_role/0007</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,235}</string>
                <key>spriteSize</key>
                <string>{1014,506}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1200}</string>
                <key>textureRect</key>
                <string>{{1037,1},{1014,506}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2204_R1_role/0008</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,235}</string>
                <key>spriteSize</key>
                <string>{1014,510}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1200}</string>
                <key>textureRect</key>
                <string>{{525,1},{1014,510}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2204_R1_role/0009</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,235}</string>
                <key>spriteSize</key>
                <string>{1014,510}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1200}</string>
                <key>textureRect</key>
                <string>{{525,1},{1014,510}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2204_R1_role/0010</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,235}</string>
                <key>spriteSize</key>
                <string>{1014,510}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1200}</string>
                <key>textureRect</key>
                <string>{{525,1},{1014,510}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2204_R1_role/0011</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,235}</string>
                <key>spriteSize</key>
                <string>{1014,510}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1200}</string>
                <key>textureRect</key>
                <string>{{553,1017},{1014,510}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2204_R1_role/0012</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,235}</string>
                <key>spriteSize</key>
                <string>{1014,510}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1200}</string>
                <key>textureRect</key>
                <string>{{553,1017},{1014,510}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2204_R1_role/0013</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,235}</string>
                <key>spriteSize</key>
                <string>{1014,510}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1200}</string>
                <key>textureRect</key>
                <string>{{553,1017},{1014,510}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2204_R1_role/0014</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,235}</string>
                <key>spriteSize</key>
                <string>{1014,510}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1200}</string>
                <key>textureRect</key>
                <string>{{553,1017},{1014,510}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2204_R1_role/0015</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,235}</string>
                <key>spriteSize</key>
                <string>{1014,510}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1200}</string>
                <key>textureRect</key>
                <string>{{553,1017},{1014,510}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2204_R1_role/0016</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,235}</string>
                <key>spriteSize</key>
                <string>{1014,510}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1200}</string>
                <key>textureRect</key>
                <string>{{553,1017},{1014,510}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2204_R1_role/0017</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,235}</string>
                <key>spriteSize</key>
                <string>{1014,510}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1200}</string>
                <key>textureRect</key>
                <string>{{553,1017},{1014,510}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2204_R1_role/0018</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,235}</string>
                <key>spriteSize</key>
                <string>{1014,510}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1200}</string>
                <key>textureRect</key>
                <string>{{553,1017},{1014,510}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2204_R1_role/0019</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,235}</string>
                <key>spriteSize</key>
                <string>{1014,510}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1200}</string>
                <key>textureRect</key>
                <string>{{553,1017},{1014,510}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2204_R1_role/0020</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,235}</string>
                <key>spriteSize</key>
                <string>{1014,510}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1200}</string>
                <key>textureRect</key>
                <string>{{553,1017},{1014,510}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2204_R1_role/0021</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,235}</string>
                <key>spriteSize</key>
                <string>{1014,510}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1200}</string>
                <key>textureRect</key>
                <string>{{553,1017},{1014,510}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2204_R1_role/0022</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,235}</string>
                <key>spriteSize</key>
                <string>{1014,510}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1200}</string>
                <key>textureRect</key>
                <string>{{553,1017},{1014,510}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2204_R1_role/0023</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,235}</string>
                <key>spriteSize</key>
                <string>{1014,510}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1200}</string>
                <key>textureRect</key>
                <string>{{553,1017},{1014,510}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2204_R1_role/0024</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,235}</string>
                <key>spriteSize</key>
                <string>{1014,510}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1200}</string>
                <key>textureRect</key>
                <string>{{553,1017},{1014,510}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2204_R1_role/0025</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,235}</string>
                <key>spriteSize</key>
                <string>{1014,510}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1200}</string>
                <key>textureRect</key>
                <string>{{553,1017},{1014,510}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2204_R1_role/0026</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,235}</string>
                <key>spriteSize</key>
                <string>{1014,510}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1200}</string>
                <key>textureRect</key>
                <string>{{553,1017},{1014,510}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2204_R1_role/0027</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,235}</string>
                <key>spriteSize</key>
                <string>{1014,510}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1200}</string>
                <key>textureRect</key>
                <string>{{553,1017},{1014,510}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2204_R1_role/0028</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,235}</string>
                <key>spriteSize</key>
                <string>{1014,510}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1200}</string>
                <key>textureRect</key>
                <string>{{553,1017},{1014,510}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2204_R1_role/0029</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,235}</string>
                <key>spriteSize</key>
                <string>{1014,510}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1200}</string>
                <key>textureRect</key>
                <string>{{553,1017},{1014,510}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2204_R1_role/0030</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,235}</string>
                <key>spriteSize</key>
                <string>{1014,510}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1200}</string>
                <key>textureRect</key>
                <string>{{553,1017},{1014,510}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2204_R1_role/0031</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,235}</string>
                <key>spriteSize</key>
                <string>{1014,510}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1200}</string>
                <key>textureRect</key>
                <string>{{553,1017},{1014,510}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2204_R1_role/0032</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,235}</string>
                <key>spriteSize</key>
                <string>{1014,510}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1200}</string>
                <key>textureRect</key>
                <string>{{553,1017},{1014,510}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2204_R1_role/0033</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,235}</string>
                <key>spriteSize</key>
                <string>{1014,510}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1200}</string>
                <key>textureRect</key>
                <string>{{553,1017},{1014,510}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2204_R1_role/0034</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,235}</string>
                <key>spriteSize</key>
                <string>{1014,510}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1200}</string>
                <key>textureRect</key>
                <string>{{553,1017},{1014,510}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2204_R1_role/0035</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,235}</string>
                <key>spriteSize</key>
                <string>{1014,510}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1200}</string>
                <key>textureRect</key>
                <string>{{553,1017},{1014,510}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2204_R1_role/0036</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,235}</string>
                <key>spriteSize</key>
                <string>{1014,510}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1200}</string>
                <key>textureRect</key>
                <string>{{553,1017},{1014,510}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2204_R1_role/0037</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,235}</string>
                <key>spriteSize</key>
                <string>{1014,510}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1200}</string>
                <key>textureRect</key>
                <string>{{553,1017},{1014,510}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2204_R1_role/0038</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,235}</string>
                <key>spriteSize</key>
                <string>{1014,510}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1200}</string>
                <key>textureRect</key>
                <string>{{553,1017},{1014,510}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2204_R1_role/0039</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,235}</string>
                <key>spriteSize</key>
                <string>{1014,510}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1200}</string>
                <key>textureRect</key>
                <string>{{553,1017},{1014,510}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2204_R1_role/0040</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,235}</string>
                <key>spriteSize</key>
                <string>{1014,510}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1200}</string>
                <key>textureRect</key>
                <string>{{553,1017},{1014,510}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2204_R1_role/0041</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,235}</string>
                <key>spriteSize</key>
                <string>{1014,510}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1200}</string>
                <key>textureRect</key>
                <string>{{553,1017},{1014,510}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2204_R1_role/0042</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,235}</string>
                <key>spriteSize</key>
                <string>{1014,510}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1200}</string>
                <key>textureRect</key>
                <string>{{553,1017},{1014,510}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2204_R1_role/0043</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,241}</string>
                <key>spriteSize</key>
                <string>{1030,522}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1200}</string>
                <key>textureRect</key>
                <string>{{1,1},{1030,522}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2204_R1_role/0044</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,241}</string>
                <key>spriteSize</key>
                <string>{1030,522}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1200}</string>
                <key>textureRect</key>
                <string>{{1,1},{1030,522}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2204_R1_role/0045</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,241}</string>
                <key>spriteSize</key>
                <string>{1030,522}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1200}</string>
                <key>textureRect</key>
                <string>{{1,1},{1030,522}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2204_R1_role/0046</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,183}</string>
                <key>spriteSize</key>
                <string>{818,408}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1200}</string>
                <key>textureRect</key>
                <string>{{1569,891},{818,408}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2204_R1_role/0047</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,183}</string>
                <key>spriteSize</key>
                <string>{818,408}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1200}</string>
                <key>textureRect</key>
                <string>{{1569,891},{818,408}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2204_R1_role/0048</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,100}</string>
                <key>spriteSize</key>
                <string>{522,232}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1200}</string>
                <key>textureRect</key>
                <string>{{319,1033},{522,232}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2204_R1_role/0049</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,100}</string>
                <key>spriteSize</key>
                <string>{522,232}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1200}</string>
                <key>textureRect</key>
                <string>{{319,1033},{522,232}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2204_R1_role/0050</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,26}</string>
                <key>spriteSize</key>
                <string>{318,86}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1200}</string>
                <key>textureRect</key>
                <string>{{671,1529},{318,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2204_R1_role/0051</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,26}</string>
                <key>spriteSize</key>
                <string>{318,86}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1200}</string>
                <key>textureRect</key>
                <string>{{671,1529},{318,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2204_R1_role/0052</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-548.5,598.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1200}</string>
                <key>textureRect</key>
                <string>{{1,1695},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2204_R1_role/0053</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-548.5,598.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1200}</string>
                <key>textureRect</key>
                <string>{{1,1695},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2204_R1_role/0054</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-548.5,598.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{1100,1200}</string>
                <key>textureRect</key>
                <string>{{1,1695},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>2204_R1_role.png</string>
            <key>size</key>
            <string>{1988,1710}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c7ab2d199658909ad07f1804293ea4f3:dcbb26d453fcf4d6e3bd485d8cfe3d84:58bfb75fe44226a902963347d48ae6ae$</string>
            <key>textureFileName</key>
            <string>2204_R1_role.png</string>
        </dict>
    </dict>
</plist>
